@import "reset.scss";
@import "fonts.scss";

body {
  font-size: 1vw;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
.text {
  &-center {
    text-align: center;
  }
  &-left {
    text-align: left;
  }
  &-right {
    text-align: right;
  }
}

@import "effects.scss";
@import "headers.scss";
@import "tables.scss";
@import "buttons.scss";
@import "forms.scss";
@import "modal.scss";
@import "pages.scss";
@import "navigation.scss";
@import "pagination.scss";
@import "search.scss";
@import "scroll.scss";

.form__recaptcha {
  > div {
    transform-origin: 0 0;
  }
}
