.button {
  min-width: 10em;
  display: inline-block;
  position: relative;
  padding: .75em .5em;
  box-sizing: border-box;
  background: none;
  font-size: .8em;
  color: #56baca;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  transition: color .3s;
  cursor: pointer;
  @media (max-width: 767px) {
    font-size: 1em;
    padding: .7em .3em;
  }
  span {
    position: relative;
    z-index: 1;
  }
  canvas {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(.8%, -19.4%) scale(1.41);
    z-index: 1;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    visibility: hidden;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity .3s;
  }
  &:before {
    background:
      url(../../assets/images/global/button.png)
      center/cover;
    opacity: 1;
  }
  &:after {
    background:
      url(../../assets/images/global/button-hover.png)
      center/cover;
    opacity: 0;
  }
  &:hover {
    color: #ecfabd;
    &:after {
      opacity: 1;
    }
  }
  &-big {
    min-width: 14.5em;
    font-size: .95em;
    @media (max-width: 767px) {
      font-size: 1.2em;
    }
  }
  &-small {
    min-width: 14em;
    padding: .55em .2em;
    font-size: .7em;
    @media (max-width: 767px) {
      font-size: 1em;
    }
  }
  &-full {
    min-width: 100%;
    font-size: .95em;
  }
  &:disabled {
    background: #2d2d2d;
    color: #bbb8b8;
    &:before,
    &:after {
      display: none;
    }
  }
}

.button-big {
  min-width: 14.5em;
  font-size: .95em;
  @media (max-width: 767px) {
    font-size: 1.2em;
  }
}
.button-small {
  min-width: 14em;
  padding: .55em .2em !important;
  font-size: .7em;
  @media (max-width: 767px) {
    font-size: 1em;
  }
  max-width: 14em;
}
.button-full {
  min-width: 100%;
  font-size: .95em;
}
.button-small:disabled, .button-big:disabled, .button-full:disabled {
  background: #2d2d2d;
  color: #bbb8b8;
  &:before,
  &:after {
    display: none;
  }
}
