@font-face {
  font-family: 'sourcesanspro';
  src: url('../fonts/SourceSansPro/sourcesanspro-regular.woff2') format('woff2'),
       url('../fonts/SourceSansPro/sourcesanspro-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sourcesanspro';
  src: url('../fonts/SourceSansPro/sourcesanspro-black.woff2') format('woff2'),
       url('../fonts/SourceSansPro/sourcesanspro-black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'sourcesanspro';
  src: url('../fonts/SourceSansPro/sourcesanspro-semibold.woff2') format('woff2'),
       url('../fonts/SourceSansPro/sourcesanspro-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'staatliches';
  src: url('../fonts/Staatliches/staatliches-regular.woff2') format('woff2'),
       url('../fonts/Staatliches/staatliches-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'tomorrow';
  src: url('../fonts/Tomorrow/tomorrow-bold.woff2') format('woff2'),
       url('../fonts/Tomorrow/tomorrow-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'tomorrow';
  src: url('../fonts/Tomorrow/tomorrow-bolditalic.woff2') format('woff2'),
       url('../fonts/Tomorrow/tomorrow-bolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'tomorrow';
  src: url('../fonts/Tomorrow/tomorrow-italic.woff2') format('woff2'),
       url('../fonts/Tomorrow/tomorrow-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'tomorrow';
  src: url('../fonts/Tomorrow/tomorrow-light.woff2') format('woff2'),
       url('../fonts/Tomorrow/tomorrow-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'tomorrow';
  src: url('../fonts/Tomorrow/tomorrow-lightitalic.woff2') format('woff2'),
       url('../fonts/Tomorrow/tomorrow-lightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'tomorrow';
  src: url('../fonts/Tomorrow/tomorrow-medium.woff2') format('woff2'),
       url('../fonts/Tomorrow/tomorrow-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'tomorrow';
  src: url('../fonts/Tomorrow/tomorrow-regular.woff2') format('woff2'),
       url('../fonts/Tomorrow/tomorrow-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'tomorrow';
  src: url('../fonts/Tomorrow/tomorrow-semibold.woff2') format('woff2'),
       url('../fonts/Tomorrow/tomorrow-semibold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'tomorrow';
  src: url('../fonts/Tomorrow/tomorrow-thin.woff2') format('woff2'),
       url('../fonts/Tomorrow/tomorrow-thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'electronichighwaysign';
  src: url('../fonts/ElectronicHighwaySign/ElectronicHighwaySign.eot');
  src: url('../fonts/ElectronicHighwaySign/ElectronicHighwaySign.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ElectronicHighwaySign/ElectronicHighwaySign.woff') format('woff'),
       url('../fonts/ElectronicHighwaySign/ElectronicHighwaySign.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'titillium';
  src: url('../fonts/TitilliumWeb/titilliumweb-extralight.eot');
  src: url('../fonts/TitilliumWeb/titilliumweb-extralight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TitilliumWeb/titilliumweb-extralight.woff') format('woff'),
       url('../fonts/TitilliumWeb/titilliumweb-extralight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'titillium';
  src: url('../fonts/TitilliumWeb/titilliumweb-extralightitalic.eot');
  src: url('../fonts/TitilliumWeb/titilliumweb-extralightitalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TitilliumWeb/titilliumweb-extralightitalic.woff') format('woff'),
       url('../fonts/TitilliumWeb/titilliumweb-extralightitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'titillium';
  src: url('../fonts/TitilliumWeb/titilliumweb-light.eot');
  src: url('../fonts/TitilliumWeb/titilliumweb-light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TitilliumWeb/titilliumweb-light.woff') format('woff'),
       url('../fonts/TitilliumWeb/titilliumweb-light.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'titillium_websemibold';
  src: url('../fonts/TitilliumWeb/titilliumweb-semibold.eot');
  src: url('../fonts/TitilliumWeb/titilliumweb-semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/TitilliumWeb/titilliumweb-semibold.woff') format('woff'),
       url('../fonts/TitilliumWeb/titilliumweb-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}