.form {
  font-size: .75em;
  &__label {
    display: block;
    position: relative;
    margin-bottom: .7em;
    color: #5d858d;
    text-transform: uppercase;
    z-index: 3;
    &-small {
      text-transform: none;
    }
    span {
      display: inline-block;
      margin-left: .5em;
      letter-spacing: -.02em;
      color: #ff0000;
      text-transform: none;
    }
    em {
      font-style: normal;
      text-transform: lowercase;
    }
    a {
      float: right;
      color: #56baca;
      text-decoration: none;
      transition: color .3s;
      &:hover {
        color: #ecfabd;
      }
    }
  }
  &__error {
    display: block;
    margin-bottom: .7em;
    letter-spacing: -.02em;
    color: #ff0000;
    &-recaptcha {
      margin: -.739em 0 0 0;
      text-align: center;
    }
  }
  &__success {
    display: block;
    margin-bottom: .7em;
    letter-spacing: -.02em;
    color: #00a523;
  }
  &__input {
    position: relative;
    margin-bottom: 1.35em;
    @media (max-width: 767px) {
      font-size: 1em !important;
    }
    input:not([type="range"]),
    textarea {
      width: 100%;
      padding: .63em .85em;
      box-sizing: border-box;
      background:none;
      border: .0625em solid #2d3c41;
      color: #64c6ce;
      transition: color .3s, border-color .3s;
      &::placeholder {
        color: #64c6ce;
      }
      &:-ms-input-placeholder {
        color: #64c6ce;
      }
      &::-ms-input-placeholder {
        color: #64c6ce;
      }
      &:focus::placeholder {
        color: #2d3c41;
      }
      &:focus:-ms-input-placeholder {
        color: #2d3c41;
      }
      &:focus::-ms-input-placeholder {
        color: #2d3c41;
      }
      &.focused {
        border-color: #208a7a;
        color: #0f0d16;
      }
      &[readonly] {
        border-color: #2d3c41 !important;
        color: #006a72;
      }
    }
    &:hover {
      input:not([type="range"]),
      textarea {
        border-color: #208a7a;
      }
    }
    &__layer {
      position: absolute;
      top: 0;
      left: 0;
      border-color: transparent !important;
      z-index: 2;
    }
    textarea {
      height: 4.8em;
      resize: none;
    }
    &-code,
    &-btc, &-eth {
      input {
        padding-left: 2.5em !important;
        background: left no-repeat !important;
        background-size: auto 100% !important;
      }
    }
    &-btc {
      input {
        background-image: url(../images/profile/btc.png) !important;
      }
    }
    &-eth {
      input {
        background-image: url(../images/profile/eth.png) !important;
      }
    }
    &-code {
      opacity: .5;
      input {
        background-image: url(../images/profile/code.png) !important;
      }
    }
    &-corner {
      &:after {
        content: '';
        width: 2em;
        height: 2em;
        position: absolute;
        top: 0;
        right: 0;
        background: url(../images/global/input.png) center/contain no-repeat;
      }
    }
    &-small {
      width: 7.1em !important;
    }
  }
  &__checkbox {
    display: flex;
    align-items: center;
    position: relative;
    margin: -.5em 0 1.3em 0;
    font-size: 1.2em;
    color: #5d858d;
    z-index: 3;
    @media (max-width: 767px) {
      font-size: 1.1em !important;
    }
    &:last-child {
      margin: 1.5em 0 0 0;
    }
    input {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
    }
    &__area {
      width: .95em;
      height: .95em;
      position: relative;
      margin-right: .5em;
      background: #2d3c41;
      border: .0625em solid #3d5158;
      &:after {
        content: '';
        position: absolute;
        top: 5%;
        right: 5%;
        bottom: 5%;
        left: 5%;
        background: url(../images/global/checkbox.png) center/contain;
        opacity: 0;
        transition: opacity .3s;
      }
    }
    input:checked + &__area {
      &:after {
        opacity: 1;
      }
    }
    a {
      display: inline-block;
      border-bottom: .0625em solid #395057;
      line-height: 105%;
      color: #5d858d;
      text-decoration: none;
      transition: border-color .3s;
      &:hover {
        border-color: transparent;
      }
    }
    span {
      margin-left: .5em;
      color: #ff0000;
    }
  }
  &__checkbox-group {
    display: flex;
    align-items: center;
  }
  &__checkbox-group &__checkbox {
    margin: 0 2.5em 0 0;
    @media (max-width: 767px) {
      margin-right: 1em;
    }
  }
  &__radio {
    display: flex;
    align-items: center;
    margin: -.5em 0 1.3em 0;
    color: #5d858d;
    &:last-child {
      margin-top: .5em;
    }
    input {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
    }
    &__area {
      width: .95em;
      height: .95em;
      position: relative;
      margin-right: .5em;
      border: .0625em solid #3d5158;
      border-radius: 50%;
      transition: background .3s;
      &:after {
        content: '';
        position: absolute;
        top: 25%;
        right: 25%;
        bottom: 25%;
        left: 25%;
        background: #56baca;
        border-radius: 50%;
        opacity: 0;
        transition: opacity .3s;
      }
    }
    input:checked + &__area {
      background: #2d3c41;
      &:after {
        opacity: 1;
      }
    }
  }
  &__radio-group {
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      font-size: 1.1em;
    }
  }
  &__radio-group &__radio {
    margin: 0 1.2em 0 0;
  }
  &__checker {
    display: flex;
    align-items: center;
    color: #5d858d;
    @media (max-width: 767px) {
      font-size: 1.2em;
    }
    input {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
    }
    &__yes,
    &__no {
      transition: color .3s;
    }
    &__area {
      width: 1.3em;
      height: .56em;
      position: relative;
      margin: 0 .5em;
      background: #2d3c41;
      border: .0625em solid #2d3c41;
      border-radius: .28em;
      &:after {
        content: '';
        width: .56em;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        margin-left: -.56em;
        border-radius: 50%;
        background: #56baca;
        transition: left .3s, margin-left .3s;
      }
    }
    input:checked + &__yes + &__area {
      &:after {
        left: 0;
        margin-left: 0;
      }
    }
    input:checked + &__yes {
      color: #56baca;
    }
    input:not(:checked) + &__yes + &__area + &__no {
      color: #56baca;
    }
  }
  &__recaptcha {
    width: 20em;
    position: relative;
    margin: 0 auto .75em auto;
    z-index: 2;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: .8em 1.25em 1.3em 1.2em;
    border-bottom: .0625em solid #2d2c3c;
    &-center {
      height: 4em;
      padding: 0 1em;
      justify-content: center;
      line-height: 170%;
      text-align: center;
    }
  }
  &__caption {
    font-size: 1.35em;
    letter-spacing: .01em;
    text-transform: uppercase;
  }
  &__back {
    padding-top: .5em;
    font-size: .95em;
    color: #5d858d;
    text-decoration: none;
    transition: color .3s;
    span {
      color: #56baca;
      transition: color .3s;
      text-transform: uppercase;
    }
    &:hover {
      color: #56baca;
      span {
        color: #ecfabd;
      }
    }
    &__plus {
      position: absolute;
      right: 1.35em;
      bottom: .05em;
      font-size: .95em;
      color: #56baca;
      text-decoration: none;
      text-transform: uppercase;
      transition: color .3s;
      &:hover {
        color: #ecfabd;
      }
    }
  }
  &__container {
    padding: 1.25em 1.25em 1.3em 1.2em;
  }
  .auth__form .form__container {
    padding-top: .3em;
  }
  &__text {
    padding: .4em 1.25em .8em 1.2em;
    border-bottom: .0625em solid #2d2c3c;
    line-height: 105%;
    letter-spacing: -.01em;
    &-variant {
      padding-top: 1em;
      margin-bottom: 1.2em;
    }
  }
  &-exchange {
    max-width: 83.3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1em 0;
    color: #64c6ce;
    @media (max-width: 767px) {
      flex-direction: column;
      font-size: 1.1em;
      justify-content: center;

      > div {
        margin: 1em 0;
      }
    }
    &__label {
      margin-bottom: .3em;
      letter-spacing: .08em;
      text-transform: uppercase;
      span {
        display: inline-block;
        margin-left: .5em;
        letter-spacing: -.02em;
        color: #ff0000;
        text-transform: none;
      }
    }
    .form__input {
      display: flex;
      align-items: center;
      margin-bottom: .14em;
      input {
        width: 17em;
        padding: .22em .65em;
        text-align: right;
      }
      span {
        margin-left: .3em;
      }
    }
    .form__checkbox {
      margin: 0;
    }
    &__result {
      letter-spacing: .04em;
      color: #fff;
      text-transform: uppercase;
    }
    &__delimiter {
      width: 1.9em;
      height: 1.5em;
      background: url(../images/global/exchange.png) center/contain no-repeat;
      @media (max-width: 767px) {
        display: none;
      }
    }
  }
  &-investments {
    .form__input {
      display: flex;
      align-items: center;
      margin-bottom: .14em;
      @media (max-width: 767px) {
        margin-bottom: .5em;
        font-size: 1.3em !important;
      }
      input:not([type="range"]) {
        width: 12em;
        padding: 0 .5em;
        background: #2d3c41;
        border-color: #5d858d;
        color: #fff;
        text-align: right;
        &::placeholder {
          color: #fff;
        }
        &:-ms-input-placeholder {
          color: #fff;
        }
        &::-ms-input-placeholder {
          color: #fff;
        }
        &:focus::placeholder {
          color: #000;
        }
        &:focus:-ms-input-placeholder {
          color: #000;
        }
        &:focus::-ms-input-placeholder {
          color: #000;
        }
      }
      &.range {
        @media (max-width: 767px) {
          font-size: 1.3em !important;
        }
        input[type="range"] {
          width: 9em;
          margin-right: .5em;
          background: transparent;
          &::-webkit-slider-thumb {
            width: .5em;
            height: .5em;
            -webkit-appearance: none;
            border-radius: 50%;
            background: #20655d;
            border: none;
            cursor: pointer;
          }
          &::-moz-range-thumb {
            width: .5em;
            height: .5em;
            -webkit-appearance: none;
            border-radius: 50%;
            background: #20655d;
            border: none;
            cursor: pointer;
          }
          &::-ms-thumb {
            width: .5em;
            height: .5em;
            -webkit-appearance: none;
            border-radius: 50%;
            background: #20655d;
            border: none;
            cursor: pointer;
          }
          &::-webkit-slider-runnable-track {
            width: 100%;
            height: .1em;
            cursor: pointer;
            background: #2d3c41;
          }
          &:focus::-webkit-slider-runnable-track {
            background: #2d3c41;
          }
          &::-moz-range-track {
            width: 100%;
            height: .1em;
            cursor: pointer;
            background: #2d3c41;
          }
          &::-ms-track {
            width: 100%;
            height: .1em;
            cursor: pointer;
            background: #2d3c41;
          }
          &::-ms-fill-lower {
            width: 100%;
            height: .1em;
            cursor: pointer;
            background: #2d3c41;
          }
          &:focus::-ms-fill-lower {
            background: #2d3c41;
          }
          &::-ms-fill-upper {
            width: 100%;
            height: .1em;
            cursor: pointer;
            background: #2d3c41;
          }
          &:focus::-ms-fill-upper {
            background: #367ebd;
          }
        }
        input:not([type="range"]) {
          width: 2.5em;
          padding-right: .2em;
          padding-left: .2em;
          text-align: center;
        }
      }
      span {
        margin-left: .3em;
        text-transform: uppercase;
      }
    }
    .form__checkbox {
      margin: 0 0 1em 0;
    }
    .form__description + .form__checkbox {
      margin: -1.5em 0 0 0;
      @media (max-width: 767px) {
        margin: 0;
      }
    }
  }
  &__description {
    margin-bottom: 3.5em;
    font-size: .9em;
    font-style: italic;
    line-height: 1;
    @media (max-width: 767px) {
      margin: .2em 0 1.5em 0;
      font-size: 1.3em;
    }
  }
  &__field {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: .75em;
    padding: .7em 0;
    @media (max-width: 767px) {
      font-size: 1.3em !important;
    }
    &-m1 {
      margin-bottom: 2.8em;
      @media (max-width: 767px) {
        margin-bottom: 1em;
      }
    }
    &-m2 {
      margin-bottom: 1.3em;
    }
    &-m3 {
      margin-bottom: .3em;
    }
    &-m4 {
      margin-bottom: 1em !important;
    }
    &:last-child {
      margin-bottom: 0;
      padding-bottom: .3em;
    }
    .button {
      min-width: 15em;
      font-size: .9em;
    }
  }
  &__field &__label {
    width: 10.5em;
    margin:0 .8em 0 0;
    font-size: 1.05em;
    @media (max-width: 767px) {
      width: 9.5em;
    }
    &-w1 {
      width: 20em;
      @media (max-width: 767px) {
        width: 9em;
      }
    }
  }
  &__field &__input {
    width: 18.6em;
    position: relative;
    margin-bottom: 0;
    @media (max-width: 767px) {
      width: 15em;
    }
    input {
      padding: .2em 1em;
    }
    &-w1 {
      width: 27.5em;
      @media (max-width: 767px) {
        width: 15em;
      }
    }
    &-code,
    &-btc, &-eth {
      width: 23.8em;
      @media (max-width: 767px) {
        width: 15em;
      }
    }
  }
  &__field &__input &__error {
    position: absolute;
    bottom: 100%;
    left: .2em;
    margin-bottom: .25em;
    font-size: .95em;
    line-height: 1;
  }
  &__field &__avatar &__error {
    max-width: 17em;
    font-size: .95em;
    line-height: 1;
  }
  &__date {
    display: flex;
    @media (max-width: 767px) {
      font-size: 1.1em;
    }
    &__item {
      width: 4em;
      position: relative;
      padding: .25em 0;
      border: .0625em solid #2d3c41;
      border-left: none;
      font-size: .95em;
      letter-spacing: -.05em;
      color: #56baca;
      text-align: center;
      text-transform: uppercase;
      transition: color .3s, background .3s;
      cursor: pointer;
      &:first-child {
        border-left: .0625em solid #2d3c41;
      }
      &.open {
        background: #2d3c41;
        color: #ecfabd;
      }
    }
    &__dropdown {
      height: 14.5em;
      position: absolute;
      top: 100%;
      right: -.1em;
      left: -.1em;
      padding: .4em;
      background: #0f0d16;
      border: .0625em solid #2d3c41;
      border-top: none;
      font-size: 1.1em;
      text-align: left;
      z-index: 4;
      .__view > div {
        @media (max-width: 767px) {
          padding-top: .5em;
          padding-bottom: .5em;
        }
        color: #56baca;
        transition: color .3s;
        &:hover {
          color: #ecfabd;
        }
      }
    }
    &__item:first-child &__dropdown {
      left: -.0625em;
      right: -.0625em;
    }
  }
  &__country {
    width: 100%;
    padding: .2em .5em;
    box-sizing: border-box;
    border: .0625em solid #2d3c41;
    color: #64c6ce;
    cursor: pointer;
    &:after {
      content: '';
      width: .82em;
      height: .37em;
      position: absolute;
      top: 50%;
      right: .5em;
      background:
        url(../../assets/images/global/arrow-show.png)
        center/contain
        no-repeat;
      transform: translateY(-50%);
    }
    &__dropdown {
      height: 14.5em;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      padding: .4em;
      background: #0f0d16;
      border: .0625em solid #2d3c41;
      border-top: none;
      font-size: 1.1em;
      text-align: left;
      z-index: 5;
      div {
        color: #56baca;
        transition: color .3s;
        &:hover {
          color: #ecfabd;
        }
      }
    }
  }
  &__avatar {
    display: flex;
    align-items: center;
    position: relative;
    @media (max-width: 767px) {
      width: 15em;
      flex-wrap: wrap;
      overflow: hidden;
    }
    &__image {
      width: 4em;
      height: 4em;
      margin-right: .6em;
      border: .0625em solid #322339;
      background:
        url(../images/profile/avatar.png)
        center/cover
        no-repeat;
    }
    &__edit {
      width: 2em;
      height: 2em;
      margin-right: 1.8em;
      background:
        url(../images/profile/edit.png)
        center/cover
        no-repeat;
      input {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
      }
    }
    &__rules {
      font-size: .9em;
      color: #5d858d;
      @media (max-width: 767px) {
        font-size: .8em;
      }
    }
  }
}
