h1 {
  margin: 0 0 .2em -.5em;
  font-size: 1.5em;
  letter-spacing: .02em;
  text-transform: uppercase;
  @media (max-width: 767px) {
    margin-left: 0;
    font-size: 2em;
    text-align: center;
  }
}
h2, h3 {
  font-size: 1.3em;
  color: #ecfabd;
  text-transform: uppercase;
}
h2 {
  margin-bottom: .7em;
  letter-spacing: .045em;
}
h3 {
  margin-bottom: .7em;
  letter-spacing: .055em;
  text-align: center;
}
h4 {
  margin-bottom: .4em;
  font-size: .9em;
  line-height: 120%;
  letter-spacing: .07em;
  text-align: center;
  text-transform: uppercase;
  @media (max-width: 767px) {
    font-size: 1.2em;
  }
}
h5 {
  margin-bottom: .4em;
  font-size: .65em;
  letter-spacing: .05em;
  color: #5d858d;
  text-transform: uppercase;
}