.modal {
  width: 31.5em;
  max-width: 95%;
  max-height: 95%;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #151320;
  border: .0625em solid #1f1d2b;
  font-family: 'titillium';
  transform: translate(-50%, -50%);
  z-index: 1003;
  &.big {
    width: auto;
    min-width: 38.5em;
    @media (max-width: 767px) {
      width: 90%;
      min-width: 0;
    }
  }
  &.small {
    text-align: center;
  }
  &__close {
    width: .75em;
    height: .75em;
    position: absolute;
    top: .37em;
    right: .37em;
    border: .0625em solid #fff;
    border-radius: 50%;
    font-family: 'arials';
    font-size: 2em;
    font-weight: 600;
    line-height: 100%;
    color: #fff;
    cursor: pointer;
    transition: color .3s, border-color .3s;
    z-index: 2;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: center no-repeat;
      background-size: 44% 44%;
      transition: opacity .3s;
    }
    &:before {
      background-image: url(../images/global/times.svg);
      opacity: 1;
    }
    &:after {
      background-image: url(../images/global/times-hover.svg);
      opacity: 0;
    }
    &:hover {
      border-color: #faea01;
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }
  }
  &-box &__close {
    width: .95em;
    height: .95em;
    top: -.45em;
    right: -.45em;
    background: #000;
  }
  &__title {
    padding: .48em 1em .7em 1em;
    font-weight: 600;
    font-size: 1.3em;
    letter-spacing: .03em;
    line-height: 120%;
    border-bottom: .0625em solid #1f1d2b;
    text-align: center;
    text-transform: uppercase;
  }
  &.big &__title {
    padding: 1.05em 2em;
  }
  &__caption {
    margin-bottom: .2em;
    text-transform: uppercase;
  }
  .button {
    min-width: 8em;
    margin-bottom: 1.5em;
    padding-right: .3em;
    padding-left: .3em;
    font-size: .85em;
  }
  &.big .button {
    min-width: 10em;
    margin-bottom: 2em;
    padding-right: 1.3em;
    padding-left: 1.3em;
  }
  &__area {
    padding: 1.1em 2.75em 1.7em 2.75em;
    line-height: 120%;
    &.scroll {
      height: 15em;
      padding: 1.1em .75em 1em 1.75em;
      .__view {
        padding-right: 1em;
        font-size: .9em;
        line-height: 150%;
        text-align: left;
      }
    }
    .button {
      margin-bottom: 0;
    }
    > div > img {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
  &.big &__area {
    padding-bottom: 2em;
  }
  &-box &__area {
    padding: 0 !important;
  }
  &__news {
    &__title {
      font-weight: 600;
      font-size: 1.3em;
      line-height: 130%;
      letter-spacing: .03em;
    }
    &__date {
      margin-bottom: 1.6em;
      font-size: .8em;
      letter-spacing: .1em;
    }
    &__text {
      margin-bottom: 2em;
    }
  }
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: .5;
    transition: opacity .3s;
    z-index: 10;
  }
  video {
    width: 45em;
    height: 25.3em;
    display: block;
    @media (max-width: 767px) {
      width: 100%;
      height: auto;
    }
  }
}
