.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 767px) {
    margin-bottom: 2em;
    font-size: 1.5em;
  }
  &__button {
    display: flex;
    align-items: center;
    position: relative;
    font-size: .7em;
    border: .0625em solid #2d3c41;
    color: #56baca;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background:
        url(../../assets/images/global/button.png)
        center/cover;
      opacity: 0;
      transition: opacity .3s;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
    span {
      position: relative;
    }
    &__icon {
      width: 2em;
      height: 2.1em;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        background: center/contain no-repeat;
      }
    }
    &.prev &__icon,
    &.next &__icon {
      &:after {
        width: 40%;
        height: 40%;
        top: 30%;
        left: 30%;
        background-image: url(../../assets/images/global/arrow-show.png);
      }
    }
    &.prev {
      padding-right: .55em;
    }
    &.prev &__icon {
      margin-right: .55em;
      border-right: .0625em solid #2d3c41;
      &:after {
        transform: rotate(90deg);
      }
    }
    &.next {
      padding-left: .55em;
    }
    &.next &__icon {
      margin-left: .55em;
      border-left: .0625em solid #2d3c41;
      &:after {
        transform: rotate(-90deg);
      }
    }
    &.share {
      padding-right: .35em;
    }
    &.share &__icon {
      margin-right: .35em;
      border-right: .0625em solid #2d3c41;
      &:after {
        width: 60%;
        height: 60%;
        top: 20%;
        left: 20%;
        background-image: url(../../assets/images/news/share.png);
      }
    }
    &.copy {
      padding-left: .65em;
    }
    &.copy &__icon {
      margin-left: .45em;
      border-left: .0625em solid #2d3c41;
      &:after {
        width: 70%;
        height: 70%;
        top: 15%;
        left: 15%;
        background-image: url(../../assets/images/news/copy.png);
      }
    }
  }
  &__area {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__area &__button:last-child {
    margin-left: .8em;
  }
}