.pages {
  display: flex;
  align-items: center;
  margin: 1em 0 -.3em -2.3em;
  @media (max-width: 767px) {
    font-size: 1.5em;
  }
  &__caption {
    width: 14.5em;
    font-size: .65em;
    letter-spacing: .035em;
    color: #5d858d;
    text-align: right;
  }
  &__button {
    width: 1.45em;
    height: 1.45em;
    position: relative;
    border: .0625em solid #2d3c41;
    cursor: pointer;
    &s {
      display: flex;
      align-items: center;
      margin-left: .7em;
    }
    &:last-child:not(:first-child) {
      border-left: none;
    }
    &:after {
      content: '';
      width: 40%;
      height: 40%;
      position: absolute;
      top: 30%;
      left: 30%;
      background:
        url(../../assets/images/global/arrow-show.png)
        center/contain
        no-repeat;
    }
    &.prev:after {
      transform: rotate(90deg);
    }
    &.next:after {
      transform: rotate(-90deg);
    }
    &.inactive {
      opacity: .5;
    }
  }
}