.pagination {
  display: flex;
  align-items: center;
  &__button {
    width: 2.05em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: .7em;
    border: .0625em solid #2d3c41;
    border-left: none;
    color: #56baca;
    cursor: pointer;
    &:first-child {
      border-left: .0625em solid #2d3c41;
    }
    &.prev,
    &.next {
      &:after {
        content: '';
        width: 40%;
        height: 40%;
        position: absolute;
        top: 30%;
        left: 30%;
        background:
          url(../../assets/images/global/arrow-show.png)
          center/contain
          no-repeat;
      }
    }
    &.prev:after {
      transform: rotate(90deg);
    }
    &.next:after {
      transform: rotate(-90deg);
    }
    &.active {
      background:
        url(../../assets/images/global/button.png)
        center/cover;
    }
  }
}