* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  outline: none;
}
article, header, footer, section, aside, details, nav,
summary, figcaption, figure, hgroup, menu, section {
  display: block;
}
meter, mark, time {
  display: inline-block;
}
html {
  height: 100%;
}
body {
  height: auto;
  min-height: 100%;
  position: relative;
}
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: none;
  padding: 0;
  margin: 0;
}
input[type="file"] {
  > input[type="button"]::-moz-focus-inner {
    border: none;
    padding: 0;
    margin: 0;
  }
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
strong, b {
  font-weight: 600;
}
blockquote, em, i {
  font-style: italic;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  outline: 0;
}
input[type="submit"], input[type="button"],
input[type="radio"], input[type="checkbox"], button, label {
  cursor: pointer;
}
input, button, img {
  vertical-align: middle;
  -webkit-appearance: none;
}
input, textarea, button {
  box-sizing: border-box;
}