.scroll {
  @media (max-width: 767px) {
    overflow-x: auto;
  }
  &__caption {
    display: none;
    @media (max-width: 767px) {
      display: block;
      clear: both;
      margin-bottom: 1em;
      color: #ca5656;
      text-transform: uppercase;
    }
  }
}