.search {
  position: relative;
  margin-bottom: 1em;
  @media (max-width: 767px) {
    font-size: 1.3em;
  }
  &__input {
    width: 100%;
    padding: .45em;
    box-sizing: border-box;
    background: none;
    border: .0625em solid #2d3c41;
    font-size: .65em;
    letter-spacing: .05em;
    color: #5d858d;
    text-transform: uppercase;
    &::placeholder {
      color: #5d858d;
    }
    &:-ms-input-placeholder {
      color: #5d858d;
    }
    &::-ms-input-placeholder {
      color: #5d858d;
    }
    &:focus::placeholder {
      color: #2d3c41;
    }
    &:focus:-ms-input-placeholder {
      color: #2d3c41;
    }
    &:focus::-ms-input-placeholder {
      color: #2d3c41;
    }
  }
  &__button {
    width: .7em;
    height: .7em;
    position: absolute;
    top: 50%;
    right: .35em;
    background:
      url(../images/global/search.png)
      center/contain
      no-repeat;
    transform: translateY(-50%);
  }
}