.table {
  width: 100%;
  td {
    &.txnid {
      width: 38%;
      text-transform: lowercase;
    }
    &.red {
      color: #ca5656 !important;
    }
    &.green {
      color: #56ca6c !important;
    }
    &.yellow {
      color: #f0ff01 !important;
    }
    &.muted {
      color: #6c6c6c !important;
    }
    a {
      display: inline-block;
      border-bottom: .0625em solid #306570;
      line-height: 1;
      color: #56baca;
      cursor: pointer;
      white-space: nowrap;
      text-decoration: none;
      transition: border-color .3s;
      &:hover {
        border-color: transparent;
      }
    }
  }
  &-1 {
    margin-bottom: 2.8em;
    text-transform: uppercase;
    @media (max-width: 767px) {
      font-size: 1.3em;
    }
    th {
      padding-bottom: .46em;
      text-align: left;
      &:last-child {
        text-align: right;
      }
    }
    td {
      padding: 1.2em 0 .35em 0;
      border-bottom: .125em solid #415b60;
      font-size: .85em;
      color: #56baca;
      &:last-child {
        color: #fff;
        letter-spacing: .05em;
        text-align: right;
      }
    }
  }
  &-2 {
    border: .0625em solid #2d2c3c;
    font-size: .65em;
    letter-spacing: .01em;
    text-transform: uppercase;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 1em;
    }
    th, td {
      padding: 1.25em .5em;
      border: .0625em solid #2d2c3c;
      @media (max-width: 767px) {
        white-space: nowrap;
      }
      &.lower {
        text-transform: none;
      }
    }
    th {
      color: #ecfabd;
    }
    td {
      color: #56baca;
    }
    tr {
      &.yellow {
        td {
          color: #f0ff01;
          a {
            color: #f0ff01;
            border-bottom-color: #838a0e;
            &:hover {
              border-color: transparent;
            }
          }
        }
      }
    }
  }
}