<template lang="pug">
  .profile__sidebar
    .profile__block
      .profile__block__caption Settings
      nav.profile__menu
        router-link(:to="{name: 'AccountInformation'}")
          .profile__menu__icon.icon-1
          span Account information
        router-link(:to="{name: 'Password'}")
          .profile__menu__icon.icon-2
          span Password
        router-link(:to="{name: 'EmailNotifications'}")
          .profile__menu__icon.icon-3
          span Email Notifications
        router-link(:to="{name: 'TwoFactorAuthentication'}")
          .profile__menu__icon.icon-4
          span Two-factor authentication
</template>

<script>
export default {
  data() {
    return {
    };
  },
  components: {
  },
  computed: {
  },
  mounted() {
  },
  methods: {
  },
};
</script>

<style lang="scss">
.profile {
  @media (max-width: 767px) {
    font-size: 1.4em;
  }
  &__menu {
    border: .0625em solid #2d2c3c;
    a {
      display: block;
      position: relative;
      padding: 1.22em .5em 1.22em 3.7em;
      border-top: .0625em solid #2d2c3c;
      font-size: .65em;
      letter-spacing: .04em;
      color: #56baca;
      text-decoration: none;
      text-transform: uppercase;
      transition: color .3s;
      cursor: pointer;
      @media (max-width: 767px) {
        font-size: .8em;
      }
      &:first-child {
        border-top: none;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background:
          url(../../assets/images/global/button-hover.png)
          center/cover;
        opacity: 0;
        transition: opacity .3s;
      }
      &.router-link-exact-active,
      &:hover {
        color: #ecfabd;
        .profile__menu__icon {
          &:before {
            opacity: 0;
          }
          &:after {
            opacity: 1;
          }
        }
      }
      &.router-link-exact-active {
        &:before {
          opacity: 1;
        }
        color: #ecfabd;
      }
      span {
        position: relative;
      }
    }
    &__icon {
      width: 2.1em;
      height: 2.1em;
      position: absolute;
      top: 50%;
      left: 1.8em;
      font-size: .75em;
      transform: translateY(-50%);
      &:before,
      &:after {
        content: '';
      }
      &:before,
      &:after,
      span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../../assets/images/profile/menu.png);
        background-size: 200% 400%;
        transition: opacity .3s;
      }
      &:before {
        opacity: 1;
      }
      &:after {
        opacity: 0;
      }
      span {
        opacity: 0;
      }
    }
    .icon-1:after {
      background-position: -100% 0;
    }
    .icon-2:before {
      background-position: 0 -2.1em;
    }
    .icon-2:after {
      background-position: -100% -2.1em;
    }
    .icon-3:before {
      background-position: 0 -4.2em;
    }
    .icon-3:after {
      background-position: -100% -4.2em;
    }
    .icon-4:before {
      background-position: 0 -6.3em;
    }
    .icon-4:after {
      background-position: -100% -6.3em;
    }
  }
}
</style>
