<template lang="pug">
  div(v-if="isLoaded")
    slot
    Footer
</template>

<script>
import Footer from '../global/Footer';
export default {
  data() {
    return {
      isLoaded: false,
    };
  },
  components: {
    Footer,
  },
  methods: {
    async preparePage() {
      document.body.className = 'body-auth body-default-background';
      this.isLoaded = true;
    },
  },
};
</script>

<style lang="scss">
.register,
.auth {
  width: 100%;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth {
  &__area {
    width: 18.75em;
    display: flex;
    flex-direction: column;
    border: .0625em solid #2d2c3c;
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em .7em 0 .7em;
    padding-top: 36.35%;
    background: url(../../assets/images/auth/image.png) center/cover;
    img {
      width: 14.5em;
      height: auto;
    }
  }
}
#inputFlame {
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translate(.4%, -34.8%) scale(1.295);
  transition: opacity .3s;
  z-index: -1;
  &.active {
    opacity: 1;
    z-index: 1;
  }
  canvas {
    width: 100%;
    height: auto;
  }
}
</style>
