<template lang="pug">
  .wrapper(:class="{'muted': modal}", v-if="isLoaded")
    Header
    .wrapper__area
      Sidebar
      .content
        .content__area
          h1 {{ title }}
          Breadcrumb
          slot
        Footer
      .sidebar-back(@click="toggleMenu")
</template>

<script>
import Header from '../global/Header';
import Sidebar from '../global/Sidebar';
import Breadcrumb from '../global/Breadcrumb';
import Footer from '../global/Footer';
export default {
  data() {
    return {
      isLoaded: false,
    };
  },
  mounted() {
    const style = document.createElement('style');
    style.type = 'text/css';
    style.appendChild(document.createTextNode(this.styles));
    document.head.appendChild(style);
  },
  computed: {
    title() {
      return this.$store.state.pageTitle;
    },
    styles() {
      return this.$store.state.styles;
    },
  },
  watch: {
    '$store.state.user'() {
      this.preparePage();
    },
  },
  components: {
    Header,
    Sidebar,
    Breadcrumb,
    Footer,
  },
  methods: {
    async preparePage() {
      if (this.user === null) {
        await this.$store.dispatch('fetchAccount');
      } else {
        this.isLoaded = true;
      }

      let clsList = 'body-default';

      if (this.styles.enable_custom_body_css) {
        clsList += ' ' + this.styles.body_cls_name;
        document.getElementById('root_styles_custom').innerText = this.styles.body_css;
      } else {
        clsList += ' body-default-background';
      }

      document.body.className = clsList;

      if (this.styles.enable_custom_buttons_css) {
        document.getElementById('buttons_custom').innerText = this.styles.buttons_css;
      }
    },
    toggleMenu() {
      document.body.classList.toggle('open-menu');
    },
  },
};
</script>

<style lang="scss">
.wrapper,
.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__area {
    flex: 1;
  }
}
.wrapper {
  &__area {
    display: flex;
  }
}
.content {
  &__area {
    display: flex;
    flex-direction: column;
    padding: 2.2em 3em 2em 2.5em;
    box-sizing: border-box;
    @media (max-width: 767px) {
      padding: 5em 1.5em 1.5em 1.5em;
    }
  }
}
</style>
