<template lang="pug">
  div
    slot
</template>

<script>
export default {
  data() {
    return {
    };
  },
  mounted() {
    document.body.className = 'body-error';
  },
};
</script>

<style lang="scss">
</style>
