<template lang="pug">
  .wrapper(:class="{'muted': modal}", v-if="isLoaded")
    Header
    .wrapper__area
      Sidebar
      slot
      .sidebar-back(@click="toggleMenu")
</template>

<script>
import Header from '../global/Header';
import Sidebar from '../global/Sidebar';
import Breadcrumb from '../global/Breadcrumb';
import {mapActions, mapState, mapMutations} from 'vuex';
export default {
  data() {
    return {
      isLoaded: false,
    };
  },
  computed: {
    ...mapState('messages', [
      'chats',
      'legends',
      'contacts',
    ]),
    title() {
      return this.$store.state.pageTitle;
    },
    styles() {
      return this.$store.state.styles;
    },
  },
  components: {
    Header,
    Sidebar,
    Breadcrumb,
  },
  beforeDestroy() {
    this.setChat(null);
    this.coreDisableAutoUpdate();
  },
  methods: {
    ...mapActions('core', ['tryExecuteDataRequests']),
    ...mapActions('accounts', ['prepareGetAccount']),
    ...mapActions('messages', ['prepareGetContacts', 'prepareGetChats']),
    ...mapMutations('core', ['coreDisableAutoUpdate']),
    ...mapMutations('messages', ['setChat']),

    /**
     * Prepare layout messages.
     *
     * @return {Boolean}
     */
    requiredData() {
      return this.chats === null ||
        this.legends === null ||
        this.contacts === null ||
        this.$store.state.user === null;
    },

    /**
     * Prepare layout messages.
     */
    async preparePage() {
      const required = this.requiredData();

      if (this.$route.name == 'Messages') {
        this.disableAutoUpdate();
        await this.tryExecuteDataRequests(
            {
              autoUpdate: true,
              executeNow: required,
              nowAlwaysFetchData: required,
              preparedRequests: [
                await this.prepareGetAccount(),
                await this.prepareGetContacts(),
                await this.prepareGetChats(),
              ],
            }
        );
      }

      this.isLoaded = true;

      let clsList = 'body-default';

      if (this.styles && this.styles.enable_custom_body_css) {
        clsList += ' ' + this.styles.body_cls_name;
        document.getElementById('root_styles_custom').innerText = this.styles.body_css;
      } else {
        clsList += ' body-default-background';
      }

      document.body.className = clsList;

      if (this.styles.enable_custom_buttons_css) {
        document.getElementById('buttons_custom').innerText = this.styles.buttons_css;
      }
    },
    toggleMenu() {
      document.body.classList.toggle('open-menu');
    },
  },
};
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600&display=swap');
.wrapper,
.messages {
  width: 100%;
  display: flex;
  &__area {
    flex: 1;
  }
}
.wrapper {
  flex-direction: column;
  &__area {
    display: flex;
  }
}
</style>
