<template lang="pug">
  .news
    .news__content
      slot
    Sidebar
</template>

<script>
import Sidebar from '../News/Sidebar';

export default {
  data() {
    return {
    };
  },
  computed: {
  },
  components: {
    Sidebar,
  },
  methods: {
  },
  mounted() {
  },
};
</script>

<style lang="scss">
.news {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 -.3em 0 -.8em;
  padding: 1.3em 0;
  @media (max-width: 767px) {
    display: block;
  }
  &__sidebar {
    width: 15.45em;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &__content {
    flex: 1;
    padding-left: 1.6em;
    @media (max-width: 767px) {
      padding-left: 0;
    }
  }
}
</style>
