<template lang="pug">
  .profile
    Sidebar
    .profile__content
      slot
</template>

<script>
import Sidebar from '../Profile/Sidebar';

export default {
  data() {
    return {
      action: 'fetchProfileContent',
    };
  },
  computed: {
  },
  components: {
    Sidebar,
  },
  methods: {
  },
  mounted() {
  },
};
</script>

<style lang="scss">
.profile {
  display: flex;
  margin: 0 -.3em 0 -.8em;
  padding: 1.3em 0;
  @media (max-width: 767px) {
    display: block;
    margin: 0;
  }

  &__sidebar {
    width: 15.45em;
    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: 1em;
    }
  }

  &__content {
    flex: auto;
    max-width: 32.7em;
    padding-left: 1.6em;
    @media (max-width: 767px) {
      max-width: 100%;
      padding-left: 0;
    }
  }

  &__block {
    padding: .65em 1em 1em 1em;
    border: .0625em solid #2d2c3c;

    &__caption {
      margin-bottom: .95em;
      text-transform: uppercase;

      &:last-child {
        margin-bottom: -.5em;
      }
    }

    &__title {
      margin-bottom: 1em;
      font-weight: 500;
      color: #5d858d;
      @media (max-width: 767px) {
        font-size: 1.3em;
      }

      &-m1 {
        margin-bottom: .5em;
      }
    }

    &__text {
      font-size: .75em;
      line-height: 130%;
      color: #5d858d;
      @media (max-width: 767px) {
        font-size: 1em;
      }

      p {
        margin-bottom: 1.6em;

        &:last-child {
          margin-bottom: 0;
        }
      }

      img {
        max-width: 14em;
        height: auto;
        margin-right: 1em;
        @media (max-width: 767px) {
          max-width: 8em;
        }
      }

      img + img {
        margin-left: 1em;
      }
    }
  }

  &__block + &__block {
    padding-top: 1.1em;
    border-top: none;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em .5em .5em 1em !important;
    @media (max-width: 767px) {
      flex-direction: column;
    }

    .form__success {
      margin-bottom: 0;
      font-size: .75em;
      text-transform: uppercase;
    }

    .button {
      min-width: 15em;
    }
  }
}
</style>
