<template lang="pug">
  Layout
    form(@submit="saveForm")
      .profile__block
        .profile__block__caption Account data
        .form
          .form__field
            .form__label Username
            .form__input
              input(
                v-model="form.username"
              )
              .form__error(v-if="errors.username")
                | {{ getErrors(errors.username) }}
          .form__field
            .form__label E-Mail
            .form__input
              input(
                type="email"
                v-model="form.email"
                readonly
              )
              .form__error(v-if="errors.email")
                | {{ getErrors(errors.email) }}
          .form__field
            .form__label Avatar
            .form__avatar
              .form__avatar__image(
                :style="avatar?'background-image: url('+avatar+')':''"
              )
              label.form__avatar__edit
                input(
                  type="file"
                  @change="fileInputChange"
                )
              .form__error(v-if="errors.avatar")
                | {{ getErrors(errors.avatar) }}
              .form__avatar__rules(v-else)
                | 1. Max. resolution 800x800
                br
                | 2. Supported file types: JPG, PNG
                br
                | 3. Max. file size 1 Mb
          .form__field
            .form__label Country
            .form__input
              .form__country(
                v-if="countries"
                @click="toggleCountry = !toggleCountry"
                :class="{'open': toggleCountry}"
              )
                | {{ getCountry() }}
                transition(name="slide-up")
                  .form__country__dropdown(v-show="toggleCountry")
                    vue-scroll
                      div(
                        v-for="(country, key) in countries"
                        :key="key"
                        @click="form.country = key"
                      ) {{ country }}
              .form__error(v-if="errors.country")
                | {{ getErrors(errors.country) }}
      .profile__block
        .profile__block__caption Personal Data
        .form
          .form__field
            .form__label Date of Birth
            .form__date
              .form__date__item(
                @click="toggleDay = !toggleDay"
                :class="{'open': toggleDay}"
              )
                | {{ currentDay }}
                transition(name="slide-up")
                  .form__date__dropdown(v-show="toggleDay")
                    vue-scroll
                      div(
                        v-for="i in 31"
                        :key="i"
                        @click="day = i"
                      ) {{ i }}
              .form__date__item(
                @click="toggleMonth = !toggleMonth"
                :class="{'open': toggleMonth}"
              )
                | {{ currentMonth }}
                transition(name="slide-up")
                  .form__date__dropdown(v-show="toggleMonth")
                    vue-scroll
                      div(
                        v-for="i in 12"
                        :key="i"
                        @click="month = i"
                      ) {{ i }}
              .form__date__item(
                @click="toggleYear = !toggleYear"
                :class="{'open': toggleYear}"
              )
                | {{ currentYear }}
                transition(name="slide-up")
                  .form__date__dropdown(v-show="toggleYear")
                    vue-scroll
                      div(
                        v-for="i in years()"
                        :key="i"
                        @click="year = i"
                      ) {{ i }}
          .form__field.form__field-m3
            .form__label Gender
            .form__checkbox-group
              label.form__checkbox
                input(
                  type="radio"
                  v-model="form.gender"
                  value="1"
                )
                .form__checkbox__area
                | Male
              label.form__checkbox
                input(
                  type="radio"
                  v-model="form.gender"
                  value="2"
                )
                .form__checkbox__area
                | Female
              .form__error(v-if="errors.gender")
                | {{ getErrors(errors.gender) }}
          .form__field.form__field-m3
            .form__label Bio
            .form__input.form__input-w1
              textarea(
                v-model="form.bio"
                maxlength="500"
              )
              .form__error(v-if="errors.bio")
                | {{ getErrors(errors.bio) }}
          .form__field.form__field-m3
            .form__label Are you trader?
            .form__radio-group
              label.form__radio
                input(
                  type="radio"
                  v-model="form.is_trader"
                  value="1"
                )
                .form__radio__area
                | Yes
              label.form__radio
                input(
                  type="radio"
                  v-model="form.is_trader"
                  value="0"
                )
                .form__radio__area
                | No
              .form__error(v-if="errors.is_trader")
                | {{ getErrors(errors.is_trader) }}
          .form__field.form__field-m4
            .form__label Hide from public
            div
              label.form__checker
                input(
                  type="checkbox"
                  v-model="form.is_hide_from_public"
                  :true-value="1"
                  :false-value="0"
                )
                .form__checker__yes Yes
                .form__checker__area
                .form__checker__no No
              .form__error(v-if="errors.is_hide_from_public")
                | {{ getErrors(errors.is_hide_from_public) }}
      .profile__block
        .profile__block__caption Wallet Data
        .form
          .form__field
            .form__label BTC Address
            .form__input.form__input-btc
              input(
                v-model="form.btc_address"
              )
              .form__error(v-if="errors.btc_address")
                | {{ getErrors(errors.btc_address) }}
          .form__field
            .form__label ETH Address
            .form__input.form__input-eth
              input(
                v-model="form.eth_address"
              )
              .form__error(v-if="errors.eth_address")
                | {{ getErrors(errors.eth_address) }}
          .form__field.form__field-m4
            .form__label Your Promo-code
            .form__input.form__input-code
              input(
                v-model="form.promo_code"
                readonly
              )
              .form__error(v-if="errors.promo_code")
                | {{ getErrors(errors.promo_code) }}
          .form__field.form__field-m4
            .form__label Your Promo-link
            .form__input.form__input-code.promo_link
              input(readonly)
              input(
                id='copyPromoLink'
                v-model="form.promo_link"
                readonly
                type="hidden"
              )
              div(@click="copyPromoLinkToClipBoard") {{ promoLinkCopyText }}
      .profile__block.profile__button
        .form__success
          span(v-if="success") Changes were successfully saved
        button(v-bind:class="buttonsCls")
          span Save changes
</template>

<script>
import Layout from './layouts/Profile.vue';

export default {
  data() {
    return {
      pageTitle: 'Profile',
      breadcrumbs: [
        {name: 'Home', route: 'Index'},
        {name: 'Profile'},
        {name: 'Account information'},
      ],
      form: {
        username: null,
        email: null,
        avatar: null,
        country: null,
        birthdate: null,
        gender: null,
        bio: null,
        is_trader: null,
        is_hide_from_public: null,
        btc_address: null,
        eth_address: null,
        promo_code: null,
      },
      avatar: null,
      success: false,
      image: null,
      countries: null,
      day: null,
      month: null,
      year: null,
      toggleDay: false,
      toggleMonth: false,
      toggleYear: false,
      toggleCountry: false,
      errors: {},
      promoLinkCopyText: 'Copy to Clipboard',
    };
  },
  components: {
    Layout,
  },
  computed: {
    buttonsCls() {
      const cls = {};

      if (this.styles && this.styles.enable_custom_buttons_css) {
        cls[this.styles.buttons_cls_name] = true;
      } else {
        cls['button'] = true;
      }

      return cls;
    },
    styles() {
      return this.$store.state.styles;
    },
    profile() {
      return this.$store.state.profile;
    },
    currentDay() {
      if (this.form.birthdate) {
        const data = this.form.birthdate.split('-');
        return data[2] ? data[2] : 'Day';
      } else {
        return 'Day';
      }
    },
    currentMonth() {
      if (this.form.birthdate) {
        const data = this.form.birthdate.split('-');
        return data[1] ? data[1] : 'Month';
      } else {
        return 'Month';
      }
    },
    currentYear() {
      if (this.form.birthdate) {
        const data = this.form.birthdate.split('-');
        return data[0] ? data[0] : 'Year';
      } else {
        return 'Year';
      }
    },
  },
  watch: {
    profile(data) {
      if (data[0].account) {
        this.form = data[0].account;
        this.avatar = this.form.avatar;
        this.form.avatar = null;
      }
      if (data[0].countries && this.countries === null) {
        this.countries = data[0].countries;
      }
    },
    day() {
      this.generateDate();
    },
    month() {
      this.generateDate();
    },
    year() {
      this.generateDate();
    },
    toggleCountry(flag) {
      const listener = (e) => {
        const specified = document
            .getElementsByClassName('form__country')[0];
        if (specified && !specified.contains(e.target)) {
          this.toggleCountry = false;
        }
      };
      if (flag) {
        window.addEventListener('click', listener);
      } else {
        window.removeEventListener('click', listener);
      }
    },
    toggleDay(flag) {
      const listener = (e) => {
        const specified = document
            .getElementsByClassName('form__date')[0];
        if (specified && !specified.contains(e.target)) {
          this.toggleDay = false;
        }
      };
      if (flag) {
        window.addEventListener('click', listener);
      } else {
        window.removeEventListener('click', listener);
      }
    },
    toggleMonth(flag) {
      const listener = (e) => {
        const specified = document
            .getElementsByClassName('form__date')[0];
        if (specified && !specified.contains(e.target)) {
          this.toggleMonth = false;
        }
      };
      if (flag) {
        window.addEventListener('click', listener);
      } else {
        window.removeEventListener('click', listener);
      }
    },
    toggleYear(flag) {
      const listener = (e) => {
        const specified = document
            .getElementsByClassName('form__date')[0];
        if (specified && !specified.contains(e.target)) {
          this.toggleYear = false;
        }
      };
      if (flag) {
        window.addEventListener('click', listener);
      } else {
        window.removeEventListener('click', listener);
      }
    },
  },
  methods: {
    getErrors(errors) {
      return errors.join(', ');
    },
    fileInputChange() {
      const file = event.target.files[0];
      const reader = new FileReader();
      reader.onload = (e) => {
        this.avatar = e.target.result;
      };
      reader.readAsDataURL(file);
      this.form.avatar = file;
    },
    generateDate() {
      const date = [];
      date.push(this.year ? this.year : '');
      date.push(this.month ? (this.month < 10 ? '0' : '') + this.month : '');
      date.push(this.day ? (this.day < 10 ? '0' : '') + this.day : '');
      this.form.birthdate = date.join('-');
    },
    years() {
      const start = 1940;
      const end = new Date().getFullYear();
      const result = [];
      for (let i = start; i < end; i++) {
        result.push(i);
      }
      return result;
    },
    getCountry() {
      return this.form.country ? this.countries[this.form.country] : '----';
    },
    async saveForm() {
      event.preventDefault();
      this.errors = {};
      const form = new FormData();
      for (const [key, value] of Object.entries(this.form)) {
        if (value !== null && key !== 'promo_code' && key !== 'promo_link') {
          form.append(key, value);
        }
      }

      const result = await this.$store
          .dispatch('profileAccountSave', form);
      if (result !== true ) {
        this.errors = result.errors;
      } else {
        this.success = true;
        setTimeout(() => {
          this.success = false;
        }, 5000);
      }
    },
    copyPromoLinkToClipBoard() {
      this.promoLinkCopyText = this.copyLinkByInputId('#copyPromoLink', true) ? 'Your Promo Link was copied' : 'Wasn`t copied';

      setTimeout(() => {
        this.promoLinkCopyText = 'Copy to Clipboard';
      }, 2000);
    },
  },
};
</script>

<style scoped lang="scss">
  .promo_link {
    input {
      color: #0F0D16 !important;
    }

    div {
      position: absolute;
      width: 100%;
      height: calc(100% - .4em);
      top: .22em;
      left: 0;
      margin-left: 1em;
      text-align: center;
      cursor: pointer;
      color: #006a72;

      &:hover {
        font-weight: bold;
      }
    }
  }

  @media (max-width: 766px) {
    .promo_link {
      div {
        top: .55em;
        font-size: .7em;
      }
    }
  }
</style>
