<template lang="pug">
  .auth(:class="{'muted': modal}")
    .auth__area(v-if="isLoaded")
      .form
        .form__header.form__header-center
          .form__caption(v-if="errors.already_activated") This Account
            br
            | Was Already Activated
          .form__caption(v-else) Your Account Was
            br
            | Successfully Activated
        router-link.auth__image(:to="{name: 'Index'}")
        .form__text.form__text-variant
          br
          | Dear user,
          br
          br
          span(v-if="errors.already_activated")
            | This account was already activated. Please proceed to
            |  the LOGIN page and use your credentials.
          span(v-else)
            | Your account was successfully activated. Now you can proceed to
            |  the LOGIN page.
          br
          br
          | Sincerely,
          br
          | Insider Protocol team
          br
          br
        .auth__form
          .form__container
            router-link.button.button-full(:to="{name: 'Login'}")
              span Login
              video#buttonAnimation(
                autoplay
                loop
                playsinline
                muted
              )
</template>

<script>
import seeThru from 'seethru';

export default {
  data() {
    return {
      isLoaded: 1,
      errors: {
        already_activated: false,
      },
    };
  },
  computed: {
  },
  components: {
  },
  async mounted() {
    await this.$store.dispatch('logout', true);
    const token = this.$route.params.token;
    const result = await this.$store.dispatch('activate', token);
    if (result !== true ) {
      this.errors = result.errors;
    }
    this.isLoaded = true;
    this.loadFlame(seeThru);
  },
  methods: {
  },
};
</script>

<style lang="scss">
</style>
