<template lang="pug">
  .dashboard(v-if="isLoaded")
    .dashboard__header(:class="{'hide': !toggle}")
      transition-group(name="slide-up")
        .dashboard__header__caption(v-if="toggle", key="caption")
          | Your Grand Total Profit of All Time
        .dashboard__header__total(
          v-if="toggle"
          key="total"
        ) {{ prepareNumber(dashboard.grand_total_profit) }} USDT
        a.button-small(
          v-bind:class="buttonsCls"
          v-if="toggle"
          :href="dashboard.statement_link"
          key="button"
        )
          span BOT'S TRADING STATEMENT
      .dashboard__header__toggle(@click="toggle = !toggle")
        span(v-if="toggle") Hide
        span(v-else) Show
    hr(v-if="toggle")
    .dashboard__info
      .dashboard__info__wallet
        h2 Your Wallet data
        table.table.table-1
          tr
            th USDT Total Balance
            th {{ prepareNumber(dashboard.balance_usdt, '') }} USDT
          tr
            td USDT Deposited
            td {{ prepareNumber(dashboard.deposited_usdt, '') }} USDT
          tr
            td USDT Dividends
            td {{ prepareNumber(dashboard.dividents_usdt, '') }} USDT
          tr
            td Unrealised PnL (USDT)
            td(:class="makeClass(dashboard.unrealized_pnl)")
              | {{ prepareNum(dashboard.unrealized_pnl, '') }} USDT
        table.table.table-1
          tr
            th IPRO Total Balance
            th {{ prepareNumber(dashboard.balance_total_abc, '') }} IPRO
          tr
            td IPRO Balance in trading
            td.muted {{ prepareNumber(dashboard.traded_abc_balance, '') }} IPRO
          tr
            td Frozen IPRO Balance
            td.muted {{ prepareNumber(dashboard.frozen_abc_balance, '') }} IPRO
          tr
            td Available IPRO Balance
            td {{ prepareNumber(dashboard.balance_abc, '') }} IPRO
        .dashboard__buttons
          router-link(v-bind:class="buttonsCls" :to="{name: 'Investments'}")
            span invest
          router-link(v-bind:class="buttonsCls" :to="{name: 'Deposit'}")
            span Deposit
          router-link(v-bind:class="buttonsCls" :to="{name: 'Withdraw'}")
            span Withdraw
      .dashboard__info__media
        h2 Media Information
        Video(v-if="dashboard && dashboard.video_list[lang].length > 0", :video-list="dashboard.video_list[lang]")
    .dashboard__coins
      .dashboard__coins__timer
        h3 {{ title }}
        .dashboard__timer(v-if="timer.diff <= 0")
          div.margin_0_auto
            .dashboard__timer__default {{ textWhenItEnd }}
        .dashboard__timer(v-if="timer.diff > 0")
          div
            .dashboard__timer__number.days {{ prepareTime(timer.days) }}
            .dashboard__timer__caption Days
          div
            .dashboard__timer__number {{ prepareTime(timer.hours) }}
            .dashboard__timer__caption Hours
          div
            .dashboard__timer__number {{ prepareTime(timer.minutes) }}
            .dashboard__timer__caption Minutes
          div
            .dashboard__timer__number {{ prepareTime(timer.seconds) }}
            .dashboard__timer__caption Seconds
        .dashboard__coins__description This is the first ICO with combined
            |  standard ICO sale and participation on trading pools of our bot.
            | IPROs which were bought during the ICO stages can be traded using
            |  our bot via opening TIDs on the Investments page in your
            |  Dashboard. During the ICO stages, 20% of each purchase of the
            |  IPRO amount will be burned, which will also affect to price rise.
      .dashboard__coins__data
        h3 IPRO coin Information data
        span 1 IPRO = {{ prepareNumber(abc.usdtRate) }} USDT
        .dashboard__chart
            apexcharts(
              :type="chart.options.chart.type"
              height="auto"
              :options="chart.options"
              :series="chart.series"
            )
        .dashboard__data
          div
            .dashboard__data__amount {{ prepareNumber(abc.total_supply, ' ') }}
              .dashboard__data__point(
                :style="'background: ' + chart.options.colors[0]"
              )
            .dashboard__data__caption {{ abc.total_supply_title[lang] }}
            .dashboard__data__amount {{ prepareNumber(abc.soft_cap, ' ') }}
              .dashboard__data__point(
                :style="'background: ' + chart.options.colors[1]"
              )
            .dashboard__data__caption {{ abc.soft_cap_title[lang] }}
          div
            .dashboard__data__amount {{ prepareNumber(abc.abc_sold, ' ') }}
              .dashboard__data__point(
                :style="'background: ' + chart.options.colors[2]"
              )
            .dashboard__data__caption {{ abc.abc_sold_title[lang] }}
            .dashboard__data__amount {{ prepareNumber(abc.abc_left, ' ') }}
              .dashboard__data__point(
                :style="'background: ' + chart.options.colors[3]"
              )
            .dashboard__data__caption {{ abc.abc_left_title[lang] }}
    hr
    Cards(:cards="profitCards")
    hr
    .dashboard__exchange(style="margin-top: 3.1em")
      h3 Exchange Usdt To Ipro
      h3.subhead {{ exchangeSubTitle }}
      form.form.form-exchange(@submit="exchange")
        div
          .form-exchange__label USDT amount
            span(v-if="errors.amount_usdt")
              | {{ getErrors(errors.amount_usdt) }}
          .form__input
            input(
              v-model="form.amount_usdt"
              placeholder="0"
              @keyup="calculate('amount_abc', 'usdt_abc_rate')"
              @keypress="isNumber()"
            )
            span USDT
          .form-exchange__result 1 USDT =
            |  {{ prepareNumber1(dashboard.usdt_abc_rate) }} IPRO
        div.form-exchange__delimiter
        div
          .form-exchange__label IPRO amount
            span(v-if="errors.amount_abc")
              | {{ getErrors(errors.amount_abc) }}
          .form__input
            input(
              v-model="form.amount_abc"
              placeholder="0"
              @keyup="calculate('amount_usdt', 'abc_usdt_rate')"
              @keypress="isNumber()"
            )
            span IPRO
          .form-exchange__result 1 IPRO  =
            |  {{ prepareNumber1(dashboard.abc_usdt_rate) }} USDT
        div
          label.form__checkbox
            input(
              type="checkbox"
              v-model="form.accepted_rules"
              :true-value="1"
              :false-value="0"
            )
            .form__checkbox__area
            | I accept&nbsp;
            a(
              @click="showModal(tac.title, tac.text, true)"
            ) Terms & Conditions
          .form__error(v-if="errors.accepted_rules")
            | {{ getErrors(errors.accepted_rules) }}
        div
          button.button-big(v-bind:class="buttonsCls" :disabled="!form.accepted_rules")
            span Exchange
    hr
    .dashboard__option_charts
      h3 COMPARISON CHARTS
      .dashboard__option_charts_container
        dashboard-chart(v-for="index in 4" :option="index" :key="index")
    hr
    .dashboard__charts
      h3 Realtime Cryptocurrency Charts
      .dashboard__charts__container(v-if="dashboard.charts && dashboard.charts.length")
        div(
          v-for="chart in dashboard.charts"
          :key="chart.id"
        )
          div(:id="'chart' + chart.id")
    .dashboard__activities
      .dashboard__recent(v-if="dashboard.recent_activities.length > 0")
        div
          h4 Recent Activities
          table.table.table-2
            tr
              th Date
              th Time (UTC)
              th Type
            tbody(
        v-if="dashboard.recent_activities && dashboard.recent_activities.length"
            )
              tr(
                v-for="activity in dashboard.recent_activities"
                :key="activity.id"
              )
                td {{ activity.date }}
                td {{ activity.time }}
                td {{ activity.type }}
            tbody(v-else)
              tr(
                v-for="i in 10"
                :key="i"
              )
                td
                td
                td
      .dashboard__map(
        v-bind:class="{margin_0_auto: dashboard.recent_activities.length === 0}"
      )
        img(:src="mapImage", alt="")
    Media
</template>

<script>
import dashboardChart from './plugins/dashboardChart';
import VueApexCharts from 'vue-apexcharts';
import Media from './Index/Media';
import Video from './Dashboard/Video';
import Cards from './Dashboard/Cards';

export default {
  data() {
    return {
      pageTitle: 'Dashboard',
      exchangeSubTitle: '(use exchanger only if you already ' +
        'have at least one of the Trading Cards)',
      breadcrumbs: [
        {name: 'Home', route: 'Index'},
        {name: 'Dashboard'},
      ],
      mapImage: '/static/map.svg',
      timer: {
        diff: 0,
        days: 0,
        hours: 0,
        minutes: 0,
        seconds: 0,
      },
      toggle: true,
      chart: {
        series: [0, 0, 0, 0],
        options: {
          chart: {
            type: 'radialBar',
          },
          plotOptions: {
            radialBar: {
              dataLabels: {
                show: false,
              },
              track: {
                margin: 2,
                background: '#253b3f',
              },
            },
          },
          dataLabels: {
            enabled: false,
            background: {
              enabled: false,
            },
          },
          colors: ['#56baca', '#7b8f38', '#a0371d', '#20655d'],
        },
      },
      showVideo: false,
      form: {
        amount_usdt: '',
        amount_abc: '',
        accepted_rules: 0,
      },
      errors: {},
      sending: false,
    };
  },
  components: {
    Cards,
    Video,
    Media,
    apexcharts: VueApexCharts,
    dashboardChart,
  },
  computed: {
    buttonsCls() {
      const cls = {};

      if (this.styles && this.styles.enable_custom_buttons_css) {
        cls[this.styles.buttons_cls_name] = true;
      } else {
        cls['button'] = true;
      }

      return cls;
    },
    styles() {
      return this.$store.state.styles;
    },
    abc() {
      return this.$store.state.abc;
    },
    timerDef() {
      return this.$store.state.timer;
    },
    dashboard() {
      return this.$store.state.dashboard;
    },
    profitCards() {
      return this.dashboard && this.dashboard.profit_cards ? this.dashboard.profit_cards : [];
    },
    isLoaded() {
      return this.dashboard !== null && Object.keys(this.dashboard).length;
    },
    title() {
      return this.timer.diff > 0 ?
        this.timerDef.title[this.lang] :
        this.timerDef.title_when_it_end[this.lang];
    },
    textWhenItEnd() {
      return this.timerDef.text_when_it_end[this.lang];
    },
  },
  watch: {
    abc: {
      immediate: true,
      handler(value) {
        if (value.total_supply) {
          this.chart.series = [
            100,
            90,
            75,
            55,
          ];
          setTimeout(() => {
            const k = value.total_supply / 100;
            this.chart.series = [
              100,
              value.soft_cap / k,
              value.abc_sold / k,
              value.abc_left / k,
            ];
          }, 5000);
        }
      },
    },
    isLoaded(value) {
      this.getAnchor();
      this.updateCharts();
      this.beginTimer();
    },
    timerDef() {
      this.beginTimer();
    },
  },
  beforeMount() {
    if (document.getElementById('tradingviewScript')) return;
    const tradingview = document.createElement('script');
    tradingview.src = 'https://s3.tradingview.com/tv.js';
    tradingview.id = 'tradingviewScript';
    document.head.appendChild(tradingview);
  },
  async created() {
    this.enableAutoUpdate();
    this.$store.commit('setMask', 1 | 2);
    this.checkContent('dashboard', ['fetchDashboardContents']);
  },
  mounted() {
    if (this.isLoaded) {
      this.getAnchor();
      this.updateCharts();
    }
    this.beginTimer();
  },
  methods: {
    getErrors(errors) {
      return errors.join(', ');
    },
    getAnchor() {
      if (this.$route.meta.anchor) {
        const anchor = this.$route.meta.anchor;
        const interval = setInterval(() => {
          if (document.querySelector('.' + anchor)) {
            window.scroll({
              top: document.querySelector('.' + anchor).offsetTop,
              behavior: 'smooth',
            });
            clearInterval(interval);
          }
        }, 100);
      }
    },
    updateCharts() {
      if (this.dashboard == null) return;
      const charts = this.dashboard.charts;
      if (charts.length) {
        const intervals = new Array(charts.length);
        charts.forEach((item, index) => {
          const uid = 'chart' + item.id;
          intervals[index] = setInterval(() => {
            if (document.getElementById('tradingviewScript') &&
                document.getElementById(uid)) {
              if (typeof TradingView !== 'object') {
                return;
              }

              // eslint-disable-next-line new-cap
              new TradingView.widget({
                'width': '100%',
                'height': '20.4em',
                'symbol': item.html,
                'interval': 'D',
                'timezone': 'Etc/UTC',
                'theme': 'dark',
                'style': '1',
                'locale': 'en',
                'toolbar_bg': '#f1f3f6',
                'enable_publishing': false,
                'save_image': false,
                'container_id': uid,
              });
              clearInterval(intervals[index]);
            }
          }, 100);
        });
      }
    },
    makeClass(value) {
      value = parseFloat(value);
      if (value == 0) {
        return '';
      }
      return value > 0 ? 'green' : 'red';
    },
    prepareNum(value) {
      return value > 0 ?
        '+' + this.prepareNumber(value) :
        this.prepareNumber(value);
    },
    calculate(field1, field2) {
      if (event.target.value == '') {
        this.form[field1] = '';
      } else {
        this.form[field1] = parseFloat((
          parseFloat(this.dashboard[field2]) *
          parseFloat(event.target.value)
        ).toFixed(2));
      }
    },
    async exchange() {
      event.preventDefault();

      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.errors = {};
        const result = await this.$store.dispatch('exchangeUsdtAbc', this.form);
        if (result !== true ) {
          this.errors = result.errors;
        } else {
          this.form = {
            amount_usdt: '',
            amount_abc: '',
            accepted_rules: 0,
          };
          this.$store.commit('showModal', true);
          this.$store.commit('setModalContent', {
            title: 'Success!',
            content: 'Exchange was successfully completed...',
            small: true,
          });
          setTimeout(() => {
            this.$store.commit('showModal', false);
          }, 4000);
        }
      } finally {
        this.sending = false;
      }
    },
  },
};
</script>

<style lang="scss">
.dashboard {
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: .06em 9.2em .8em 0;
    text-align: center;
    text-transform: uppercase;
    transition: padding .6s;
    @media (max-width: 767px) {
      padding-right: 0;
      padding-left: 0;
    }
    > span {
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: center;
        padding: 1em 0 .5em 0;
      }
    }
    &.hide {
      padding-top: 0;
      padding-bottom: 0;
    }
    &__caption {
      font-size: 1.4em;
      line-height: 1;
      letter-spacing: .01em;
      @media (max-width: 767px) {
        width: 100%;
        padding-bottom: .5em;
      }
    }
    &__total {
      margin: -.15em 1em 0 .7em;
      font-size: 1.8em;
      letter-spacing: .02em;
      @media (max-width: 767px) {
        margin-left: 0;
      }
    }
    .button {
      letter-spacing: .01em;
    }
    &__toggle {
      position: absolute;
      top: -1.5em;
      right: 3%;
      font-size: .7em;
      text-transform: uppercase;
      transition: top .3s .1s,  right .3s .1s;
      cursor: pointer;
      &:after {
        content: '';
        width: .82em;
        height: .37em;
        display: inline-block;
        margin: -.35em 0 0 .3em;
        background:
          url(../assets/images/global/arrow.png)
          center/contain
          no-repeat;
        vertical-align: middle;
      }
    }
    &.hide &__toggle {
      color: #499baa;
      &:after {
        background-image: url(../assets/images/global/arrow-show.png);
      }
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    padding: 1.3em 2.5em 0 .3em;
      @media (max-width: 767px) {
        display: block;
        padding-right: 0;
        padding-left: 0;
      }
    &__wallet {
      width: 40%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    &__media {
      width: 53%;
      display: flex;
      flex-direction: column;
      text-align: right;
      @media (max-width: 767px) {
        width: 100%;
        height: 20em;
        margin-top: 2em;
      }
      .player {
        flex: auto;
      }
      video {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__coins {
    display: flex;
    justify-content: space-between;
    padding: 5.6em 5em 3.05em 10.4em;
    @media (max-width: 767px) {
      display: block;
      padding: 2em 0;
    }
    &__timer {
      width: 46%;
      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 2em;
      }
    }
    &__data {
      width: 44%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: 767px) {
        width: 100%;
        font-size: 1.3em;
      }
    }
    &__description {
      line-height: 115%;
      letter-spacing: .012em;
      text-transform: uppercase;
      @media (max-width: 767px) {
        font-size: 1.2em;
        line-height: 125%;
      }
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: -.1em;
  }
  &__timer {
    display: flex;
    justify-content: space-between;
    padding: .25em 0 1.6em 0;
    > div {
      position: relative;
      text-align: center;
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    &__number {
      width: 1.35em;
      height: 1.35em;
      margin-bottom: .2em;
      font-size: 3.8em;
      line-height: 1.35em;
      background: #21202e;
      color: #fff;
      &.days {
        color: #56baca;
      }
    }
    &__default {
      height: 1.35em;
      margin: 0 auto .2em;
      font-size: 3.8em;
      line-height: 1.35em;
      color: #56baca;
    }
    &__caption {
      font-size: .8em;
      line-height: 1;
      letter-spacing: .03em;
      color: #5d858d;
      text-transform: uppercase;
    }
  }
  &__chart {
    width: 12em;
    height: 8.5em;
    > div,
    .apexcharts-canvas,
    .apexcharts-canvas svg {
      width: 100% !important;
      height: 100% !important;
    }
  }
  &__data {
    width: 70%;
    display: flex;
    text-align: center;
    @media (max-width: 767px) {
      width: 80%;
    }
    > div {
      width: 50%;
    }
    &__amount {
      position: relative;
      font-size: .9em;
      line-height: 150%;
    }
    &__point {
      width: .4em;
      height: .4em;
      position: absolute;
      top: 50%;
      left: 1.7em;
      margin-top: .2em;
      border-radius: 50%;
    }
    &__caption {
      margin-bottom: .4em;
      font-size: .8em;
      color: #56baca;
      text-transform: uppercase;
    }
  }
  &__exchange {
    margin-bottom: 2.05em;
  }
  &__charts {
    padding-top: 3.8em;

    &__container {
      padding-top: 3em;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2.9em 1.3em;
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
      }

      img {
        max-width: 100%;
        height: 20.4em;
        display: block;
      }
    }
  }
  &__option_charts {
    padding: 3.8em 0 3.2em 0;
  }
  &__option_charts_container{
    margin-left: .2em;
  }
  &__activities {
    display: flex;
    justify-content: space-between;
    padding: 3.4em 1em 1em 1em;
    @media (max-width: 767px) {
      display: block;
      padding-right: 0;
      padding-left: 0;
    }
  }
  &__recent {
    width: 32%;
    @media (max-width: 767px) {
      width: 100%;
    }
    > div {
      padding: .3em .5em 1em .5em;
      box-sizing: border-box;
      border: .0625em solid #2d2c3c;
    }
  }
  &__map {
    width: 65.5%;
    padding-top: .5em;
    @media (max-width: 767px) {
      width: 100%;
      padding-top: 2em;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .margin_0_auto {
    margin: 0 auto;
  }
  .subhead {
    margin-top: -.5em;
    text-transform: none;
  }
  .media {
    margin-top: 3em;
  }
}

.margin_0_auto {
  margin: 0 auto;
}
</style>
