<template lang="pug">
  .deposit
    .deposit__container
      .deposit__make
        .deposit__caption Make Deposit
        form.deposit__area(@submit="sendForm")
          .deposit__assets__caption Choose crypto asset:
          .deposit__assets(v-if="deposit")
            label.deposit__asset(v-for="currency in currencies", :class="{active: selectedTypeCurrency && selectedTypeCurrency.name === currency.name}")
              input(
                type="radio"
                :value="currency.name"
                name="currency"
                v-model="currencyName"
                v-bind:class="{currency_not_active: !deposit.enabledDeposits}"
                v-bind:disabled="!deposit.enabledDeposits"
              )
              .deposit__asset__icon(:style="{backgroundImage: 'url('+currency.image+')'}", style="background-size: contain; background-repeat: no-repeat;")
                span
              span {{ currency.name }}
          hr
          .form__input
            .form__country(
              v-if="networks"
              @click="toggleNetwork = !toggleNetwork"
              :class="{'open': toggleNetwork}"
              style="margin-top: 10px; margin-bottom: 10px;"
            )
              | {{ currentNetwork }}
              transition(name="slide-up")
                .form__country__dropdown(v-show="toggleNetwork")
                  vue-scroll
                    div(
                      v-for="(network, key) in networks"
                      :key="key"
                      @click="form.currency = network.currencyId"
                    ) {{ network.fullName }}
          span.form__error(v-if="errors.amount")
            | {{ getErrors(errors.amount) }}
          .form__input
            span Enter amount in USDT
            input(
              v-model="form.amount"
              v-bind:placeholder="formAmountMin"
              @keypress="isNumber()"
            )
            span USDT
          ul
            li SEND ONLY {{ selectedTypeCurrency ? selectedTypeCurrency.name : '&lt;asset&gt;' }} ({{ selectedCurrency ? currentNetwork : '&lt;network&gt;' }})
              | TO THIS DEPOSIT ADDRESS. SENDING COINS OR TOKENS OTHER THAN {{ selectedTypeCurrency ? selectedTypeCurrency.name : '&lt;asset&gt;' }} ({{ selectedCurrency ? currentNetwork : '&lt;network&gt;' }}) TO THIS ADDRESS MAY RESULT IN THE LOSS OF YOUR DEPOSIT.
            li(v-if="confirmationsText") YOUR TRANSACTION WILL BE DEPOSITED TO YOUR DASHBOARD WALLET AFTER {{ confirmationsText }}.
            li TRANSACTION TIME CAN TAKE MORE TIME IF YOU SEND THE FUNDS FROM THE EXCHANGE WALLETS (E.G. BINANCE, COINBASE, ETC.)
          hr
          label.form__checkbox
            input(
              type="checkbox"
              v-model="form.accepted_rules"
              :true-value="1"
              :false-value="0"
            )
            .form__checkbox__area
            | I accept&nbsp;
            a(
              @click="showModal(tac.title, tac.text, true)"
            ) Terms & Conditions
          span.form__error(v-if="errors.global")
            | {{ getErrors(errors.global) }}
          .text-center
            button(v-bind:class="buttonsCls" :disabled="isDisableCreate")
              span Deposit
      .deposit__info
        .deposit__caption {{ depositInvoiceCurrencyText ? depositInvoiceCurrencyText : currencyText }} Address
        .deposit__grid(v-if="deposit.invoice")
          .deposit__grid__qr
            div(v-if="deposit.invoice.qrImage")
              h4 Scan QR Code or Copy {{ depositInvoiceCurrencyText }} address below
              img(
                :src="deposit.invoice.qrImage"
              )
            .deposit__qr(
              @click="copyTo('copyQr')"
              :class="{'copied': copyQrText}"
            )
              | {{ copyQrText ? copyQrText : deposit.invoice.address }}
            .deposit__amount(
              @click="copyTo('copyAmount')"
              :class="{'copied': copyAmountText}"
            )
              span(v-if="copyAmountText") {{ copyAmountText }}
              span(v-else) Send this amount of {{ depositInvoiceCurrencyText }}:
                | {{ deposit.invoice.amount }} {{ depositInvoiceCurrencyText }}
            .deposit__rules
              p All Transaction fees should be covered by a sender.
                br
                |  The amount above doesnt count transaction fee.
          form.deposit__grid__timer(@subimt="sendFormNew")
            h4 Make your transaction within:
            .deposit__timer
              div
                .deposit__timer__number {{ prepareTime(timer.minutes) }}
                .deposit__timer__caption minutes
              div
                .deposit__timer__number {{ prepareTime(timer.seconds) }}
                .deposit__timer__caption Seconds
            .deposit__grid__timer__text
              p Please make your transaction
                br
                |  within 30 minutes after the
                br
                |  generated {{ currencyText }} address.
              p If you send you transaction
                br
                |  after the time expires then
                br
                |  your funds won't be credited.
              p If there is less then 10 minutes
                br
                |  left on the timer, we recommend
                br
                |  you create a new payment invoice.
                br
                |  Create new deposit button will be
                br
                |  active 10 minutes before expiration
                br
                |  of this payment invoice.
            span.form__error(v-if="errorsNew['g-recaptcha-response']")
              | {{ getErrors(errorsNew['g-recaptcha-response']) }}
            recaptcha(
              v-model="formNew['g-recaptcha-response']"
              :check-failed="errorsNew['g-recaptcha-response'] && errorsNew['g-recaptcha-response'].length > 0"
              :ready="recaptcha"
            )
            span.form__error(v-if="errorsNew['global']")
              | {{ getErrors(errorsNew['global']) }}
            button(v-bind:class="buttonsCls" :disabled="isDisableNew || !recaptcha.ready" @click.prevent="sendFormNew")
              span Create new deposit invoice
        .deposit__area(v-else)
          p 1. CHOOSE THE ASSET YOU WANT TO USE TO DEPOSIT THE FUNDS.

          p 2. CHOOSE THE ASSET'S NETWORK (ERC-20, BEP-20, MATIC) IF APPLICABLE.

          p 3. PLEASE ENTER YOUR DEPOSITING AMOUNT IN USDT VALUE.

          p 4. ACCEPT TERMS & CONDITIONS.

          p 5. PRESS THE DEPOSIT BUTTON.

          p 6. THE PAYMENT SYSTEM WILL GENERATE {{ selectedTypeCurrency ? selectedTypeCurrency.name : '&lt;asset&gt;' }} ADDRESS FOR DEPOSITING YOUR FUNDS.

          p 7. PLEASE MAKE YOUR TRANSACTION WITHIN 30 MINUTES AFTER THE GENERATED {{ selectedTypeCurrency ? selectedTypeCurrency.name : '&lt;asset&gt;' }} ADDRESS.
            |<br/> IF YOU NEED MORE TIME, THEN DON'T USE THE OLD GENERATED {{ selectedTypeCurrency ? selectedTypeCurrency.name : '&lt;asset&gt;' }} ADDRESS, CREATE A NEW ONE BY PRESSING THE DEPOSIT BUTTON.

          p 8. ALL TRANSACTION FEES SHOULD BE COVERED BY A SENDER.<br/> THE AMOUNT ABOVE DOESN'T COUNT THE TRANSACTION FEE.
    .deposit__history
      h4 Deposit History
      .scroll__caption Scroll right &rarr;
      .scroll
        table.table.table-2
          tr
            th Date
            th Time (UTC)
            th Amount (USDT)
            th Amount (Coins)
            th Coin
            th Transaction ID
            th Status
          tbody(
            v-if="depositsTotal"
          )
            tr(
              v-for="item in history"
              :key="item.id"
            )
              td {{ dateFormat(item.transactionAt) }}
              td {{ timeFormat(item.transactionAt) }}
              td {{ item.amountUsdt }}
              td {{ item.amountCoins }}
              td {{ item.assetFullName }}
              td.txnid
                a(
                  :href="getExplorerLink(item)"
                  target="_blank"
                ) {{ item.txid }}
              td(:class="{'red': item.status == 'NOT CONFIRMED'}")
                | {{ item.statusReadable }}
          tbody(
            v-else
          )
            tr
              td
              td
              td
              td
              td
              td
              td
    .pages(v-if="pages.total")
      .pages__caption
        | Showing
        |  {{ startPage() }}-
        | {{ endPage() }}
        |  of {{ pages.total }}
      .pages__buttons
        .pages__button.prev(
          :class="{'inactive': pages.page == 1}"
          @click="pages.page > 1 ? pages.page-- : null"
        )
        .pages__button.next(
          :class="{'inactive': endPage() == pages.total}"
          @click="endPage() != pages.total? pages.page++ : null"
        )
    input(
      v-if="deposit.invoice"
      type="hidden"
      id="copyQr"
      :value="deposit.invoice.address"
      style="opacity: 0"
    )
    input(
      v-if="deposit.invoice"
      type="hidden"
      id="copyAmount"
      :value="deposit.invoice.amount"
      style="opacity: 0"
    )
</template>

<script>
import recaptcha from './plugins/recaptcha';
import pluralize from 'pluralize';
import {Trackers, NetworkNames} from '../core/helpers/crypto';

export default {
  data() {
    return {
      pageTitle: 'Deposit',
      breadcrumbs: [
        {name: 'Home', route: 'Index'},
        {name: 'Deposit'},
      ],
      timer: {
        int: null,
        diff: 0,
        days: 0,
        hours: 0,
        minutes: 0,
        seconds: 0,
      },
      form: {
        amount: '',
        accepted_rules: 0,
        currency: null,
      },
      currencyName: null,
      toggleNetwork: false,
      formNew: {
        'g-recaptcha-response': '',
      },
      errors: {},
      errorsNew: {},
      copyQrText: null,
      pages: {
        page: 1,
        limit: 10,
        total: 0,
      },
      copyAmountText: null,
      recaptcha: {
        ready: false,
      },
      sending: false,
      updatingDeposits: null,
    };
  },
  computed: {
    buttonsCls() {
      const cls = {};

      if (this.styles && this.styles.enable_custom_buttons_css) {
        cls[this.styles.buttons_cls_name] = true;
      } else {
        cls['button'] = true;
      }

      return cls;
    },
    styles() {
      return this.$store.state.styles;
    },
    formAmountMin() {
      return this.selectedCurrency ? this.selectedCurrency.depositMin : null;
    },
    currencyText() {
      if (!this.selectedCurrency || !this.selectedTypeCurrency) {
        return 'Coins';
      }

      return this.selectedCurrency ? this.selectedCurrency.fullName : this.selectedTypeCurrency.name;
    },
    depositInvoiceCurrencyText() {
      return this.depositInvoiceCurrency ? this.depositInvoiceCurrency.fullName : null;
    },
    confirmationsText() {
      return this.selectedCurrency ?
        (this.selectedCurrency.confirmationsMin + ' NETWORK ' + pluralize('CONFIRMATION', this.selectedCurrency.confirmationsMin)) : null;
    },
    currencies() {
      if (!this.deposit.currencies) {
        return [];
      }

      const list = [];
      const map = {};

      this.deposit.currencies.forEach((currency) => {
        if (!map[currency.name]) {
          list.push({
            name: currency.name,
            image: currency.image,
          });

          map[currency.name] = {};
        }
      });

      return list;
    },
    networks() {
      if (!this.selectedTypeCurrency || !this.deposit.currencies) {
        return;
      }

      const networks = [];

      this.deposit.currencies.forEach((currency) => {
        if (currency.name === this.selectedTypeCurrency.name) {
          networks.push({
            name: currency.token.network,
            fullName: (NetworkNames[currency.token.network] ? NetworkNames[currency.token.network] : currency.token.network),
            fullNameToken: currency.fullName,
            currencyId: currency.id,
          });
        }
      });

      return networks;
    },
    currentNetwork() {
      return this.selectedCurrency ?
        (NetworkNames[this.selectedCurrency.token.network] ? NetworkNames[this.selectedCurrency.token.network] : this.selectedCurrency.token.network) :
        'Select network';
    },
    selectedCurrency() {
      return this.deposit.currencies && this.form.currency ?
        this.deposit.currencies.find((currency) => currency.id === this.form.currency) : null;
    },
    selectedTypeCurrency() {
      return this.currencies.find((currency) => currency.name === this.currencyName);
    },
    depositInvoiceCurrency() {
      return this.deposit.invoice ?
        this.deposit.currencies.find((currency) => currency.id === this.deposit.invoice.currencyId) : null;
    },
    deposit() {
      return this.$store.state.deposit;
    },
    deposits() {
      return this.$store.state.deposits;
    },
    depositsTotal() {
      return this.deposits !== null &&
          Object.keys(this.deposits).length;
    },
    history() {
      return this.deposits.slice(
          (this.pages.page - 1) * this.pages.limit,
          this.endPage()
      );
    },
    isDisableCreate() {
      return !this.deposit.activeDeposits || !this.form.accepted_rules || !this.form.currency;
    },
    isDisableNew() {
      return !this.deposit.activeNewDeposit ||
        this.formNew['g-recaptcha-response'] == '';
    },
  },
  watch: {
    depositsTotal(value) {
      this.pages.total = value;
    },
    'deposit.invoice'(value) {
      if (value) {
        this.beginTimer();
      }
    },
    toggleNetwork(flag) {
      const listener = (e) => {
        const specified = document
            .getElementsByClassName('form__country')[0];
        if (specified && !specified.contains(e.target)) {
          this.toggleNetwork = false;
        }
      };
      if (flag) {
        window.addEventListener('click', listener);
      } else {
        window.removeEventListener('click', listener);
      }
    },
    currencyName() {
      this.form.currency = null;
    },
  },
  components: {
    recaptcha,
  },
  async created() {
    this.enableAutoUpdate();
    this.$store.commit('setMask', 1);

    await this.getData();
    this.enableMonitoring();

    if (this.deposit.currencies.length > 0) {
      this.currencyName = this.deposit.currencies[0].name;
    }

    if (this.depositsTotal) {
      this.pages.total = this.depositsTotal;
    }
  },
  beforeDestroy() {
    clearInterval(this.updatingDeposits);
  },
  methods: {
    dateFormat(date) {
      const dateObj = (new Date(date));

      return String(dateObj.getDate()).padStart(2, '0') + '/' + String((dateObj.getMonth() + 1)).padStart(2, '0') + '/' + dateObj.getFullYear();
    },
    timeFormat(date) {
      const dateObj = (new Date(date));

      return String(dateObj.getHours()).padStart(2, '0') + ':' + String(dateObj.getMinutes()).padStart(2, '0') + ':' + String(dateObj.getSeconds()).padStart(2, '0');
    },
    enableMonitoring() {
      this.updatingDeposits = setInterval(async () => {
        await this.getData();
      }, 10000);
    },
    async getData() {
      await this.$store.dispatch('fetchDepositInfo');
      await this.$store.dispatch('fetchDeposits');
    },
    getExplorerLink(transaction) {
      if (transaction.currency.network === 'bitcoin') {
        return 'https://www.blockchain.com/btc/tx/' + transaction.txid;
      }

      return Trackers[transaction.currency.network] + '/tx/' + transaction.txid;
    },
    getErrors(errors) {
      return errors.join(', ');
    },
    beginTimer() {
      if (this.timer.int) {
        clearInterval(this.timer.int);
      }

      const interval = 30;
      const timer = this.deposit.invoice;
      const currentTime = new Date(timer.currentTimeUtc.replace(' ', 'T'));
      const invoiceCreated = new Date(timer.invoiceCreated.replace(' ', 'T'));
      this.timer.diff = (invoiceCreated - currentTime) + 1000 * 60 * interval;
      this.timer.int = setInterval(() => {
        this.timer.diff -= 1000;
        if (this.timer.diff < 0) {
          this.timer.minutes = 0;
          this.timer.seconds = 0;
          clearInterval(this.timer.int);
        }
        this.setTimer();
      }, 1000);
    },
    async sendForm() {
      event.preventDefault();

      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.errors = {};
        const result = await this.$store.dispatch('depositMake', this.form);

        if (result !== true ) {
          this.errors = result.errors;
        } else {
          await this.$store.dispatch('fetchDepositInfo');

          this.form = {
            amount: '',
            accepted_rules: 0,
            currency: this.deposit.currencies[0].id,
          };
        }
      } finally {
        this.sending = false;
      }
    },
    async sendFormNew() {
      event.preventDefault();

      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.errorsNew = {};
        const result = await this.$store.dispatch('depositMakeNew', this.form);

        if (result !== true ) {
          this.errorsNew = result.errors;
        } else {
          await this.$store.dispatch('fetchDepositInfo');
        }
      } finally {
        this.sending = false;
      }
    },
    copyTo(id) {
      const textToCopy = document.querySelector('#' + id);
      textToCopy.setAttribute('type', 'text');
      textToCopy.select();
      try {
        const successfull = document.execCommand('copy');
        this[id + 'Text'] = successfull ?
            'Data was copied successfully!' :
            'Data wasn`t copied!';
      } catch (error) {
        this.$store.commit('setModalContent', {
          title: 'Clipboard',
          content: 'Data wasn`t copied.',
          small: true,
        });
        console.log(error);
        this.$store.commit('showModal', true);
      }
      setTimeout(() => {
        this[id + 'Text'] = null;
      }, 2000);
      textToCopy.setAttribute('type', 'hidden');
      window.getSelection().removeAllRanges();
    },
  },
};
</script>

<style lang="scss">
.deposit {
  padding-top: 1.8em;
  &__container {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 -.7em;
    padding-bottom: .2em;
    @media (max-width: 767px) {
      display: block;
    }
    .form__checkbox {
      font-size: .85em;
    }
    .form__error {
      font-size: .85em;
    }
  }
  &__assets {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
  }
  &__make,
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__make {
    width: 30%;
    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: 2em;
    }
    .form__input {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: -.2em -.55em 1.8em 0;
      font-size: .7em;
      color: #64c6ce;
      input {
        width: 12.5em !important;
        padding: .3em .7em;
        text-align: right;
      }
      span {
        letter-spacing: .065em;
        text-transform: uppercase;
      }
    }
    li {
      position: relative;
      margin: 0 0 1em .8em;
      font-size: .65em;
      line-height: 125%;
      text-transform: uppercase;
      @media (max-width: 767px) {
        font-size: 1em;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: '';
        width: .2em;
        height: .2em;
        position: absolute;
        top: .5em;
        left: -.8em;
        background: #fff;
        border-radius: 50%;
      }
    }
    .button {
      min-width: 15em;
    }
  }
  &__info {
    width: 67%;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &__caption {
    padding: .65em 1em .85em 1em;
    border: .0625em solid #2a2939;
    border-bottom: none;
    text-transform: uppercase;
    @media (max-width: 767px) {
      padding: .5em 1em;
      font-size: 1.1em;
    }
  }
  &__area {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5em 1em;
    border: .0625em solid #2a2939;
    @media (max-width: 767px) {
      padding: 1em;
    }
    p {
      margin-bottom: 1.2em;
      @media (max-width: 767px) {
        font-size: 1.1em;
        line-height: 120%;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    hr {
      margin: 1em -1em;
      background: #2a2939 !important;
    }
  }
  &__info &__area {
    line-height: 110%;
  }
  &__grid {
    flex: auto;
    display: flex;
    border: .0625em solid #2a2939;
    @media (max-width: 767px) {
      display: block;
    }
    &__qr,
    &__timer {
      padding: 1.65em 1em;
    }
    &__qr {
      width: 53%;
      @media (max-width: 767px) {
        width: 100%;
        font-size: 1.4em;
        box-sizing: border-box;
      }
      img {
        width: 13em !important;
        height: auto !important;
        margin-bottom: 1em;
      }
    }
    &__timer {
      width: 47%;
      border-left: .0625em solid #2a2939;
      box-sizing: border-box;
      @media (max-width: 767px) {
        width: 100%;
        border-left: none;
        .button {
          min-width: 15em;
          margin-top: 1em;
        }
      }
      &__text {
        font-size: .7em;
        line-height: 125%;
        @media (max-width: 767px) {
          font-size: 1.1em;
        }
        p {
          margin-bottom: 1em;
        }
      }
      .form__recaptcha {
        width: 15em;
        margin: 0 auto .5em auto;
        @media (max-width: 767px) {
          width: 20em;
        }
      }
    }
  }
  &__amount,
  &__qr {
    font-size: .8em;
    cursor: pointer;
    &:after {
      content: '';
      display: inline-block;
      width: 1.1em;
      height: 1.1em;
      margin: -.2em 0 0 1em;
      border: .0625em solid #8c8c8c;
      background: url(../assets/images/deposit/copy.png) top;
      background-size: 100% 200%;
      vertical-align: middle;
    }
    &.copied:after {
      display: none;
    }
  }
  &__qr {
    margin-bottom: 3em;
    text-transform: none;
  }
  &__amount {
    margin-bottom: 1.3em;
    letter-spacing: .05em;
    color: #64c6ce;
    text-transform: uppercase;
    &:after {
      background-position: bottom;
      border-color: #2d3c41;
    }
  }
  &__rules {
    font-size: .7em;
    line-height: 140%;
    text-transform: uppercase;
  }
  &__asset {
    flex: 1 1 5.9em;
    width: 5.9em;
    max-width: 5.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 .3em .3em 0;
    font-size: .9em;
    opacity: 0.5;
    &.active {
      opacity: initial;
    }
    &s {
      display: flex;
      justify-content: start;
      &__caption {
        padding: 1em 0 2.5em 0;
        font-size: .75em;
        text-transform: uppercase;
        @media (max-width: 767px) {
          font-size: 1em;
        }
      }
    }
    > span {
      font-size: .95em;
      color: #5d858d;
      transition: color .3s;
    }
    &:hover {
      > div {

      }
      > span {
        color: #ecfabd;
      }
    }
    input:checked + div {
      &:before {
        opacity: 0;
      }
      span {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }
    input:checked + div + span {
      color: #64c6ce;
    }
    &__icon {
      width: 2.5em;
      height: 2.5em;
      position: relative;
      margin-bottom: .1em;
      &:before,
      &:after {
        content: '';
      }
      &:after,
      &:before,
      span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        //background-image: url(../assets/images/deposit/assets.png);
        background-size: 15.2em 11.4em;
        transition: opacity .3s;
      }
      &:after,
      span {
        opacity: 0;
      }
    }
    .currency_not_active  {
      &:before, span, &:after  {
        opacity: 1 !important;
      }
    }
    .currency_not_active ~ span {
      color: #7B7B7B !important;
      cursor: default !important;
    }
    .currency_not_active + div {
      filter: grayscale(1);
      opacity: 0.3;
      cursor: default !important;
    }
  }
  &__timer {
    display: flex;
    justify-content: center;
    font-size: .65em;
    padding: .35em 0 .5em 0;
    @media (max-width: 767px) {
      font-size: 1.1em;
    }
    > div {
      position: relative;
      margin: 0 1.5em;
      text-align: center;
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    &__number {
      width: 1.35em;
      height: 1.35em;
      margin-bottom: .2em;
      font-size: 3.8em;
      line-height: 1.35em;
      background: #21202e;
      color: #fff;
      &.days {
        color: #56baca;
      }
    }
    &__caption {
      font-size: 1em;
      line-height: 1;
      letter-spacing: .03em;
      color: #5d858d;
      text-transform: uppercase;
    }
  }
  &__history {
    margin: 1.3em 0 0 -.75em;
    padding: .8em 1em 1em .55em;
    box-sizing: border-box;
    border: .0625em solid #2d2c3c;
    h4 {
      margin-bottom: 1.3em;
      text-align: left;
    }
    .table-2 {
      font-size: .7em;
      @media (max-width: 767px) {
        font-size: 1em;
      }
      th, td {
        padding: 1.08em .5em;
      }
    }
  }
}

.form__country__dropdown {
  height: initial !important;
}
</style>
