<template lang="pug">
  Layout
    form(@submit="saveForm")
      .profile__block
        .profile__block__caption Email notifications
        .form.from-inline
          .form__field.form__field-m2
            .form__label.form__label-w1 Receive notifications
            .form__checker
              label.form__checker
                input(
                  type="checkbox"
                  v-model="recieve"
                  :true-value="1"
                  :false-value="0"
                )
                .form__checker__yes On
                .form__checker__area
                .form__checker__no Off
          .form__field.form__field-m2
            .form__label.form__label-w1 Deposit Notifications
            .form__radio-group
              label.form__radio
                input(
                  type="radio"
                  v-model="form.enable_deposit_notifications"
                  value="1"
                )
                .form__radio__area
                | Yes
              label.form__radio
                input(
                  type="radio"
                  v-model="form.enable_deposit_notifications"
                  value="0"
                )
                .form__radio__area
                | No
          .form__field.form__field-m2
            .form__label.form__label-w1 Withdrawal Notifications
            .form__radio-group
              label.form__radio
                input(
                  type="radio"
                  v-model="form.enable_withdrawal_notifications"
                  value="1"
                )
                .form__radio__area
                | Yes
              label.form__radio
                input(
                  type="radio"
                  v-model="form.enable_withdrawal_notifications"
                  value="0"
                )
                .form__radio__area
                | No
          .form__field.form__field-m2
            .form__label.form__label-w1 Purchase Notifications
            .form__radio-group
              label.form__radio
                input(
                  type="radio"
                  v-model="form.enable_purchase_notifications"
                  value="1"
                )
                .form__radio__area
                | Yes
              label.form__radio
                input(
                  type="radio"
                  v-model="form.enable_purchase_notifications"
                  value="0"
                )
                .form__radio__area
                | No
          .form__field
            .form__label.form__label-w1 Password change Notifications
            .form__radio-group
              label.form__radio
                input(
                  type="radio"
                  v-model="form.enable_password_change_notifications"
                  value="1"
                )
                .form__radio__area
                | Yes
              label.form__radio
                input(
                  type="radio"
                  v-model="form.enable_password_change_notifications"
                  value="0"
                )
                .form__radio__area
                | No
      .profile__block.profile__button
        .form__success
          span(v-if="success") Changes were successfully saved
        button(v-bind:class="buttonsCls")
          span Save changes
</template>

<script>
import Layout from './layouts/Profile.vue';

export default {
  data() {
    return {
      pageTitle: 'Profile',
      breadcrumbs: [
        {name: 'Home', route: 'Index'},
        {name: 'Profile'},
        {name: 'Email notifications'},
      ],
      form: {},
      errors: {},
      success: false,
      recieve: 1,
      sending: false,
    };
  },
  components: {
    Layout,
  },
  computed: {
    buttonsCls() {
      const cls = {};

      if (this.styles && this.styles.enable_custom_buttons_css) {
        cls[this.styles.buttons_cls_name] = true;
      } else {
        cls['button'] = true;
      }

      return cls;
    },
    styles() {
      return this.$store.state.styles;
    },
    profile() {
      return this.$store.state.profile;
    },
  },
  watch: {
    profile(data) {
      if (data[0].notifications) {
        this.form = data[0].notifications;
      }
    },
    recieve(value) {
      this.form = {
        enable_deposit_notifications: value,
        enable_withdrawal_notifications: value,
        enable_purchase_notifications: value,
        enable_password_change_notifications: value,
      };
    },
  },
  methods: {
    async saveForm() {
      event.preventDefault();

      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.errors = {};
        const result = await this.$store
            .dispatch('profileNotificationsSave', this.form);
        if (result !== true ) {
          this.errors = result.errors;
        } else {
          this.success = true;
          setTimeout(() => {
            this.success = false;
          }, 5000);
        }
      } finally {
        this.sending = false;
      }
    },
  },
};
</script>

<style lang="scss">
</style>
