<template lang="pug">
  .auth(:class="{'muted': modal}")
    .auth__area
      form.form(@submit="sendForm")
        .form__header
          .form__caption Forgot Password?
          router-link.form__back(:to="{name: 'Login'}") Back to&nbsp;
            span login
          router-link.form__back__plus(:to="{name: 'Register'}") Registration
        router-link.auth__image(:to="{name: 'Index'}")
        .form__text If you have forgotten your password please enter your
          |  account’s E-Mail address and 2FA code (if you have activated
          |  2FA on your account before). After pressing the SUBMIT button,
          |  you will receive an email with instructions on HOW TO RESET
          |  YOUR PASSWORD. Next time don’t lose your password.
        .auth__form
          .form__container
            #inputFlame
              video(
                autoplay
                loop
                playsinline
                muted
              )
            label.form__label E-mail
              span(v-if="errors.email") ({{ getErrors(errors.email) }})
            .form__input.form__input-corner
              input(
                placeholder="Enter your E-Mail address..."
                v-model="form.email"
              )
              input.form__input__layer(
                type="email"
                v-model="form.email"
                @focus="activeFlame"
                @blur="deactiveFlame"
              )
            label.form__label.form__label-small
              | 2FA (enter 2FA code only if you activated it before)
              span(v-if="errors['2fa']") ({{ getErrors(errors['2fa']) }})
            .form__input.form__input-corner
              input(
                v-model="form['2fa']"
              )
              input.form__input__layer(
                v-model="form['2fa']"
                @focus="activeFlame"
                @blur="deactiveFlame"
                v-mask="'# # # # # #'"
                placeholder="Enter 2FA code...."
              )
            span.form__error.form__error-recaptcha
              span(v-if="errors['g-recaptcha-response']")
                | {{ getErrors(errors['g-recaptcha-response']) }}
              span(v-else) &nbsp;
            recaptcha(
              v-model="form['g-recaptcha-response']"
              :check-failed="errors['g-recaptcha-response'] && errors['g-recaptcha-response'].length > 0"
              :ready="recaptcha"
            )
            button.button.button-full(
              :disabled="loading || !recaptcha.ready"
            )
              span Submit
              video#buttonAnimation(
                autoplay
                loop
                playsinline
                muted
              )
</template>

<script>
import recaptcha from './plugins/recaptcha';
import seeThru from 'seethru';
import IdentificationsService from '../services/IdentificationsService';

export default {
  mixins: [IdentificationsService],
  data() {
    return {
      form: {
        'email': '',
        '2fa': '',
        'g-recaptcha-response': '',
      },
      errors: {},
      animation: null,
      flame: null,
      focused: null,
      loading: false,
      recaptcha: {
        ready: false,
      },
      sending: false,
    };
  },
  components: {
    recaptcha,
  },
  async mounted() {
    await this.$store.dispatch('logout', true);
    this.loadFlame(seeThru);
  },
  methods: {
    getErrors(errors) {
      return errors.join(', ');
    },
    async sendForm() {
      event.preventDefault();

      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.loading = true;
        this.errors = {};

        if (this.form.email && this.form.email.length > 0) {
          await this.sendIdentificationInfo(this.form.email);
        }

        const result = await this.$store.dispatch('forgot', this.form);

        if (result !== true ) {
          this.errors = result.errors;
          if (this.errors.limit) {
            const message = '<div class="modal__caption">You are requesting a ' +
          'password reset too often</div>' +
          '<p>Password reset request can be sent only once per 30 minutes.' +
          ' Please try again later. <br>If you didn`t receive an email from' +
          ' your previous password reset request, then please check your ' +
          'spambox or contact our support team using the contact form on ' +
          'the main page or directly via Telegram.</p>';
            this.$store.commit('setModalContent', {
              title: 'Password reset request',
              content: message,
              homepage: true,
            });
            this.$store.commit('showModal', true);
          }
        } else {
          this.form = {
            'email': '',
            '2fa': '',
            'g-recaptcha-response': '',
          };
          const message = '<div class="modal__caption">Your password reset ' +
        ' request was successfully sent</div>' +
        '<p>We`ve sent you an email with instructions on HOW TO RESET YOUR ' +
        'PASSWORD. Please check your email and follow the instructions.<br>' +
        'If you didn`at receive the email, please check your spambox or ' +
        'contact our support team using the contact form on the homepage or' +
        ' directly via Telegram. <br>Don`t try to submit the password reset ' +
        'request often. It can be sent only once per 30 minutes.</p>';
          this.$store.commit('setModalContent', {
            title: 'Password reset request',
            content: message,
            homepage: true,
          });
          this.$store.commit('showModal', true);
        }
        this.loading = false;
      } finally {
        this.sending = false;
      }
    },
  },
};
</script>

<style lang="scss">
</style>
