<template lang="pug">
  .index(v-if="isLoaded", :class="{'muted': modal}")
    .section-1
      Block1
      Block2
    Reports
    Media
    Subscribe
    .section-2
      Block3
      Block4
    Block5
    Contacts
    Footer
    .index__menu(@click="toggleMenu")
      span.index__menu__close &times;
      div(@click="scrollTo('.block1')")
        | {{ getString('landing.menu.home') }}
      div(@click="scrollTo('.block2')")
        | {{ getString('landing.menu.ito') }}
      div(@click="scrollTo('.block3')")
        | {{ getString('landing.menu.david_card') }}
      div(@click="scrollTo('.block4')")
        | {{ getString('landing.menu.our_bot') }}
      a(
        href="https://www.youtube.com/channel/UCmlbF0cq4Mul4EyDB5Na9JA"
        target="_blank"
      )
        | {{ getString('landing.menu.road_map') }}
      div(@click="scrollTo('.block5')")
        | {{ getString('landing.menu.news') }}
      div(@click="scrollTo('.contacts')")
        | {{ getString('landing.menu.contacts') }}
      router-link.nav__auth__register(:to="{name: 'Register'}")
        | {{ getString('landing.menu.register_now') }}
      router-link(:to="{name: 'Dashboard'}")
        | Dashboard
</template>

<script>
import Block1 from './Index/Block-1';
import Block2 from './Index/Block-2';
import Block3 from './Index/Block-3';
import Block4 from './Index/Block-4';
import Block5 from './Index/Block-5';

import Subscribe from './Index/Subscribe';
import Contacts from './Index/Contacts';
import Reports from './Index/Reports';
import Media from './Index/Media';
import Footer from './global/Footer';

export default {
  data() {
    return {
      action: 'fetchLandingContents',
    };
  },
  computed: {
    isLoaded() {
      return Object.keys(this.$store.state.landing).length;
    },
  },
  components: {
    Block1, Block2, Block3, Block4, Block5,
    Subscribe, Contacts, Reports, Media, Footer,
  },
  methods: {
    scrollTo(block) {
      let top = 0;
      if (block == '.block3') {
        top = document.querySelector(block).parentNode.offsetTop;
      } else if (block == '.block4') {
        top = document.querySelector(block).offsetTop +
            document.querySelector(block).parentNode.offsetTop;
      } else {
        top = document.querySelector(block).offsetTop;
      }
      window.scroll({
        top: top,
        behavior: 'smooth',
      });
    },
    toggleMenu() {
      document.body.classList.remove('open-menu');
    },
  },
};
</script>

<style lang="scss">
.index {
  @media(min-width: 1920px) {
    width: 95%;
    margin: 0 auto;
  }
  &__menu {
    @media (min-width: 768px) {
      display: none;
    }
    @media (max-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      font-family: 'staatliches';
      font-size: 3em;
      text-transform: uppercase;
      transition: opacity .3s;
      opacity: 0;
      z-index: -1;
      &__close {
        position: absolute;
        top: -.1em;
        left: .25em;
        font-size: 1.6em;
        line-height: 1;
        cursor: pointer;
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #000;
        opacity: .9;
      }
      .open-menu & {
        opacity: 1;
        z-index: 1000;
      }
      a,
      div {
        position: relative;
        margin: .3em 0;
        color: #fff;
        line-height: 100%;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  @media (max-width: 767px) {
    position: relative;
  }
}
.section-1 {
  background-image: url(../assets/images/index/section1-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @media (max-width: 767px) {
    background: none;
  }
}
.section-2 {
  position: relative;
  margin-top: -4em;
  background-image: url(../assets/images/index/section2-back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @media (max-width: 767px) {
    margin-top: 0;
    background: none;
  }
}
</style>
