<template lang="pug">
  div
    .investments
      .investments__info__tids_allowable(v-if="user.tids_allowable") HFT BOT PERIOD HAS BEEN EXPANDED UP TO 1 YEAR AFTER ICO ENDING
      .investments__info__head
        h4(v-if="toggle") ONLY TRADING CARDS GIVE ACCESS TO TRADING BOT
        span.toggle(v-if="toggle" @click="toggle = !toggle"
        :class="{'hide': !toggle}"
      ) Hide
        span.toggle(v-else @click="toggle = !toggle"
        :class="{'hide': !toggle}"
      ) Show
      transition(name="slide-up")
        .investments__info(v-if="toggle")
          .investments__info__wallet
            .investments__block(v-if="isBalancesLoaded")
              .investments__info__group
                h4 USDT Total Balance
                h4 {{ prepareNumber(balances.balance_usdt, '') }} USDT
              table.table.table-1
                tr
                  td USDT Deposited
                  td {{ prepareNumber(balances.deposited_usdt, '') }} USDT
                tr
                  td USDT Dividends
                  td {{ prepareNumber(balances.dividents_usdt, '') }} USDT
                tr
                  td Unrealised PnL (USDT)
                  td(:class="makeClass(balances.unrealized_pnl)")
                    | {{ prepareNum(balances.unrealized_pnl, '') }} USDT
            .investments__block(v-if="isBalancesLoaded")
              .investments__info__group
                h4 IPRO Total Balance
                h4 {{ prepareNumber(balances.balance_total_abc, '') }} IPRO
              table.table.table-1
                tr
                  td IPRO Balance in trading
                  td.muted {{ prepareNumber(balances.traded_abc_balance, '') }}
                    |  IPRO
                tr
                  td Frozen IPRO Balance
                  td.muted {{ prepareNumber(balances.frozen_abc_balance, '') }}
                    |  IPRO
                tr
                  td Available IPRO Balance
                  td {{ prepareNumber(balances.balance_abc, '') }} IPRO
            .investments__buttons
              div(
                v-bind:class="buttonsCls"
                @click="investmentsModal = true"
              )
                span Open new TID
              router-link(v-bind:class="buttonsCls" :to="{name: 'Deposit'}")
                span Make A Deposit
              router-link(v-bind:class="buttonsCls" :to="{name: 'DashboardCard'}")
                span Buy a Trading Card
          .investments__info__chart
            .investments__block
              .investments__info__group
                h4 Profit Graphic
              .investments__info__chart__container
                investments-chart(
                  :chart-data="chartData"
                  :style="{height: '100%'}"
                  ref="investmentsChartRef"
                )
              .investments__info__chart__select_period
                .investments__info__chart__select_period__container
                  a(
                    v-for="(period, key) in chartCustomSettings().periods"
                    v-bind:class="{active: key === chartSelectedPeriod}"
                    v-on:click="chartSelectedPeriod = key"
                  ) {{ period }}
      .investments__details
        h4 Investments details
        label.form__checkbox
            input(
              type="checkbox"
              v-model="hidePersonal"
            )
            .form__checkbox__area
            | Hide Personal Data
        div.all_tids
          a(
            v-if="tid"
            @click="tid = 0"
          ) All TIDs
        .scroll__caption Scroll right &rarr;
        .scroll
          table.table.table-2
            tr
              th Date
              th Time (UTC)
              th Profit (USDT)
              th TID No.
              th TID Amount (IPRO)
              th Trading Interest Rate (TiR)
              th TID Open Date
              th Deactivation in
              th TID Option
            tbody(
              v-if="detailsTotal"
            )
              tr(
                v-for="detail in details"
                :key="detail.id"
                :class="{'yellow': detail.type !=='DEAL' && detail.type!=='CLOSED'}"
              )
                td {{ detail.date }}
                td {{ detail.time }}
                td(:class="makeClass(detail.profit, detail.type)")
                  span(v-if="detail.type !== 'DEAL' && detail.type!== 'CLOSED'") ---
                  span(v-else) {{ prepareNum(detail.profit) }} USDT
                td
                  a(@click="tid = detail.tid_id; option = detail.option")
                    | {{ preparePersonalData(detail.number, hidePersonal, true) }}
                td {{ prepareNumber(detail.amount) }} IPRO
                td(:class="makeClass(detail.interest_rate, detail.type)")
                  span(v-if="detail.type !== 'DEAL' && detail.type!== 'CLOSED'") ---
                  span(v-else) {{ prepareNum(detail.interest_rate) }} %
                td {{ detail.open_date }}
                td {{ detail.deactivation_in }} Days
                td(
                  :class="{'yellow': detail.type=='CLOSED'}"
                ) {{ detail.option }}
                  br(v-if="detail.type !== 'DEAL'")
                  span(v-if="detail.type !== 'DEAL'")
                    |{{ detail.type }}
            tbody(
              v-else
            )
              tr
                td
                td
                td
                td
                td
                td
                td
                td
                td
      .pages(v-if="pages.total")
        .pages__caption
          | Showing
          |  {{ startPage() }}-
          | {{ endPage() }}
          |  of {{ pages.total }}
        .pages__buttons
          .pages__button.prev(
            :class="{'inactive': pages.page == 1}"
            @click="pages.page > 1 ? pages.page-- : null"
          )
          .pages__button.next(
            :class="{'inactive': endPage() == pages.total}"
            @click="endPage() != pages.total? pages.page++ : null"
          )
    transition-group(name="fade")
      .investments__modal__back(
        v-if="investmentsModal"
        @click="investmentsModal = false"
        key="investments__modal__back")
      .investments__modal(
        v-if="investmentsModal"
        key="investments__modal"
      )
        .investments__modal__close(@click="investmentsModal = false") Close
        .investments__modal__area
          .investments__modal__caption Select your TID Option
            img(src="@/assets/images/investments/tid-icon.png", alt="")
          .investments__list
            .form-investments(
              v-for="(option, index) in options"
              :key="option.id"
            )
              .form__error {{ getErrors(forms[index].errors) }}
              .investments__item
                .investments__item__caption {{ option.title[lang] }}
                .investments__item__text
                  p {{ option.description[lang] }}
                .investments__item__title Indicate TID Period:
                .form__input.range
                  input(
                    type="range"
                    v-model="forms[index].period"
                    :min="option.period_min"
                    :max="option.period_max"
                    step="1"
                  )
                  input(
                    v-model="forms[index].period"
                    placeholder="0"
                    @keypress="isNumber()"
                  )
                  span days
                .form__description *Min.: {{ option.period_min }} days / Max.:
                  |  {{ option.period_max }} days
                .investments__item__title Enter TID Amount:
                .form__input
                  input(
                    v-model="forms[index].amount"
                    placeholder="0"
                    @keypress="isNumber()"
                  )
                  span IPRO
                .form__description *Min.: {{ option.amount_min }} IPRO / Max.:
                  |  {{ option.amount_max }} IPRO
                div.form__checkbox
                  input(
                    type="checkbox"
                    v-model="forms[index].confirm"
                    :true-value="1"
                    :false-value="0"
                  )
                  .form__checkbox__area(@click="forms[index].confirm === 1 ? (forms[index].confirm=0) : (forms[index].confirm=1)")
                  | I confirm to open TID
                div.form__checkbox
                  input(
                    type="checkbox"
                    v-model="forms[index].terms"
                    :true-value="1"
                    :false-value="0"
                  )
                  .form__checkbox__area(@click="forms[index].terms === 1 ? (forms[index].terms=0) : (forms[index].terms=1)")
                  | I accept&nbsp;
                  a(
                    @click="showModal(tac.title, tac.text, true)"
                  ) Terms & Conditions
                .text-center
                  button.button-big(
                    v-bind:class="buttonsCls"
                    :disabled="!forms[index].confirm || !forms[index].terms"
                    @click="openNewTid(index)"
                  )
                    span Open new TID
</template>
<script>
import investmentsChart from './plugins/investmentsChart';
export default {
  data() {
    return {
      pageTitle: 'Investments',
      breadcrumbs: [
        {name: 'Home', route: 'Index'},
        {name: 'Investments'},
      ],
      toggle: true,
      chartData: {
        labels: [],
        datasets: [],
      },
      chartSelectedPeriod: '30',
      investmentsModal: false,
      pages: {
        page: 1,
        limit: 20,
        total: 0,
      },
      errors: [],
      forms: [],
      tid: 0,
      option: '1',
      hidePersonal: true,
      sending: false,
    };
  },
  props: ['openTid'],
  components: {
    investmentsChart,
  },
  computed: {
    buttonsCls() {
      const cls = {};

      if (this.styles && this.styles.enable_custom_buttons_css) {
        cls[this.styles.buttons_cls_name] = true;
      } else {
        cls['button'] = true;
      }

      return cls;
    },
    styles() {
      return this.$store.state.styles;
    },
    balances() {
      return this.$store.state.balances;
    },
    isBalancesLoaded() {
      return Object.keys(this.balances).length;
    },
    investments() {
      let data = this.$store.state.investments;
      if (this.tid) {
        data = data.filter((item) => item.tid_id === this.tid);
      }
      return data;
    },
    options() {
      return this.$store.state.options;
    },
    investmentsChart() {
      return this.$store.state.investmentsChart;
    },
    detailsTotal() {
      return this.investments !== null && Object.keys(this.investments).length;
    },
    isOptionsLoaded() {
      return Object.keys(this.options).length;
    },
    details() {
      return this.investments.slice(
          (this.pages.page - 1) * this.pages.limit,
          this.endPage()
      );
    },
  },
  watch: {
    options() {
      this.prepareForms();
    },
    investmentsChart() {
      this.updateChartOnLoad();
    },
    detailsTotal(value) {
      this.pages.total = value;
    },
    tid() {
      this.pages.page = 1;

      this.loadChartData();

      if (this.tid !== 0) {
        const element = document.querySelector('.investments');

        if (element) {
          window.scroll({
            top: element.offsetTop,
            behavior: 'smooth',
          });
        }
      }
    },
    chartSelectedPeriod() {
      this.loadChartData();
    },
  },
  async created() {
    this.enableAutoUpdate();
    this.$store.commit('setMask', 1 | 16 | 32 | 64 | 8192);

    this.checkContent('investments', ['fetchInvestmentsBalances']);
    this.loadChartData();
    this.checkContent('investments', [
      'fetchInvestments',
      'fetchOptions',
    ]);

    if (this.options.length) {
      this.prepareForms();
    }

    if (this.detailsTotal) {
      this.pages.total = this.detailsTotal;
    }
  },
  mounted() {
    if (this.openTid) {
      this.investmentsModal = true;
    }
  },
  methods: {
    loadChartData() {
      const parameters = {'period': this.chartSelectedPeriod};

      if (this.tid !== 0) {
        parameters['trade'] = this.tid;
      }

      this.$store.dispatch('fetchInvestmentsChart', parameters);
    },
    getErrors(errors) {
      return errors.join(', ');
    },
    prepareForms() {
      const data = this.options;
      if (data.length) {
        this.forms = [];
        data.forEach((item) => {
          this.forms.push({
            option_id: item.id,
            period: item.period_max,
            amount: item.amount_max,
            confirm: 0,
            terms: 0,
            errors: [],
          });
        });
      }
    },
    updateChartOnLoad() {
      const chart = this.investmentsChart;
      const datasets = [];
      const additionalChartConfig = this.chartCustomSettings();

      Object.keys(chart.ttl).forEach((key) => {
        const option = chart.type === 'by_tids' ?
          chart.tids[key] : key;
        const borderDash = additionalChartConfig
            .solidLineOptions
            .includes(option) ?
          [] : [6, 5];
        const borderWidth = borderDash ? 2 : 1;
        const label = chart.type === 'by_tids' ?
          'TID: ' + key :
          chart.legend[option].toUpperCase();

        datasets.push({
          label: label,
          backgroundColor: additionalChartConfig.chartColors[option],
          borderColor: additionalChartConfig.chartColors[option],
          data: chart.ttl[key],
          fill: false,
          borderWidth: borderWidth,
          borderDash: borderDash,
        });
      });

      this.chartData = {
        labels: chart.days,
        datasets: datasets,
        raw: chart,
      };
    },
    makeClass(value, type = 'DEAL') {
      value = parseFloat(value);
      if (value == 0 || (type !== 'DEAL' && type !== 'CLOSED')) {
        return '';
      }
      return value > 0 ? 'green' : 'red';
    },
    async openNewTid(index) {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        const data = {...this.forms[index]};
        delete data.terms;
        delete data.confirm;
        const result = await this.$store.dispatch('openTid', data);
        if (result !== true ) {
          this.forms[index].errors = result.errors.global;
        } else {
          this.investmentsModal = false;
          this.$store.commit('showModal', true);
          this.$store.commit('setModalContent', {
            title: 'Notification!',
            content: 'Your selected TID was opened successfully.',
            small: true,
          });
          setTimeout(() => {
            this.$store.commit('showModal', false);
          }, 4000);
        }
      } finally {
        this.sending = false;
      }
    },
    chartCustomSettings() {
      const ref = this.$refs.investmentsChartRef;
      return ref ? ref.additionalChartConfig : {};
    },
  },
};
</script>

<style lang="scss">
.investments {
  max-width: 75.5em;
  margin-top: 1.1em;
  position: relative;
  &__block {
    border: .0625em solid #2d2c3c;
    table {
      margin: 0;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    padding: .55em 0 0 .3em;

    @media (max-width: 767px) {
      display: block;
      padding-left: 0;
    }
    &__tids_allowable {
      position: absolute;
      color: #ffd000;
      font-family: titillium,serif;
      font-weight: normal;
      font-style: normal;
      text-align: right;
      top: -4em;
      right: 0;

      @media (max-width: 767px) {
        position: relative;
        top: 0;
        text-align: center;
      }
    }
    &__head {
      text-align: right;
      h4 {
        display: inline;
        margin-right: 4.2em;
        font-size: 1.2em;
        @media (max-width: 767px) {
          margin-right: .5em;
          font-size: 1em;
          white-space: nowrap;
        }
      }
      .toggle {
        position: relative;
        margin-right: .5em;
        font-size: .7em;
        text-align: right;
        text-transform: uppercase;
        transition: top .3s .1s,  right .3s .1s;
        cursor: pointer;
        &:after {
          content: '';
          width: .82em;
          height: .37em;
          display: inline-block;
          margin: -.35em 0 0 .3em;
          background:
            url(../assets/images/global/arrow.png)
            center/contain
            no-repeat;
          vertical-align: middle;
        }
        &.hide {
          color: #499baa;
          &:after {
            background-image: url(../assets/images/global/arrow-show.png);
          }
        }
      }
    }
    &__wallet {
      width: 34.7%;
      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 2em;
      }
    }
    &__chart {
      width: 61.8%;
      display: flex;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    &__group {
      display: flex;
      justify-content: space-between;
    }
  }
  &__info__wallet &__block {
    margin: 0 -1em 2.2em -1em;
    padding: .35em 1em .8em 1em;
  }
  &__info__wallet &__info__group {
    margin: 0 -1em;
    padding: 0 1em;
    border-bottom: .0625em solid #2d2c3c;
  }
  &__info__chart &__block {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 0 .8em 0;
  }
  &__info__chart &__info__group {
    margin-left: 2.6em;
  }
  &__info__chart__container {
    margin-left: 2.6em;
    height: 23em;
    @media (max-width: 767px) {
      margin-left: 1em;
    }
  }
  &__info__chart__select_period {
    margin-left: 2.6em;
    @media (max-width: 767px) {
      margin-left: 1em;
    }
  }
  &__info__chart__select_period__container {
    margin: 0 auto;
    padding-left: 5.75em;
    max-width: 25em;
    a {
      display: inline-block;
      width: 5em;
      font-size: .9em;
      cursor: pointer;
      font-weight: normal;
      color: #6c6c6c;
    }
    a:hover {
      text-decoration: underline;
    }
    a.active {
      color: #f0ff01;
    }
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: -.5em;
  }
  &__details {
    margin: 1.3em 0 0 -.75em;
    padding: .8em 1em 1em .55em;
    box-sizing: border-box;
    border: .0625em solid #2d2c3c;
    @media (max-width: 767px) {
      font-size: 1.2em;
    }
    h4 {
      margin-bottom: 1.3em;
      margin-right: 2.9em;
      text-align: left;
      display: block;
      float: left;
      @media (max-width: 767px) {
        margin-right: 1em;
        font-size: 1.2em;
      }
    }
    .form__checkbox {
      margin: 0 2.9em 0 0em;
      font-size: .8em;
      float: left;
      @media (max-width: 767px) {
        margin: 0;
        font-size: .9em !important;
      }
    }
    div.all_tids {
      margin-top: -.16em;
      a {
        position: relative;
        margin-bottom: .4em;
        font-size: .9em;
        line-height: .9;
        letter-spacing: .07em;
        color: #f0ff01;
        border-bottom: .0625em solid #4d5700;
        white-space: nowrap;
        text-decoration: none;
        transition: border-color .3s;
        cursor: pointer;
        &:hover {
          border-color: transparent;
        }
      }
    }
    .table-2 {
      font-size: .7em;
      @media (max-width: 767px) {
        font-size: .8em;
      }
      th, td {
        padding: 1.08em .5em;
      }
      td:nth-child(4) {
        width: 11em;
      }
    }
  }
  &__modal {
    min-width: 59.2em;
    position: fixed;
    top: 50%;
    left: 50%;
    background: #151320
      url(../assets/images/investments/pattern.png)
      left top;
    font-family: 'titillium';
    transform: translate(-50%, -50%);
    @media (max-width: 767px) {
      min-width: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: none;
      overflow-y: auto;
    }
    z-index: 1002;
    &__area {
      margin: 1em;
      border: .0625em solid #2d2c3c;
    }
    &__caption {
      padding: 0 .1em;
      border-bottom: .0625em solid #2d2c3c;
      font-size: 1.4em;
      text-transform: uppercase;
      text-align: center;
      img {
        width: 1.3em;
        height: auto;
        display: inline-block;
        margin: -.1em 0 .1em .5em;
        vertical-align: middle;
      }
    }
    &__close {
      position: absolute;
      top: 2.9em;
      right: 3em;
      font-size: .68em;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: .06em;
      color: #fff;
      cursor: pointer;
      text-transform: uppercase;
      transition: color .3s, border-color .3s;
      z-index: 2;
      @media (max-width: 767px) {
        top: 2em;
        right: 2em;
        font-size: .9em;
      }
      &:after {
        content: '×';
        display: inline-block;
        margin: -.15em 0 0 .2em;
        font-size: 2em;
        vertical-align: top;
      }
      &:hover {
        border-color: #e0edb4;
        color: #e0edb4;
      }
    }
    &__back {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #000;
      opacity: .5;
      z-index: 1001;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3em;
    margin: 0 3em 2em 3em;
    font-size: .7em;
    @media (max-width: 767px) {
      grid-template-columns: 1fr 1fr;
      grid-gap: .5em 1em;
      margin-right: .7em;
      margin-left: .7em;
    }
    .form__error {
      min-height: 2em;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      line-height: 1;
      text-align: center;
      @media (max-width: 767px) {
        min-height: 0;
      }
    }
  }
  &__item {
    padding: 0 1em 1em 1em;
    border: .0625em solid #2d2c3c;
    &__caption {
      margin: 0 -.3em .5em -.3em;
      padding: .03em 0 0 0;
      border-bottom: .0625em solid #2d2c3c;
      font-size: 1.45em;
      color: #56baca;
      text-transform: uppercase;
      text-align: center;
      @media (max-width: 767px) {
        font-size: 2em;
      }
    }
    &__text {
      min-height: 11.5em;
      font-size: .95em;
      line-height: 110%;
      @media (max-width: 767px) {
        font-size: 1.5em;
        line-height: 120%;
      }
      p {
        margin-bottom: 2.3em;
      }
    }
    &__title {
      margin-bottom: .1em;
      font-size: 1.2em;
      color: #56baca;
      text-transform: uppercase;
      @media (max-width: 767px) {
        margin-bottom: .2em;
        font-size: 1.5em;
      }
    }
    .button {
      min-width: 8.5em;
    }
    .form__checkbox {
      font-size: 1.1em;
      @media (max-width: 767px) {
        font-size: 1.4em !important;
      }

      &__area {
        cursor: pointer;
      }

      a {
        cursor: pointer;
      }
    }
  }
}
</style>
