<template lang="pug">
  .auth(:class="{'muted': modal}")
    .auth__area(v-if="sent")
      .form
        .form__header.form__header-center
          .form__caption Activate your account
        router-link.auth__image(:to="{name: 'Index'}")
        .form__text.form__text-variant
          | We've sent you an email with ACTIVATION LINK.
          br
          |  Please check
          |  your email and follow the instructions. If you didn't receive the
          |  email, please check your spambox or contact our support team using
          |  the contact form on the homepage or directly via Telegram.
          br
          | You can resend the email with ACTIVATION LINK using the LOGIN page.
          | If your account wasn't activated yet, then after the login attempt
          | with your account credentials used during the registration, you will
          | be forwarded to the activation link resend page.
        .form__text.form__text-variant(v-if="result == 2")
          | If you didn't receive the email with ACTIVATION LINK previously,
          |  then please try to check first your spambox.
          |  You can resend the email with ACTIVATION LINK using the RESEND
          |  button below. But don't try to resend the activation link too
          |  often. It can be resent only once per 5 minutes.
          br
          | If you have problems with receiving the ACTIVATION LINK email then
          |  contact our support team using the contact form on the homepage or
          |  directly via Telegram.
        .auth__form
          .form__container
            .button.button-full(@click="sent = false; activatePage = false")
              span Login
              video#buttonAnimation1(
                autoplay
                loop
                playsinline
                muted
              )
    .auth__area(v-else-if="activatePage")
      form.form(@submit="resend")
        .form__header.form__header-center
          .form__caption Resend Activation Link
        router-link.auth__image(:to="{name: 'Index'}")
        .form__text.form__text-variant
          | If you didn't receive the email with ACTIVATION LINK within 10
          |  minutes, then please try to check first your spambox. You can
          |  resend the email with ACTIVATION LINK using the RESEND button
          |  below. But don't try to resend the activation link too often.
          |  It can be resent only once per 5 minutes.
          br
          br
          | If you have problems with receiving the ACTIVATION LINK email
          |  then contact our support team using the contact form on the
          |  homepage or directly via Telegram.
        .auth__form
          .form__container
            span.form__error.form__error-recaptcha
              span(v-if="errors['g-recaptcha-response']")
                | {{ getErrors(errors['g-recaptcha-response']) }}
              span(v-else) &nbsp;
            recaptcha(
              v-model="formResend['g-recaptcha-response']"
              :check-failed="errorsResend['g-recaptcha-response'] && errorsResend['g-recaptcha-response'].length > 0"
              :ready="recaptcha"
            )
            span.form__error(v-if="errors.global")
              | {{ getErrors(errors.global) }}
            button.button.button-full(
              :disabled="loading || !recaptcha.ready"
            )
              span Resend
              video#buttonAnimation2(
                autoplay
                loop
                playsinline
                muted
              )
    .auth__area(v-else)
      form.form(@submit="sendForm")
        .form__header
          .form__caption Login
          router-link.form__back(:to="{name: 'Register'}")
            span Registration
        router-link.auth__image(:to="{name: 'Index'}")
        .auth__form
          .form__container
            #inputFlame
              video(
                autoplay
                loop
                playsinline
                muted
              )
            label.form__label Username&nbsp;
              em or&nbsp;
              | E-mail
              span(v-if="errors.email") ({{ getErrors(errors.email) }})
            .form__input.form__input-corner
              input(
                placeholder="Enter your USERNAME or E-Mail..."
                v-model="form.email"
              )
              input.form__input__layer(
                v-model="form.email"
                @focus="activeFlame"
                @blur="deactiveFlame"
              )
            label.form__label
              router-link(:to="{name: 'Forgot'}") Forgot password?
              | Password
              span(v-if="errors.password") ({{ getErrors(errors.password) }})
            .form__input.form__input-corner
              input(
                placeholder="Enter your PASSWORD..."
                type="password"
                v-model="form.password"
              )
              input.form__input__layer(
                type="password"
                v-model="form.password"
                @focus="activeFlame"
                @blur="deactiveFlame"
              )
            label.form__label.form__label-small
              | 2FA (enter 2FA code only if you activated it before)
              span(v-if="errors['2fa']") ({{ getErrors(errors['2fa']) }})
            .form__input.form__input-corner
              input(
                v-model="form['2fa']"
              )
              input.form__input__layer(
                v-model="form['2fa']"
                placeholder="Enter 2FA code...."
                @focus="activeFlame"
                @blur="deactiveFlame"
                v-mask="'# # # # # #'"
              )
            span.form__error.form__error-recaptcha
              span(v-if="errors['g-recaptcha-response']")
                | {{ getErrors(errors['g-recaptcha-response']) }}
              span(v-else) &nbsp;
            recaptcha(
              v-model="form['g-recaptcha-response']"
              :check-failed="errors['g-recaptcha-response'] && errors['g-recaptcha-response'].length > 0"
              :ready="recaptcha"
            )
            button.button.button-full(
              :disabled="loading || !recaptcha.ready"
            )
              span Login
              video#buttonAnimation(
                autoplay
                loop
                playsinline
                muted
              )
            label.form__checkbox
              input(
                type="checkbox"
                v-model="form.is_remember_me"
                :true-value="1"
                :false-value="0"
              )
              .form__checkbox__area
              | Remember Me
</template>

<script>
import recaptcha from './plugins/recaptcha';
import seeThru from 'seethru';
import IdentificationsService from '../services/IdentificationsService';

export default {
  mixins: [
    IdentificationsService,
  ],
  data() {
    return {
      form: {
        'email': '',
        'password': '',
        '2fa': '',
        'is_remember_me': 0,
        'g-recaptcha-response': '',
        'global': '',
      },
      formResend: {
        'g-recaptcha-response': '',
      },
      errors: {},
      errorsResend: {},
      sent: false,
      flame: null,
      focused: null,
      loading: false,
      activatePage: false,
      recaptcha: {
        ready: false,
      },
      sending: false,
    };
  },
  components: {
    recaptcha,
  },
  async mounted() {
    await this.$store.dispatch('logout', true);
    this.loadFlame(seeThru);
  },
  methods: {
    getErrors(errors) {
      return errors.join(', ');
    },
    async sendForm() {
      event.preventDefault();

      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.loading = true;
        this.errors = {};

        if (this.form.email && this.form.email.length > 0) {
          await this.sendIdentificationInfo(this.form.email);
        }

        const result = await this.$store.dispatch('login', this.form);

        if (result !== true) {
          if (result && result.errors) {
            this.errors = result.errors;
          }

          if (this.errors.activated) {
            this.activatePage = true;
          }

          if (this.errors.blocked) {
            this.$store.commit('showModal', true);
            this.$store.commit('setModalContent', {
              title: this.errors.blocked[0],
              content: this.errors.block_reason[0],
              small: true,
              update: false,
            });
          }

          setTimeout(() => {
            if (document.getElementById('buttonAnimation2')) {
              this.flameButton(seeThru, '#buttonAnimation2');
            }
          }, 500);
        }
        this.loading = false;
      } finally {
        this.sending = false;
      }
    },
    async resend() {
      event.preventDefault();

      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.loading = true;
        const result = await this.$store.dispatch('resend', this.formResend);

        if (result !== true ) {
          this.errorsResend = result.errors;
        } else {
          this.sent = true;
          setTimeout(() => {
            if (document.getElementById('buttonAnimation1')) {
              this.flameButton(seeThru, '#buttonAnimation1');
            }
          }, 500);
        }

        this.loading = false;
      } finally {
        this.sending = false;
      }
    },
  },
};
</script>

<style lang="scss">
</style>
