<template lang="pug">
form(@submit.prevent="submit")
  .messages__field
    .messages__label Promo code
    .messages__form__input
      input(
        v-model="promoCode"
        ref="inputPromoCode"
      )
      .messages__error(v-if="error") {{ error }}
  .dialog__buttons
    div.messages__button.messages__button-text(
      @click="$emit('close')"
    )
      span Close
    button.messages__button
      span Add contact
  Dialog(
    v-if="message"
    :hide-title="false"
    size="small"
    @close="success ? $emit('success') : message = null"
  )
    template(v-slot:title="")
      span(v-if="success") Success
      span(v-else) Error
    <p style="font-size:1rem">{{ message }}</p>
</template>

<script>
import {mapState, mapActions} from 'vuex';
import Dialog from './plugins/dialog';

export default {
  data() {
    return {
      promoCode: null,
      error: null,
      message: null,
      success: false,
      sending: false,
    };
  },
  computed: {
    ...mapState('messages', ['contacts']),
  },
  components: {
    Dialog,
  },
  methods: {
    ...mapActions('messages', ['inviteUser']),
    async submit() {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.error = null;
        const exist = Object.values(this.contacts).flat().find((contact) => contact.promo_code == this.promoCode);
        if (exist) {
          this.message = 'This contact already exist in your list';
          return;
        }
        const result = await this.inviteUser(this.promoCode);
        if (result) {
          this.message = 'Contact successfully added';
          this.success = true;

          await this.updateContent(true);
        } else {
          this.error = 'Wrong code';
        }
      } finally {
        this.sending = false;
      }
    },
  },
};
</script>
