<template lang="pug">
  .messages__message(
    :class="{'messages__message-own': message.author.username == user.username, 'messages__message-selected': message.id == currentMessage}"
    @contextmenu.prevent=""
  )
    .messages__message__image
      div(:style="'background-image: url(' + message.author.avatar + ')'")
    .messages__message__info
      .messages__message__parent(
        v-if="message.parent"
        @click="goToParent()"
      )
        strong {{ message.parent.author.username }}
        div(v-html="prepareMessage(message.parent.message)")
      .messages__message__parent(
        v-if="message.parent_del"
        v-bind:class="{default_cursor: true}"
      )
        div Message deleted.
      .messages__message__current
        .messages__message__text(v-html="prepareMessage(message.message)")
        .messages__message__date
          i.ri-check-double-line(v-if="message.read === true")
          i.ri-check-line(v-else-if="message.read === false")
          | {{ formatDate(message.created_at) }}
      .messages__message__author {{ message.author.username }}
    .messages__message__actions
      Actions(
        :rtl="message.author.username == user.username"
      )
        template(v-slot:activator="")
          button.messages__icon
            i.ri-more-2-fill
        .actions__item(v-if="!current.readonly" @click="$emit('reply')")
          | Reply
          i.ri-reply-line
        .actions__item(@click="$emit('remove', false)")
          | Remove
          i.ri-delete-bin-line
        .actions__item(v-if="message.delete || current.delete", @click="$emit('remove', true)")
          | Remove for all
          i.ri-delete-bin-fill
        .actions__item(v-if="(message.edit || current.edit) && !current.readonly", @click="$emit('edit')")
          | Edit
          i.ri-pencil-line
</template>

<script>
import {mapState, mapMutations, mapActions} from 'vuex';
import Actions from './plugins/actions';
import {format, isThisWeek, isThisYear, isToday} from 'date-fns';
export default {
  computed: {
    ...mapState(['user']),
    ...mapState('messages', ['currentChat', 'currentMessage', 'chatsOwner', 'chatMessages']),
  },
  props: {
    message: {
      type: Object,
    },
    current: {
      type: Object,
    },
  },
  components: {
    Actions,
  },
  methods: {
    ...mapActions('messages', ['fetchMessages']),
    ...mapMutations('messages', ['setMessage', 'setMessages']),
    isOwner() {
      return this.chatsOwner.indexOf(this.current.id) !== -1;
    },
    prepareMessage(text) {
      text = text.replace(
          /(\b(https?|ftp):\/\/[-A-Z0-9+&@#\/%?=~_|!:,.;]*[-A-Z0-9+&@#\/%=~_|])/gim,
          '<a href="$1" target="_blank">$1</a>'
      );
      text = text.replace(
          /(^|[^\/])(www\.[\S]+(\b|$))/gim,
          '$1<a href="http://$2" target="_blank">$2</a>'
      );
      text = text.replace(
          /(([a-zA-Z0-9\-\_\.])+@[a-zA-Z\_]+?(\.[a-zA-Z]{2,6})+)/gim,
          '<a href="mailto:$1">$1</a>'
      );
      return text.replaceAll('\n', '<br>');
    },
    goToParent() {
      this.setMessage(this.message.parent.id);
      this.findCurrentMessage();
    },
    findCurrentMessage() {
      this.$nextTick(async () => {
        const area = document.querySelector('.messages__content__area .messages__scroll');
        if (!area) return;
        const message = area.querySelector('.messages__message-selected');
        if (!message) {
          area.scrollTop = 0;
          const messages = await this.fetchMessages({
            chat: this.currentChat.id,
            type: 0,
            message: this.chatMessages[0].id,
          });
          this.setMessages([...messages, ...this.chatMessages]);
          this.findCurrentMessage();
          return;
        }
        area.scrollTop = message.offsetTop - area.offsetTop;
      });
    },
    formatDate(date) {
      const d = new Date(date);
      let f = 'HH:mm';
      if (!isThisYear(d)) {
        f += ' P';
      } else if (!isToday(d) && isThisWeek(d)) {
        f += ' EEEEEE';
      } else if (!isToday(d)) {
        f += ' dd/MM';
      }
      return format(d, f);
    },
  },
};
</script>

<style lang="scss">
.messages {
  &__message {
    display: flex;
    padding: 12px 24px;
    padding-right: 9rem;
    @media (max-width: 767px) {
      padding-right: 2rem;
    }
    &-own {
      padding-right: 24px !important;
      padding-left: 9rem;
      justify-content: flex-start;
      flex-direction: row-reverse;
      @media (max-width: 767px) {
        padding-left: 2rem;
      }
    }
    &-selected {
      background: #151523a2;
    }
    &__image {
      display: flex;
      align-items: flex-end;
      margin-right: 16px;
      div {
        width: 36px;
        height: 36px;
        background: center/cover;
        border-radius: 50%;
      }
    }
    &-own &__image {
      margin-right: 0;
      margin-left: 16px;
    }
    &__parent {
      margin-bottom: -8px;
      padding: 12px 20px;
      padding-bottom: 20px;
      background: #2e2333;
      border-radius: 8px 8px 8px 0;
      font-size: 70%;
      z-index: 0;
      cursor: pointer;
    }
    &__current {
      position: relative;
      margin-bottom: 10px;
      padding: 12px 20px;
      background-color: #151523;
      border-radius: 8px 8px 8px 0;
      color: #eff2f7;
      z-index: 1;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        border: 5px solid transparent;
        border-top-color: #151523;
        border-left-color: #151523;
      }
    }
    &-own &__current {
      background-color: #241829;
      border-radius: 8px 8px 0 8px;
      &:before {
        right: 0;
        left: auto;
        border-top-color: #241829;
        border-right-color: #241829;
        border-left-color: transparent;
      }
    }
    &__text {
      font-size: 15px;
    }
    &__author {
      font-weight: 500;
      font-size: 14px;
    }
    &-own &__author {
      text-align: right;
    }
    &__date {
      display: flex;
      align-items: center;
      justify-content: end;
      font-size: 12px;
      color: #abb4d2;
      text-align: right;
      i {
        margin-right: .5em;
        &.ri-check-double-line {
          color: #187a18;
        }
        &.ri-check-line {
          color: #df5555;
        }
      }
    }
    &__actions {
      min-height: 100%;
      .actions {
        margin: -5px -7px;
      }
    }
    a {
      color: #fff;
    }

    .default_cursor {
      cursor: default !important;
    }
  }
}
</style>
