<template lang="pug">
.messages(v-bind:class="messagesCustomClass")
  .messages__content(
    :class="{'messages__content-open': open}"
  )
    .messages__content__header(v-if="currentChat")
      .messages__content__header__back(@click="open = false")
        i.ri-arrow-left-line
      .messages__content__header__name
        .messages__content__header__image
          div(:style="'background-image: url(' + currentChat.avatar + ')'")
        | {{ currentChat.name || 'Is group' }}
      Actions(
        rtl
      )
        template(v-slot:activator="")
          button.messages__icon
            i.ri-search-line
        MessagesMessageSearch
      button.messages__icon(@click="usersDialog = true")
        i.ri-group-line
      Actions(
        rtl
      )
        template(v-slot:activator="")
          button.messages__icon
            i.ri-more-fill
        .actions__item(v-if="isOwner() && currentChat.is_group", @click="editChat = currentChat")
          | Edit group
          i(class="ri-pencil-line")
        .actions__item(v-if="currentChat.is_group" @click="leaveCurrentChat = true")
          | Leave group
          i(class="ri-logout-circle-r-line")
        .actions__item(@click="clearCurrentChat = true")
          | Clear chat history
          i(class="ri-close-circle-line")
        .actions__item(@click="removeCurrentChat = true")
          | {{ currentChat.is_group ? 'Remove group' : 'Remove chat' }}
          i(class="ri-delete-bin-line")
    MessagesMessageInvite(
      v-if="currentChat"
      :current="currentChat"
      @accept="currentChat.required_accept_invitation = false"
    )
    .messages__content__area
      .messages__scroll
        div.messages__loading(v-if="loadingMessages")
          i.ri-loader-2-line
        span(v-else-if="currentChat")
        div(v-if="currentChat")
          .messages__content__area__container(v-if="chatMessages && chatMessages.length")
            MessagesMessage(
              v-for="message in chatMessages"
              :key="message.id"
              :message="message"
              :current="currentChat"
              @edit="editMessage = message"
              @reply="replyMessage = message"
              @remove="messageToRemove = message.id; messageRemoveForAll = $event"
            )
          p(v-else-if="!loadingMessages") No messages...
        p(v-else-if="startingConversation") Starting converstion...
        p(v-else) No selected group...
        span(v-if="!currentChat")
    MessagesMessageForm(
      :current="currentChat"
      :edit="editMessage"
      :reply="replyMessage"
      @cancel="replyMessage = null; editMessage = null"
      @success="sent"
    )
  Dialog(
    v-if="removeCurrentChat"
    confirm
    size="small"
    hide-close
    @yes="chatRemove"
    @close="removeCurrentChat = false"
  ) Are you sure you want to delete this {{ currentChat.is_group ? 'group' : 'chat' }} ?
  Dialog(
    v-if="leaveCurrentChat"
    confirm
    size="small"
    hide-close
    @yes="chatLeave"
    @close="leaveCurrentChat = false"
  ) Are you sure you want to leave this chat group?
  Dialog(
    v-if="clearCurrentChat"
    confirm
    size="small"
    hide-close
    @yes="chatClear"
    @close="clearCurrentChat = false"
  ) Are you sure you want to clear chat history?
  Dialog(
    v-if="messageToRemove && !messageRemoveForAll"
    confirm
    size="small"
    hide-close
    @yes="messageRemove"
    @close="messageToRemove = null"
  ) Are you sure you want to remove this message?
  Dialog(
    v-if="messageToRemove && messageRemoveForAll"
    confirm
    size="small"
    hide-close
    @yes="messageRemove"
    @close="messageToRemove = null"
  ) Are you sure you want to remove this message for all?
  Dialog(
    v-if="chatForm || editChat"
    :hide-title="false"
    @close="chatForm = false; editChat = null;"
  )
    template(v-slot:title="")
      span(v-if="editChat") Edit Group
      span(v-else) Create New Group
    MessagesChatForm(
      @success="chatForm = false; editChat = null;"
      @close="chatForm = false;"
    )
  Dialog(
    v-if="contactForm"
    :hide-title="false"
    @close="contactForm = false;"
  )
    template(v-slot:title="") Add contact by code
    MessagesContactForm(
      @success="contactForm = false;"
      @close="contactForm = false;"
    )
  Dialog(
    v-if="currentChat && currentChat.users && usersDialog"
    size="small"
    :hide-title="false"
    @close="usersDialog = false;"
  )
    template(v-slot:title="")
      | Chat {{ currentChat.name || 'noname' }} users
    .messages__contacts
      MessagesChatContact(
        v-for="contact in chatContactsList"
        :key="contact.id"
        :contact="contact"
      )
  .messages__sidebar(
    v-if="currentMode == 'chats'"
    :class="{'messages__sidebar-open': !open}"
  )
    .messages__caption Chats
      button.messages__button.messages__button-text(
        @click="currentMode = 'contacts'"
      )
        | Contacts
    .messages__actions
      .messages__input
        i.ri-search-line
        input(
          v-model="searchChat"
          placeholder="Search message in groups..."
        )
      button.messages__icon(
        @click="createChat()"
        title="Add chat"
      )
        i.ri-add-circle-fill
    .messages__sidebar__area(v-if="searchChat")
      .messages__scroll
        div.messages__loading(v-if="loadingChats")
          i.ri-loader-2-line
        MessagesChatRow(
          v-else-if="foundChats.length"
          v-for="(message, index) in foundChats"
          :key="message.id + '_' + index"
          :chat="message"
          :current="currentMessage ? currentMessage.id : null"
          :search="searchChat"
          is-messages
        )
        p(v-else) Nothing found...
    .messages__sidebar__area(v-else)
      .messages__scroll
        div.messages__loading(v-if="loadingChats")
          i.ri-loader-2-line
        MessagesChatRow(
          v-else-if="chatsList.length"
          v-for="(chat, index) in chatsList"
          :key="chat.id + '_' + index"
          :chat="chat"
          :current="currentChat ? currentChat.id : null"
        )
        p(v-else) Empty...
  .messages__sidebar(
    v-else
    :class="{'messages__sidebar-open': !open}"
  )
    .messages__caption Contacts
      button.messages__button.messages__button-text(@click="currentMode = 'chats'")
        | Chats
    .messages__actions
      .messages__input
        i.ri-search-line
        input(
          v-model="searchContacts"
          placeholder="Search contact"
        )
      button.messages__icon(
        @click="contactForm = true"
        title="Add contact"
      )
        i.ri-user-add-line
    .messages__sidebar__area(v-if="Object.keys(contactsList).length")
      .messages__scroll
        .messages__contacts(
          v-for="(legend, index) in legends"
          :key="legend"
        )
          .messages__legend(v-if="contactsList[index] && contactsList[index].length") {{ legend }}
          MessagesContactRow(
            v-for="contact in contactsList[index]"
            :key="contact.id"
            :contact="contact"
            :legend="legend"
            :legendIndex="parseInt(index)"
          )
    .messages__sidebar__area(v-else)
      p Empty...
</template>

<script>
import 'remixicon/fonts/remixicon.css';
import {mapState, mapActions, mapMutations} from 'vuex';
import Actions from './plugins/actions';
import Dialog from './plugins/dialog';
import MessagesChatForm from './MessagesChatForm';
import MessagesContactForm from './MessagesContactForm';
import MessagesChatRow from './MessagesChatRow';
import MessagesChatContact from './MessagesChatContact';
import MessagesChatContacts from './MessagesChatContacts';
import MessagesContactRow from './MessagesContactRow';
import MessagesMessage from './MessagesMessage';
import MessagesMessageInvite from './MessagesMessageInvite';
import MessagesMessageForm from './MessagesMessageForm';
import MessagesMessageSearch from './MessagesMessageSearch';
// import lodash from 'lodash';

export default {
  data() {
    return {
      pageTitle: 'Chats',
      breadcrumbs: [
        {name: 'Home', route: 'Index'},
        {name: 'Messages'},
        {name: 'Chats'},
      ],
      currentMode: 'chats',
      searchContacts: '',
      searchChat: '',
      foundChats: [],
      chatForm: false,
      editChat: null,
      contactForm: false,
      usersDialog: false,
      searchDropdown: false,
      actionsDropdown: false,
      removeCurrentChat: false,
      leaveCurrentChat: false,
      clearCurrentChat: false,
      messageToRemove: null,
      messageRemoveForAll: false,
      replyMessage: null,
      editMessage: null,
      prevScroll: 0,
      open: false,
      refreshTimer: null,
      monitoringInterval: null,
      sending: false,
    };
  },
  computed: {
    styles() {
      return this.$store.state.styles;
    },
    messagesCustomClass() {
      const cls = {};

      if (this.styles.enable_custom_body_css) {
        cls[this.styles.body_cls_name] = true;
      } else {
        cls['messages_background'] = true;
      }

      return cls;
    },
    ...mapState('messages', [
      'chats',
      'chatsOwner',
      'legends',
      'contacts',
      'currentChat',
      'currentMessage',
      'chatMessages',
      'loadingMessages',
      'loadingChats',
      'isLoading',
      'startingConversation',
    ]),
    ...mapState(['rateUpdate']),
    chatsList() {
      if (!this.chats) return null;
      return this.chats.map((chat) => ({
        ...chat,
        text: chat.message ? chat.message : '', // chat.users.map((user) => user.username).join(', '),
      }));
    },
    contactsList() {
      if (!this.legends || !this.contacts) return [];
      const search = this.searchContacts.toLowerCase();
      if (search == '') return this.contacts;
      const data = {};
      Object.keys(this.legends).forEach((key) => {
        if (this.contacts[key]) {
          const result = this.contacts[key]
              .filter((contact) => contact.username.toLowerCase().indexOf(search) !== -1);
          if (result.length) {
            data[key] = result;
          }
        }
      });
      return data;
    },
    chatContactsList() {
      const owner = this.currentChat.users.find((item) => item.is_owner === true);
      const users = this.currentChat.users.filter((item) => item.is_owner !== true);
      if (owner) users.unshift(owner);
      return users || [];
    },
  },
  watch: {
    chatMessages: {
      immediate: true,
      handler() {
        this.prevScroll = 0;
      },
    },
    currentChat: {
      deep: true,
      handler() {
        this.open = true;

        if (!this.currentChat) {
          this.usersDialog = false;
        }
      },
    },
    /*
    currentChat() {
      this.open = true;
    }, */
    async searchChat(search, old) {
      if (!search && old) {
        await this.fetchChats();
      }
      if (!search) {
        this.setMessage(null);
        this.foundChats = [];
        return;
      }
      const result = await this.searchMessage({
        search,
        loading: true,
      });
      this.foundChats = result.map((item) => ({
        ...item.chat,
        name: item.author.username,
        avatar: item.author.avatar,
        last_message_at: item.created_at,
        message: item.message,
        messageId: item.id,
      }));
    },
  },
  components: {
    Actions,
    Dialog,
    MessagesChatForm,
    MessagesContactForm,
    MessagesChatRow,
    MessagesChatContact,
    MessagesChatContacts,
    MessagesContactRow,
    MessagesMessage,
    MessagesMessageInvite,
    MessagesMessageForm,
    MessagesMessageSearch,
  },
  async created() {
    this.$store.commit('setMask', 16384 | 32768);
  },
  mounted() {
    const area = document.querySelector('.messages__content__area .messages__scroll');
    area.addEventListener('scroll', async (e) => {
      if (!this.currentChat || !this.chatMessages || this.chatMessages.length < 100) return;
      if (e.target.scrollTop === 0 && !this.loadingMessages && this.prevScroll != 0) {
        const message = area.querySelector('.messages__message:last-child');
        const messages = await this.fetchMessages({
          chat: this.currentChat.id,
          type: 0,
          message: this.chatMessages[0].id,
        });
        this.setMessages([...messages, ...this.chatMessages]);
        this.$nextTick(() => {
          e.target.scrollTop = message.offsetTop - area.offsetTop;
        });
      }
      this.prevScroll = e.target.scrollTop;
    });
    if (area) {
      this.$nextTick(() => {
        area.scrollTop = area.scrollHeight;
      });
    }
  },
  beforeDestroy() {
    if (this.monitoringInterval) {
      clearInterval(this.monitoringInterval);
    }
  },
  methods: {
    ...mapActions('messages', [
      'fetchChats', 'fetchContacts', 'fetchMessages',
      'removeChat', 'leaveChat', 'clearChat', 'addUser',
      'removeUser', 'removeMessage', 'searchMessage',
    ]),
    ...mapMutations('messages', ['setChat', 'setChats', 'setMessages', 'setMessage']),
    initialize() {
      if (!this.chats) {
        this.fetchChats();
      }
      if (!this.contacts) {
        this.fetchContacts();
      }
    },
    createChat() {
      this.setChat(null);
      this.chatForm = true;
    },
    async sent() {
      this.replyMessage = null;
      this.editMessage = null;
    },
    async chatRemove(chat) {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        await this.removeChat(chat || this.currentChat.id);
        await this.updateContent(true);
        this.setChat(null);
        this.removeCurrentChat = false;
      } finally {
        this.sending = false;
      }
    },
    async chatLeave(chat) {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        await this.leaveChat(chat || this.currentChat.id);
        this.setChat(null);
        await this.updateContent(true);
        this.leaveCurrentChat = false;
      } finally {
        this.sending = false;
      }
    },
    async chatClear(chat) {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        await this.clearChat(chat || this.currentChat.id);
        this.setMessages([]);
        this.clearCurrentChat = false;
        await this.updateContent(true);
      } finally {
        this.sending = false;
      }
    },
    async messageRemove() {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        await this.removeMessage({
          message: this.messageToRemove,
          forAll: this.messageRemoveForAll,
        });
        this.messageToRemove = null;
        this.messageRemoveForAll = false;
        const messages = await this.fetchMessages({chat: this.currentChat.id});
        this.setMessages(messages);
        await this.updateContent(true);
      } finally {
        this.sending = false;
      }
    },
    isOwner(chat) {
      return this.chatsOwner.indexOf(chat ? chat : this.currentChat.id) !== -1;
    },
  },
};
</script>

<style lang="scss">
.messages_background {
  background: #0f0d16 url(../assets/images/global/pattern.png) left top;
}
.messages {
  display: flex;
  flex: auto;
  font-family: 'Public Sans', sans-serif;
  color: #a6b0cf;
  @media (min-width: 641px) and (max-width: 767px) {
    padding-top: 3.5rem;
  }
  @media (min-width: 481px) and (max-width: 640px) {
    padding-top: 2.5rem;
  }
  @media (min-width: 360px) and (max-width: 480px) {
    padding-top: 1.5rem;
  }
  @media (max-width: 359px) {
    padding-top: 1rem;
  }
  &__scroll {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 10px !important;
    }
    &::-webkit-scrollbar-track {
      background: transparent !important;
    }
    &::-webkit-scrollbar-thumb {
      background: #241829 !important;
      border-radius: 5px !important;
      transition: background-color .3s;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #2e2333 !important;
    }
    scrollbar-color: #abb4d2 #241829;
    scrollbar-width: thin;
  }
  &__field {
    margin-bottom: 1.5rem;
  }
  &__label {
    margin-bottom: .5rem;
    font-size: 15px;
    font-weight: 500;
  }
  &__input {
    position: relative;
    input,
    textarea {
      width: 100%;
      height: calc(1.5em + calc(1rem + 6px));
      padding: .5rem 1rem;
      background-color: #151523;
      border-radius: .4rem;
      font-size: .875rem;
      line-height: 1.8;
      color: #9aa1b9;
      resize: none;
    }
    textarea.height-auto {
      height: auto;
      &::-webkit-scrollbar {
        width: 10px !important;
      }
      &::-webkit-scrollbar-track {
        background: transparent !important;
      }
      &::-webkit-scrollbar-thumb {
        background: #241829 !important;
        border-radius: 5px !important;
        transition: background-color .3s;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #2e2333 !important;
      }
      scrollbar-color: #abb4d2 #241829;
      scrollbar-width: thin;
    }
    .ri-search-line {
      position: absolute;
      top: 50%;
      left: 1.5rem;
      transform: translate(-50%, -50%);
    }
    .ri-search-line + input {
      padding-left: 3.5rem;
    }
    &__count {
      position: absolute;
      top: 100%;
      right: 0;
      font-size: 12px;
    }
  }
  &__form {
    &__check {
      width: 1em;
      height: 1em;
      float: left;
      margin-top: .07em;
      margin-right: .5em;
      border-radius: .25em;
      border: 1px solid #a6b0cf;
      transition:
          background-color .15s ease-in-out,
          background-position .15s ease-in-out,
          border-color .15s ease-in-out,
          box-shadow .15s ease-in-out;
      cursor: pointer;
      &-checked {
        background-color: #56baca;
        border-color: #56baca;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
      }
    }
    &__add,
    &__remove {
      float: left;
      margin-right: 1em;
      font-size: 110%;
      cursor: pointer;
    }
    &__add {
      color: #21a821;
    }
    &__remove {
      color: #ef476f;
    }
    &__input {
      input {
        width: 100%;
        padding: .5rem 1rem;
        background-color: #08080ea5;
        border: 1px solid #08080e;
        border-radius: .25rem;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #9aa1b9;
        transition: border-color .15s ease-in-out;
        &:focus {
          border-color: #000;
        }
      }
    }
    &__contacts {
      position: relative;
      background-color: #08080e;
      border: 1px solid #151523;
      border-radius: .25rem;
      word-wrap: break-word;
      &__header {
        padding: .75rem 1.25rem;
        border-bottom: 1px solid #151523;
      }
      &__area {
        height: 150px;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 10px !important;
        }
        &::-webkit-scrollbar-track {
          background: transparent !important;
        }
        &::-webkit-scrollbar-thumb {
          background: #241829 !important;
          border-radius: 5px !important;
          transition: background-color .3s;
        }
        &::-webkit-scrollbar-thumb:hover {
          background: #2e2333 !important;
        }
        scrollbar-color: #abb4d2 #241829;
        scrollbar-width: thin;
      }
      &__toggle {
        display: inline-block;
        margin-bottom: 1rem;
        padding: .25rem .5rem;
        background-color: #08080e;
        border: 1px solid #08080e;
        border-radius: .2rem;
        font-size: .82031rem;
        color: #fff;
        transition:
            background-color .15s ease-in-out,
            border-color .15s ease-in-out,
            box-shadow .15s ease-in-out;
        cursor: pointer;
        &:hover,
        &:focus {
          background-color: #08080ea5;
          border-color: #000;
        }
        &:focus {
          box-shadow: 0 0 0 .15rem rgba(84,93,101,.5);
        }
      }
    }
  }
  &__icon {
    height: 40px;
    width: 40px;
    background: none;
    font-size: 20px;
    line-height: 40px;
    color: #abb4d2;
    text-align: center;
    &-sm {
      height: 17px;
      width: 17px;
      font-size: 15px;
      line-height: 17px;
    }
  }
  &__button {
    padding: .47rem .75rem;
    background-color: #45929e;
    border: 1px solid transparent;
    border-radius: .4rem;
    font-size: .9375rem;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;
    transition:
        color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
    &-text {
      background: transparent;
      color: #56baca;
      text-decoration: none;
    }
    &:hover,
    &:focus {
      background-color: #3f848f;
      border-color: #29555c;
    }
    &:focus {
      box-shadow: 0 0 0 .15rem rgba(#3f848f,.5);
    }
    &-text:hover,
    &-text:focus {
      background: transparent;
      border-color: transparent;
      color: #4b9fac;
      text-decoration: underline;
    }
    &-text:focus {
      box-shadow: 0 0 0 .15rem rgba(#4b9fac,.25);
    }
    &-icon {
      padding: .5rem 1rem;
      background-color: #56baca;
      border-color: #56baca;
      border-radius: .4rem;
      font-size: 16px;
    }
  }
  &__error {
    font-weight: 400;
    font-size: 12px;
    color: #ef476f;
  }
  &__loading {
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      font-size: 30px;
      line-height: 1;
      color: #56baca;
      animation: rotation 2s infinite linear;
    }
  }
  &__sidebar,
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__content {
    @media (max-width: 1023px) {
      display: none;
      &-open {
        display: flex;
      }
    }
  }
  &__sidebar {
    width: 380px;
    padding: 0 .5rem;
    box-sizing: border-box;
    background: #151523a8;
    &__area {
      flex: auto;
      position: relative;
      .messages__scroll > p {
        padding: 15px 20px;
      }
    }
    @media (max-width: 1023px) {
      width: 100%;
      display: none;
      &-open {
        display: flex;
      }
    }
  }
  &__legend {
    padding: 1.5rem 2rem .5rem 2rem;
    font-size: 15px;
    color: #56baca;
  }
  &__caption {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    font-size: 1.40625rem;
    font-weight: 600;
    color: #e1e9f1;
  }
  &__actions {
    display: flex;
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  &__actions &__input {
    flex: 1;
    margin-right: .5em;
  }
  &__content {
    flex: auto;
    &__header {
      display: flex;
      align-items: center;
      padding: 1.5rem 1rem;
      border-bottom: 1px solid #151523;
      @media (max-width: 767px) {
        padding: .5rem;
      }
      &__back {
        display: none;
        margin-right: 1em;
        font-size: 20px;
        cursor: pointer;
        @media (max-width: 1023px) {
          display: block;
        }
      }
      &__name {
        flex: auto;
        display: flex;
        align-items: center;
        margin-bottom: .065rem;
        font-size: 15px;
        font-weight: 600;
        color: #e1e9f1;
      }
      &__image {
        margin-right: 16px;
        div {
          width: 36px;
          height: 36px;
          background: center/cover;
          border-radius: 50%;
        }
      }
    }
    &__area {
      flex: auto;
      position: relative;
      .messages__scroll {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 12px 0;
        > div:not(.messages__loading) {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          > p {
            padding: 12px 24px;
          }
        }
        > p {
          padding: 12px 24px;
        }
      }
      &__container {
        display: flex;
        flex-direction: column;
      }
    }
  }
  &__contact {
    display: flex;
    align-items: center;
    padding: .5rem 1rem .5rem 2rem;
    font-size: 14px;
    font-weight: 600;
    color: #e1e9f1;
    &__image {
      width: 1.7rem;
      height: 1.7rem;
      position: relative;
      margin-right: 1rem;
      background: center/cover;
      border-radius: 50%;
    }
    &-clickable {
      padding-top: 0;
      padding-bottom: 0;
      span {
        flex: auto;
        padding: .5rem 0 .5rem 0;
        display: block;
        cursor: pointer;
      }
    }
    &-chat {
      > span {
        flex: auto;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .ri-star-fill {
        margin-right: 1em;
        font-size: 110%;
      }
      i:not(.ri-star-fill) {
        opacity: .3;
        transition: opacity .3s;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
</style>
