<template lang="pug">
  .messages__card(
    :class="{'active': isMessages ? current == chat.messageId : current == chat.id}"
    @click="open"
  )
    .messages__card__image(:style="`background-image: url(${chat.avatar})`")
    .messages__card__info
      .messages__card__name {{ chat.name }}
      .messages__card__text(v-html="prepareMessage(chat.message)")
    .messages__card__panel
      .messages__card__time {{ chat.last_message_at ? formatDate(chat.last_message_at) : '' }}
      .messages__card__count
        span(v-if="chat.count_new") {{ chat.count_new }}
</template>

<script>
import {mapState, mapActions, mapMutations} from 'vuex';
import {format, isThisWeek, isThisYear, isToday} from 'date-fns';
export default {
  data() {
    return {
      remove: false,
      leave: false,
      clear: false,
      sending: false,
    };
  },
  props: {
    chat: {
      type: Object,
    },
    current: {
      type: Number,
    },
    isMessages: {
      type: Boolean,
      default: false,
    },
    search: {
      type: String,
    },
  },
  computed: {
    ...mapState('messages', ['chats', 'chatMessages']),
  },
  methods: {
    ...mapActions('core', ['tryExecuteDataRequests']),
    ...mapActions('accounts', ['prepareGetAccount']),
    ...mapActions('messages', ['fetchMessages']),
    ...mapMutations('messages', ['setChat', 'setMessages', 'setMessage', 'setLoadingMessages']),
    ...mapActions('messages', ['prepareGetContacts', 'prepareGetChats', 'prepareGetMessages']),
    async open() {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        let chat = this.chats.find((item) => item.id === this.chat.id);
        if (!chat) chat = this.chat;
        this.setChat(chat);
        this.setMessages([]);
        this.setLoadingMessages(true);

        if (this.isMessages) {
          this.setMessage(this.chat.messageId);
        } else {
          this.chat.count_new = 0;
        }

        if (this.chat.id) {
          await this.tryExecuteDataRequests(
              {
                autoUpdate: true,
                executeNow: true,
                nowAlwaysFetchData: true,
                preparedRequests: [
                  await this.prepareGetAccount(),
                  await this.prepareGetContacts(),
                  await this.prepareGetChats(),
                  await this.prepareGetMessages({'chatId': this.chat.id, 'updateAfter': true}),
                ],
              }
          );

          this.setLoadingMessages(false);
          const area = document.querySelector('.messages__content__area .messages__scroll');
          if (!area) return;
          if (this.isMessages) {
            this.findCurrentMessage();
          } else {
            this.$nextTick(() => {
              area.scrollTop = area.scrollHeight;
            });
          }
        }
      } finally {
        this.sending = false;
      }
    },
    prepareMessage(text) {
      if (!this.isMessages) return text;
      return text.replace(
          new RegExp(`(${this.search})`, 'gim'),
          '<mark>$1</mark>'
      );
    },
    findCurrentMessage() {
      this.$nextTick(async () => {
        const area = document.querySelector('.messages__content__area');
        if (!area) return;
        const message = area.querySelector('.messages__message-selected');
        if (!message) {
          area.scrollTop = 0;
          const messages = await this.fetchMessages({
            chat: this.chat.id,
            type: 0,
            message: this.chatMessages[0].id,
          });
          this.setMessages([...messages, ...this.chatMessages]);
          this.findCurrentMessage();
          return;
        }
        area.scrollTop = message.offsetTop - area.offsetTop;
      });
    },
    formatDate(date) {
      const d = new Date(date);
      let f = 'HH:mm';
      if (!isThisYear(d)) {
        f += ' P';
      } else if (!isToday(d) && isThisWeek(d)) {
        f += ' EEEEEE';
      } else if (!isToday(d)) {
        f += ' dd/MM';
      }
      return format(d, f);
    },
  },

};
</script>

<style lang="scss">
.messages {
  &__card {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    &:hover,
    &.active {
      background-color: #151523;
    }
    &__image {
      width: 2.2rem;
      height: 2.2rem;
      position: relative;
      margin-right: 1rem;
      background: center/cover;
      border-radius: 50%;
    }
    &__info {
      flex: 1;
    }
    &__panel {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    &__time {
      font-size: 11px;
      color: #abb4d2;
    }
    &__count {
      min-height: 21px;
      span {
        display: inline-block;
        margin-top: .25em;
        padding: .25em .6em;
        background-color: rgba(239,71,111,.18);
        border-radius: 50rem;
        font-weight: 600;
        font-size: 10px;
        line-height: 16px;
        color: #ef476f;
      }
    }
    &__name {
      margin-bottom: .065rem;
      font-size: 15px;
    }
    &__text {
      font-size: 14px;
      color: #abb4d2;
      mark {
        background: #56baca;
        color: #fff;
      }
    }
  }
}
</style>
