<template lang="pug">
  form(@submit.prevent="submit")
    .messages__field
      .messages__label Group name
      .messages__form__input
        input(
          v-model="form.name"
          placeholder="Enter group name"
        )
        .messages__error(v-if="errors.name")
          | {{ getErrors(errors.name) }}
    .messages__field
      .messages__label Group image
      .form__avatar
        .form__avatar__image(
          :style="avatar ? 'background-image: url(' + avatar + ')' : ''"
        )
        label.form__avatar__edit
          input(
            type="file"
            @change="fileInputChange"
          )
        .messages__error(v-if="errors.avatar")
          | {{ getErrors(errors.avatar) }}
        .form__avatar__rules(v-else)
          | 1. Max. resolution 800x800
          br
          | 2. Supported file types: JPG, PNG
          br
          | 3. Max. file size 1 Mb
    .messages__field
      .messages__label Group members
      .messages__form__contacts__toggle(@click="toggle = !toggle") Select members
      .messages__form__contacts(v-if="toggle")
        .messages__form__contacts__header Contacts
        .messages__form__contacts__area
          .messages__contacts(
            v-for="(legend, index) in legends"
            :key="legend"
          )
            .messages__legend(v-if="parseInt(index) !== 5 && contactsList[index] && contactsList[index].length") {{ legend }}
            .messages__contact(
              v-if="parseInt(index) !== 5"
              v-for="contact in contactsList[index]"
              :key="contact.id"
            )
              div(v-if="currentChat")
                .messages__form__remove(
                  v-if="form.contacts && form.contacts.indexOf(contact.id) !== -1"
                  @click="removeContact(contact.id)"
                )
                  i.ri-delete-bin-line
                .messages__form__add(
                  v-else
                  @click="addContact(contact.id)"
                )
                  i.ri-user-add-line
                | {{ contact.username }}
              div(v-else)
                .messages__form__check(
                  :class="{'messages__form__check-checked': form.contacts && form.contacts.indexOf(contact.id) !== -1}"
                  @click="changeContact(contact.id)"
                )
                | {{ contact.username }}
        .messages__error(v-if="errors.contacts")
          | {{ getErrors(errors.contacts) }}
    .dialog__buttons
      div.messages__button.messages__button-text(@click="$emit('close')")
        span Close
      button.messages__button(v-if="currentChat")
        span Save group
      button.messages__button(v-else)
        span Create group
    Dialog(
      v-if="error"
      :hide-title="false"
      size="small"
      @close="error = null"
    )
      template(v-slot:title="") Error
      <p style="font-size:1rem">{{ error }}</p>
</template>

<script>
import {mapState, mapActions} from 'vuex';
import Dialog from './plugins/dialog';
export default {
  data() {
    return {
      form: {
        name: null,
        avatar: null,
        contacts: null,
      },
      selectedContacts: null,
      avatar: null,
      errors: {},
      toggle: false,
      error: null,
      sending: false,
    };
  },
  computed: {
    ...mapState('messages', ['currentChat', 'legends', 'contacts']),
    contactsList() {
      if (!this.legends || !this.contacts) return [];
      const data = {};
      Object.keys(this.legends).forEach((key) => {
        if (this.contacts[key]) {
          const result = this.contacts[key];
          if (result.length) {
            data[key] = result;
          }
        }
      });
      return data;
    },
  },
  components: {
    Dialog,
  },
  watch: {
    currentChat: {
      immediate: true,
      deep: true,
      handler() {
        this.initForm();
      },
    },
  },
  methods: {
    ...mapActions('messages', ['editChat', 'createChat', 'addUser', 'removeUser']),
    initForm() {
      if (this.currentChat) {
        this.avatar = this.currentChat.avatar;
        this.form = {
          name: this.currentChat.name,
          avatar: null,
          contacts: this.currentChat.users ?
            this.currentChat
                .users
                .map((user) => user.contact_id)
                .filter((id) => id !== null) : null,
        };
      }
    },
    getErrors(errors) {
      return errors.join(', ');
    },
    async submit() {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.error = null;
        this.errors = {};
        if (!this.form.name) {
          this.errors.name = ['Please enter a name of chat'];
          return;
        }
        if (!this.currentChat && (!this.form.contacts || !this.form.contacts.length)) {
          this.error = 'Please select even one contact';
          return;
        }
        const form = new FormData();
        for (const [key, value] of Object.entries(this.form)) {
          if (value !== null) {
            if (key == 'contacts') {
              value.forEach((val) => {
                form.append('contacts[]', val);
              });
            } else {
              form.append(key, value);
            }
          }
        }
        if (this.currentChat) {
          await this.editChat({
            id: this.currentChat.id,
            form,
          });
        } else {
          await this.createChat(form);
        }
        this.form = {
          name: null,
          avatar: null,
          contacts: null,
        };
        await this.updateContent(true);
        this.$emit('success');
      } finally {
        this.sending = false;
      }
    },
    fileInputChange() {
      const file = event.target.files[0];
      const reader = new FileReader();
      reader.onload = (e) => {
        this.avatar = e.target.result;
      };
      reader.readAsDataURL(file);
      this.form.avatar = file;
    },
    changeContact(id) {
      if (!this.form.contacts) this.form.contacts = [];
      const index = this.form.contacts.indexOf(id);
      if (index !== -1) {
        this.form.contacts.splice(index, 1);
      } else {
        this.form.contacts.push(id);
      }
      this.form.contacts = [...new Set(this.form.contacts)];
    },
    async addContact(contact) {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        await this.addUser({
          chat: this.currentChat.id,
          contact,
        });
        this.changeContact(contact);
        await this.updateContent(true);
      } finally {
        this.sending = false;
      }
    },
    async removeContact(contact) {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        const user = this.currentChat.users.find((item) => item.contact_id === contact);
        if (user === undefined) return;
        await this.removeUser({
          chat: this.currentChat.id,
          contact: user.id,
        });
        this.changeContact(contact);
        await this.updateContent(true);
      } finally {
        this.sending = false;
      }
    },
  },
};
</script>
