<template lang="pug">
.messages__accept(v-if="current.required_accept_invitation")
  | Must be accepted
  button.messages__button(@click="accept")
    span Accept invitation
</template>

<script>
import {mapActions} from 'vuex';
export default {
  data() {
    return {
      sending: false,
    };
  },
  props: {
    current: {
      type: Object,
    },
  },
  methods: {
    ...mapActions('messages', ['acceptInvite']),
    async accept() {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        await this.acceptInvite(this.current.id);
        this.$emit('accept');
      } finally {
        this.sending = false;
      }
    },
  },
};
</script>

<style lang="scss">
.messages {
  &__accept {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    .messages__button {
      margin-left: 1em;
    }
  }
}
</style>
