<template lang="pug">
  .messages__search
    .messages__input
      input(
        v-model="search"
        @click.stop=""
        placeholder="Search message"
      )
    .messages__search__area(v-if="messages.length")
      .messages__card(
        v-for="message in messages"
        :key="message.id"
        @click="selectMessage(message.id)"
      )
        .messages__card__image(:style="`background-image: url(${message.author.avatar})`")
        .messages__card__info
          .messages__card__name {{ message.author.username }}
          .messages__card__text(v-html="prepareMessage(message.message)")
        .messages__card__panel
          .messages__card__time {{ message.created_at }}
</template>

<script>
import {mapState, mapActions, mapMutations} from 'vuex';
export default {
  data() {
    return {
      search: '',
      messages: [],
    };
  },
  computed: {
    ...mapState('messages', ['currentChat', 'chatMessages']),
  },
  watch: {
    async search(search) {
      if (!search) {
        this.messages = [];
        return;
      }
      this.messages = await this.searchMessage({
        chat: this.currentChat.id,
        search,
      });
    },
  },
  methods: {
    ...mapActions('messages', ['searchMessage', 'fetchMessages']),
    ...mapMutations('messages', ['setMessage', 'setMessages']),
    prepareMessage(text) {
      return text.replace(
          new RegExp(`(${this.search})`, 'gim'),
          '<mark>$1</mark>'
      );
    },
    selectMessage(id) {
      this.setMessage(id);
      this.messages = [];
      this.search = '';
      this.findCurrentMessage();
    },
    findCurrentMessage() {
      this.$nextTick(async () => {
        const area = document.querySelector('.messages__content__area .messages__scroll');
        if (!area) return;
        const message = area.querySelector('.messages__message-selected');
        if (!message) {
          area.scrollTop = 0;
          const messages = await this.fetchMessages({
            chat: this.currentChat.id,
            type: 0,
            message: this.chatMessages[0].id,
          });
          this.setMessages([...messages, ...this.chatMessages]);
          this.findCurrentMessage();
          return;
        }
        area.scrollTop = message.offsetTop - area.offsetTop;
      });
    },
  },
};
</script>

<style lang="scss">
.messages {
  &__search {
    width: 30rem;
    margin: 0 .5rem;
    &__area {
      max-height: 15rem;
      margin-top: 1em;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 10px !important;
      }
      &::-webkit-scrollbar-track {
        background: transparent !important;
      }
      &::-webkit-scrollbar-thumb {
        background: #241829 !important;
        border-radius: 5px !important;
        transition: background-color .3s;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #2e2333 !important;
      }
      scrollbar-color: #abb4d2 #241829;
      scrollbar-width: thin;
      mark {
        background: #56baca;
        color: #fff;
      }
    }
  }
}
</style>
