<template lang="pug">
  div
    .messages__contact.messages__contact-clickable(
      @contextmenu.prevent=""
    )
      .messages__contact__image(
        :style="`background-image: url(${contact.avatar})`"
        @click="start()"
      )
      span(v-bind:class="{default_cursor: isBlocked}" @click="start()") {{ contact.username }}
      Actions(
        rtl
        hover
      )
        template(v-slot:activator="")
          button.messages__icon.messages__icon-sm
            i.ri-more-2-fill
        .actions__item(v-if="!isBlocked" @click="start()")
          | Start chat
          i(class="ri-message-3-line")
        .actions__delimeter(v-if="!isAdmin")
        .actions__item(v-if="!isAdmin && !isBlocked", @click="blockCurrentContact = true")
          | Block user
          i(class="ri-forbid-line")
        .actions__item(v-if="isBlocked", @click="unblock()")
          | Unblock user
          i(class="ri-forbid-fill")
        .actions__delimeter(v-if="!isAdmin")
        .actions__item(v-if="!isAdmin", @click="removeCurrentContact = true")
          | Remove contact
          i(class="ri-delete-bin-line")
    Dialog(
      v-if="removeCurrentContact"
      confirm
      size="small"
      hide-close
      @yes="remove()"
      @close="removeCurrentContact = false"
    ) Are you sure you want to delete this contact?
    Dialog(
      v-if="blockCurrentContact"
      confirm
      size="small"
      hide-close
      @yes="block()"
      @close="blockCurrentContact = false"
    ) Are you sure you want to block this contact?
    Dialog(
      v-if="error_start"
      :hide-title="false"
      size="small"
      @close="error_start = null"
    )
      template(v-slot:title="") Error at the beginning of the conversation
      <p style="font-size:1rem">Failed to start chat </p>
</template>

<script>
import {mapState, mapActions, mapMutations} from 'vuex';
import Actions from './plugins/actions';
import Dialog from './plugins/dialog';
export default {
  data() {
    return {
      removeCurrentContact: false,
      blockCurrentContact: false,
      error_start: false,
      sending: false,
    };
  },
  props: {
    contact: {
      type: Object,
    },
    legend: {
      type: String,
      default: '',
    },
    legendIndex: {
      type: Number,
    },
  },
  computed: {
    ...mapState('messages', ['chats', 'startingConversation']),
    isAdmin() {
      return this.legendIndex === 0;
    },
    isBlocked() {
      return this.legendIndex == 5;
    },
  },
  components: {
    Actions,
    Dialog,
  },
  methods: {
    ...mapActions('messages', ['fetchChats', 'fetchMessages', 'fetchContacts', 'startConversation', 'blockUser', 'unblockUser', 'removeContact']),
    ...mapMutations('messages', ['setChat', 'setMessages', 'setStartingConversation', 'setLoadingMessages']),
    ...mapActions('core', ['tryExecuteDataRequests']),
    ...mapActions('accounts', ['prepareGetAccount']),
    ...mapActions('messages', ['prepareGetContacts', 'prepareGetChats', 'prepareGetMessages']),
    async start() {
      if (this.isBlocked || this.startingConversation) {
        return;
      }

      this.setStartingConversation(true);
      this.setChat(null);
      this.setMessages([]);

      try {
        const conversation = await this.startConversation({contactId: this.contact.id});

        if (conversation.ok) {
          await this.updateContent(true);

          const chat = this.chats.find((chat) => chat.id === conversation.data.data.chat_id);
          if (chat) {
            this.setChat(chat);
            await this.tryExecuteDataRequests(
                {
                  autoUpdate: true,
                  executeNow: true,
                  nowAlwaysFetchData: true,
                  preparedRequests: [
                    await this.prepareGetAccount(),
                    await this.prepareGetContacts(),
                    await this.prepareGetChats(),
                    await this.prepareGetMessages({'chatId': chat.id, 'updateAfter': true}),
                  ],
                }
            );
          } else {
            throw new Error();
          }
        } else {
          throw new Error();
        }
      } catch (e) {
        this.error_start = true;

        throw e;
      } finally {
        this.setStartingConversation(false);
      }
    },
    async block() {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.setChat(null);
        await this.blockUser(this.contact.promo_code);
        await this.updateContent(true);

        this.blockCurrentContact = false;
      } finally {
        this.sending = false;
      }
    },
    async unblock() {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        await this.unblockUser(this.contact.id);
        await this.updateContent(true);
      } finally {
        this.sending = false;
      }
    },
    async remove() {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.setChat(null);
        this.removeCurrentContact = false;
        await this.removeContact(this.contact.id);
        await this.updateContent(true);
      } finally {
        this.sending = false;
      }
    },
  },
};
</script>

<style lang="scss">
.messages__contact-clickable {
  .default_cursor {
    cursor: default !important;
  }
}
</style>
