<template lang="pug">
  div(style="margin-top:1rem")
    .messages__form__contacts__toggle(v-if="currentChat.is_group" @click="toggle = !toggle") Edit members
    .messages__form__contacts(v-if="toggle")
      .messages__form__contacts__header Contacts
      .messages__form__contacts__area
        .messages__contacts(
          v-for="(legend, index) in legends"
          :key="legend"
        )
          .messages__legend(v-if="parseInt(index) !== 5 && contactsList[index] && contactsList[index].length") {{ legend }}
          .messages__contact(
            v-if="parseInt(index) !== 5"
            v-for="contact in contactsList[index]"
            :key="contact.id"
          )
            .messages__form__remove(
              v-if="currentChat && users.indexOf(contact.id) !== -1"
              @click="remove(contact.id)"
            )
              i.ri-delete-bin-line
            .messages__form__add(
              v-else
              @click="add(contact.id)"
            )
              i.ri-user-add-line
            | {{ contact.username }}
</template>

<script>
import {mapState, mapActions} from 'vuex';
import Dialog from './plugins/dialog';
export default {
  data() {
    return {
      toggle: false,
      sending: false,
    };
  },
  computed: {
    ...mapState('messages', ['currentChat', 'legends', 'contacts']),
    users() {
      return this.currentChat.users.map((user) => user.contact_id);
    },
    contactsList() {
      if (!this.legends || !this.contacts) return [];
      const data = {};
      Object.keys(this.legends).forEach((key) => {
        if (this.contacts[key]) {
          const result = this.contacts[key];
          if (result.length) {
            data[key] = result;
          }
        }
      });
      return data;
    },
  },
  components: {
    Dialog,
  },
  methods: {
    ...mapActions('messages', ['addUser', 'removeUser', 'fetchChats']),
    async add(contact) {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        await this.addUser({
          chat: this.currentChat.id,
          contact,
        });
        await this.updateContent(true);
      } finally {
        this.sending = false;
      }
    },
    async remove(contact) {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        const user = this.currentChat.users.find((item) => item.contact_id === contact);
        if (user === undefined) return;
        await this.removeUser({
          chat: this.currentChat.id,
          contact: user.id,
        });
        await this.updateContent(true);
      } finally {
        this.sending = false;
      }
    },
  },
};
</script>

<style lang="scss">
.dialog-small {
  .messages__form__contacts {
    text-align: left;
  }
}
</style>
