<template lang="pug">
  .messages__contact.messages__contact-chat
    i(
      v-if="!isAdmin && !isYou && !isBlocked"
      @click="blockCurrentContact = true"
      title="Block user"
      class="ri-forbid-line messages__form__remove"
    )
    i(
      v-else-if="!isAdmin && !isYou && isBlocked"
      @click="unblock()"
      title="Unblock user"
      class="ri-forbid-fill messages__form__add"
    )
    span(:style="isAdmin || isYou ? 'margin-left:2rem' : ''") {{ contact.username }}
    i.ri-star-fill(
      v-if="isOwner"
    )
    Dialog(
      v-if="blockCurrentContact"
      confirm
      size="small"
      hide-close
      @yes="block()"
      @close="blockCurrentContact = false"
    ) Are you sure you want to block this contact?
</template>

<script>
import {mapState, mapActions} from 'vuex';
import Dialog from './plugins/dialog';
export default {
  data() {
    return {
      blockCurrentContact: false,
      sending: false,
    };
  },
  props: {
    contact: {
      type: Object,
    },
  },
  computed: {
    ...mapState('messages', ['legends', 'contacts']),
    currentGroup() {
      const keys = Object.keys(this.contacts);
      const values = Object.values(this.contacts);
      const result = keys
          .map((key, index) => values[index].find((item) => item.id === this.contact.contact_id) ? key : false)
          .find((item) => item !== false);
      return this.legends[result];
    },
    isOwner() {
      return this.contact.is_owner;
    },
    isAdmin() {
      return this.currentGroup == 'Administration';
    },
    isBlocked() {
      return this.currentGroup == 'Black list';
    },
    isYou() {
      return this.contact.username === this.user.username;
    },
  },
  components: {
    Dialog,
  },
  methods: {
    ...mapActions('messages', ['blockUser', 'unblockUser', 'fetchContacts']),
    async block() {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        await this.blockUser(this.contact.promo_code);
        await this.updateContent(true);
        this.blockCurrentContact = false;
      } finally {
        this.sending = false;
      }
    },
    async unblock() {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        await this.unblockUser(this.contact.id);
        await this.updateContent(true);
        this.blockCurrentContact = false;
      } finally {
        this.sending = false;
      }
    },
  },
};
</script>
