<template lang="pug">
.messages__form(v-if="currentChat && !currentChat.readonly && !currentChat.required_accept_invitation")
  .messages__reply(v-if="reply")
    .messages__reply__header
      div
        i.ri-reply-line
        strong {{ reply.author.username }}
      button.messages__icon(@click="$emit('cancel')")
        i.ri-close-line
    span {{ reply.message }}
  .messages__reply(v-if="edit")
    .messages__reply__header
      div
        i.ri-pencil-line
        strong {{ edit.author.username }}
      button.messages__icon(@click="message = ''; $emit('cancel')")
        i.ri-close-line
    span {{ edit.message }}
  form(@submit.prevent="submit")
    .messages__input
      textarea(
        v-model="message"
        :class="{'height-auto': multiline}"
        placeholder="Enter message... (press CTRL+ENTER to send)"
        :disabled="loading"
        @keydown="keyDownHandler"
        @keyup="keyUpHandler"
      )
      .messages__input__count(
        :class="{'messages__error': message.length > maxLength}"
      )
        | {{ message.length }} of {{ maxLength }}
    button.messages__button.messages__button-icon(type="submit", :disabled="loading")
      i.ri-loader-2-line(v-if="loading")
      i.ri-send-plane-2-fill(v-else)
  Dialog(
    v-if="error"
    :hide-title="false"
    size="small"
    @close="error = null"
  )
    template(v-slot:title="") Error
    <p style="font-size:1rem">{{ error }}</p>
</template>

<script>
import {mapActions, mapState, mapMutations} from 'vuex';
import Dialog from './plugins/dialog';
// import recaptcha from './plugins/recaptcha';
export default {
  data() {
    return {
      message: '',
      // recaptcha: '',
      error: null,
      loading: false,
      multiline: false,
      maxLength: 1000,
      sending: false,
    };
  },
  computed: {
    ...mapState('messages', ['currentChat', 'chatMessages']),
    ...mapState(['user']),
  },
  props: {
    reply: {
      type: Object,
      default: null,
    },
    edit: {
      type: Object,
      default: null,
    },
  },
  watch: {
    edit: {
      immediate: true,
      handler(val) {
        if (val) {
          this.message = val.message;
        }
      },
    },
  },
  components: {
    // recaptcha,
    Dialog,
  },
  methods: {
    ...mapActions('core', ['tryExecuteDataRequests']),
    ...mapActions('messages', [
      'editMessage',
      'prepareGetChats',
      'prepareSendMessage',
      'prepareGetMessages',
    ]),
    ...mapMutations('messages', ['setMessages']),
    async submit() {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.error = null;
        if (this.message == '' || this.loading/* || this.recaptcha == ''*/) return;
        if (this.message.length > this.maxLength) {
          this.message = this.message.substr(0, this.maxLength);
        }
        this.loading = true;
        if (this.edit) {
          const result = await this.editMessage({
            id: this.edit.id,
            text: this.message,
          });
          if (result) {
            const message = this.chatMessages.find((item) => item.id === this.edit.id);
            if (message) {
              message.message = this.message;
            }
            this.$emit('success');
          } else {
            this.error = 'Message cannot be edited';
          }
        } else {
          const chatId = this.currentChat.chat_id || this.currentChat.id;
          const parentId = this.reply ? this.reply.id : null;
          const lastMessageId = this.chatMessages && this.chatMessages.length ?
            this.chatMessages[this.chatMessages.length - 1].id :
            null;

          const area = document.querySelector('.messages__content__area .messages__scroll');
          let scrollToBottom = false;
          if (area) {
            scrollToBottom = area.scrollHeight - area.scrollTop === area.clientHeight;
          }

          const result = await this.tryExecuteDataRequests(
              {
                executeNow: true,
                nowAlwaysFetchData: true,
                preparedRequests: [
                  await this.prepareSendMessage({'chatId': chatId, 'message': this.message, 'parentId': parentId}),
                  await this.prepareGetChats(),
                  await this.prepareGetMessages({'chatId': chatId, 'type': 1, 'message': lastMessageId}),
                ],
              }
          );

          if (result.ok) {
            if (scrollToBottom) {
              this.$nextTick(() => {
                area.scrollTop = area.scrollHeight;
              });
            }
            this.$emit('success');
          } else {
            this.error = 'Message cannot be send. Text length no more than 1000 characters and maximum word length - 50 characters.';
          }
        }
        if (this.error) {
          this.loading = false;
          return;
        }

        this.message = '';
        this.loading = false;
        this.multiline = false;
      } finally {
        this.sending = false;
      }
    },
    keyDownHandler() {
      if ((event.keyCode == 10 || event.keyCode == 13) && event.ctrlKey) {
        this.submit();
        return;
      }
      if (event.keyCode == 10 || event.keyCode == 13) {
        this.multiline = true;
      }
    },
    keyUpHandler() {
      if ((this.multiline == true) && (this.message == '')) {
        this.multiline = false;
      }
    },
  },
};
</script>

<style lang="scss">
.messages {
  &__form {
    padding: 1.5rem;
    border-top: 1px solid #151523;
    @media (max-width: 767px) {
      padding: .5rem;
    }
    form {
      display: flex;
    }
  }
  &__form &__input {
    flex: auto;
    margin-right: 8px;
  }
  &__reply {
    margin-top: -1em;
    margin-bottom: 1em;
    font-size: 0.8em;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      > div {
        display: flex;
        align-items: center;
        color: #fff;
        i {
          font-size: 20px;
          margin-right: .5em;
        }
      }
    }
  }
}
</style>
