<template lang="pug">
  Layout
    .news__sort
      .news__sort__caption Filter:
      .news__sort__item.toggleDate(
        @click="toggleDate = !toggleDate"
      ) By date
        .news__sort__dropdown__toggle(
          :class="{'active': toggleDate}"
        )
        transition(name="slide-up")
          .news__sort__dropdown(v-if="toggleDate")
            div.up(
              @click="params = {sort: 'DESC'}"
              :class="{'active': params.sort == 'DESC'}"
            ) Newest
            div.down(
              @click="params = {sort: 'ASC'}"
              :class="{'active': params.sort == 'ASC'}"
            ) Oldest
      .news__sort__item.toggleCategory(
        @click="toggleCategory = !toggleCategory"
      ) By category
        .news__sort__dropdown__toggle(
          :class="{'active': toggleCategory}"
        )
        transition(name="slide-up")
          .news__sort__dropdown(v-if="toggleCategory")
              div(
                @click="params = {category: null}"
                :class="{'active': params.category == null}"
              ) All news
              div(
                v-for="item in categories"
                :key="item.id"
                @click="params = {category: item.id}"
                :class="{'active': params.category == item.id}"
              ) {{ item.title[lang]}}
    transition-group(
      v-if="newsTotal"
      name="grid"
      mode="out-in"
      tag="div"
      class="news__list"
    )
      .news__item(
        v-for="item in news.list"
        :key="item.id"
        :class="'news__item-' + prepareCategory(item.category_title[lang])"
      )
        .news__image(
          :style="'background-image: url(' + item.preview_image + ')'"
        )
        .news__header
          router-link.news__title(
            :to="{name: 'NewsSingle', params: {id: item.id}}"
          ) {{ item.title[lang] }}
          .news__date
            div Date/Time:&nbsp;
              | {{ item.published_at }}
        .news__info
          .news__brief {{ item.catalog_preview[lang] }}
          .news__category Category:&nbsp;
            span {{ item.category_title[lang] }}
        .text-center
          router-link.news__button(
            :to="{name: 'NewsSingle', params: {id: item.id}}"
          ) Read more...
    .news__list(v-else) No results...
    .pagination(v-if="pagination.pages.length > 1")
      .pagination__button.prev(
        v-if="pagination.prev"
        @click="params = {page: pagination.prev}"
      )
      .pagination__button(
        v-for="(page, index) in pagination.pages"
        :class="{'active': (index + 1) == params.page}"
        @click="params = {page: index + 1}"
      ) {{ index + 1 }}
      .pagination__button.next(
        v-if="pagination.next"
        @click="params = {page: pagination.next}"
      )
</template>

<script>
import Layout from './layouts/News.vue';

export default {
  data() {
    return {
      pageTitle: 'News',
      breadcrumbs: [
        {name: 'Home', route: 'Index'},
        {name: 'News'},
      ],
      toggleDate: false,
      toggleCategory: false,
      pagination: {
        prev: null,
        next: null,
        pages: [],
      },
    };
  },
  components: {
    Layout,
  },
  computed: {
    news() {
      return this.$store.state.news;
    },
    newsTotal() {
      return this.news !== null &&
          this.news.list !== undefined &&
          Object.keys(this.news.list).length;
    },
    pages() {
      return this.$store.state.news || null;
    },
    params: {
      get() {
        return this.$store.state.newsParams;
      },
      set(param) {
        this.$store.commit('setNewsParams', param);
      },
    },
    categories() {
      return this.$store.state.newsCategories;
    },
  },
  watch: {
    toggleDate(flag) {
      const listener = (e) => {
        const specified = document
            .getElementsByClassName('toggleDate')[0];
        if (specified && !specified.contains(e.target)) {
          this.toggleDate = false;
        }
      };
      if (flag) {
        window.addEventListener('click', listener);
      } else {
        window.removeEventListener('click', listener);
      }
    },
    toggleCategory(flag) {
      const listener = (e) => {
        const specified = document
            .getElementsByClassName('toggleCategory')[0];
        if (specified && !specified.contains(e.target)) {
          this.toggleCategory = false;
        }
      };
      if (flag) {
        window.addEventListener('click', listener);
      } else {
        window.removeEventListener('click', listener);
      }
    },
    params() {
      this.$store.dispatch('fetchNews');
    },
    pages() {
      this.preparePagination();
    },
  },
  created() {
    this.enableAutoUpdate();
    this.$store.commit('setMask', 1 | 4 | 8);
    this.checkContent('news', ['fetchNews']);
  },
  mounted() {
    if (this.pages) {
      this.preparePagination();
    }
  },
  methods: {
    prepareCategory(name) {
      return name.toLowerCase().replaceAll(/\s+/g, '').replace('&', '');
    },
    preparePagination() {
      this.pagination.pages = new Array(this.pages.pages);
      this.pagination.prev = null;
      this.pagination.next = null;
      if (this.pages.page > 1) {
        this.pagination.prev = this.pages.page - 1;
      }
      if (this.pages.page < this.pages.pages) {
        this.pagination.next = this.pages.page + 1;
      }
    },
  },
};
</script>

<style lang="scss">
.news {
  &__sort {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 2.3em;
    padding: .8em 1em .85em 1.4em;
    border: .0625em solid #2d2c3c;
    font-size: .7em;
    letter-spacing: .03em;
    text-transform: uppercase;
    @media (max-width: 767px) {
      font-size: 1.1em;
      justify-content: space-between;
    }
    &__caption {
      margin-right: 3.2em;
    }
    &__item {
      display: flex;
      align-items: center;
      position: relative;
      margin-right: 2.2em;
      @media (max-width: 767px) {
        margin-right: 0;
      }
    }
    &__dropdown {
      width: 11em;
      position: absolute;
      top: 100%;
      right: 0;
      margin-top: -.0625em;
      background: #0f0f1c;
      border: .0625em solid #2d3c41;
      &__toggle {
        width: 1.6em;
        height: 2em;
        position: relative;
        margin-left: .2em;
        border: .0625em solid transparent;
        cursor: pointer;
        &:after {
          content: '';
          width: 50%;
          height: 50%;
          position: absolute;
          top: 25%;
          left: 25%;
          background:
            url(../assets/images/global/arrow-show.png)
            center/contain
            no-repeat;
          transition: transform .3s;
        }
        &.active {
          border-color: #2d3c41;
          &:after {
            transform: rotate(-180deg);
          }
        }
      }
      > div {
        display: block;
        position: relative;
        padding: .82em .1em .82em .7em;
        border-left: .2em solid transparent;
        border-bottom: .0625em solid #2d3c41;
        font-size: 1em;
        letter-spacing: .03em;
        color: #56baca;
        text-decoration: none;
        text-transform: uppercase;
        transition: color .3s, border-color .3s, background .3s;
        cursor: pointer;
        &:last-child {
          border-bottom: none;
        }
        &:hover {
          color: #fff;
          .news__dropdown__arrow {
            &:before {
              opacity: 0;
            }
            &:after {
              opacity: 1;
            }
          }
        }
        &.up,
        &.down {
          padding-left: 3em;
          &:before {
            content: '';
            width: 1.2em;
            height: 1.2em;
            position: absolute;
            top: 50%;
            left: .8em;
            background: url(../assets/images/news/arrow.png);
            background-size: 100% 200%;
            transform: translateY(-50%);
          }
          &.active:before {
            background-position: bottom;
          }
        }
        &.down {
          &:before {
            transform: translateY(-50%) rotate(-180deg);
          }
        }
        &.active {
          background: #2a2230;
          border-left-color: #ecfabd;
          color: #ecfabd;
        }
      }
    }
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-bottom: 2.4em;
    @media (max-width: 767px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__item {
    padding-bottom: .55em;
    border: .0625em solid #2d2c3c;
    border-top-width: .2em;
    @media (max-width: 767px) {
      font-size: 1.2em;
    }
    &-generalnews {
      border-top-color: #20655d;
    }
    &-tradingbot {
      border-top-color: #a0371d;
    }
    &-faq {
      border-top-color: #7b8f38;
    }
    &-tutorials {
      border-top-color: #bbf4ed;
    }
    &-airdropbounty {
      border-top-color: #56baca;
    }
  }
  &__image {
    height: 7.6em;
    margin: 1em 1em .5em 1em;
    background: center/cover no-repeat;
  }
  &__header {
    padding: .2em 1em .25em 1em;
    border-top: .0625em solid #2d2c3c;
  }
  &__title {
    height: 3.7em;
    display: block;
    margin-bottom: .5em;
    font-size: .95em;
    line-height: 130%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
  }
  &__date {
    font-size: .7em;
    font-weight: 500;
    color: #5d858d;
    text-transform: uppercase;
  }
  &__info {
    padding: .15em 1em .45em 1em;
    border-top: .0625em solid #2d2c3c;
    color: #5d858d;
  }
  &__brief {
    height: 10em;
    margin-bottom: .7em;
    font-size: .8em;
    overflow: hidden;
  }
  &__category {
    font-size: .75em;
    span {
      display: inline-block;
      margin-left: .3em;
      font-size: 1.1em;
      text-transform: uppercase;
    }
  }
  &__item-generalnews &__category span {
    color: #20655d;
  }
  &__item-tradingbot &__category span {
    color: #a0371d;
  }
  &__item-apitrading &__category span {
    color: #7b8f38;
  }
  &__item-dexchange &__category span {
    color: #bbf4ed;
  }
  &__item-airdropbounty &__category span {
    color: #56baca;
  }
  &__button {
    min-width: 13.2em;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    border: .0625em solid #174842;
    padding: .67em .5em;
    box-sizing: border-box;
    background: none;
    font-size: .7em;
    color: #00ab97;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    transition: background-color .3s;
    cursor: pointer;
    @media (max-width: 767px) {
      min-width: 9em;
      padding: .4em;
      font-size: .9em;
    }
    &:hover {
      background-color: #15423c;
    }
  }
}
</style>
