<template lang="pug">
  Layout
    .news-single(v-if="isLoaded")
      video(
        v-if="news.video"
        :src="news.video.download_link"
        controls
      )
      .news-single__header
        .news-single__preview
        .news-single__area
          h2 {{ news.title[lang] }}
          .news-single__info
            .news-single__author Admin
            .news-single__date {{ news.published_at }}
        .news-single__like(
          :class="{'liked': news.liked}"
          @click="like()"
        ) {{ newsLikes }}
      .news-single__text(v-html="news.text[lang]")
    .navigation(v-if="isLoaded")
      router-link.navigation__button.prev(
        v-if="prev"
        :to="{name: 'NewsSingle', params: {id: prev}}"
      )
        .navigation__button__icon
        span Prev.
      .navigation__area
        .navigation__button.share(@click="toggle = !toggle")
          .navigation__button__icon
          span Share
        .navigation__button.copy(@click="copyLink")
          span {{ newsCopyText }}
          .navigation__button__icon
      router-link.navigation__button.next(
        v-if="next"
        :to="{name: 'NewsSingle', params: {id: next}}"
      )
        span Next
        .navigation__button__icon
    transition(name="slide-up")
      .news__sharing(v-if="sharing && toggle")
        ShareNetwork(
          v-for="network in networks"
          :network="network.network"
          :key="network.network"
          :style="{backgroundColor: network.color}"
          :url="sharing.url"
          :title="sharing.title"
          :description="sharing.description"
        ) {{ network.name }}
    input(
      v-if="sharing"
      type="hidden"
      id="copyLink"
      :value="sharing.url"
      style="opacity: 0"
    )
</template>

<script>
import Layout from './layouts/News.vue';
export default {
  data() {
    return {
      pageTitle: 'News',
      breadcrumbs: [],
      isLoaded: false,
      toggle: false,
      sharing: null,
      networks: [
        {network: 'facebook', name: 'Facebook', color: '#1877f2'},
        {network: 'linkedin', name: 'LinkedIn', color: '#007bb5'},
        {network: 'skype', name: 'Skype', color: '#00aff0'},
        {network: 'telegram', name: 'Telegram', color: '#0088cc'},
        {network: 'twitter', name: 'Twitter', color: '#1da1f2'},
        {network: 'whatsapp', name: 'Whatsapp', color: '#25d366'},
      ],
      newsLikes: 0,
      newsCopyText: 'Copy link',
      prev: null,
      next: null,
    };
  },
  components: {
    Layout,
  },
  computed: {
    news() {
      return this.$store.state.newsSingle;
    },
    ids() {
      return this.$store.state.news ?
          this.$store.state.news.ids : [];
    },
    params() {
      return this.$store.state.newsParams;
    },
    id() {
      return this.$route.params.id;
    },
  },
  watch: {
    id(id) {
      this.$store.dispatch('fetchNewsSingle', id);
    },
    ids(ids) {
      if (ids.length) {
        this.preparePagination();
      }
    },
    news(item) {
      if (item) {
        this.sharing = {
          url: document.location.href,
          title: item.title[this.lang],
          description: item.text[this.lang],
        };
        this.breadcrumbs = [
          {name: 'Home', route: 'Index'},
          {name: 'News', route: 'News'},
          {name: item.title[this.lang]},
        ];
        this.newsLikes = item.likes;
        this.isLoaded = true;
      }
      if (this.ids.length) {
        this.preparePagination();
      }
    },
    params() {
      this.$router.push({name: 'News'});
    },
  },
  async mounted() {
    await this.$store.dispatch('fetchNewsSingle', this.id);
    if (!this.$store.state.news) {
      this.$store.dispatch('fetchNews');
    }
  },
  created() {
    this.enableAutoUpdate();
  },
  methods: {
    getErrors(errors) {
      return errors.join(', ');
    },
    preparePagination() {
      const index = this.ids.indexOf(parseInt(this.id));
      this.prev = null;
      this.next = null;
      if (index > 0) {
        this.prev = this.ids[index - 1];
      }
      if (index < this.ids.length) {
        this.next = this.ids[index + 1];
      }
    },
    copyLink() {
      this.newsCopyText = this.copyLinkByInputId('#copyLink', true) ? 'Was copied' : 'Wasn`t copied';

      setTimeout(() => {
        this.newsCopyText = 'Copy link';
      }, 2000);
    },
    async like() {
      if (this.news.liked) {
        this.$store.commit('setModalContent', {
          title: 'Thank you!',
          content: 'Already liked',
          small: true,
        });
        this.$store.commit('showModal', true);
        setTimeout(() => {
          this.$store.commit('showModal', false);
        }, 4000);
        return;
      } else {
        this.news.liked = true;
      }
      const result = await this.$store.dispatch('newsItemLike', this.id);
      if (result !== true) {
        this.$store.commit('setModalContent', {
          title: 'Error',
          content: !result.errors ?
            'Already liked' :
            this.getErrors(result.errors.global),
          small: true,
        });
        this.$store.commit('showModal', true);
        setTimeout(() => {
          this.$store.commit('showModal', false);
        }, 4000);
      } else {
        this.newsLikes ++;
      }
    },
  },
};
</script>

<style lang="scss">
.news {
  &-single {
    margin-bottom: 1em;
    padding: 1em;
    border: .0625em solid #2d2c3c;
    box-sizing: border-box;
    @media (max-width: 767px) {
      font-size: 1.2em;
    }
    video {
      width: 100%;
      height: 26.8em;
      margin-bottom: .55em;
      background: #000;
      border: .0625em solid #2d2c3c;
      box-sizing: border-box;
      @media (max-width: 767px) {
        height: auto;
      }
    }
    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: .55em;
    }
    &__preview {
      width: 2.5em;
      height: 2.5em;
      margin-right: 1em;
      background:
        url(../assets/images/news/author.png)
        center/contain
        no-repeat;
    }
    &__area {
      flex: auto;
    }
    h2 {
      margin-bottom: .4em;
      font-size: 1.2em;
      line-height: 110%;
      letter-spacing: .07em;
      color: #fff;
    }
    &__info {
      display: flex;
      font-size: .7em;
      color: #5d858d;
      @media (max-width: 767px) {
        font-size: 1em;
      }
    }
    &__author {
      width: 6em;
      margin-right: 1em;
      letter-spacing: .07em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      @media (max-width: 767px) {
        margin-right: .2em;
      }
    }
    &__date {
      font-weight: 500;
      text-transform: uppercase;
      span {
        color: #fff;
      }
    }
    &__like {
      display: flex;
      align-items: center;
      margin-top: -1em;
      font-size: 1.2em;
      color: #56baca;
      cursor: pointer;
      &:before {
        content: '';
        width: 1em;
        height: 1em;
        margin-right: .4em;
        background-image: url(../assets/images/news/like.png);
        background-size: 100% 200%;
      }
      &:hover,
      &.liked {
        &:before {
          background-position: bottom;
        }
      }
    }
    &__text {
      font-size: .75em;
      line-height: 140%;
      color: #5d858d;
      @media (max-width: 767px) {
        font-size: 1em;
      }
      img,
      video,
      iframe {
        max-width: 100%;
        height: auto !important;
      }
      p {
        margin-bottom: 1.3em;
        @media (max-width: 767px) {
          font-size: 1.2em;
        }
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  &__sharing {
    padding: 1em;
    display: flex;
    justify-content: center;
    a {
      padding: .5em;
      font-size: .75em;
      letter-spacing: .05em;
      text-transform: uppercase;
      cursor: pointer;
      opacity: .7;
      transition: opacity .3s;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.news-single,
.news__sharing,
.navigation {
  max-width: 49.7em;
}
</style>
