<template lang="pug">
  Layout
    form(@submit="saveForm")
      .profile__block
        .profile__block__caption Change password
        .form
          .form__field.form__field-m1
            .form__label Current password
            .form__input
              input(
                type="password"
                v-model="form.current_password"
              )
              .form__error(v-if="errors.current_password")
                | {{ getErrors(errors.current_password) }}
          .form__field
            .form__label New password
            .form__input
              input(
                type="password"
                v-model="form.password"
              )
              .form__error(v-if="errors.password")
                | {{ getErrors(errors.password) }}
          .form__field
            .form__label Repeat password
            .form__input
              input(
                type="password"
                v-model="form.password_confirmation"
              )
              .form__error(v-if="errors.password_confirmation")
                | {{ getErrors(errors.password_confirmation) }}
          .form__field
            .form__label Enter 2fa code
            .form__input.form__input-small
              input(
                v-model="form['2fa_code']"
                v-mask="'# # # # # #'"
                placeholder="_ _ _ _ _ _"
              )
              .form__error(v-if="errors['2fa_code']")
                | {{ getErrors(errors['2fa_code']) }}
      .profile__block.profile__button
        .form__success
          span(v-if="success") PASSWORD WAS SUCCESSFULLY CHANGED
        button(v-bind:class="buttonsCls")
          span Save changes
</template>

<script>
import Layout from './layouts/Profile.vue';

export default {
  data() {
    return {
      pageTitle: 'Profile',
      breadcrumbs: [
        {name: 'Home', route: 'Index'},
        {name: 'Profile'},
        {name: 'Password'},
      ],
      form: {
        'current_password': '',
        'password': '',
        'password_confirmation': '',
        '2fa_code': '',
      },
      errors: {},
      success: false,
      sending: false,
    };
  },
  components: {
    Layout,
  },
  computed: {
    buttonsCls() {
      const cls = {};

      if (this.styles && this.styles.enable_custom_buttons_css) {
        cls[this.styles.buttons_cls_name] = true;
      } else {
        cls['button'] = true;
      }

      return cls;
    },
    styles() {
      return this.$store.state.styles;
    },
  },
  watch: {
  },
  methods: {
    getErrors(errors) {
      return errors.join(', ');
    },
    async saveForm() {
      event.preventDefault();

      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.errors = {};
        const result = await this.$store
            .dispatch('profilePasswordChange', this.form);
        if (result !== true ) {
          this.errors = result.errors;
        } else {
          this.success = true;
          this.form = {
            'current_password': '',
            'password': '',
            'password_confirmation': '',
            '2fa_code': '',
          };
          setTimeout(() => {
            this.success = false;
          }, 5000);
        }
      } finally {
        this.sending = false;
      }
    },
  },
};
</script>

<style lang="scss">
</style>
