<template lang="pug">
  .register(:class="{'muted': modal}")
    .auth__area(v-if="sent")
      .form
        .form__header.form__header-center
          .form__caption Activate your account
        router-link.auth__image(:to="{name: 'Index'}")
        .form__text.form__text-variant
          | We've sent you an email with ACTIVATION LINK it should arrive
          |  within 10 minutes.
          br
          | Please check your email and follow the
          |  instructions. If you didn't receive the email, please check
          |  your spambox or contact our support team using the contact
          |  form on the homepage or directly via Telegram.
          br
          br
          | You can resend the email with ACTIVATION LINK using the LOGIN
          |  page. If your account wasn't activated yet, then after the
          |  login attempt with your account credentials used during the
          |  registration, you will be forwarded to the activation link
          |  resend page.
        .form__text.form__text-variant(v-if="result == 2")
          | If you didn't receive the email with ACTIVATION LINK previously,
          |  then please try to check first your spambox.
          |  You can resend the email with ACTIVATION LINK using the RESEND
          |  button below. But don't try to resend the activation link too
          |  often. It can be resent only once per 5 minutes.
          br
          | If you have problems with receiving the ACTIVATION LINK email then
          |  contact our support team using the contact form on the homepage or
          |  directly via Telegram.
        .auth__form(v-if="!user")
          .form__container
            router-link.button.button-full(:to="{name: 'Login'}")
              span Login
              video#buttonAnimation1(
                autoplay
                loop
                playsinline
                muted
              )
    .register__area(v-else)
      .register__image
        Parallax(
          :image="require('@/assets/images/register/logo.png')"
          :background="require('@/assets/images/register/image.jpg')"
          :j="15"
        )
      .register__form
        form.form(@submit="sendForm")
          #inputFlame
            video(
              autoplay
              loop
              playsinline
              muted
            )
          .form__header
            .form__caption {{ getString(prefix + 'title') }}
            router-link.form__back(v-if="!user", :to="{name: 'Login'}")
              | {{ getString(prefix + 'header_back_to') }}&nbsp;
              span {{ getString(prefix + 'header_login') }}
          .form__container
            label.form__label {{ getString(prefix + 'email.label') }}
              span(v-if="errors.email") ({{ getErrors(errors.email) }})
            .form__input.form__input-corner
              input(
                :placeholder="getString(prefix + 'email.placeholder')"
                type="email"
                v-model="form.email"
              )
              input.form__input__layer(
                type="email"
                v-model="form.email"
                @focus="activeFlame"
                @blur="deactiveFlame"
              )
            label.form__label {{ getString(prefix + 'username.label') }}
              span(v-if="errors.username") ({{ getErrors(errors.username) }})
            .form__input.form__input-corner
              input(
                :placeholder="getString(prefix + 'username.placeholder')"
                v-model="form.username"
              )
              input.form__input__layer(
                v-model="form.username"
                @focus="activeFlame"
                @blur="deactiveFlame"
              )
            label.form__label {{ getString(prefix + 'password.label') }}
              span(v-if="errors.password") ({{ getErrors(errors.password) }})
            .form__input.form__input-corner
              input(
                :placeholder="getString(prefix + 'password.placeholder')"
                type="password"
                v-model="form.password"
              )
              input.form__input__layer(
                type="password"
                v-model="form.password"
                @focus="activeFlame"
                @blur="deactiveFlame"
              )
            label.form__label {{ getString(prefix + 'repeat_password.label') }}
              span(v-if="errors.password_confirmation")
                | ({{ getErrors(errors.password_confirmation) }})
            .form__input.form__input-corner
              input(
                :placeholder="getString(prefix + 'repeat_password.placeholder')"
                type="password"
                v-model="form.password_confirmation"
              )
              input.form__input__layer(
                type="password"
                v-model="form.password_confirmation"
                @focus="activeFlame"
                @blur="deactiveFlame"
              )
            label.form__label
              | {{ getString(prefix + 'promo_code.label') }}
              |  {{ getString(prefix + 'promo_code.optional') }}
              span(v-if="errors.promo_code")
                | ({{ getErrors(errors.promo_code) }})
            .form__input.form__input-corner
              input(
                :placeholder="getString(prefix + 'promo_code.placeholder')"
                v-model="form.promo_code"
              )
              input.form__input__layer(
                v-model="form.promo_code"
                @focus="activeFlame"
                @blur="deactiveFlame"
              )
            label.form__checkbox
              input(
                type="checkbox"
                v-model="form.is_accepted_terms"
                :true-value="1"
                :false-value="1"
              )
              .form__checkbox__area
              | {{ getString(prefix + 'check.label') }}&nbsp;
              a(
                @click="showModal(tac.title, tac.text, true)"
              ) {{ getString(prefix + 'check.link') }}
              span(v-if="errors.is_accepted_terms")
                | ({{ getErrors(errors.is_accepted_terms) }})
            span.form__error.form__error-recaptcha
              span(v-if="errors['g-recaptcha-response']")
                | {{ getErrors(errors['g-recaptcha-response']) }}
              span(v-else) &nbsp;
            recaptcha(
              v-model="form['g-recaptcha-response']"
              :check-failed="errors['g-recaptcha-response'] && errors['g-recaptcha-response'].length > 0"
              :ready="recaptcha"
            )
            button.button.button-full(
              :disabled="loading || !recaptcha.ready"
            )
              span {{ getString(prefix + 'submit') }}
              video#buttonAnimation(
                autoplay
                loop
                playsinline
                muted
              )
</template>

<script>
import recaptcha from './plugins/recaptcha';
import Parallax from './plugins/parallax';
import seeThru from 'seethru';
import IdentificationsService from '../services/IdentificationsService';

export default {
  mixins: [IdentificationsService],
  data() {
    return {
      action: 'fetchRegisterContents',
      prefix: 'page_access.page.register.',
      form: {
        'email': '',
        'username': '',
        'password': '',
        'repeat_password': '',
        'password_confirmation': '',
        'promo_code': '',
        'is_accepted_terms': 0,
        'g-recaptcha-response': '',
      },
      errors: {},
      sent: false,
      flame: null,
      focused: null,
      loading: false,
      recaptcha: {
        ready: false,
      },
      sending: false,
    };
  },
  components: {
    recaptcha,
    Parallax,
  },
  async mounted() {
    await this.$store.dispatch('logout', true);
    this.loadFlame(seeThru);

    if (this.$route.params.promocode) {
      this.form.promo_code = this.$route.params.promocode;
    }
  },
  methods: {
    async sendForm() {
      event.preventDefault();

      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.loading = true;
        this.errors = {};

        if (this.form.email && this.form.email.length > 0) {
          await this.sendIdentificationInfo(this.form.email);
        }

        const result = await this.$store.dispatch('register', this.form);

        if (result !== true ) {
          this.errors = result.errors;
        } else {
          this.sent = true;
          setTimeout(() => {
            if (document.getElementById('buttonAnimation1')) {
              this.flameButton(seeThru, '#buttonAnimation1');
            }
          }, 500);
        }
        this.loading = false;
      } finally {
        this.sending = false;
      }
    },
  },
};
</script>

<style lang="scss">
.register {
  &__area {
    width: 38.5em;
    display: flex;
    @media (max-width: 767px) {
      width: 18.75em;
    }
  }
  &__image {
    width: 51%;
    position: relative;
    @media (max-width: 767px) {
      display: none;
    }
    .card-wrap,
    .card {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .card {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../assets/images/register/wrapper.png);
        background-size: 100% 100%;
        z-index: 2;
      }
      &__background {
        top: -1em;
        right: -1em;
        bottom: -1em;
        left: -1em;
      }
      img {
        width: 11em;
        height: auto;
        position: relative;
        z-index: 3;
      }
    }
  }
  &__form {
    width: 49%;
    border: .0625em solid #2d2c3c;
    box-sizing: border-box;
    overflow: hidden;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
}
</style>
