<template lang="pug">
  .auth(:class="{'muted': modal}")
    .auth__area
      form.form(@submit="sendForm")
        .form__header
          .form__caption Password reset
          router-link.form__back(:to="{name: 'Login'}") Back to&nbsp;
            span login
          router-link.form__back__plus(:to="{name: 'Register'}") Registration
        router-link.auth__image(:to="{name: 'Index'}")
        .auth__form
          .form__container
            #inputFlame
              video(
                autoplay
                loop
                playsinline
                muted
              )
            label.form__label
              | New password
              span(v-if="errors.password") ({{ getErrors(errors.password) }})
            .form__input.form__input-corner
              input(
                placeholder="Create new PASSWORD..."
                type="password"
                v-model="form.password"
              )
              input.form__input__layer(
                type="password"
                v-model="form.password"
                @focus="activeFlame"
                @blur="deactiveFlame"
              )
            label.form__label
              | Repeat password
              span(v-if="errors.password_confirmation")
                | ({{ getErrors(errors.password_confirmation) }})
            .form__input.form__input-corner
              input(
                placeholder="Repeat your new PASSWORD..."
                type="password"
                v-model="form.password_confirmation"
              )
              input.form__input__layer(
                type="password"
                v-model="form.password_confirmation"
                @focus="activeFlame"
                @blur="deactiveFlame"
              )
            span.form__error.form__error-recaptcha
              span(v-if="errors['g-recaptcha-response']")
                | {{ getErrors(errors['g-recaptcha-response']) }}
              span(v-else) &nbsp;
            recaptcha(
              v-model="form['g-recaptcha-response']"
              :check-failed="errors['g-recaptcha-response'] && errors['g-recaptcha-response'].length > 0"
              :ready="recaptcha"
            )
            span.form__error(v-if="errors.global")
              | {{ getErrors(errors.global) }}
            button.button.button-full(
              :disabled="loading || !recaptcha.ready"
            )
              span Reset password
              video#buttonAnimation(
                autoplay
                loop
                playsinline
                muted
              )
</template>

<script>
import recaptcha from './plugins/recaptcha';
import seeThru from 'seethru';

export default {
  data() {
    return {
      form: {
        'password': '',
        'password_confirmation': '',
        'g-recaptcha-response': '',
        'global': '',
      },
      errors: {},
      animation: null,
      flame: null,
      focused: null,
      loading: false,
      recaptcha: {
        ready: false,
      },
      sending: false,
    };
  },
  components: {
    recaptcha,
  },
  async mounted() {
    await this.$store.dispatch('logout', true);
    this.loadFlame(seeThru);
  },
  methods: {
    getErrors(errors) {
      return errors.join(', ');
    },
    async sendForm() {
      event.preventDefault();

      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.loading = true;
        this.errors = {};
        const token = this.$route.params.token;
        const result = await this.$store.dispatch('reset', {
          password: this.form,
          token: token,
        });
        if (result !== true ) {
          this.errors = result.errors;
        } else {
          this.$router.push({name: 'Login'});
        }
        this.loading = false;
      } finally {
        this.sending = false;
      }
    },
  },
};
</script>

<style lang="scss">
</style>
