<template lang="pug">
  .team(v-if="team && team.info")
    hr
    .team__toggle(
      @click="toggle = !toggle"
      :class="{'hide': !toggle}"
    )
      span(v-if="toggle") Hide
      span(v-else) Show
    transition-group(name="slide-up")
      .team__area(v-if="toggle", key="area")
        .team__info
          .team__info__caption Your commission information
          .form
            .form__field
              .form__label E-mail
              .form__input
                input(
                  :value="team.info.email"
                  readonly
                )
            .form__field
              .form__label User type status
              .form__input
                input(
                  :value="team.info.status"
                  readonly
                )
            .form__field
              .form__label Teammate quantity
              .form__input
                input(
                  :value="referralsTotal"
                  readonly
                )
            .form__field
              .form__label Comission in IPRO
              .form__input
                input(
                  :value="team.info.commission_abc + ' %'"
                  readonly
                )
            .form__field
              .form__label Comission in USDT*
              .form__input
                input(
                  :value="comission"
                  readonly
                )
          .team__info__text *Only promoters can get a commission in USDT. if you
            |  wish to become a promoter press the «ACTIVATE USDT COMMISSION»
            |  button and follow the instructions.
        .team__chart
      hr(
        v-if="toggle"
        key="hr"
      )
    .team__list
      .team__list__group
        h4 Team list
        label.form__checkbox
          input(
            type="checkbox"
            v-model="hidePersonal"
          )
          .form__checkbox__area
          | Hide Personal Data
        div
          a.button-small(
            v-bind:class="buttonsCls"
            v-if="team.content.activate_usdt_commission_link"
            :href="team.content.activate_usdt_commission_link"
            target="_blank"
          )
            span Activate USDT comission
      .scroll__caption Scroll right &rarr;
      .scroll
        table.table.table-2
          tr.short
            th(style="width:4%") No.
            th(style="width:15%") Username
            th(style="width:15%") E-mail
            th(style="width:9%") Team Q-ty
            th(style="width:10%") Status
            th(style="width:11%") Total deposited
            th(colspan="2", style="width:14%") Teammate’s
              br
              | earned comission
            th(style="width:11%") Your comission in IPRO
            th(style="width:11%") Your comission in USDT
          tbody(
            v-if="referralsTotal"
          )
            tr(
              v-for="item in list"
              :key="item.id"
            )
              td {{ item.number }}
              td.lower {{ preparePersonalData(item.username, hidePersonal) }}
              td.lower {{ preparePersonalData(item.email, hidePersonal) }}
              td {{ item.team_qty }}
              td {{ item.status }}
              td(:class="makeClass(item.total_deposited)")
                | {{ prepareNumber(item.total_deposited) }} USDT
              td(:class="makeClass(item.earned_abc)")
                | {{ prepareNum(item.earned_abc, 'IPRO') }}
              td(:class="makeClass(item.earned_usdt)")
                | {{ prepareNum(item.earned_usdt, 'USDT') }}
              td(:class="makeClass(item.commission_abc)")
                | {{ prepareNum(item.commission_abc, 'IPRO') }}
              td(v-if="team.info.status =='Investor'") N / A
              td(v-else, :class="makeClass(item.commission_usdt)")
                | {{ prepareNum(item.commission_usdt, 'USDT') }}
          tbody(
            v-else
          )
            tr
              td
              td
              td
              td
              td
              td
              td
              td
              td
              td
    .pages(v-if="pages.total")
      .pages__caption
        | Showing
        |  {{ startPage() }}-
        | {{ endPage() }}
        |  of {{ pages.total }}
      .pages__buttons
        .pages__button.prev(
          :class="{'inactive': pages.page == 1}"
          @click="pages.page > 1 ? pages.page-- : null"
        )
        .pages__button.next(
          :class="{'inactive': endPage() == pages.total}"
          @click="endPage() != pages.total? pages.page++ : null"
        )
</template>

<script>

export default {
  data() {
    return {
      pageTitle: 'Team',
      breadcrumbs: [
        {name: 'Home', route: 'Index'},
        {name: 'Team'},
      ],
      pages: {
        page: 1,
        limit: 10,
        total: 0,
      },
      toggle: true,
      hidePersonal: true,
    };
  },
  components: {
  },
  computed: {
    buttonsCls() {
      const cls = {};

      if (this.styles && this.styles.enable_custom_buttons_css) {
        cls[this.styles.buttons_cls_name] = true;
      } else {
        cls['button'] = true;
      }

      return cls;
    },
    styles() {
      return this.$store.state.styles;
    },
    team() {
      return this.$store.state.team;
    },
    referralsTotal() {
      return this.team !== null &&
          Object.keys(this.team.referrals).length;
    },
    list() {
      return this.team.referrals.slice(
          (this.pages.page - 1) * this.pages.limit,
          this.endPage()
      );
    },
    comission() {
      return this.team.info.commission_usdt == null ?
        'N / A' :
        this.team.info.commission_usdt + ' %';
    },
  },
  watch: {
    referralsTotal(value) {
      this.pages.total = value;
    },
  },
  async created() {
    this.enableAutoUpdate();
    this.$store.commit('setMask', 1 | 4096);
    this.checkContent('team', ['getTeam']);
    if (this.referralsTotal) {
      this.pages.total = this.referralsTotal;
    }
  },
  methods: {
    prepareNum(value, currency) {
      return value > 0 ?
        '+' + this.prepareNumber(value) + ' ' + currency :
        (value === null ?
            'N/A' :
            this.prepareNumber(value) + ' ' + currency
        );
    },
    makeClass(value) {
      value = parseFloat(value);
      return value > 0 ? 'green' : '';
    },
  },
};
</script>

<style lang="scss">
.team {
  padding-top: 3em;
  &__toggle {
    position: relative;
    margin-right: 8em;
    padding: 1em 0 0 0;
    font-size: .7em;
    text-align: right;
    text-transform: uppercase;
    transition: top .3s .1s,  right .3s .1s;
    cursor: pointer;
    @media (max-width: 767px) {
      margin-right: 1em;
    }
    &:after {
      content: '';
      width: .82em;
      height: .37em;
      display: inline-block;
      margin: -.35em 0 0 .3em;
      background:
        url(../assets/images/global/arrow.png)
        center/contain
        no-repeat;
      vertical-align: middle;
    }
    &.hide {
      color: #499baa;
      &:after {
        background-image: url(../assets/images/global/arrow-show.png);
      }
    }
  }
  &__area {
    display: flex;
    margin-bottom: 1.55em;
  }
  &__info {
    width: 28%;
    padding-left: 2em;
    box-sizing: border-box;
    @media (max-width: 767px) {
      width: 90%;
      font-size: 1.2em;
    }
    &__caption {
      margin-bottom: .7em;
      font-size: 1.3em;
      line-height: 1;
      letter-spacing: .04em;
      color: #ecfabd;
      text-transform: uppercase;
      @media (max-width: 767px) {
        font-size: 1em;
      }
    }
    .form {
      &__field {
        margin-bottom: 0;
      }
      &__lable {
        white-space: nowrap;
      }
      &__input {
        flex: auto;
        width: auto;
      }
    }
    &__text {
      padding: .3em 0;
      font-size: .8em;
      line-height: 130%;
      color: #5d858d;
      @media (max-width: 767px) {
        font-size: .9em;
      }
    }
  }
  &__list {
    margin: 2.5em .2em 0 -.75em;
    padding: .8em 1em 1em .55em;
    box-sizing: border-box;
    border: .0625em solid #2d2c3c;
    &__group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: .8em;
      @media (max-width: 767px) {
        flex-wrap: wrap;
      }
      h4 {
        margin-bottom: 0;
        text-align: left;
        white-space: nowrap;
      }
      > div {
        flex: auto;
        text-align: right;
        margin-top: -.1em;
        padding-right: 1em;
        @media (max-width: 767px) {
          margin-top: .5em;
          padding-right: 0;
        }
      }
      .form__checkbox {
        margin: 0 0 0 6.5em;
        font-size: .8em;
      }
    }
    .table-2 {
      font-size: .7em;
      @media (max-width: 767px) {
        font-size: 1em;
      }
      th {
        padding: .4em .5em;
      }
      td {
        padding: 1em .5em;
      }
    }
  }
}
</style>
