<template lang="pug">
  .transactions
    .transactions__activities
      h4 Recent Transactions
      .scroll__caption Scroll right &rarr;
      .scroll
        table.table.table-2
          tr
            th Date
            th Time (UTC)
            th Type
            th Amount
            th Status
          tbody(
            v-if="transactionsTotal"
          )
            tr(
              v-for="activity in activities"
              :key="activity.id"
            )
              td {{ activity.date }}
              td {{ activity.time }}
              td {{ activity.type }}
              td {{ activity.amount }}
              td(:class="{'red': activity.status == 'Not Confirmed'}")
                | {{ activity.status }}
          tbody(
            v-else
          )
            tr
              td
              td
              td
              td
              td
    .pages(v-if="pages.total")
      .pages__caption
        | Showing
        |  {{ startPage() }}-
        | {{ endPage() }}
        |  of {{ pages.total }}
      .pages__buttons
        .pages__button.prev(
          :class="{'inactive': pages.page == 1}"
          @click="pages.page > 1 ? pages.page-- : null"
        )
        .pages__button.next(
          :class="{'inactive': endPage() == pages.total}"
          @click="endPage() != pages.total? pages.page++ : null"
        )
</template>

<script>

export default {
  data() {
    return {
      pageTitle: 'Transactions',
      breadcrumbs: [
        {name: 'Home', route: 'Index'},
        {name: 'Transactions'},
      ],
      pages: {
        page: 1,
        limit: 10,
        total: 0,
      },
    };
  },
  components: {
  },
  computed: {
    transactions() {
      return this.$store.state.transactions;
    },
    transactionsTotal() {
      return this.transactions !== null &&
          Object.keys(this.transactions).length;
    },
    activities() {
      return this.transactions.slice(
          (this.pages.page - 1) * this.pages.limit,
          this.endPage()
      );
    },
  },
  watch: {
    transactionsTotal(value) {
      this.pages.total = value;
    },
  },
  async created() {
    this.enableAutoUpdate();
    this.$store.commit('setMask', 1 | 256);
    this.checkContent('transactions', ['fetchTransactions']);
    if (this.transactionsTotal) {
      this.pages.total = this.transactionsTotal;
    }
  },
};
</script>

<style lang="scss">
.transactions {
  &__activities {
    margin: 1.3em .2em 0 -.75em;
    padding: .8em 1em 1em .55em;
    box-sizing: border-box;
    border: .0625em solid #2d2c3c;
    @media (max-width: 767px) {
      margin-right: 0;
      margin-left: 0;
    }
    h4 {
      margin-bottom: 1.3em;
      text-align: left;
    }
    .table-2 {
      font-size: .7em;
      @media (max-width: 767px) {
        font-size: .9em;
      }
      th, td {
        padding: 1.08em .5em;
      }
    }
  }
}
</style>
