<template lang="pug">
  Layout
    .profile__block(v-if="enabled === true")
      .profile__block__caption Two-Factor Authentication (2FA)
      form.form(@submit="disable2fa")
        .form__field.form__field-m2
          .form__label Current password
          .form__input
            input(
              type="password"
              v-model="form.password"
            )
            .form__error(v-if="errors.password")
              | {{ getErrors(errors.password) }}
        .form__field.form__field-m2
          .form__label Enter 2fa code
          .form__input.form__input-small
            input(
              v-model="form['2fa_code']"
              v-mask="'# # # # # #'"
              placeholder="_ _ _ _ _ _"
            )
            .form__error(v-if="errors['2fa_code']")
              | {{ getErrors(errors['2fa_code']) }}
        .form__field
          .form__label Disable 2FA
          .form__box
            button(v-bind:class="buttonsCls")
              span Disable
    .profile__block(v-if="enabled === false && !sent")
      .profile__block__caption Two-Factor Authentication (2FA)
      .form
        .form__field
          .form__label Enable 2FA
          .form__box
            button.button(@click="enable2fa")
              span Activate
    .profile__block(v-if="enabled === false && !sent")
      .profile__block__title What is 2FA?
      .profile__block__text
        p 2FA is a method for determining the authenticity of a user, which
          |  requires passing two degrees of protection (and not one, as before)
          |  before gaining access to an account.
        p These security levels are:
          br
          | - account password;
          br
          | - a unique digital code that is generated by a special application
          |  installed on a mobile device.
        p What is Google Authenticator? Google Authenticator is a 2FA
          |  application that generates a unique 6-digit code every 30 seconds.
          | There are applications for Android and iOS.
        p.text-center
          a(href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2")
            img(src="@/assets/images/profile/google-play.png", alt="")
          a(href="https://apps.apple.com/us/app/google-authenticator/id388497605")
            img(src="@/assets/images/profile/app-store.png", alt="")
        p Sometimes you may encounter such a problem when your code will not
          |  work - and it seems that you are doing everything right, but at the
          |  same time, when you next log in to your account, you see the
          |  inscription - “Invalid code”.
        p This can happen because time is running out. To fix this, go to the
          |  Google Authenticator application and click on the button in the
          |  upper right corner to open the menu in which select “Settings”.
          |  Then “Time Correction for Codes”, then click the “Synchronize”
          |  button.
        p In most cases it helps. If this did not work, then the only option is
          |  to write in support so that they deactivate 2FA for your account
          |  and you could log in using only the password. But be prepared for
          |  the fact that in return you may be asked for different information
          |  about your account - what kind of balance, what kind of coins are
          |  there, what operations have you performed lately, what did you buy,
          |  what did you sell, etc.
        p The next problem that anyone can face is when something happens to
          |  your mobile device. It can be stolen, it can break, you can
          |  accidentally delete both the Google Authenticator application
          |  itself and any account in it.
        p We will understand for a start with the last item. You can have one
          |  account in the application, or hundreds of different ones. And
          |  in order not to delete the necessary one by mistake, we recommend
          |  not to leave the default names, but rename the accounts for
          |  services. Then it will be clear what kind of account.
        p In case of theft or breakdown of the device, always save the QR
          |  codes as a picture, and 16-digit keys in text form or copy
          |  to paper. If your code and key are stored in a safe place,
          |  then you can always access your account.
    .profile__block(v-if="enabled === false && sent && twofa")
      .profile__block__caption Two-Factor Authentication (2FA)
    .profile__block(v-if="enabled === false && sent && twofa")
      .profile__block__title 1. Download App
      .profile__block__text
        a(href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2")
          img(src="@/assets/images/profile/google-play.png", alt="")
        a(href="https://apps.apple.com/us/app/google-authenticator/id388497605")
          img(src="@/assets/images/profile/app-store.png", alt="")
    .profile__block(v-if="enabled === false && sent && twofa")
      .profile__block__title.profile__block__title-m1 2. Scan QR-code
      .profile__block__text
        p Don’t forget to make back up your SECRET KEY!
          br
          | If your phone gets lost, stolen, or erased, you will need this
          |  SECRET KEY to get back into your Google Authentication.
          br
          | Otherwise resetting your 2FA requires contacting a support
          |  team and may take more time.
      .profile__qr
        .profile__qr__image
          .profile__block__title Scan this QR-code
          div(v-html="twofa.qr_image")
        .profile__qr__key
          .profile__block__title Save this SECRET KEY:
          .profile__qr__code {{ twofa.secret }}
          .profile__block__text
            p Please save this SECRET KEY. This key will help you easily
              |  recover your 2FA.
    .profile__block(v-if="enabled === false && sent && twofa")
      .profile__block__title.profile__block__title-m1 3. Enable 2FA
      form.form(@submit="set2fa")
        .form__field.form__field-m3
          .form__label Current password
          .form__input
            input(
              type="password"
              v-model="form.password"
            )
            .form__error(v-if="errors.password")
              | {{ getErrors(errors.password) }}
        .form__field.form__field-m3
          .form__label Enter 2fa code
          .form__input.form__input-small
            input(
              v-model="form['2fa_code']"
              v-mask="'# # # # # #'"
              placeholder="_ _ _ _ _ _"
            )
            .form__error(v-if="errors['2fa_code']")
              | {{ getErrors(errors['2fa_code']) }}
        .form__field
          .form__label Enable 2FA
          .form__box
            button(v-bind:class="buttonsCls")
              span Activate
</template>

<script>
import Layout from './layouts/Profile.vue';

export default {
  data() {
    return {
      pageTitle: 'Profile',
      breadcrumbs: [
        {name: 'Home', route: 'Index'},
        {name: 'Profile'},
        {name: 'Two factor authentication'},
      ],
      sent: false,
      enabled: null,
      form: {
        'password': '',
        '2fa_code': '',
      },
      errors: {},
      sending: false,
    };
  },
  components: {
    Layout,
  },
  computed: {
    buttonsCls() {
      const cls = {};

      if (this.styles && this.styles.enable_custom_buttons_css) {
        cls[this.styles.buttons_cls_name] = true;
      } else {
        cls['button'] = true;
      }

      return cls;
    },
    styles() {
      return this.$store.state.styles;
    },
    profile() {
      return this.$store.state.profile;
    },
    twofa() {
      return this.$store.state.twofa;
    },
  },
  watch: {
    profile(profile) {
      if (profile[0]) {
        this.enabled = profile[0]['2fa'].enabled;
      }
    },
  },
  created() {
    if (this.profile[0]) {
      this.enabled = this.profile[0]['2fa'].enabled;
    }
  },
  methods: {
    getErrors(errors) {
      return errors.join(', ');
    },
    async enable2fa() {
      event.preventDefault();

      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.errors = {};
        const result = await this.$store.dispatch('profile2faEnable');
        if (result !== true ) {
          this.errors = result.errors;
        } else {
          this.sent = true;
        }
      } finally {
        this.sending = false;
      }
    },
    async disable2fa() {
      event.preventDefault();
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.errors = {};
        const result = await this.$store.dispatch('profile2faDisable', this.form);
        if (result !== true ) {
          this.errors = result.errors;
        } else {
          this.enabled = false;
          this.form = {
            'password': '',
            '2fa_code': '',
          };
        }
      } finally {
        this.sending = false;
      }
    },
    async set2fa() {
      event.preventDefault();

      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.errors = {};
        const result = await this.$store.dispatch('profile2faSet', this.form);
        if (result !== true ) {
          this.errors = result.errors;
        } else {
          this.sent = false;
          this.enabled = true;
          this.form = {
            'password': '',
            '2fa_code': '',
          };
        }
      } finally {
        this.sending = false;
      }
    },
  },
};
</script>

<style lang="scss">
.profile {
  &__qr {
    display: flex;
    padding: .7em 0 0 0;
    @media (max-width: 767px) {
      display: block;
    }
    svg {
      width: 7.3em;
      height: 7.3em;
      @media (max-width: 767px) {
        width: 100%;
        height: auto;
      }
    }
    .profile__block__title {
      margin-bottom: .45em;
    }
    &__image {
      width: 12em;
      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 1em;
        .profile__block__title {
          margin-bottom: 1em;
          font-size: 1.2em;
          text-align: center;
        }
      }
    }
    &__code {
      display: inline-block;
      margin: 0 -.3em .25em -.3em;
      padding: 0 .3em;
      border: .0625em solid #413f56;
      font-size: .95em;
      font-weight: 500;
      color: #ecfabd;
      @media (max-width: 767px) {
        display: block;
        margin: 0 0 1em 0;
        font-size: 1.1em;
      }
    }
  }
}
</style>
