<template lang="pug">
  .withdraw
    .withdraw__container(v-if="isLoaded")
      .withdraw__exchange
        .withdraw__caption Your Wallet data
        .withdraw__block
          .withdraw__block__header
            span Available Balance
          .withdraw__block__area
            table.table.table-1
              tr
                td USDT Available Balance
                td {{ prepareNumber(withdraw.usdtAvailableBalance) }} USDT
              tr
                td IPRO Available Balance
                td {{ prepareNumber(withdraw.abcAvailableBalance) }} IPRO
        .withdraw__block
          .withdraw__block__header
            span Exchange IPRO to USDT
            em(v-if="withdrawReason")
              | ({{ withdraw.reasonDisabledExchangeAbcUsdt }})
          form.withdraw__block__area(@submit="exchange")
            .form.form-exchange
              div
                .form-exchange__label Enter IPRO amount
                .form__input
                  input(
                    type="number"
                    step="0.01"
                    min="0.01"
                    v-model="form.amount_abc"
                    placeholder="0"
                    @keyup="calculate('', 'amount_usdt', 'abc_price')"
                    @keypress="isNumber()"
                  )
                  span IPRO
                .form-exchange__result 1 IPRO =
                  |  {{ prepareNumber(withdraw.abcPrice) }} USDT
              .form-exchange__delimiter
              div
                .form-exchange__label Amount you get in USDT
                  span(v-if="errors.amount_usdt")
                    | {{ getErrors(errors.amount_usdt) }}
                .form__input
                  input(
                    type="number"
                    v-model="form.amount_usdt"
                    placeholder="0"
                    readonly
                  )
                  span USDT
                .form__error(v-if="errors.amount_abc")
                  | {{ getErrors(errors.amount_abc) }}
                .form-exchange__result(v-else) &nbsp
            .withdraw__checkbox
              label.form__checkbox
                input(
                  type="checkbox"
                  v-model="form.accepted_rules"
                  :true-value="1"
                  :false-value="0"
                )
                .form__checkbox__area
                | I accept&nbsp;
                a(
                  @click="showModal(tac.title, tac.text, true)"
                ) Terms & Conditions
              .form__error(v-if="errors.accepted_rules")
                | {{ getErrors(errors.accepted_rules) }}
            .withdraw__group
              .withdraw__group__label Enter 2fa code
              div
                .form__input
                  input(
                    v-model="form['2fa_code']"
                    v-mask="'# # # # # #'"
                    placeholder="_ _ _ _ _ _"
                  )
                .form__error(v-if="errors['2fa_code']")
                  | {{ getErrors(errors['2fa_code']) }}
              div
                button(
                  v-bind:class="buttonsCls"
                  :disabled="!form.accepted_rules || !withdraw.enabledExchange"
                )
                  span Exchange
      .withdraw__form
        form.withdraw__block(@submit="withdrawSend")
          .withdraw__caption
            div Withdraw
            .withdraw__payment_icon
              .withdraw__payment_icon__asset(
                  v-for="currency in currencies"
                  :style="{backgroundImage: 'url('+currency.image+')'}"
                  style="background-size: contain; background-repeat: no-repeat;"
                  @click="currencyName=currency.name"
                  :class="{withdraw__payment_active: currencyName===currency.name}"
              ) &nbsp;
          .withdraw__area(v-if="selectedTypeCurrency")
            .form__label Select network
            .form__input
              .form__country(
                v-if="networks"
                @click="toggleNetwork = !toggleNetwork"
                :class="{'open': toggleNetwork}"
                style="margin-top: 10px; margin-bottom: 10px;"
              )
                | {{ currentNetwork }}
                transition(name="slide-up")
                  .form__country__dropdown(v-show="toggleNetwork")
                    vue-scroll
                      div(
                        v-for="(network, key) in networks"
                        :key="key"
                        @click="formW.currency = network.currencyId"
                      ) {{ network.fullName }}
            .form__label Recipient's {{ currencyText }} Address in network {{ selectedWithdrawCurrency ? selectedWithdrawCurrency.network : '&lt;network&gt;' }} {{ selectedWithdrawCurrency ? '[' + selectedWithdrawCurrency.token.market.network + ']' : '' }}
              span(v-if="errorsWithdraw.address")
                | {{ getErrors(errorsWithdraw.address) }}
            .form__input
              input(
                v-model="formW.address"
                v-on:keyup="changedWithdrawWallet = true"
                v-bind:placeholder="'Enter ' + currencyText + ' address in network '+ (selectedWithdrawCurrency ? selectedWithdrawCurrency.network : '<network>') +' '+(selectedWithdrawCurrency ? '[' + selectedWithdrawCurrency.token.market.network + ']' : '')+' for withdrawal'"
              )
            .form.form-exchange
                div
                  .form-exchange__label Enter amount in {{ currencyText }}
                    span(v-if="errorsWithdraw.amount_usdt")
                      | {{ getErrors(errorsWithdraw.amount_usdt) }}
                  .form__input
                    input(
                      type="number"
                      step="0.01"
                      min="0.01"
                      v-model="formW.amount_usdt"
                      placeholder="0"
                      @keyup="calculateWithdrawRate"
                      @keypress="isNumber()"
                    )
                    span USDT
                div
                  .form-exchange__label Amount will be sent in {{ selectedTypeCurrency.name }}
                  .form__input
                    input(
                      type="number"
                      v-model="withdrawAmountCoins"
                      placeholder="0"
                      readonly
                    )
                    span {{ selectedTypeCurrency.name }}
          .withdraw__area
            ul
              li Don't withdraw directly to a crowdfund or ICO address, as your
                |  account won't be credited with tokens from such projects.
              li Submit your withdrawal by 18:00 UTC (about 2 hours) to be
                |  included in the day's batch.
              li For security reasons, we process withdrawals with manual review
                |  once a day.
          .withdraw__group
            .withdraw__group__checkbox
              label.form__checkbox
                input(
                  type="checkbox"
                  v-model="formW.accepted_rules"
                  :true-value="1"
                  :false-value="0"
                )
                .form__checkbox__area
                | I accept&nbsp;
                a(
                  @click="showModal(tac.title, tac.text, true)"
                ) Terms & Conditions
              .form__error(v-if="errorsWithdraw.accepted_rules")
                | {{ getErrors(errorsWithdraw.accepted_rules) }}
            .withdraw__group__label Enter 2fa code
            div
              .form__input
                input(
                  v-model="formW['2fa_code']"
                  v-mask="'# # # # # #'"
                  placeholder="_ _ _ _ _ _"
                )
              .form__error(v-if="errorsWithdraw['2fa_code']")
                | {{ getErrors(errorsWithdraw['2fa_code']) }}
            div
              button(
                  v-bind:class="buttonsCls"
                  :disabled="!formW.accepted_rules || !formW.currency || !withdraw.enabledWithdraw"
              )
                span Withdraw
    .withdraw__history
      h4 withdraw History
      .scroll__caption Scroll right &rarr;
      .scroll
        table.table.table-2
          tr
            th Date
            th Time (UTC)
            th Amount (USDT)
            th Amount
            th Coin
            th Transaction ID
            th Status
          tbody(
            v-if="withdrawsTotal"
          )
            tr(
              v-for="item in history"
              :key="item.id"
            )
              td {{ dateFormat(item.createdAt) }}
              td {{ timeFormat(item.createdAt) }}
              td {{ item.amountUsdt }}
              td {{ item.amountCoins }}
              td {{ item.assetFullName }}
              td.txnid
                a(v-if="item.txid"
                  :href="getExplorerLink(item)"
                  target="_blank"
                ) {{ item.txid }}
              td(:class="{'red': item.statusReadable == 'DECLINED'}")
                | {{ item.statusReadable }}
          tbody(
            v-else
          )
            tr
              td
              td
              td
              td
              td
              td
              td
    .pages(v-if="pages.total")
      .pages__caption
        | Showing
        |  {{ startPage() }}-
        | {{ endPage() }}
        |  of {{ pages.total }}
      .pages__buttons
        .pages__button.prev(
          :class="{'inactive': pages.page == 1}"
          @click="pages.page > 1 ? pages.page-- : null"
        )
        .pages__button.next(
          :class="{'inactive': endPage() == pages.total}"
          @click="endPage() != pages.total? pages.page++ : null"
        )
</template>

<script>
import {Trackers, NetworkNames} from '../core/helpers/crypto';

export default {
  data() {
    return {
      pageTitle: 'Withdraw',
      breadcrumbs: [
        {name: 'Home', route: 'Index'},
        {name: 'Withdraw'},
      ],
      form: {
        'amount_abc': null,
        'amount_usdt': null,
        'accepted_rules': 0,
        '2fa_code': '',
      },
      formW: {
        'currency': null,
        'address': '',
        'amount_usdt': null,
        'accepted_rules': 0,
        '2fa_code': '',
      },
      withdrawAmountCoins: 0,
      errors: {},
      errorsWithdraw: {},
      pages: {
        page: 1,
        limit: 10,
        total: 0,
      },
      sending: false,
      changedWithdrawWallet: false,
      updatingWithdraw: null,
      currencyName: null,
      toggleNetwork: false,
    };
  },
  computed: {
    buttonsCls() {
      const cls = {};

      if (this.styles && this.styles.enable_custom_buttons_css) {
        cls[this.styles.buttons_cls_name] = true;
      } else {
        cls['button'] = true;
      }

      return cls;
    },
    styles() {
      return this.$store.state.styles;
    },
    currencyText() {
      return this.selectedTypeCurrency ?
        this.selectedTypeCurrency.name :
        null;
    },
    withdraw() {
      return this.$store.state.withdraw;
    },
    withdraws() {
      return this.$store.state.withdraws;
    },
    withdrawsTotal() {
      return this.withdraws !== null &&
          Object.keys(this.withdraws).length;
    },
    history() {
      return this.withdraws.slice(
          (this.pages.page - 1) * this.pages.limit,
          this.endPage()
      );
    },
    isLoaded() {
      return Object.keys(this.withdraw).length;
    },
    selectedWithdrawCurrency() {
      return this.withdraw && this.withdraw.currencies ?
        this.withdraw.currencies.find((currency) => currency.id === this.formW.currency) :
        [];
    },
    rate() {
      return this.selectedWithdrawCurrency ?
        this.selectedWithdrawCurrency.rate :
        null;
    },
    currencies() {
      if (!this.withdraw.currencies) {
        return [];
      }

      const list = [];
      const map = {};

      this.withdraw.currencies.forEach((currency) => {
        if (!map[currency.name]) {
          list.push({
            name: currency.name,
            image: currency.image,
          });

          map[currency.name] = {};
        }
      });

      return list;
    },
    networks() {
      if (!this.selectedTypeCurrency || !this.withdraw.currencies) {
        return;
      }

      const networks = [];

      this.withdraw.currencies.forEach((currency) => {
        if (currency.name === this.selectedTypeCurrency.name) {
          networks.push({
            name: currency.token.network,
            fullName: (NetworkNames[currency.token.network] ? NetworkNames[currency.token.network] : currency.token.network),
            fullNameToken: currency.fullName,
            currencyId: currency.id,
          });
        }
      });

      return networks;
    },
    selectedTypeCurrency() {
      return this.currencies.find((currency) => currency.name === this.currencyName);
    },
    currentNetwork() {
      return this.selectedWithdrawCurrency ?
        (NetworkNames[this.selectedWithdrawCurrency.token.network] ? NetworkNames[this.selectedWithdrawCurrency.token.network] : this.selectedWithdrawCurrency.token.network) :
        'Select network';
    },
  },
  watch: {
    withdrawsTotal(value) {
      this.pages.total = value;
    },
    withdraw() {
      this.setDefaultWallet();
    },
    'formW.currency'() {
      this.calculateWithdrawRate();
      this.errorsWithdraw = {};

      this.setDefaultWallet();
    },
    toggleNetwork(flag) {
      const listener = (e) => {
        const specified = document
            .getElementsByClassName('form__country')[0];
        if (specified && !specified.contains(e.target)) {
          this.toggleNetwork = false;
        }
      };
      if (flag) {
        window.addEventListener('click', listener);
      } else {
        window.removeEventListener('click', listener);
      }
    },
    currencyName() {
      this.formW.currency = null;
    },
  },
  async created() {
    this.enableAutoUpdate();
    this.$store.commit('setMask', 1);

    await this.getData();
    this.enableMonitoring();

    if (this.currencies.length > 0) {
      this.currencyName = this.currencies[0].name;
    }

    if (this.withdrawsTotal) {
      this.pages.total = this.withdrawsTotal;
    }
  },
  mounted() {
    this.setDefaultWallet();
  },
  beforeDestroy() {
    clearInterval(this.updatingWithdraw);
  },
  methods: {
    dateFormat(date) {
      const dateObj = (new Date(date));

      return String(dateObj.getDate()).padStart(2, '0') + '/' + String((dateObj.getMonth() + 1)).padStart(2, '0') + '/' + dateObj.getFullYear();
    },
    timeFormat(date) {
      const dateObj = (new Date(date));

      return String(dateObj.getHours()).padStart(2, '0') + ':' + String(dateObj.getMinutes()).padStart(2, '0') + ':' + String(dateObj.getSeconds()).padStart(2, '0');
    },
    enableMonitoring() {
      this.updatingWithdraw = setInterval(async () => {
        await this.getData();
      }, 10000);
    },
    async getData() {
      await this.$store.dispatch('fetchWithdrawInfo');
      await this.$store.dispatch('fetchWithdraws');
    },
    getCoinTypeText(coin) {
      if (coin === 'USDT') {
        return 'USDT (ERC20)';
      }

      return coin;
    },
    getExplorerLink(transaction) {
      if (transaction.currency.network === 'bitcoin') {
        return 'https://www.blockchain.com/btc/tx/' + transaction.txid;
      }

      return Trackers[transaction.currency.network] + '/tx/' + transaction.txid;
    },
    setDefaultWallet() {
      if (!this.changedWithdrawWallet) {
        this.formW.address = null;

        if (this.selectedWithdrawCurrency) {
          if (this.selectedWithdrawCurrency.network === 'bitcoin') {
            this.formW.address = this.withdraw.defaultBtc;
          } else if (this.selectedWithdrawCurrency.network === 'ethereum') {
            this.formW.address = this.withdraw.defaultEth;
          }
        }
      }
    },
    getErrors(errors) {
      return errors.join(', ');
    },
    withdrawReason() {
      return !this.withdraw.enabledExchange &&
          this.withdraw.reasonDisabledExchangeAbcUsdt;
    },
    calculate(form, field1, field2) {
      if (event.target.value == '') {
        this['form' + form][field1] = '';
      } else {
        this['form' + form][field1] = parseFloat((
          parseFloat(this.withdraw[field2]) *
          parseFloat(event.target.value)
        ).toFixed(2));
      }
    },
    calculate1(form, field1, field2) {
      if (event.target.value == '') {
        this['form' + form][field1] = '';
      } else {
        this['form' + form][field1] = parseFloat((
          parseFloat(event.target.value) /
          parseFloat(this.withdraw[field2])
        ).toFixed(8));
      }
    },
    async exchange() {
      event.preventDefault();

      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.errors = {};
        const result = await this.$store.dispatch('exchangeAbcUsdt', this.form);
        if (result !== true ) {
          this.errors = result.errors;
        } else {
          this.form = {
            'amount_usdt': '',
            'amount_abc': '',
            'accepted_rules': 0,
            '2fa_code': '',
          };
          this.$store.commit('showModal', true);
          this.$store.commit('setModalContent', {
            title: 'Success!',
            content: 'Exchange was successfully completed...',
            small: true,
          });
          setTimeout(() => {
            this.$store.commit('showModal', false);
          }, 4000);
        }
      } finally {
        this.sending = false;
      }
    },
    async withdrawSend() {
      event.preventDefault();

      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.errorsWithdraw = {};
        const result = await this.$store
            .dispatch('withdrawCreate', this.formW);
        if (result !== true ) {
          this.errorsWithdraw = result.errors;
        } else {
          this.formW = {
            'currency': this.formW.currency,
            'amount_usdt': '',
            'accepted_rules': 0,
            '2fa_code': '',
          };
          this.withdrawAmountCoins = 0;
          this.$store.commit('showModal', true);
          this.$store.commit('setModalContent', {
            title: 'Withdrawal request',
            content: 'Your withdrawal request of ' +
            this.formW.amount_usdt + ' USDT has been sent.' +
            '<br>The request will be processed manually after 18:00 UTC.',
            button: true,
            disableBack: true,
          });

          await this.getData();
        }
      } finally {
        this.sending = false;
      }
    },
    calculateWithdrawRate() {
      this.withdrawAmountCoins = (this.formW.amount_usdt / this.rate).toFixed(8);
    },
  },
};
</script>

<style lang="scss">
.withdraw {
  padding-top: 1.8em;
  &__container {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 -.7em;
    padding-bottom: .2em;
    @media (max-width: 767px) {
      display: block;
    }
  }
  &__caption {
    padding: .5em 0 .3em 1em;
    font-size: 1.1em;
    color: #ecfabd;
    text-transform: uppercase;
    display: flex;
  }
  &__block {
    border: .0625em solid #2d2c3c;
    table {
      margin: 0;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      margin: -.25em -1em 0 -1em;
      padding: .05em 1em;
      border-bottom: .0625em solid #2d2c3c;
      @media (max-width: 767px) {
        padding: .1em 1em;
        font-size: 1.2em;
      }
      span {
        text-transform: uppercase;
      }
      em {
        letter-spacing: .02em;
        color: #686868;
      }
    }
    &__area {
      padding: .2em 0 .55em 0;
    }
    .form {
      margin-right: 1em;
      &-exchange {
        padding-top: 2em;
        @media (max-width: 767px) {
          padding: 0;
        }
        &__label {
          margin-bottom: .1em;
          font-size: 1.1em;
          letter-spacing: 0;
          span {
            font-size: .85em;
          }
        }
        > div {
          position: relative;
        }
      }
      &__input {
        input {
          width: 11.8em !important;
        }
      }
      &__checkbox {
        margin: 0;
      }
      &__error {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
      }
    }
  }
  &__exchange &__block {
    margin: 0 0 2.2em 0;
    padding: .35em 1em .8em 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__form &__block {
    flex: auto;
  }
  &__form,
  &__exchange {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__exchange {
    width: 34.35%;
    @media (max-width: 767px) {
      width: 100%;
      margin-bottom: 2em;
    }
  }
  &__checkbox {
    margin: 1.55em 0 .75em 0;
    font-size: .75em;
    @media (max-width: 767px) {
      margin-top: 0;
      font-size: 1em !important;
    }
  }
  &__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
    &__checkbox {
      flex: auto;
      font-size: .75em;
      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 1em;
        font-size: 1em;
      }
      .form__checkbox {
        margin: 0 !important;
      }
    }
    &__label {
      margin-right: 1em;
      font-size: .8em;
      color: #5d858d;
      text-transform: uppercase;
      @media (max-width: 767px) {
        font-size: 1.3em;
      }
    }
    .form__input {
      position: relative;
      margin: 0;
      font-size: .7em;
      input {
        width: 7em !important;
        padding: .3em;
      }
    }
    .form__error {
      font-size: .75em;
      text-align: center;
      white-space: nowrap;
    }
    .button {
      min-width: 15em;
      @media (max-width: 767px) {
        min-width: 10em;
      }
    }
    > div {
      position: relative;
      &:last-child {
        flex: auto;
        text-align: right;
      }
    }
  }
  &__exchange &__group {
    margin-right: 1.6em;
    @media (max-width: 767px) {
      margin-right: 0;
    }
  }
  &__form {
    width: 61.25%;
    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__payment_icon {
    display: flex;
    margin: .1em;
    flex-wrap: wrap;

    &__asset, &__usdt, &__btc, &__eth, &__ltc, &__xmr {
      display: inline-block !important;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 1.2em;
      height: 1.2em;
      cursor: pointer;
      padding-right: .1em;
      opacity: 0.5;

      &:first-child {
        margin-left: .5em;
      }
    }
  }

  &__form &__caption {
    border-bottom: .0625em solid #2d2c3c;
    position: relative;
  }
  &__area {
    padding: 1.2em 2em .55em 1.4em;
    border-bottom: .0625em solid #2d2c3c;
    .form__label {
      font-size: .75em;
      @media (max-width: 767px) {
        font-size: 1em;
      }
    }
    > .form__input {
      font-size: .75em;
      @media (max-width: 767px) {
        font-size: 1.3em !important;
      }
      input {
        min-width: 100%;
        padding: .2em .5em;
        font-style: italic;
        box-sizing: border-box;
      }
    }
    .form-exchange {
      margin-right: 0;
      padding-top: .7em;
      &__label {
        margin-bottom: .55em;
        font-size: 1em;
      }
      .form__input {
        margin-bottom: .35em;
        input {
          min-width: 24em;
          @media (max-width: 767px) {
            min-width: 15em;
          }
        }
      }
      > div:last-child {
        .form-exchange__label {
          padding-right: 3em;
          text-align: right;
          @media (max-width: 767px) {
            padding-right: 0;
            text-align: left;
          }
        }
      }
    }
    ul {
      margin-bottom: .7em;
    }
    li {
      position: relative;
      margin: 0 0 1.8em .9em;
      font-size: .67em;
      line-height: 150%;
      letter-spacing: .01em;
      text-transform: uppercase;
      @media (max-width: 767px) {
        font-size: 1em;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: '';
        width: .3em;
        height: .3em;
        position: absolute;
        top: .75em;
        left: -.75em;
        background: #fff;
        border-radius: 50%;
      }
    }
  }
  &__form &__group {
    padding: 1.4em 2em 1.4em 1.4em;
    @media (max-width: 767px) {
      padding: 1em;
    }
  }
  &__history {
    margin: 1.3em 0 0 -.75em;
    padding: .8em 1em 1em .55em;
    box-sizing: border-box;
    border: .0625em solid #2d2c3c;
    h4 {
      margin-bottom: 1.3em;
      text-align: left;
    }
    .table-2 {
      font-size: .7em;
      @media (max-width: 767px) {
        font-size: .9em;
      }
      th, td {
        padding: 1.08em .5em;
      }
    }
  }

  input[type=number], input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
  }

  &__payment_active {
    opacity: 1;
  }
}

.form__country__dropdown {
  height: initial !important;
}
</style>
