<template lang="pug">
  .dashboard__profits
    div(v-if="tradingCards.length > 0")
      h3 Buy a Trading Card
      h3.subhead (only Trading Cards give access to trading bot)
      .dashboard__profits__area
        Parallax(
          v-for="card in tradingCards"
          :key="card.id"
          :id="card.id"
          :image="card.image"
          :title="card.title[lang]"
          @handle-button="() => profitCardConfirm(card)"
          :price="prepareNumber(card.price) + ' USDT'"
          :amount="prepareNumber(card.abc) + ' IPRO'"
          :bonus="prepareNumber(card.bonus) + ' IPRO bonus'"
          :number="prepareNumber(card.available_count)"
          :zeroText="card.text_after_zero"
        )
    div(v-if="expandedCards.length > 0" style="margin-top: 20px")
      h3 Expanding Card
      h3.subhead(style="margin-top: 15px") (Nebula Expanding Card doesn't give any IPRO or TIDs.<br/> This card only expands the period of HFT bot up to 1 year)
      .dashboard__profits__area_expanding
        Parallax(
          v-for="card in expandedCards"
          :key="card.id"
          :id="card.id"
          :image="card.image"
          :title="card.title[lang]"
          @handle-button="() => profitCardConfirm(card)"
          :price="prepareNumber(card.price) + ' USDT'"
          expanding="UP TO 1 YEAR"
          :number="prepareNumber(card.available_count)"
          :zeroText="card.text_after_zero"
        )
</template>

<script>
import Parallax from './../plugins/parallax';

export default {
  name: 'Cards',
  components: {Parallax},
  props: {
    cards: Array,
  },
  computed: {
    tradingCards() {
      return this.cards.filter((card) => card.type === 'trading');
    },
    expandedCards() {
      return this.cards.filter((card) => card.type === 'expanded');
    },
  },
  methods: {
    profitCardConfirm(item) {
      this.$store.commit('showModal', true);
      this.$store.commit('setModalContent', {
        title: 'Confirm Your Order',
        content: 'Do you want to buy ' + item.title[this.lang].toUpperCase() + ' ' + (item.type === 'trading' ? 'Trading' : 'Expanded') + ' Card?',
        confirm: () => {
          this.profitCardBuy(item);
        },
      });
    },
    async profitCardBuy(item) {
      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        const result = await this.$store.dispatch('profitCardBuy', item.id);
        if (result == true ) {
          this.$store.commit('setModalContent', {
            title: 'Congratulations',
            content: 'You have successfully purchased '+(item.type === 'trading' ? 'a Trading' : 'an Expanded')+' card.',
            small: true,
          });
        } else if (result.errors.card_id) {
          this.$store.commit('setModalContent', {
            title: 'Error',
            content: result.errors.card_id.join(', '),
            small: true,
          });
        } else if (result.errors.balance) {
          this.$store.commit('setModalContent', {
            title: 'Insufficient funds',
            content: result.errors.balance.join(', '),
            small: true,
          });
        } else {
          this.$store.commit('setModalContent', {
            title: 'Error',
            content: 'Something wrong...',
            small: true,
          });
        }
        this.$store.commit('showModal', true);
      } finally {
        this.sending = false;
      }
    },
  },
};
</script>

<style lang="scss">
$hoverEasing: cubic-bezier(.23, 1, .32, 1);
$returnEasing: cubic-bezier(.445, .05, .55, .95);
.dashboard {
  &__profits {
    padding: 3.1em 0 1.5em 0;
    &__area {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 5.5em;
      position: relative;
      padding: .8em 1.4em;
      z-index: 2;
      @media (max-width: 767px) {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
      }
    }
    &__area_expanding {
      display: grid;
      grid-template-columns: .2fr !important;
      justify-content: space-around;
      grid-gap: 5.5em;
      position: relative;
      padding: .8em 1.4em;
      z-index: 2;
      @media (max-width: 767px) {
        grid-template-columns: .4fr !important;
        grid-gap: 1em;
      }
    }
    .card {
      padding-top: 134%;
      background: #0f0d16;
      border: .0625em solid transparent;
      border-radius: .7em;
      font-weight: 600;
      overflow: hidden;
      box-shadow:
        inset #333 0 0 0 .313em,
        inset rgba(white, .5) 0 0 0 .375em;
      &__area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding-bottom: 2.1em;
        z-index: 3;
        &__container {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 5;
        }
      }
      &__title {
        position: relative;
        margin-bottom: .75em;
        font-size: 1.9em;
        line-height: 1;
        letter-spacing: .1em;
        text-transform: uppercase;
        transition: margin-bottom .6s;
        z-index: 4;
      }
      &__button {
        position: relative;
        margin-bottom: 1.7em;
        padding: .23em .8em;
        border: .0625em solid #fff;
        border-radius: .3em;
        letter-spacing: .17em;
        text-transform: uppercase;
        transition: background-color .3s;
        cursor: pointer;
        z-index: 6;
        &:hover {
          background: #275adc;
        }
      }
      &__price {
        text-transform: uppercase;
      }
      &__price,
      &__amount,
      &__plus,
      &__bonus {
        position: relative;
        margin-bottom: -1.1em;
        opacity: 0;
        transition: opacity .6s, margin-bottom .6s;
        z-index: 4;
      }

      &__expanding {
        opacity: 0;
        text-align: center;
        margin-bottom: -1.1em;
        transition: opacity .6s, margin-bottom .6s;
        z-index: 4;
      }

      &__price,
      &__amount,
      &__bonus {
        font-size: 1.3em;
        letter-spacing: .05em;
      }
      &__plus {
        line-height: 125%;
      }
      &-wrap:hover {
        .card {
          border-color: #fff;
          box-shadow:
            rgba(#ecfabd, .1) 0 1.875em 3.75em 0,
            inset #333 0 0 0 .313em,
            inset rgba(white, .5) 0 0 0 .375em;
          &__title {
            margin-bottom: 1.35em;
          }
          &__price {
            margin-bottom: 1em;
            opacity: 1;
          }
          &__amount,
          &__plus,
          &__expanding,
          &__bonus {
            margin-bottom: 0;
            opacity: 1;
          }
        }
      }
      &__number {
        padding: .2em 0;
        font-size: 1.9em;
        font-weight: 600;
        line-height: 1;
        text-align: center;
        span {
          display: inline-block;
          font-size: .5em;
          text-transform: uppercase;
          vertical-align: middle;
        }
      }
    }
  }
}

.margin_0_auto {
  margin: 0 auto;
}
</style>
