<template lang="pug">
.player
  .player__preview(
    v-if="!showVideo"
    :style="'background-image: url(' + video.image + ')'"
    @click="showVideo = true"
    @mouseover="showList=true"
    @mouseout="showList=false"
  )
  video(
    v-else
    :src="video.video.download_link"
    controls
    autoplay
  )
  vue-horizontal(responsive, v-if="videoList.length>1")
    div(
      v-for="video in videoList"
      :key="video.id" :style="'background-image: url(' + video.image + ')'"
      @click="changeVideo(video)"
    )
</template>

<script>
import VueHorizontal from 'vue-horizontal';

export default {
  name: 'Video',
  props: {
    videoList: Array,
  },
  components: {VueHorizontal},
  data() {
    return {
      video: null,
      showVideo: false,
      showList: false,
    };
  },
  created() {
    this.video = this.videoList[0];
  },
  methods: {
    changeVideo(video) {
      this.showVideo = false;
      this.video = video;
    },
  },
};
</script>

<style scoped lang="scss">
.player {
  position: relative;
  background: #000;
  &__preview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: center/cover no-repeat;
    cursor: pointer;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      border-style: solid;
      border-color: transparent;
      border-width: 2.5em 0 2.5em 4em;
      border-left-color: #fff;
      transform: translate(-50%, -50%);
      opacity: .6;
      transition: opacity .3s;
    }
    &:hover:after {
      opacity: .65;
    }
  }
  &__name {
    position: absolute;
    top: 1em;
    left: 1em;
    color: #fff;
    letter-spacing: .045em;
    text-transform: uppercase;
  }
  &__items {
    position: absolute;
    bottom: 15%;
    left: 1%;
    right: 1%;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 6em;
    text-align: left;
    opacity: 0;
    transition: opacity .3s;
  }
  &__item {
    width: 10em;
    height: 6em;
    display: inline-block;
    margin-right: 1em;
    padding: .5em;
    background: #0f0d16 center/cover no-repeat;
    border: .0625em solid #ecfabd;
    font-size: .7em;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    cursor: pointer;
  }
  &:hover &__items {
    opacity: 1;
  }

  .vue-horizontal {
    visibility: hidden;
    position: absolute !important;
    top: 0 !important;
    width: 100%;

    .v-hl-responsive div {
      margin-right: .5em !important;
    }

    div {
      width: 7.8em;
      height: 5em;
      background: #0f0d16 center/cover no-repeat;
      border: .0625em solid #ecfabd;
      cursor: pointer;
    }
  }
}
</style>

<style lang="scss">
.player {
  .v-hl-container:not(.v-hl-scroll) {
    width: 33.2em !important;
    margin: 0 auto;
    height: 5.2em;

    @media (max-width: 767px) {
      width: 16.59em !important;
    }
  }

  .v-hl-btn-next.v-hl-btn-between {
    transform: none !important;
  }

  .v-hl-btn-prev.v-hl-btn-between {
    transform: none !important;
  }

  .v-hl-svg {
    width: 2.5em !important;
    height: 2.5em !important;
    margin: .5em !important;
    padding: .5em !important;
    border-radius: 5em !important;
  }
}

.player:hover .vue-horizontal {
  visibility: visible;
}
</style>
