<template lang="pug">
  .actions(:class="{'actions-rtl': rtl}")
    .actions__activator(
      @click="!hover ? open = true : null"
      @mouseover="onHover(true)"
      @mouseleave="onHover(false)"
    )
      slot(name="activator") Actions
    div(
      v-if="hover"
    )
      .actions__area(
        v-show="open"
        ref="area"
        :class="{'actions__area-invisible': !loaded, 'actions__area-reverse': reverse}"
        @mouseover="onHover(true)"
        @mouseleave="onHover(false)"
        @click="open = false"
      )
        slot
          .actions__item Item 1
          .actions__item Item 2
          .actions__item Item 3
          .actions__item Item 4
          .actions__item Item 5
    transition(
      v-else
      name="dropdown"
    )
      .actions__area(
        v-show="open"
        ref="area"
        :class="{'actions__area-invisible': !loaded, 'actions__area-reverse': reverse}"
        @mouseover="onHover(true)"
        @mouseleave="onHover(false)"
        @click="open = false"
      )
        slot
          .actions__item Item 1
          .actions__item Item 2
          .actions__item Item 3
          .actions__item Item 4
          .actions__item Item 5
</template>

<script>
import {makeGlobalTimer} from './../../store/helpers/makeGlobalTimer';
export default {
  data() {
    return {
      loaded: false,
      open: true,
      tmr: null,
      reverse: false,
    };
  },
  props: {
    rtl: {
      type: Boolean,
      default: false,
    },
    hover: {
      type: Boolean,
      default: false,
    },
  },
  created() {
    window.addEventListener('scroll', () => {
      this.open = false;
    });
    window.addEventListener('click', (e) => {
      if (!this.$el.contains(e.target)) {
        this.open = false;
      }
    });
    window.addEventListener('contextmenu', (e) => {
      if (!this.$el.contains(e.target)) {
        this.open = false;
      }
    });
  },
  mounted() {
    this.$nextTick(() => {
      this.calculate();
      this.open = false;
      setTimeout(() => {
        this.loaded = true;
      }, 300);
    });
  },
  methods: {
    onHover(flag) {
      event.preventDefault();
      if (!this.hover) return;
      if (flag) {
        if (this.tmr) this.tmr.cancel();
        this.open = flag;
      } else {
        this.tmr = makeGlobalTimer(300);
        this.tmr.registerCallback(() => {
          this.open = flag;
        });
      }
    },
    calculate() {
      const bound = this.$refs.area.getBoundingClientRect();
      const parentScroll = this.$refs.area.closest('.messages__content');
      const formElement = document.querySelector('.messages__form');
      let parentHeight = document.documentElement.clientHeight;
      if (parentScroll && formElement) {
        parentHeight -= formElement.clientHeight;
      }
      if (bound.top + bound.height + 20 > parentHeight) {
        this.reverse = true;
      } else {
        this.reverse = false;
      }
    },
  },
};
</script>

<style lang="scss">
.actions {
  position: relative;
  &__area {
    min-width: 10rem;
    position: absolute;
    top: 100%;
    left: 0;
    margin: .125rem 0 0;
    padding: .5rem 0;
    box-sizing: border-box;
    background: #151523;
    border: 1px solid #151523;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(#0f0d16,.4);
    font-size: .9375rem;
    text-align: left;
    z-index: 1000;
    &-invisible {
      visibility: hidden;
    }
    &-reverse {
      top: auto;
      bottom: 100%;
    }
  }
  &-rtl &__area {
    left: auto;
    right: 0;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .35rem 1.5rem;
    background-color: transparent;
    font-weight: 400;
    color: #9aa1b9;
    white-space: nowrap;
    cursor: pointer;
    transition: color .3s, background-color .3s;
    &:hover {
      background-color: #0f0d16a5;
      color: #ecedee;
    }
    i {
      margin-left: 1em;
    }
  }
  &__delimeter {
    height: .5em;
  }
}
</style>
