<template lang="pug">
.context(
  :style="'top: ' + this.event.clientY + 'px; left: ' + this.event.clientX + 'px'"
)
  .context__item(
    v-for="(item, index) in menu"
    :key="index"
    @click.stop="item.action(); $emit('close')"
  ) {{ item.label }}
</template>

<script>
export default {
  props: {
    menu: {
      type: Array,
    },
    event: {
      type: MouseEvent,
    },
  },
  created() {
    window.addEventListener('scroll', () => {
      this.$emit('close');
    });
    window.addEventListener('click', (e) => {
      if (!this.$el.contains(e.target)) {
        this.$emit('close');
      }
    });
  },
};
</script>

<style lang="scss">
.context {
  min-width: 4em;
  position: fixed;
  padding: 0.5em;
  box-sizing: border-box;
  background: #0f0f1c;
  border: 0.0625em solid #2d3c41;
  &__item {
    margin-bottom: 0.5em;
    font-size: 0.85em;
    color: #56baca;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: #ecfabd;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  z-index: 1000;
}
</style>
