<template lang="pug">
  .chart
    .chart__header(v-if="loaded")
      .chart__header__title TID - {{ optionInfo.title }}
      .chart__header__requirements
        span.chart__header__requirements__title {{ optionInfo.title }} TID activation requirements:
        span.chart__header__requirements__cards {{ requirements }}
      .chart__header__open_button
        router-link.button(:to="{name: 'InvestmentsOpen'}")
          span Open New Tid
    .chart__container
      .chart__container__description(v-if="loaded && optionInfo.enabled") {{ optionInfo.description }}
      .chart__container__description2(
        v-if="loaded && optionInfo.enabled"
        )
        span.text The period from {{ optionInfo.from }} to {{ optionInfo.to }}. Profitability of the previous month&nbsp;
        span.percent(v-bind:class="{green: optionInfo.previous > 0, red: optionInfo.previous < 0}") {{ prepareNum(optionInfo.previous) }}%
      .chart__container__chart(v-if="loaded && optionInfo.enabled")
        chart-line(:chartData="chartData", :options="options", :plugins="plugins", :style="{height: '100%'}")
      .chart__container__not_connected(v-if="!loaded || !optionInfo.enabled")
        .chart__container__not_connected__text API NOT CONNECTED
    .chart__statement_link
      a(
        v-if="optionInfo.statement_link"
        @click.prevent="showModalMedia(optionInfo.statement_link, true)"
      ) TRADING STATEMENT FROM BITMEX EXCHANGE
      span(v-else) &nbsp;
</template>

<script>
import chartLine from './chartLine';
import {NotFoundActionsException} from '../../exceptions/actions/NotFoundActionsException';
import MediaService from '../../services/MediaService';

export default {
  data() {
    return {
      additionalChartConfig: {
        solidLineOptions: ['1'],
        chartColors: {
          '1': '#3BBDCB',
          '2': '#6B922F',
          '3': '#f0ff01',
          '4': '#00B64B',
        },
      },
      options: {
        changeFontSize: (chart, chartWidth) => {
          const yFontSize = chartWidth / (10*4.5);
          chart.scales['y-axis-0'].options.ticks.fontSize = yFontSize;


          const xFontSize = chartWidth / (12*4.5);
          chart.scales['x-axis-0'].options.ticks.fontSize = xFontSize;
          chart.legend.options.labels.fontSize = xFontSize;

          const fontSizeTooltip = chartWidth / (13*3.8);
          chart.options.tooltips.titleFontSize = fontSizeTooltip;
          chart.options.tooltips.bodyFontSize = fontSizeTooltip;
        },
        responsive: true,
        maintainAspectRatio: false,
        tooltips: {
          enabled: true,
          mode: 'nearest',
          intersect: false,
          titleFontFamily: 'titillium',
          titleFontColor: '#5d858d',
          titleFontSize: 13,
          titleFontStyle: 'normal',
          bodyFontFamily: 'titillium',
          bodyFontSize: 13,
          bodyFontStyle: 'normal',
          borderColor: '#5d858d',
          borderWidth: 1,
          custom: (tooltipModel) => {
            if (tooltipModel.opacity !== 0 && this.chartData.labels.length && this.chartData.datasets.length) {
              let color = this.additionalChartConfig.chartColors[this.option];
              color = color ? color : 'white';
              tooltipModel.borderColor = color;
              tooltipModel.titleFontColor = color;
              this.chartInstance.options.plugins.crosshair.line.color = color;
            }
          },
          callbacks: {
            title: (tooltipItems, data) => {
              let date = '';

              tooltipItems.forEach((value, index) => {
                date = this.chartData.raw.pnl[value.index].x;
              });

              return date;
            },
            label: (tooltipItem, data) => {
              return 'PNL: ' + this.prepareProfitNumber(
                  this.chartData
                      .raw
                      .pnl[tooltipItem.index].y
              ) + ' %';
            },
            labelTextColor: (tooltipItem, data) => {
              const color = this.additionalChartConfig.chartColors[this.option];

              return color ? color : 'white';
            },
          },
        },
        scales: {
          yAxes: [{
            gridLines: {
              color: '#2d2c3c',
              drawBorder: false,
            },
            ticks: {
              fontColor: '#fff',
              fontFamily: 'titillium',
              fontStyle: 'bold',
              fontSize: 18,
              padding: 10,
              callback: (value, index, values) => {
                return this.prepareNumber(value) + '%';
              },
            },
          }],
          xAxes: [{
            gridLines: {
              display: false,
            },
            ticks: {
              fontColor: '#5d858d',
              fontFamily: 'titillium',
              fontSize: 14,
              callback: (value, index, values) => {
                return values.length < 15 ?
                  this.prepareChartDate(value) :
                  value;
              },
            },
          }],
        },
        legend: {
          display: false,
          labels: {
            fontColor: '#5d858d',
            fontFamily: 'titillium',
            fontSize: 13,
            usePointStyle: true,
            boxWidth: 3,
          },
        },
        plugins: {
          crosshair: {
            line: {
              color: 'white',
              width: 1,
              dashPattern: [5, 5],
            },
            zoom: {
              enabled: false,
            },
          },
        },
      },
      chartInstance: null,
      plugins: [
        {
          beforeLayout: (chart) => {
            this.options.changeFontSize(chart, chart.chart.width);
          },
          afterInit: (chart) => {
            this.chartInstance = chart;
          },
        },
      ],
      chartData: {
        labels: [],
        datasets: [],
        raw: {},
      },
      optionInfo: {},
      loaded: false,
    };
  },
  mixins: [MediaService],
  props: ['option'],
  components: {
    chartLine,
  },
  created() {
    this.loadChart();
  },
  computed: {
    requirements() {
      if (this.optionInfo.requirements && this.optionInfo.requirements.length > 0) {
        if (this.optionInfo.requirements.length >= 4) {
          return 'Any of the Trading Cards activate ' + this.optionInfo.title;
        }

        return 'Trading Cards: ' + this.optionInfo.requirements.join(', ');
      }

      return 'TBA';
    },
  },
  methods: {
    async loadChart() {
      try {
        const data = await this.$store.dispatch(
            'fetchChartByOption',
            {'optionId': this.option}
        );

        if (data) {
          this.loaded = true;
          this.prepareChartData(data.data);
        }
      } catch (e) {
        if (e.name !== NotFoundActionsException.name) {
          throw e;
        }
      }
    },
    prepareChartData(chart) {
      const datasets = [];

      const borderDash = this.additionalChartConfig
          .solidLineOptions
          .includes(this.option) ?
        [] : [6, 5];
      const borderWidth = borderDash ? 2 : 1;

      datasets.push({
        label: 'Option 1',
        backgroundColor: this.additionalChartConfig.chartColors[this.option],
        borderColor: this.additionalChartConfig.chartColors[this.option],
        data: chart.ttl,
        fill: false,
        borderWidth: borderWidth,
        borderDash: borderDash,
      });

      this.chartData = {
        labels: chart.days,
        datasets: datasets,
        raw: chart,
      };

      this.optionInfo = chart.optionInfo;
    },

  },
};
</script>
<style lang="scss" scoped>
.chart {
  margin-top: 2em;
  width: 48%;
  display: inline-block;

  @media (max-width: 767px) {
    width: 100%;
  }

  &__header {
    font-family: tomorrow,serif;

    div {
      display: inline-block;
    }

    &__title {
      padding-left: 1.1em;
      padding-right: 1.1em;
      padding-bottom: 0.5em;
      font-size: 1.2em;
      color: #fff;
      text-transform: uppercase;
    }

    &__requirements {
      padding-top: 1em;
      text-align: center;
      max-width: 16em;
      line-height: 0.8em;

      &__title {
        font-size: 0.8em;
        display: block;
      }

      &__cards {
        font-size: 0.75em;
        color: #EB0013;
        display: block;
      }
    }

    &__open_button {
      float: right;
      margin-right: 1.55em;
      margin-top: 0.6em;

      @media (max-width: 767px) {
        float: none;
        display: block !important;
        width: 10em;
        margin: 0 auto;
        padding-bottom: 1em;
      }
    }
  }

  &__container {
    height: 28.7em;
    border: 1px solid #2d2c3c;
    margin-right: 1.5em;
    overflow: hidden;

    &__chart {
      height: 21.5em;
    }

    &__description {
      font-family: tomorrow,serif;
      min-height: 3.6em;
      max-height: 3.6em;
      overflow: hidden;
      padding: 1.5em 1.5em 0;
      color: #fff;
      line-height: 1.2em;
      font-size: 0.8em;

      @media (max-width: 767px) {
        max-height: 6em;
      }
    }

    &__description2 {
      font-family: tomorrow,serif;
      min-height: 1.7em;
      max-height: 1.7em;
      overflow: hidden;
      padding: .8em 1.5em .5em;
      line-height: 1.2em;
      font-size: 0.8em;

      .text {
        color: white;
      }

      .percent.green {
        color: #56ca6c;
      }

      .percent.red {
        color: #ca5656;
      }

      @media (max-width: 767px) {
        padding-bottom: 1.7em;
      }
    }

    &__not_connected {
      height: 28.7em;

      &__text {
        color: #45444A;
        font-size: 1.62em;
        font-weight: bold;
        margin: 0 auto;
        width: 9.5em;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__statement_link {
    font-family: tomorrow,serif;
    font-size: 0.7em;
    padding-top: 0.5em;
    text-decoration: underline;
    min-height: 2em;
    height: 2em;
    max-height: 2em;
    color: #0F7C2B;

    a {
      cursor: pointer;
    }

    span {
      visibility: hidden;
    }
  }
}
</style>
