<template lang="pug">
transition-group(
  name="fade"
  tag="div"
)
  .dialog__back(
    v-if="dialog"
    @click="!hideClose ? $emit('close') : null"
    key="dialog__back"
  )
  .dialog(
    v-if="dialog"
    key="dialog"
    :class="size ? 'dialog-' + size : null"
  )
    .dialog__title(v-if="!hideTitle")
      slot(name="title")
      .dialog__close(
        v-if="!hideClose"
        @click="$emit('close')"
      )
    .dialog__area
      slot
    .dialog__confirm(v-if="confirm")
      .messages__button(@click="$emit('yes')")
        span Yes
      | &nbsp; &nbsp; &nbsp;
      .messages__button(@click="$emit('close')")
        span No
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
    };
  },
  props: {
    hideTitle: {
      type: Boolean,
      default: true,
    },
    hideClose: {
      type: Boolean,
      default: false,
    },
    confirm: {
      type: Boolean,
      default: false,
    },
    size: {
      type: String,
    },
  },
  mounted() {
    this.dialog = true;
  },
};
</script>

<style lang="scss">
.dialog {
  width: 27rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #151523;
  border: 1px solid #08080e;
  border-radius: .4rem;
  transform: translate(-50%, -50%);
  z-index: 1001;
  &-big {
    width: auto;
    min-width: 38.5em;
    @media (max-width: 767px) {
      width: 90%;
      min-width: 0;
    }
  }
  &-small {
    width: 20em;
    text-align: center;
  }
  &__close {
    width: .6em;
    height: .6em;
    padding: .25em .25em;
    box-sizing: content-box;
    color: #fff;
    background: transparent
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
      center/.6em auto no-repeat;
    border-radius: .25rem;
    opacity: .5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #08080e;
    border-top-left-radius: calc(.4rem - 1px);
    border-top-right-radius: calc(.4rem - 1px);
    font-size: 16px;
    color: #e1e9f1;
  }
  &__area {
    padding: 1.5rem;
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
    padding: .75rem 1rem;
    margin: 0 -1.5rem -1.5rem -1.5rem;
    border-top: 1px solid #08080e;
    border-bottom-right-radius: calc(.4rem - 1px);
    border-bottom-left-radius: calc(.4rem - 1px);
    > * {
      margin: .25rem;
    }
  }
  &__confirm {
    display: flex;
    justify-content: center;
    padding: 0 1em 1em;
  }
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: .5;
    transition: opacity .3s;
    z-index: 10;
  }
}
</style>
