<template lang="pug">
  div.dropdown
    .dropdown__activator(@click="visible = !visible")
      slot(name="activator") Dropdown
    .dropdown__area(v-show="visible")
      slot
        .dropdown__item Item 1
        .dropdown__item Item 2
        .dropdown__item Item 3
        .dropdown__item Item 4
        .dropdown__item Item 5
</template>

<script>
export default {
  data() {
    return {
      visible: false,
    };
  },
  components: {
  },
  computed: {
  },
  created() {
    window.addEventListener('scroll', () => {
      this.visible = false;
    });
    window.addEventListener('click', (e) => {
      if (!this.$el.contains(e.target)) {
        this.visible = false;
      }
    });
  },
  methods: {
  },
};
</script>

<style lang="scss">
.dropdown {
  position: relative;
  &__area {
    min-width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    padding: .5em;
    box-sizing: border-box;
    background: #0f0f1c;
    border: .0625em solid #2d3c41;
  }
  &__item {
    margin-bottom: .5em;
    font-size: .85em;
    color: #56baca;
    cursor: pointer;
    transition: color .3s;
    &:hover {
      color: #ecfabd;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
</style>
