<template lang="pug">
  canvas(:id="id")
</template>

<script>
export default {
  data() {
    return {
      canvas: null,
      ctx: null,
      width: 0,
      height: 0,
      image: null,
      frm: 0,
    };
  },
  props: {
    src: {
      type: String,
      default: '',
    },
    FPS: {
      type: Number,
      default: 20,
    },
  },
  computed: {
    id() {
      return 'glitch' + this._uid;
    },
  },
  mounted() {
    this.canvas = document.getElementById(this.id);
    this.ctx = this.canvas.getContext('2d');
    this.width = this.canvas.width;
    this.height = this.canvas.height;

    this.image = new Image;
    this.image.src = this.src;
    this.image.onload = () => {
      const ratio = Math.min(
          this.width / this.image.width,
          this.height / this.image.height
      );
      setInterval(() => {
        this.frm++;
        this.ctx.clearRect(0, 0, this.width, this.height);
        this.ctx.drawImage(
            this.image, 0, 0,
            this.image.width,
            this.image.height,
            (this.width - this.image.width * ratio) / 2,
            (this.height - this.image.height * ratio) / 2,
            this.image.width * ratio,
            this.image.height * ratio
        );
        this.glitchWave((this.frm * 3) % this.height, 10);
        if (this.frm % 100 < 10) {
          this.glitchFillRandom(5, 20);
        }
        if (80 < this.frm % 100) {
          this.glitchSlip(10, 200, 300);
        }
        if (95 < this.frm % 100) {
          this.glitchSlip(10, 100 * Math.random(), 400 * Math.random());
        }
      }, 1000 / this.FPS);
    };
  },
  methods: {
    drawImage(img, x, y) {
      this.canvas.getContext('2d').drawImage(img, x, y);
    },
    glitchWave(renderLineHeight, cuttingHeight) {
      const image = this.ctx.getImageData(
          0,
          renderLineHeight,
          this.width,
          cuttingHeight
      );
      this.ctx.putImageData(image, 0, renderLineHeight - 10);
    },
    glitchSlip(waveStrength, startHeight, endHeight) {
      if (endHeight < startHeight) {
        const temp = endHeight;
        endHeight = startHeight;
        startHeight = temp;
      }
      for (let h = startHeight; h < endHeight; h++) {
        if (Math.random() < .1) {
          h++;
        }
        const image = this.ctx.getImageData(0, h, this.width, 1);
        this.ctx.putImageData(
            image,
            Math.random() * waveStrength - (waveStrength / 2),
            h
        );
      }
    },
    glitchFillRandom(fillCnt, cuttingMaxHeight) {
      const cw = this.width;
      const ch = this.height;
      if (!cw || !ch) return;
      for (let i = 0; i< fillCnt; i++) {
        const rndX = cw * Math.random();
        const rndY = ch * Math.random();
        const rndW = cw * Math.random();
        const rndH = cuttingMaxHeight * Math.random();
        try {
          const image = this.ctx.getImageData(rndX, rndY, rndW, rndH);
          this.ctx.putImageData(image, (rndX * Math.random()) % cw, rndY);
        } catch (error) {
          // console.log(error);
        }
      }
    },
  },
};
</script>
