<template lang="pug">
  div(:id="id")
</template>

<script>
export default {
  data() {
    return {
      gui: null,
      clock: null,
      scene: null,
      camera: null,
      renderer: null,
      composer: null,
      occlusionComposer: null,
      filmPass: null,

      badTVPass: null,
      bloomPass: null,
      itemMesh: null,
      occMesh: null,
      occRenderTarget: null,
      lightSource: null,
      vlShaderUniforms: null,

      scripts: [
        'https://unpkg.com/three@0.83.0/examples/js/shaders/CopyShader.js',
        'https://unpkg.com/three@0.83.0/examples/js/postprocessing/EffectComposer.js',
        'https://unpkg.com/three@0.83.0/examples/js/postprocessing/RenderPass.js',
        'https://unpkg.com/three@0.83.0/examples/js/postprocessing/ShaderPass.js',
        'https://unpkg.com/three@0.83.0/examples/js/shaders/HorizontalBlurShader.js',
        'https://unpkg.com/three@0.83.0/examples/js/shaders/VerticalBlurShader.js',
        'https://unpkg.com/three@0.83.0/examples/js/shaders/FilmShader.js',
        'https://unpkg.com/three@0.83.0/examples/js/shaders/LuminosityHighPassShader.js',
        'https://unpkg.com/three@0.83.0/examples/js/postprocessing/UnrealBloomPass.js',
        'https://cdn.rawgit.com/felixturner/bad-tv-shader/master/BadTVShader.js',
      ],
      scriptsLoaded: 0,
    };
  },
  props: {
    image: {
      type: String,
      default: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/13307/blaster.png',
    },
    width: {
      type: Number,
      default: 1369,
    },
    height: {
      type: Number,
      default: 319,
    },
    lightColor: {
      type: Number,
      default: 0x0099ff,
    },
    DEFAULT_LAYER: {
      type: Number,
      default: 0,
    },
    OCCLUSION_LAYER: {
      type: Number,
      default: 1,
    },
    renderScale: {
      type: Number,
      default: 0.25,
    },
    exposure: {
      type: Number,
      default: 1,
    },
    decay: {
      type: Number,
      default: 1,
    },
    density: {
      type: Number,
      default: 6,
    },
    weight: {
      type: Number,
      default: 0.57,
    },
    samples: {
      type: Number,
      default: 30,
    },
    x: {
      type: Number,
      default: 0,
    },
    y: {
      type: Number,
      default: -15,
    },
    z: {
      type: Number,
      default: -15,
    },
    showGui: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    id() {
      return 'holographics' + this._uid;
    },
  },
  watch: {
    scriptsLoaded() {
      if (this.scriptsLoaded == this.scripts.length) {
        THREE.VolumetericLightShader = {
          uniforms: {
            tDiffuse: {value: null},
            lightPosition: {value: new THREE.Vector2(0.1, 0.1)},
            exposure: {value: this.exposure},
            decay: {value: this.decay},
            density: {value: this.density},
            weight: {value: this.weight},
            samples: {value: this.samples},
          },

          vertexShader: [
            'varying vec2 vUv;',
            'void main() {',
            'vUv = uv;',
            'gl_Position =projectionMatrix*modelViewMatrix*vec4(position,1.0);',
            '}',
          ].join('\n'),

          fragmentShader: [
            'varying vec2 vUv;',
            'uniform sampler2D tDiffuse;',
            'uniform vec2 lightPosition;',
            'uniform float exposure;',
            'uniform float decay;',
            'uniform float density;',
            'uniform float weight;',
            'uniform int samples;',
            'const int MAX_SAMPLES = 100;',
            'void main()',
            '{',
            'vec2 texCoord = vUv;',
            'vec2 deltaTextCoord = texCoord - lightPosition;',
            'deltaTextCoord *= 1.0 / float(samples) * density;',
            'vec4 color = texture2D(tDiffuse, texCoord);',
            'float illuminationDecay = 1.0;',
            'for(int i=0; i < MAX_SAMPLES; i++)',
            '{',
            'if(i == samples) {',
            'break;',
            '}',
            'texCoord += deltaTextCoord;',
            'vec4 sample = texture2D(tDiffuse, texCoord);',
            'sample *= illuminationDecay * weight;',
            'color += sample;',
            'illuminationDecay *= decay;',
            '}',
            'gl_FragColor = color * exposure;',
            '}',
          ].join('\n'),
        };
        THREE.AdditiveBlendingShader = {
          uniforms: {
            tDiffuse: {value: null},
            tAdd: {value: null},
          },

          vertexShader: [
            'varying vec2 vUv;',
            'void main() {',
            'vUv = uv;',
            'gl_Position =projectionMatrix*modelViewMatrix*vec4(position,1.0);',
            '}',
          ].join('\n'),

          fragmentShader: [
            'uniform sampler2D tDiffuse;',
            'uniform sampler2D tAdd;',
            'varying vec2 vUv;',
            'void main() {',
            'vec4 color = texture2D(tDiffuse, vUv);',
            'vec4 add = texture2D(tAdd, vUv);',
            'gl_FragColor = color + add;',
            '}',
          ].join('\n'),
        };
        THREE.PassThroughShader = {
          uniforms: {
            tDiffuse: {value: null},
          },

          vertexShader: [
            'varying vec2 vUv;',
            'void main() {',
            'vUv = uv;',
            'gl_Position =projectionMatrix*modelViewMatrix*vec4(position,1.0);',
            '}',
          ].join('\n'),

          fragmentShader: [
            'uniform sampler2D tDiffuse;',
            'varying vec2 vUv;',
            'void main() {',
            'gl_FragColor = texture2D(tDiffuse, vec2(vUv.x, vUv.y));',
            '}',
          ].join('\n'),
        };

        if (this.showGui) {
          this.gui = new dat.GUI();
        }
        this.clock = new THREE.Clock();

        this.scene = new THREE.Scene();
        this.camera = new THREE.PerspectiveCamera(
            75,
            this.width / this.height,
            0.1,
            1000
        );
        this.renderer = new THREE.WebGLRenderer({
          antialias: false,
          alpha: true,
        });
        this.renderer.autoClear = true;
        this.renderer.setClearColor(0xffffff, 0);
        this.renderer.setSize(this.width, this.height);

        this.setupScene();
        this.setupPostprocessing();
        this.onFrame();
        this.updateShaderLight();
        if (this.showGui) {
          this.setupGUI();
        }
        this.addRenderTargetImage();
        document.getElementById(this.id).appendChild(this.renderer.domElement);
      }
    },
  },
  mounted() {
    const script = document.createElement('script');
    script.src = 'https://unpkg.com/three@0.83.0/build/three.js';
    document.head.appendChild(script);
    script.onload = () => {
      if (this.showGui) {
        this.scripts = [
          'https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5.1/dat.gui.min.js',
          ...this.scripts,
        ];
      }
      this.scripts.forEach((url) => {
        const script = document.createElement('script');
        script.src = url;
        document.head.appendChild(script);
        script.onload = () => {
          this.scriptsLoaded++;
        };
      });
    };
  },
  methods: {
    getImageTexture(image, density = 1) {
      const canvas = document.createElement('canvas');
      const ctx = canvas.getContext('2d');
      const {width, height} = image;

      canvas.setAttribute('width', width * density);
      canvas.setAttribute('height', height * density);
      canvas.style.width = `${width}px`;
      canvas.style.height = `${height}px`;
      ctx.drawImage(image, 0, 0, width * density, height * density);

      return canvas;
    },

    setupScene() {
      this.lightSource = new THREE.Object3D();
      this.lightSource.position.x = this.x;
      this.lightSource.position.y = this.y;
      this.lightSource.position.z = this.z;

      const itemGeo = new THREE.PlaneGeometry(9, 2.1);
      const itemMaterial = new THREE.MeshBasicMaterial({
        transparent: true,
        opacity: 0.7,
      });

      const img = new Image();
      img.src = this.image;
      img.crossOrigin = 'Anonymous';

      img.onload = () => {
        const itemTexture = new THREE.Texture(
            this.getImageTexture(img),
            null,
            THREE.ClampToEdgeWrapping,
            THREE.ClampToEdgeWrapping,
            null,
            THREE.LinearFilter
        );

        itemTexture.needsUpdate = true;
        itemMaterial.map = itemTexture;

        this.itemMesh = new THREE.Mesh(itemGeo, itemMaterial);
        this.scene.add(this.itemMesh);
        const occItemMaterial = new THREE.MeshBasicMaterial({
          color: this.lightColor,
        });
        occItemMaterial.map = itemTexture;
        this.occMesh = new THREE.Mesh(itemGeo, occItemMaterial);
        this.occMesh.layers.set(this.OCCLUSION_LAYER);
        this.scene.add(this.occMesh);
      };

      this.camera.position.z = 4.5;
    },

    setupPostprocessing() {
      this.occRenderTarget = new THREE.WebGLRenderTarget(
          this.width * this.renderScale,
          this.height * this.renderScale
      );

      // Blur passes
      const hBlur = new THREE.ShaderPass(THREE.HorizontalBlurShader);
      const vBlur = new THREE.ShaderPass(THREE.VerticalBlurShader);
      const bluriness = 7;
      hBlur.uniforms.h.value = bluriness / this.width;
      vBlur.uniforms.v.value = bluriness / this.height;

      // Bad TV Pass
      this.badTVPass = new THREE.ShaderPass(THREE.BadTVShader);
      this.badTVPass.uniforms.distortion.value = 1.9;
      this.badTVPass.uniforms.distortion2.value = 1.2;
      this.badTVPass.uniforms.speed.value = 0.1;
      this.badTVPass.uniforms.rollSpeed.value = 0;

      // Volumetric Light Pass
      const vlPass = new THREE.ShaderPass(THREE.VolumetericLightShader);
      this.vlShaderUniforms = vlPass.uniforms;
      vlPass.needsSwap = false;

      // Occlusion Composer
      this.occlusionComposer = new THREE.EffectComposer(
          this.renderer, this.occRenderTarget
      );
      this.occlusionComposer.addPass(new THREE.RenderPass(
          this.scene,
          this.camera
      ));
      this.occlusionComposer.addPass(hBlur);
      this.occlusionComposer.addPass(vBlur);
      this.occlusionComposer.addPass(hBlur);
      this.occlusionComposer.addPass(vBlur);
      this.occlusionComposer.addPass(hBlur);
      this.occlusionComposer.addPass(this.badTVPass);
      this.occlusionComposer.addPass(vlPass);

      // Bloom pass
      this.bloomPass = new THREE.UnrealBloomPass(
          this.width / this.height,
          0.5,
          0.8,
          0.3
      );

      // Film pass
      this.filmPass = new THREE.ShaderPass(THREE.FilmShader);
      this.filmPass.uniforms.sCount.value = 1200;
      this.filmPass.uniforms.grayscale.value = false;
      this.filmPass.uniforms.sIntensity.value = 1.5;
      this.filmPass.uniforms.nIntensity.value = 0.2;

      // Blend occRenderTarget into main render target
      const blendPass = new THREE.ShaderPass(THREE.AdditiveBlendingShader);
      blendPass.uniforms.tAdd.value = this.occRenderTarget.texture;
      blendPass.renderToScreen = true;

      // Main Composer
      this.composer = new THREE.EffectComposer(this.renderer);
      this.composer.addPass(new THREE.RenderPass(this.scene, this.camera));
      this.composer.addPass(this.bloomPass);
      this.composer.addPass(this.badTVPass);
      this.composer.addPass(this.filmPass);
      this.composer.addPass(blendPass);
    },

    onFrame() {
      requestAnimationFrame(this.onFrame);
      this.update();
      this.render();
    },

    update() {
      const timeDelta = this.clock.getDelta();
      const elapsed = this.clock.getElapsedTime();

      this.filmPass.uniforms.time.value += timeDelta;
      this.badTVPass.uniforms.time.value += 0.01;

      if (this.itemMesh) {
        this.itemMesh.rotation.y = Math.sin(elapsed / 2) / 15;
        this.itemMesh.rotation.z = Math.cos(elapsed / 2) / 50;
        this.occMesh.rotation.copy(this.itemMesh.rotation);
      }
    },

    render() {
      this.camera.layers.set(this.OCCLUSION_LAYER);
      this.renderer.setClearColor(0xffffff, 0);
      this.occlusionComposer.render();

      this.camera.layers.set(this.DEFAULT_LAYER);
      this.renderer.setClearColor(0xffffff, 0);
      this.composer.render();
    },

    updateShaderLight() {
      const p = this.lightSource.position.clone();
      const vector = p.project(this.camera);
      const x = (vector.x + 1) / 2;
      const y = (vector.y + 1) / 2;
      this.vlShaderUniforms.lightPosition.value.set(x, y);
    },

    setupGUI() {
      let folder;

      // Bloom Controls
      folder = this.gui.addFolder('Bloom');
      folder.add(this.bloomPass, 'radius').min(0).max(10).name('Radius');
      folder.add(this.bloomPass, 'threshold').min(0).max(1).name('Threshold');
      folder.add(this.bloomPass, 'strength').min(0).max(10).name('Strength');
      folder.open();

      // Bad TV Controls
      folder = this.gui.addFolder('TV');
      folder
          .add(this.badTVPass.uniforms.distortion, 'value')
          .min(0)
          .max(10)
          .name('Distortion 1');
      folder
          .add(this.badTVPass.uniforms.distortion2, 'value')
          .min(0)
          .max(10)
          .name('Distortion 2');
      folder
          .add(this.badTVPass.uniforms.speed, 'value')
          .min(0).max(1).name('Speed');
      folder
          .add(this.badTVPass.uniforms.rollSpeed, 'value')
          .min(0)
          .max(10)
          .name('Roll Speed');
      folder.open();

      // Light Controls
      folder = this.gui.addFolder('Light Position');
      folder
          .add(this.lightSource.position, 'x')
          .min(-50)
          .max(50)
          .onChange(this.updateShaderLight);
      folder
          .add(this.lightSource.position, 'y')
          .min(-50)
          .max(50)
          .onChange(this.updateShaderLight);
      folder
          .add(this.lightSource.position, 'z')
          .min(-50)
          .max(50)
          .onChange(this.updateShaderLight);
      folder.open();

      // Volumetric Light Controls
      folder = this.gui.addFolder('Volumeteric Light Shader');
      folder
          .add(this.vlShaderUniforms.exposure, 'value')
          .min(0).max(1).name('Exposure');
      folder
          .add(this.vlShaderUniforms.decay, 'value')
          .min(0).max(1).name('Decay');
      folder
          .add(this.vlShaderUniforms.density, 'value')
          .min(0).max(10).name('Density');
      folder
          .add(this.vlShaderUniforms.weight, 'value')
          .min(0).max(1).name('Weight');
      folder
          .add(this.vlShaderUniforms.samples, 'value')
          .min(1).max(100).name('Samples');

      folder.open();
    },

    addRenderTargetImage() {
      const material = new THREE.ShaderMaterial(THREE.PassThroughShader);
      material.uniforms.tDiffuse.value = this.occRenderTarget.texture;

      const mesh = new THREE.Mesh(
          new THREE.PlaneBufferGeometry(2, 2),
          material
      );
      this.composer.passes[1].scene.add(mesh);
      mesh.visible = false;

      if (this.showGui) {
        const folder = this.gui.addFolder('Light Pass Render Image');
        folder.add(mesh, 'visible');
        folder.open();
      }
    },
  },
};
</script>
