<template>
  <div
    class="card-wrap"
    :ref="uid">
    <div
      v-if="background"
      class="card"
      :style="[
        cardStyle,
      ]"
      @mousemove="handleMouseMove"
      @mouseenter="handleMouseEnter"
      @mouseleave="handleMouseLeave"
    >
      <div
        class="card__background"
        :style="[
          cardBgTransform,
          cardBgImage
        ]"
      ></div>
      <img v-if="image" :src="image" alt="">
    </div>
    <div
      v-else-if="title || amount || bonus || expanding"
      class="card"
      :style="cardStyle"
    >
      <div
        class="card__background"
        :style="[
          cardBgTransform,
          cardBgImage
        ]"
      ></div>
      <div
        class="card__area"
      >
        <div class="card__price" v-if="price">Price: {{ price }}</div>
        <div class="card__title" v-if="title">{{ title }}</div>
        <div class="card__button"
             v-if="!background"
             @click="handleButton"
        >Buy now
        </div>
        <div class="card__amount" v-if="amount">{{ amount }}</div>
        <div class="card__plus" v-if="bonus">+</div>
        <div class="card__bonus" v-if="bonus">{{ bonus }}</div>
        <div class="card__expanding" v-if="expanding">
          <div>EXPANDING PERIOD</div>
            <div>{{ expanding }}</div>
        </div>
        <div
          class="card__area__container"
          @mousemove="handleMouseMove"
          @mouseenter="handleMouseEnter"
          @mouseleave="handleMouseLeave"
        ></div>
      </div>
    </div>
    <div
      v-else
      class="card"
      :style="cardStyle"
      @mousemove="handleMouseMove"
      @mouseenter="handleMouseEnter"
      @mouseleave="handleMouseLeave"
    >
      <img v-if="image" :src="image" alt="">
    </div>
    <div class="card__number" v-if="number && !isNaN(number) && number > 0">
      <span>Left:</span> {{ number }}
    </div>
    <div class="card__number" v-if="number && !isNaN(number) && number <= 0">
      <span>{{ zeroText }}</span>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      width: 0,
      height: 0,
      mouseX: 0,
      mouseY: 0,
      mouseLeaveDelay: null,
      buttonHover: false,
      // onMove: false,
    };
  },
  props: {
    id: {
      type: Number,
      default: 0,
    },
    image: {
      type: String,
      default: '',
    },
    title: {
      type: String,
      default: '',
    },
    amount: {
      type: String,
      default: '',
    },
    bonus: {
      type: String,
      default: '',
    },
    expanding: {
      type: String,
      default: '',
    },
    price: {
      type: String,
      default: '',
    },
    number: {
      type: String,
      default: '',
    },
    background: {
      type: String,
      default: '',
    },
    k: {
      type: Number,
      default: 30,
    },
    j: {
      type: Number,
      default: 30,
    },
    zeroText: {
      type: String,
      default: null,
    },
  },
  computed: {
    uid() {
      return 'parallax' + this._uid;
    },
    mousePX() {
      return this.mouseX / this.width;
    },
    mousePY() {
      return this.mouseY / this.height;
    },
    kBg() {
      return this.k + this.k * .3;
    },
    cardStyle() {
      let rX = this.mousePX * this.k;
      let rY = this.mousePY * -this.k;
      if (rX > this.j) {
        rX = this.j;
      } else if (rX < -this.j) {
        rX = -this.j;
      }
      if (rY > this.j) {
        rY = this.j;
      } else if (rY < -this.j) {
        rY = -this.j;
      }
      return {
        transform: `rotateY(${rX}deg) rotateX(${rY}deg)`,
      };
    },
    cardBgTransform() {
      let tX = this.mousePX * -this.kBg;
      let tY = this.mousePY * -this.kBg;
      if (tX > this.j) {
        tX = this.j;
      } else if (tX < -this.j) {
        tX = -this.j;
      }
      if (tY > this.j) {
        tY = this.j;
      } else if (tY < -this.j) {
        tY = -this.j;
      }
      return {
        transform: `translateX(${tX}px) translateY(${tY}px)`,
      };
    },
    cardBgImage() {
      const image = this.background ? this.background : this.image;
      return {
        backgroundImage: `url(${image})`,
      };
    },
  },
  mounted() {
    const interval = setInterval(() => {
      this.width = this.$refs[this.uid].offsetWidth;
      this.height = this.$refs[this.uid].offsetHeight;
      if (this.width && this.height) {
        clearInterval(interval);
      }
    }, 100);
  },
  methods: {
    handleMouseMove() {
      if (event.target.className == 'card__button') {
        return;
      }
      const offsetLeft = this.$refs[this.uid]
          .getBoundingClientRect().left + window.scrollX;
      const offsetTop = this.$refs[this.uid]
          .getBoundingClientRect().top + window.scrollY;
      this.mouseX = event.pageX - offsetLeft - this.width / 2;
      this.mouseY = event.pageY - offsetTop - this.height / 2;
    },
    handleMouseEnter() {
      clearTimeout(this.mouseLeaveDelay);
    },
    handleMouseLeave() {
      this.mouseLeaveDelay = setTimeout(() => {
        this.mouseX = 0;
        this.mouseY = 0;
      }, 1000);
    },
    handleButton() {
      this.$emit('handle-button', {
        id: this.id,
        title: this.title,
      });
    },
  },
};
</script>

<style lang="scss">
$hoverEasing: cubic-bezier(.23, 1, .32, 1);
$returnEasing: cubic-bezier(.445, .05, .55, .95);
.card-wrap {
  transform: perspective(50em);
  transform-style: preserve-3d;

  &:hover {
    .card {
      transition: .6s $hoverEasing,
      box-shadow 2s $hoverEasing;
    }

    .card__background {
      transition: .6s $hoverEasing, opacity 5s $hoverEasing;
      opacity: .8;

      .register__image & {
        transition: .6s $hoverEasing;
        opacity: 1;
      }
    }
  }
}

.card {
  position: relative;
  transition: border-color .3s, 1s $returnEasing;

  &__background {
    position: absolute;
    top: -2em;
    left: -2em;
    right: -2em;
    bottom: -2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .5;
    transition: 1s $returnEasing, opacity 5s 1s $returnEasing;
    pointer-events: none;
    z-index: 1;

    .register__image & {
      transition: 1s $returnEasing;
      opacity: 1;
    }
  }
}
</style>
