<template lang="pug">
    vue-recaptcha(
      v-if="$store.state.recaptchaV3ChangedToV2"
      ref="recaptcha"
      class="form__recaptcha"
      :sitekey="$store.state.reCaptchaKey"
      :loadRecaptchaScript="true"
      @verify="verifyCaptchaV2"
      v-bind:theme="theme"
    )
</template>

<script>
import VueRecaptcha from 'vue-recaptcha';
import RecaptchaService from '../../services/RecaptchaService';

export default {
  mixins: [
    RecaptchaService,
  ],
  props: {
    'value': {},
    'checkFailed': {},
    'ready': {},
    'theme': {
      default: 'dark',
    },
  },
  data() {
    return {
      reloadListener: (response) => {
        if (response.status == 422) {
          this.resetRecaptcha();
        }
      },
      updateTokenInterval: null,
    };
  },
  components: {
    VueRecaptcha,
  },
  watch: {
    checkFailed(value) {
      if (value) {
        this.$store.commit('setRecaptchaV3ChangedToV2', true);
      }
    },
  },
  async created() {
    this.ready.ready = false;

    this.$store.state.ee.on('fetch_request.done', this.reloadListener);

    this.updateTokenInterval = setInterval(() => {
      this.updateToken();
    }, 120000);

    await this.updateToken();

    this.ready.ready = true;
  },
  beforeDestroy() {
    this.$store.state.ee.off('fetch_request.done', this.reloadListener);

    clearInterval(this.updateTokenInterval);
  },
  methods: {
    verifyCaptchaV2(recaptchaToken) {
      this.$emit('input', recaptchaToken);
    },
    async resetRecaptcha() {
      this.ready.ready = false;

      await this.updateToken();

      if (this.$refs.recaptcha) {
        this.$refs.recaptcha.reset();
        this.prepareReCaptcha();

        this.ready.ready = true;
      }
    },
    async updateToken() {
      if (!this.$store.state.recaptchaV3ChangedToV2) {
        this.ready.ready = false;

        this.$emit('input', await this.getRecaptchaToken());

        this.ready.ready = true;
      }
    },
  },
};
</script>
