<template lang="pug">
  span(:id="id")
</template>

<script>
export default {
  data() {
    return {
      container: null,
      index: 0,
    };
  },
  props: {
    message: {
      type: String,
      default: '',
    },
    time: {
      type: Number,
      default: 40,
    },
  },
  computed: {
    id() {
      return 'scifi' + this._uid;
    },
  },
  mounted() {
    this.initialise();
  },
  methods: {
    requestCharAnimation(char, value) {
      setTimeout(function() {
        char.textContent = value;
        char.classList.add('fade-in');
      }, this.time);
    },
    addChar() {
      const char = document.createElement('span');
      char.classList.add('char');
      char.textContent = '▌';
      this.container.appendChild(char);
      this.requestCharAnimation(char, this.message.substr(this.index++, 1));
      if (this.index < this.message.length) {
        this.requestChar();
      }
    },
    requestChar(delay = 0) {
      setTimeout(this.addChar, this.time + delay);
    },
    initialise() {
      this.container = document.getElementById(this.id);
      this.requestChar(1000);
    },
  },
};
</script>
