<template lang="pug">
  .suggestions
    .suggestions__results(v-if="results.length")
      span(
        v-for="result in results"
        @click="remove(result)"
      ) {{ result.label }}
        span(v-if="editable") &times;
    input(
      v-if="editable"
      v-model="search"
      placeholder="Print to search contact"
    )
    .suggestions__dropdown(v-if="editable && search && itemsList.length")
      .suggestions__item(
        v-for="item in itemsList"
        @click="add(item)"
      ) {{ item.label }}
</template>

<script>
export default {
  data() {
    return {
      search: '',
      results: [],
    };
  },
  props: {
    items: {
      type: Array,
      default: () => [],
    },
    values: {
      type: Array,
      default: null,
    },
    one: {
      type: Boolean,
      default: false,
    },
    editable: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    itemsList() {
      const search = this.search.toLowerCase();
      return this.items.filter((item) => item.label.toLowerCase().indexOf(search) !== -1);
    },
  },
  watch: {
    items: {
      immediate: true,
      handler(items) {
        if (items && this.values) {
          this.values.forEach((value) => {
            const result = items.find((item) => item.value == value);
            if (result) this.results.push(result);
          });
        }
      },
    },
  },
  methods: {
    add(item) {
      if (!this.editable) return;
      this.removeItem(item);
      this.results.push(item);
      this.search = '';
      if (this.one) {
        this.$emit('add', item.value);
      } else {
        this.$emit('change', this.results);
      }
    },
    remove(item) {
      if (!this.editable) return;
      const value = item.value;
      this.removeItem(item);
      if (this.one) {
        this.$emit('remove', value);
      } else {
        this.$emit('change', this.results);
      }
    },
    removeItem(item) {
      const index = this.results.findIndex((result) => result.value == item.value);
      if (index !== -1) {
        this.results.splice(index, 1);
      }
    },
  },
};
</script>

<style lang="scss">
.suggestions {
  position: relative;
  z-index: 5;
  input {
    width: 100%;
    padding: .63em .85em;
    box-sizing: border-box;
    background:none;
    border: .0625em solid #2d3c41;
    color: #64c6ce;
    transition: color .3s, border-color .3s;
    &::placeholder {
      color: #64c6ce;
    }
    &:-ms-input-placeholder {
      color: #64c6ce;
    }
    &::-ms-input-placeholder {
      color: #64c6ce;
    }
    &:focus::placeholder {
      color: #2d3c41;
    }
    &:focus:-ms-input-placeholder {
      color: #2d3c41;
    }
    &:focus::-ms-input-placeholder {
      color: #2d3c41;
    }
    &.focused {
      border-color: #208a7a;
      color: #0f0d16;
    }
  }
  &:hover {
    input {
      border-color: #208a7a;
    }
  }
  &__results {
    @media (max-width: 767px) {
      font-size: 1em !important;
    }
    span {
      display: inline-flex;
      align-items: center;
      margin: 0 .2em .2em 0;
      font-size: .8em;
      text-transform: uppercase;
      cursor: pointer;
      span {
        margin-left: .2em;
        font-size: 1.5em;
        color: #ff0000;
      }
    }
  }
  &__dropdown {
    min-width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    padding: .5em;
    box-sizing: border-box;
    background: #0f0f1c;
    border: .0625em solid #2d3c41;
  }
  &__item {
    margin-bottom: .5em;
    font-size: .85em;
    color: #56baca;
    cursor: pointer;
    transition: color .3s;
    text-transform: uppercase;
    &:hover {
      color: #ecfabd;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
</style>
