<template lang="pug">
  span(:id="id")
</template>

<script>
export default {
  data() {
    return {
      messages: [],
    };
  },
  props: {
    message: {
      type: String,
      default: '',
    },
    probability: {
      type: Number,
      default: .2,
    },
    glitches: {
      type: String,
      default: '-|/\\',
    },
    blank: {
      type: String,
      default: '',
    },
    delay: {
      type: Number,
      default: 800,
    },
    duration: {
      type: Number,
      default: 20,
    },
    br: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    id() {
      return 'transmit' + this._uid;
    },
  },
  mounted() {
    this.messages = this.message.split('|');
    this.initialise();
  },
  methods: {
    scramble(element, text, delay) {
      const settings = {
        probability: this.probability,
        glitches: this.glitches,
        blank: this.blank,
        duration: text.length * this.duration,
        delay: delay,
      };
      const glitchCharacters = settings.glitches.split('');
      const glitches = (() => {
        const results = [];
        for (let i = 0; i < glitchCharacters.length; i++) {
          results.push(glitchCharacters[i]);
        }
        return results;
      })();
      const ghostCharacters = element.innerText.split('');
      const ghosts = (() => {
        const results = [];
        for (let i = 0; i < ghostCharacters.length; i++) {
          results.push(ghostCharacters[i]);
        }
        return results;
      })();
      const textCharacters = text.split('');
      const textLength = textCharacters.length;
      const order = (() => {
        const results = [];
        for (
          let i = 0;
          0 <= textLength ? i < textLength : i > textLength;
          0 <= textLength ? i++ : i--
        ) {
          results.push(i);
        }
        return results;
      })().sort(this.shuffle);
      const output = [];
      let j = 0;
      for (
        let i = 0;
        0 <= textLength ? j < textLength : j > textLength;
        i = 0 <= textLength ? ++j : --j
      ) {
        const glitchCharacter = glitches[
            Math.floor(Math.random() * (glitchCharacters.length - 1))
        ];
        const ghostCharacter = ghosts[i] || settings.blank;
        output.push(
          Math.random() < settings.probability ?
          glitchCharacter :
          ghostCharacter
        );
      }

      setTimeout(() => {
        let val = 0;
        const timerId = setInterval(() => {
          const progress = Math.floor(val * (textLength - 1));
          let index;
          let k = 0;
          for (
            let i = 0;
            0 <= progress ? k <= progress : k >= progress;
            i = 0 <= progress ? ++k : --k
          ) {
            index = order[i];
            output[index] = textCharacters[index];
          }
          element.innerText = output.join('');
          val += .1;
          if (val > 1) {
            clearInterval(timerId);
            element.innerText = text;
          }
        }, settings.duration / 10);
      }, settings.delay);
    },
    shuffle() {
      if (Math.random() < .5) {
        return 1;
      } else {
        return -1;
      }
    },
    animate() {
      let delay = 0;
      const paragraps = document.querySelectorAll('#' + this.id + ' span');
      for (let i = 0; i < this.messages.length; i++) {
        this.scramble(
            paragraps[i],
            this.messages[i],
            delay
        );
        if (this.messages[i] != '') {
          delay += this.delay;
        }
      }
    },
    initialise() {
      const container = document.getElementById(this.id);
      for (let i = 0; i < this.messages.length; i++) {
        container.append(document.createElement('span'));
        if (this.br) {
          container.append(document.createElement('br'));
        }
      }
      this.animate();
    },
  },
};
</script>
