<template lang="pug">
  .news__sidebar
    .news__block
      .news__caption Search
      form.search
        input.search__input(
          type="search"
          placeholder="Search..."
          @keyup="params = {search: $event.target.value}"
        )
        button.search__button
    .news__block(v-if="categoriesTotal")
      .news__caption News Categories
      nav.news__menu
        div(
          :class="'b-allnews' + (params.category == null ? ' active' : '')"
          @click="params = {category: null}"
        )
          .news__menu__icon.icon-allnews
            span
          span All news
        div(
          v-for="item in categories"
          :key="item.id"
          @click="params = {category: item.id}"
          :class="'b-' + prepareClass(item, true)"
        )
          .news__menu__icon(:class="'icon-' + prepareClass(item)")
            span
          span {{ item.title[lang]}}
</template>

<script>
export default {
  data() {
    return {
    };
  },
  components: {
  },
  computed: {
    categories() {
      return this.$store.state.newsCategories;
    },
    categoriesTotal() {
      return this.categories !== null &&
          Object.keys(this.categories).length;
    },
    params: {
      get() {
        return this.$store.state.newsParams;
      },
      set(param) {
        this.$store.commit('setNewsParams', param);
      },
    },
  },
  async created() {
    if (this.categories === null) {
      await this.$store.dispatch('fetchNewsCategories');
    }
  },
  methods: {
    prepareClass(item, active = false) {
      const name = item.title[this.lang].toLowerCase();
      return name.replaceAll(/[\s\.\&]+/g, '') +
        (active && this.params.category==item.id ? ' active' : '');
    },
  },
};
</script>

<style lang="scss">
.news {
  &__block {
    margin-bottom: 1.6em;
    padding: .7em 1em 0 1em;
    border: .0625em solid #2d2c3c;
  }
  &__caption {
    margin-bottom: .75em;
    text-transform: uppercase;
    @media (max-width: 767px) {
      font-size: 1.4em;
    }
  }
  &__menu {
    margin: 0 -1em;
    @media (max-width: 767px) {
      font-size: 1.4em;
    }
    > div {
      display: block;
      position: relative;
      padding: 1.24em 1em 1.24em 4.1em;
      border-left: .2em solid transparent;
      border-top: .0625em solid #2d2c3c;
      font-size: .7em;
      letter-spacing: .04em;
      color: #56baca;
      text-decoration: none;
      text-transform: uppercase;
      transition: color .3s, border-color .3s;
      cursor: pointer;
      @media (max-width: 767px) {
        font-size: .9em;
      }
      &:hover {
        color: #fff;
        .news__menu__icon {
          &:before,
          span {
            opacity: 0;
          }
          &:after {
            opacity: 1;
          }
        }
      }
      &.b {
        &-allnews {
          border-left-color: #fff;
        }
        &-generalnews {
          border-left-color: #20655d;
        }
        &-tradingbot {
          border-left-color: #a0371d;
        }
        &-faq {
          border-left-color: #7b8f38;
        }
        &-tutorials {
          border-left-color: #bbf4ed;
        }
        &-airdropbounty {
          border-left-color: #56baca;
        }
      }
      &.active {
        color: #ecfabd;
      }
    }
    &__icon {
      width: 2.1em;
      height: 2.1em;
      position: absolute;
      top: 50%;
      left: 1.8em;
      font-size: .75em;
      transform: translateY(-50%);
      &:before,
      &:after {
        content: '';
      }
      &:before,
      &:after,
      span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../../assets/images/news/categories.png);
        background-size: 300% 600%;
        transition: opacity .3s;
      }
      &:before {
        opacity: 1;
      }
      &:after {
        opacity: 0;
      }
      span {
        opacity: 0;
      }
    }
    .icon-allnews:after {
      background-position: -200% 0;
    }
    .icon-allnews span {
      background-position: -100% 0;
    }
    .icon-generalnews:before {
      background-position: 0 -2.1em;
    }
    .icon-generalnews:after {
      background-position: -200% -2.1em;
    }
    .icon-generalnews span {
      background-position: -100% -2.1em;
    }
    .icon-tradingbot:before {
      background-position: 0 -4.2em;
    }
    .icon-tradingbot:after {
      background-position: -200% -4.2em;
    }
    .icon-tradingbot span {
      background-position: -100% -4.2em;
    }
    .icon-faq:before {
      background-position: 0 -6.3em;
    }
    .icon-faq:after {
      background-position: -200% -6.3em;
    }
    .icon-faq span {
      background-position: -100% -6.3em;
    }
    .icon-tutorials:before {
      background-position: 0 -8.4em;
    }
    .icon-tutorials:after {
      background-position: -200% -8.4em;
    }
    .icon-tutorials span {
      background-position: -100% -8.4em;
    }
    .icon-airdropbounty:before {
      background-position: 0 -10.5em;
    }
    .icon-airdropbounty:after {
      background-position: -200% -10.5em;
    }
    .icon-airdropbounty span {
      background-position: -100% -10.5em;
    }
    .icon-6:before {
      background-position: 0 -12.6em;
    }
    .icon-6:after {
      background-position: -200% -12.6em;
    }
    .icon-6 span {
      background-position: -100% -12.6em;
    }
    .active {
      .news__menu__icon {
        &:before,
        &:after {
          opacity: 0;
        }
      }
      span {
        opacity: 1;
        z-index: 1;
      }
    }
  }
}
</style>
