<template lang="pug">
  #app
    component(:is="layout")
      router-view
    transition-group(name="fade")
      .modal__back(
        v-if="modal"
        @click="modalContent.disableBack ? null : modal = false"
        key="modal__back"
      )
      .modal(
        :class="modalClass()"
        v-if="modal"
        key="modal"
      )
        .modal__title(v-if="modalContent.title") {{ modalContent.title }}
        .modal__close(
          v-if="showClose()"
          @click="modal = false"
        )
        .modal__area.scroll(v-if="modalContent.scroll")
          vue-scroll
            div(v-html="modalContent.content")
        .modal__area(v-else)
          div(
            v-html="modalContent.content"
            :class="{'text-center': modalContent.confirm}"
          )
          div.text-center(v-if="modalContent.readmore")
            a.button(
              :href="modalContent.readmore"
              @click="modal = false"
            )
              span Read more
        .text-center(v-if="modalContent.homepage")
          router-link.button(:to="{name: 'Index'}")
            span Homepage
        .text-center(v-if="modalContent.button")
          .button(@click="modal = false")
            span Ok
        .text-center(v-if="modalContent.small && !modalContent.update")
          .button(@click="modal = false")
            span Close
        .text-center(v-if="modalContent.update")
          a.button(href="javascript: window.location.reload();")
            span Update
        .text-center(v-if="modalContent.confirm")
          .button(@click="modalContent.confirm")
            span Yes
          | &nbsp; &nbsp; &nbsp;
          .button(@click="modal = false")
            span No
    Cookie(v-if="!accepted")
</template>

<script>
import Cookie from './components/global/Cookie.vue';

export default {
  name: 'App',
  data() {
    return {
    };
  },
  computed: {
    layout() {
      return this.$route.meta.layout || 'default-layout';
    },
    accepted() {
      return !!localStorage.accepted;
    },
  },
  components: {
    Cookie,
  },
  mounted() {
    if (this.$store.state.tac.text == '') {
      const oReq = new XMLHttpRequest();
      oReq.addEventListener('load', (e) => {
        this.$store.commit('setTac', e.target.response);
      });
      oReq.open('GET', '/static/tac.html');
      oReq.send();
    }
  },
  methods: {
    modalClass() {
      return {
        'modal-box': !this.modalContent.title,
        'small': this.modalContent.small,
        'big': this.modalContent.big,
      };
    },
    showClose() {
      return (!this.modalContent.button &&
          !this.modalContent.small &&
          !this.modalContent.confirm) ||
          this.modalContent.update;
    },
  },
};
</script>

<style lang="scss">
body {
  line-height: 1.45;
  &.open-menu {
    overflow: hidden;
  }
  &.body-empty {
    background: #0a090d;
    font-family: 'tomorrow';
    @media(min-width: 1920px) {
      font-size: .95vw;
    }
    footer {
      position: relative;
      padding: 6em 6.8em 3em 3em;
      font-family: 'sourcesanspro';
      font-size: 1.25em;
      letter-spacing: .11em;
      text-align: center;
      @media (max-width: 767px) {
        padding: 6em 1em 2em 1em;
      }
    }
    .footer__up {
      position: absolute;
      top: 0;
      left: 50%;
      padding-right: 4.2em;
      font-family: 'tomorrow';
      font-weight: 300;
      font-size: .6em;
      font-style: italic;
      letter-spacing: .04em;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;
      transform: translateX(-50%);
      div {
        width: 5.6em;
        height: 7.4em;
        display: inline-block;
        margin: -.4em .5em 0 1em;
        background-image: url(./assets/images/global/scroll.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        transform: rotate(-180deg);
        span {
          display: block;
          height: 2.65em;
          background-image:
            url(./assets/images/global/scroll-active.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          opacity: 0;
          animation-name: blink;
          animation-duration: 1.5s;
          animation-timing-function: linear;
          animation-iteration-count: infinite;
          &:first-child {
            margin: .8em 0 -.9em 0;
          }
          &:nth-child(2) {
            animation-delay: .5s;
          }
          &:last-child {
            margin-top: -.9em;
            animation-delay: 1s;
          }
        }
      }
    }
  }
  &.body-default-background {
    background: #0f0d16 url(./assets/images/global/pattern.png) left top;
  }
  &.body-auth,
  &.body-default {
    display: flex;
    background-size: 10em 10em;
    font-family: 'titillium';
    #app,
    #app > div {
      width: 100%;
      display: flex;
    }
    footer {
      position: relative;
      padding: 1em 1em 4.5em 1em;
      font-size: .65em;
      color: #5d858d;
      text-align: center;
      text-transform: uppercase;
      @media (max-width: 767px) {
        padding: 4.5em 1em .5em 1em;
        font-size: 1.1em;
      }
    }
  }
  &.body-auth {
    @media (max-width: 767px) {
      font-size: 1.5vw;
    }
    #app > div {
      flex-direction: column;
      justify-content: space-between;
    }
    .footer__up {
      display: none;
    }
    footer {
      @media (max-width: 767px) {
        padding: .5em 1em;
        font-size: .7em;
      }
    }
  }
  &.body-default {
    hr {
      height: .0625em;
      background: url(./assets/images/global/hr.png);
      background-size: 100% 100%;
    }
    .footer__up {
      display: flex;
      align-items: center;
      position: absolute;
      top: .55em;
      right: 4.2em;
      font-size: 1.1em;
      text-transform: uppercase;
      cursor: pointer;
      @media (max-width: 767px) {
        top: 0;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
      }
      div {
        width: 2.2em;
        height: 2.2em;
        position: relative;
        margin-left: .4em;
        background:
          url(./assets/images/global/button.png)
          center/cover;
        transition: opacity .3s;
        opacity: .5;
        span:last-child {
          width: 50%;
          height: 50%;
          position: absolute;
          top: 25%;
          left: 25%;
          background:
            url(./assets/images/global/up.png)
            center/contain
            no-repeat;
        }
      }
      &:hover {
        div {
          opacity: 1;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  #app {
    font-size: 3em;
  }
}
</style>
