<template lang="pug">
  section.block1
    .container
      nav.nav
        .nav__burger(@click="toggleMenu")
          span
        .nav__menu
          div(@click="scrollTo('.block2')")
            | {{ getString('landing.menu.ito') }}
          div(@click="scrollTo('.reports')")
            | Reports
          div(@click="scrollTo('.media')")
            | About Us
          div(@click="scrollTo('.block3')")
            | {{ getString('landing.menu.david_card') }}
          div(@click="scrollTo('.block4')")
            | HFT BOT
          a(
            href="https://imperiumprotocol.com"
          )
            | Blockchain
          div(@click="scrollTo('.block5')")
            | {{ getString('landing.menu.news') }}
          div(@click="scrollTo('.contacts')")
            | {{ getString('landing.menu.contacts') }}
        .nav__auth
          router-link.nav__auth__register(:to="{name: 'Register'}")
            span {{ getString('landing.menu.register_now') }}
          router-link(v-if="authenticated", :to="{name: 'Dashboard'}")
            span Dashboard
          router-link(v-else, :to="{name: 'Login'}")
            span(v-if="authenticated !== null")
              | {{ getString('landing.menu.login') }}
        .nav__lang
          .nav__lang__current(@click="langMenu = langMenu")
            img(:src="currentLang.icon", alt="")
            span {{ currentLang.short_name }}
          .nav__lang__dropdown(v-show="langMenu")
            div(
              v-for="item in langs"
              :key="item.id"
              @click="setLang(item.short_name)"
            )
              img(:src="item.icon", :alt="item.name")
              span {{ item.short_name }}
        .nav__social
          a.nav__social-telegram(:href="telegram.href")
          a.nav__social-twitter(:href="twitter.href")
      .block1__header(v-if="show.header")
        SciFi(
          v-if="translates['landing.header.crypto_found']"
          :message="getString('landing.header.crypto_found') + ' &'"
        )
        mark
          SciFi(
            v-if="translates['landing.header.trading_service_ui']"
            :message="getString('landing.header.trading_service_ui')"
          )
      .block1__brief(v-if="show.brief")
        SciFi(
          :message="brief"
        )
        span.block1__brief__cursor _
      .block1__area
        .block1__text(:style="show.block3 ? '': 'opacity: 0'")
          .block1__text__header(v-if="show.block3")
            Transmit(
              :message="text2title"
              :br="true"
            )
          .block1__text__description(v-if="show.block3")
            Transmit(
              :message="getString('landing.text_2')"
              :br="true"
            )
          .block1__text__downloads(v-if="show.block3")
            div
              a(:href="apiUrl+'/external/imperium/download/win'") Download Wallet (WIN)
            div
              a(:href="apiUrl+'/external/imperium/download/mac'") Download Wallet (MAC)
            div
              a(href="https://testnet.imperiumprotocol.com/storage/chrome.zip") Download browser plugin (Chrome)
            div
              a(href="https://testnet.imperiumprotocol.com/storage/opera.zip") Download browser plugin (Opera)
        .block1__video(:class="{'block1__video-visible' : show.block2}")
          .block1__video__preview(@click="showModalMedia(landing['video_main'].download_link)")
            Glitch(
              :src="require('@/assets/images/index/block1/video.png')"
            )
            Glitch(
              :src="require('@/assets/images/index/block1/video-hover.png')"
            )
          .block1__video__brief
            | {{ getString('landing.video_text_1') }}
            br
            | {{ getString('landing.video_text_2') }}
      .block1__holographics(
        :class="{'block1__holographics-visible' : show.block4}"
      )
        Parallax(
          :image="require('@/assets/images/index/logo.png')"
          :k="20"
        )
      .block1__buttons
        a.block1__buttons__discord(:href="'https://t.me/tradingstatement'" target="_blank")
          span TRADE REPORT
        a.block1__buttons__discord(:href="'https://atlasdexswap.com'" target="_blank")
          span DEX SWAP
        a(:href="landing.telegram_link")
          span {{ getString('landing.center_menu.telegram') }}
      .block1__scroll(@click="scrollTo('.block2')")
        .block1__scroll__area
          div
          div
          div
        | {{ getString('landing.scroll_text') }}
</template>

<script>
import Glitch from '../plugins/glitch';
import Transmit from '../plugins/transmit';
import SciFi from '../plugins/sciFi';
import Parallax from '../plugins/parallax';
import MediaService from '../../services/MediaService';
import url from '../../store/config/url';

export default {
  data() {
    return {
      brief: '',
      briefIndex: 0,
      show: {
        header: false,
        brief: false,
        block2: false,
        block3: false,
        block4: false,
      },
      langMenu: false,
      authenticated: null,
      apiUrl: url,
    };
  },
  mixins: [MediaService],
  components: {
    Glitch,
    Transmit,
    SciFi,
    Parallax,
  },
  computed: {
    langs() {
      return this.$store.state.langs;
    },
    landing() {
      return this.$store.state.landing;
    },
    social() {
      return this.$store.state.social;
    },
    telegram() {
      const data = this.social.filter((item) => item.class == 'telegram');
      return data[0] ? data[0] : {href: ''};
    },
    twitter() {
      const data = this.social.filter((item) => item.class == 'twitter');
      return data[0] ? data[0] : {href: ''};
    },
    text2title() {
      return this.getString('landing.text_2_title') + '\n' +
          this.getString('landing.text_2_title_1');
    },
    briefs() {
      return [
        this.getString('landing.briefs.brief_1'),
        this.getString('landing.briefs.brief_2'),
        this.getString('landing.briefs.brief_3'),
      ];
    },
    currentLang() {
      const data = this.langs.filter((item) => item.short_name == this.lang);
      return data[0] ? data[0] : {icon: '', short_name: 'en'};
    },
  },
  watch: {
    lang() {
      this.show.header = false;
      this.show.brief = false;
      this.show.block3 = false;
      setTimeout(() => {
        this.show.header = true;
        this.show.block3 = true;
        this.changeBrief();
      }, 500);
    },
  },
  async mounted() {
    setTimeout(() => {
      this.show.header = true;
      setTimeout(() => {
        this.changeBrief();
        setTimeout(() => {
          this.show.block2 = true;
          setTimeout(() => {
            this.show.block3 = true;
            setTimeout(() => {
              this.show.block4 = true;
            }, 4000);
          }, 1000);
        }, 1200);
      }, 1000);
    }, 500);
    const data = await this.$store.dispatch('authCheck');
    this.authenticated = data.authenticated;
    if (!this.authenticated) {
      this.$store.commit('setUser', null);
    }
  },
  methods: {
    setLang(lang) {
      this.$store.dispatch('setLang', lang);
      this.langMenu = false;
    },
    createUrl(path) {
      return this.$store.state.url + path;
    },
    changeBrief() {
      this.show.brief = false;
      setTimeout(() => {
        this.show.brief = true;
        this.brief = this.briefs[this.briefIndex];
        setTimeout(() => {
          this.briefIndex++;
          if (this.briefIndex >= this.briefs.length) {
            this.briefIndex = 0;
          }
          this.changeBrief();
        }, 8000);
      }, 1);
    },
    toggleMenu() {
      document.body.classList.toggle('open-menu');
    },
  },
};
</script>

<style lang="scss">
.blockchain {
  color: gray;
  opacity: 0.5;
}

.nav {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 5.7em;
  padding: .4em 4.2em 0 7.5em;
  font-family: 'staatliches';
  text-transform: uppercase;
  @media (max-width: 767px) {
    height: 3em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 4em;
    padding: .5em 0;
    background: #000;
    z-index: 900;
  }
  &__burger {
    display: none;
  }
  @media (max-width: 767px) {
    &__burger {
      display: flex;
      flex-direction: column;
      margin-left: 1.5em;
      cursor: pointer;
      z-index: 1001;
      &:before,
      &:after,
      span {
        width: 1.5em;
        height: .2em;
        margin: .2em 0;
        background: #fff;
      }
      &:before,
      &:after {
        content: '';
      }
    }
  }
  a {
    text-decoration: none;
  }
  &__menu {
    width: 53%;
    display: flex;
    justify-content: space-between;
    font-size: 1.25em;
    letter-spacing: .08em;
    @media (max-width: 767px) {
      display: none;
    }
    div,
    a {
      color: #707070;
      cursor: pointer;
      transition: color .3s;
      &:hover {
        color: #fff;
      }
    }
    &-bot {
      color: #fff !important;
      &:before,
      &:after {
        display: inline-block;
        margin-top: -.15em;
        font-family: 'tomorrow';
        font-weight: 200;
        font-size: 1.2em;
        vertical-align: top;
      }
      &:before {
        content: '(';
        margin-right: .3em;
      }
      &:after {
        content: ')';
        margin-left: .3em;
      }
    }
  }
  &__auth {
    display: flex;
    padding: 2em 0 0 0;
    transition: color .3s;
    @media (max-width: 767px) {
      display: none;
    }
    a {
      position: relative;
      box-sizing: border-box;
      font-size: 1.65em;
      letter-spacing: .1em;
      color: #fff;
      text-align: center;
      span {
        position: relative;
        z-index: 1;
      }
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-position: top;
        background-size: 100% 200%;
        background-repeat: no-repeat;
        transition: opacity .3s;
      }
      &:before {
        opacity: 1;
      }
      &:after {
        background-position: bottom;
        opacity: 0;
      }
      &.nav__auth__register {
        width: 10.5em;
        height: 2.25em;
        padding-right: .6em;
        line-height: 2em;
        cursor: pointer;
        &:before,
        &:after {
          background-image:
            url(../../assets/images/index/block1/auth-register.png);
        }
      }
      &[href*="/dashboard"],
      &[href*="/login"] {
        width: 7.3em;
        height: 2em;
        margin: -.3em 0 0 -.2em;
        line-height: 2.5em;
      }
      &[href*="/login"] {
        padding-left: .6em;
        &:before,
        &:after {
          background-image:
            url(../../assets/images/index/block1/auth-login.png);
        }
      }
      &[href*="/dashboard"] {
        padding-left: 1em;
        &:before,
        &:after {
          background-image:
            url(../../assets/images/index/block1/auth-dashboard.png);
        }
      }
      &:hover {
        color: #ff0;
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
    }
  }
  &__lang {
    width: 7.5%;
    position: relative;
    padding: .8em .22em 0 0;
    cursor: pointer;
    @media (max-width: 767px) {
      width: 7em;
      padding-top: 0;
    }
    &__current,
    &__dropdown > div {
      display: flex;
      align-items: center;
      font-family: 'tomorrow';
      font-weight: 200;
      font-size: 1.2em;
      letter-spacing: .05em;
      img {
        width: 2.6em;
        height: auto;
        margin-right: .8em;
        opacity: .5;
        transition: opacity .3s;
      }
      span {
        transition: opacity .3s;
        opacity: .5;
      }
      &:hover {
        img {
          opacity: 1;
        }
        span {
          opacity: 1;
        }
      }
    }
    &__dropdown {
      position: absolute;
      top: 100%;
      left: -1em;
      padding: 1em;
      background: #000;
      z-index: 4;
    }
  }
  &__social {
    position: absolute;
    top: 110%;
    right: 3.2em;
    z-index: 2;
    @media (max-width: 767px) {
      top: 8em;
      right: 2em;
      font-size: .9em;
    }
    a {
      width: 2.8em;
      height: 2.8em;
      display: block;
      position: relative;
      margin-bottom: 1em;
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: url(../../assets/images/index/block1/social.png);
        background-size: 200% 200%;
        background-repeat: no-repeat;
        transition: opacity .3s;
      }
      &:before {
        opacity: 1;
      }
      &:after {
        opacity: 0;
      }
      &:hover {
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
    }
    &-telegram {
      &:after {
        background-position: top right !important;
      }
    }
    &-twitter {
      &:before {
        background-position: bottom left !important;
      }
      &:after {
        background-position: bottom right !important;
      }
    }
  }
}
.block1 {
  position: relative;
  padding-top: 63%;
  @media (max-width: 767px) {
    padding-top: 7em;
  }
  &__header {
    position: relative;
    margin: 0 0 1.4em 37.5%;
    font-size: 1.16em;
    font-weight: 600;
    letter-spacing: .05em;
    color: #ff0;
    text-transform: uppercase;
    z-index: 1;
    @media (max-width: 767px) {
      margin: 0 0 1em 5%;
      font-size: 1.9em;
    }
    mark {
      display: inline-block;
      margin: -.25em .2em 0 .2em;
      padding: .2em .1em 0 .1em;
      background: #ff0;
      line-height: 1;
      color: #000;
      vertical-align: middle;
      @media (max-width: 767px) {
        margin-left: 0;
      }
    }
  }
  &__brief {
    position: relative;
    margin: 0 0 0 40.5%;
    font-size: .865em;
    font-weight: 600;
    letter-spacing: .07em;
    text-transform: uppercase;
    z-index: 1;
    @media (max-width: 767px) {
      margin-left: 5%;
      font-size: 1.2em;
    }
    &__cursor {
      opacity: 0;
      animation-name: blink;
      animation-duration: .8s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
  &__area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8em;
    @media (max-width: 767px) {
      display: block;
    }
  }
  &__text {
    width: 35%;
    position: relative;
    padding: 10em 0 0 7.5em;
    box-sizing: border-box;
    font-size: .875em;
    text-transform: uppercase;
    z-index: 1;
    @media (max-width: 767px) {
      width: 100%;
      padding: 2em 4em 0 2em;
    }
    &__header {
      margin-bottom: 1.2em;
      font-weight: 300;
      line-height: 180%;
      text-decoration: underline;
      @media (max-width: 767px) {
        font-size: 1.5em;
      }
    }

    &__description {
      font-size: .85em;
      font-weight: 200;
      line-height: 120%;
      letter-spacing: .1em;
      color: #eee;
      @media (max-width: 767px) {
        font-size: 1.4em;
        line-height: 150%;
      }
    }

    &__downloads {
      div {

        &:last-child {
          padding-bottom: 30px;
        }
        a {
          font-size: 0.8em;
          font-weight: 400;
          line-height: 200%;
          letter-spacing: .1em;
          color: #a1a120;
          @media (max-width: 767px) {
            font-size: 1.3em;
            line-height: 150%;
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  &__video {
    position: relative;
    width: 23%;
    margin-right: 7.5%;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    overflow: hidden;
    @media (max-width: 767px) {
      width: 98%;
      margin: -2em 0 4em 0;
    }
    &-visible {
      opacity: 1;
    }
    &__preview {
      position: relative;
      cursor: pointer;
      canvas {
        width: 27.9em;
        height: 13.6em;
        margin-left: -11.2%;
        transition: opacity .3s;
        @media (max-width: 767px) {
          width: 40em;
          height: 19.49em;
        }
        & + canvas{
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }
      }
      &:hover {
        canvas:first-child {
          opacity: 0;
        }
        canvas + canvas:last-child,
        img {
          opacity: 1;
        }
      }
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background:
          url(../../assets/images/index/block1/video-frame.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    &__brief {
      padding: .8em 1.8em 0 0;
      font-weight: 200;
      font-size: .7em;
      line-height: 130%;
      letter-spacing: .04em;
      text-align: center;
      text-transform: uppercase;
      @media (max-width: 767px) {
        padding-right: 0;
        font-size: 1.1em;
      }
    }
  }
  &__holographics {
    position: absolute;
    bottom: 24.5em;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 1s;
    z-index: 0;
    @media (max-width: 767px) {
      position: relative;
      bottom: 0;
      left: 0;
      margin-bottom: 2em;
      transform: none;
      text-align: center;
    }
    &-visible {
      opacity: 1;
    }
    img {
      width: 6.3em;
      height: auto;
      margin-left: -1.3em;
    }
  }
  &__buttons {
    @media (min-width: 768px) {
      height: 6.89em;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 68.5%;
      right: 0;
      left: 1em;
      background: url(../../assets/images/index/block1/buttons-back.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    @media (max-width: 767px) {
      margin-bottom: 2em;
    }
    div,
    a {
      @media (min-width: 768px) {
        width: 12em;
        height: 2.6em;
        margin-top: -.5em;
        position: relative;
        box-sizing: border-box;
        font-family: 'sourcesanspro';
        font-size: 1.2em;
        font-weight: 600;
        line-height: 2.95em;
        letter-spacing: .035em;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        transition: color .3s;
        text-decoration: none;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          opacity: 0;
          transition: opacity .3s;
        }
        span {
          position: relative;
          z-index: 1;
        }
        &:first-child {
          padding-left: .8em;
          &:before {
            background-image:
              url(../../assets/images/index/block1/button-1-hover.png);
          }
        }
        &:nth-child(2) {
          padding-left: .4em;
          &:before {
            background-image:
              url(../../assets/images/index/block1/button-2-hover.png);
          }
        }
        &:last-child:before {
          background-image:
            url(../../assets/images/index/block1/button-3-hover.png);
        }
        &:hover {
          color: #000;
          &:before {
            opacity: 1;
          }
        }
      }
      @media (max-width: 767px) {
        width: 11.15em;
        height: 3.5em;
        display: block;
        position: relative;
        padding-left: .3em;
        margin: .8em auto 0;
        box-sizing: border-box;
        font-family: 'sourcesanspro';
        font-weight: 800;
        font-size: 1.3em;
        line-height: 4.2em;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        transition: color .3s;
        cursor: pointer;
        span {
          position: relative;
          z-index: 1;
        }
        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: url(../../assets/images/index/block2/button.png);
          background-position: top;
          background-size: 100% 200%;
          background-repeat: no-repeat;
          transition: opacity .3s;
        }
        &:before {
          opacity: 1;
        }
        &:after {
          background-position: bottom;
          opacity: 0;
        }
        &:hover {
          color: #000;
          &:before {
            opacity: 0;
          }
          &:after {
            opacity: 1;
          }
        }
      }
      em {
        position: absolute;
        top: 85%;
        left: 50%;
        font-size: .55em;
        font-style: normal;
        line-height: 1;
        z-index: 1;
        color: #ca5656 !important;
        transform: translate(-45%, -50%);
      }
    }

    &__discord em {
      width: 100% !important;
      left: 61% !important;

      @media (max-width: 767px) {
        left: 50% !important;
      }
    }
  }
  &__scroll {
    position: absolute;
    top: 81.78%;
    right: 0;
    left: 0;
    padding-left: 9.85em;
    font-family: 'tomorrow';
    font-weight: 300;
    font-size: .75em;
    font-style: italic;
    letter-spacing: .04em;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    @media (max-width: 767px) {
      position: relative;
      top: 0;
      padding-left: 8em;
    }
    &__area {
      width: 5.6em;
      height: 7.4em;
      display: inline-block;
      margin: -.4em .5em 0 0;
      background-image: url(../../assets/images/global/scroll.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
      div {
        display: block;
        height: 2.65em;
        background-image:
          url(../../assets/images/global/scroll-active.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
        animation-name: blink;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        &:first-child {
          margin: .8em 0 -.9em 0;
        }
        &:nth-child(2) {
          animation-delay: .5s;
        }
        &:last-child {
          margin-top: -.9em;
          animation-delay: 1s;
        }
      }
    }
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
</style>
