<template lang="pug">
  section.block3
    .container
      .block3__holographics
        Parallax(
          :image="require('@/assets/images/index/block3/card.png')"
          :k="10"
        )
      .block3__text
        .block3__header(v-html="prepareWhatIsIpro()")
        .block3__description {{ landing.what_is_abc_text[lang] }}
      .block3__card__main
      .block3__card.block3__card-1
        .block3__card__icon
          Parallax
        .block3__card__header {{ getString('landing.about.bot.title') }}
        .block3__card__text {{ getString('landing.about.bot.description') }}
      .block3__card.block3__card-2
        .block3__card__icon
          Parallax
        .block3__card__header {{ getString('landing.about.power.title') }}
        .block3__card__text {{ getString('landing.about.power.description') }}
      .block3__card.block3__card-3
        .block3__card__icon
          Parallax
        .block3__card__header {{ getString('landing.about.merchant.title') }}
        .block3__card__text
          | {{ getString('landing.about.merchant.description') }}
      .block3__card.block3__card-4
        .block3__card__icon
          Parallax
        .block3__card__header {{ getString('landing.about.exchange.title') }}
        .block3__card__text
          | {{ getString('landing.about.exchange.description') }}
      .block3__card.block3__card-5
        .block3__card__icon
          Parallax
        .block3__card__header {{ getString('landing.about.fast.title') }}
        .block3__card__text {{ getString('landing.about.fast.description') }}
</template>

<script>
import Parallax from '../plugins/parallax';

export default {
  data() {
    return {
    };
  },
  components: {
    Parallax,
  },
  computed: {
    landing() {
      return this.$store.state.landing;
    },
  },
  methods: {
    prepareWhatIsIpro() {
      return this.getString('landing.about.what_is_abc')
          .replace('IPRO?', '<span>IPRO?</span>');
    },
  },
};
</script>

<style lang="scss">
.block3 {
  position: relative;
  padding-top: 50%;
  @media (max-width: 767px) {
    padding-top: 0;
  }
  &:after {
    width: 42%;
    height: 90%;
    content: '';
    position: absolute;
    top: -15%;
    left: 0;
    background-image: url(../../assets/images/index/block3/light-card.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 767px) {
      width: 90%;
      top: -32%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__holographics {
    position: absolute;
    top: 1.4em;
    left: 13em;
    animation-name: pulseMove;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    @media (max-width: 767px) {
      top: 0;
      left: 50%;
      margin-left: -7.6em;
    }
    img {
      width: 15.2em;
      height: auto;
    }
    &:hover {
      animation-play-state: paused;
    }
  }
  &__text {
    width: 33%;
    position: absolute;
    bottom: 2.5em;
    left: 10.6em;
    line-height: 160%;
    letter-spacing: .05em;
    z-index: 1;
    @media (max-width: 767px) {
      width: 100%;
      position: relative;
      bottom: 0;
      left: 0;
      padding: 19em 1em 0 1em;
      box-sizing: border-box;
      font-size: 1.5em;
    }
  }
  &__header {
    margin-bottom: .9em;
    font-size: 2.6em;
    font-weight: 500;
    letter-spacing: .09em;
    span {
      color: #faea01;
    }
    @media (max-width: 767px) {
      font-size: 2em;
    }
  }
  &__card {
    position: absolute;
    z-index: 1;
    @media (max-width: 767px) {
      position: relative;
      margin-bottom: 4em;
      padding-left: 11em;
    }
    &:after {
      content: '';
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      @media (max-width: 767px) {
        display: none;
      }
    }
    &__main {
      width: 9.4em;
      height: 9.4em;
      position: absolute;
      top: 43.5%;
      right: 37.8%;
      background-image: url(../../assets/images/index/block3/card-main.png);
      background-size: contain;
      background-repeat: no-repeat;
      animation-name: pulseFist;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      @media (max-width: 767px) {
        width: 15em;
        height: 15em;
        position: relative;
        top: 0;
        right: 0;
        margin: 3em auto;
      }
      &:after {
        content: '';
        position: absolute;
        top: -3em;
        right: -3em;
        bottom: -3em;
        left: -3em;
        background-image: url(../../assets/images/index/block3/icon.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    &__icon {
      position: absolute;
      @media (max-width: 767px) {
        top: 50%;
        left: 1em;
        transform: translateY(-50%);
      }
      .card {
        width: 8.4em;
        height: 8.4em;
        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          position: absolute;
          background-size: 100% 200%;
          background-repeat: no-repeat;
          transition: opacity .3s;
        }
        &:before {
          opacity: 1;
        }
        &:after {
          opacity: 0;
          background-position: bottom;
        }
      }
      &:hover {
        & .card:before {
          opacity: 0;
        }
        & .card:after {
          opacity: 1;
        }
      }
    }
    &__header {
      font-size: 1.25em;
      letter-spacing:  .1em;
      color: #faea01;
      @media (max-width: 767px) {
        margin-bottom: .5em;
        font-size: 2em;
        line-height: 100%;
      }
    }
    &__text {
      font-size: .85em;
      font-weight: 200;
      line-height: 125%;
      letter-spacing:  .1em;
      @media (max-width: 767px) {
        margin-right: 1em;
        font-size: 1.4em;
      }
    }
    &-1 {
      @media (min-width: 768px) {
        top: 5em;
        left: 50%;
        margin-left: -9em;
      }
    }
    &-1:after {
      width: 1.6em;
      height: 5.8em;
      top: 120%;
      left: 10%;
      background-image: url(../../assets/images/index/block3/line-1.png);
    }
    &-1 &__text {
      @media (min-width: 768px) {
        width: 19.5em;
      }
    }
    &-1 &__icon {
      @media (min-width: 768px) {
        top: 100%;
        left: 0;
        margin: 5.5em 0 0 2.55em;
      }
    }
    &-1 &__icon .card:before,
    &-1 &__icon .card:after {
      background-image: url(../../assets/images/index/block3/card-1.png);
    }
    &-2 {
      @media (min-width: 768px) {
        top: 5.7em;
        right: 6em;
      }
    }
    &-2:after {
      width: 7em;
      height: 3.9em;
      top: 115%;
      left: -3%;
      background-image: url(../../assets/images/index/block3/line-2.png);
    }
    &-2 &__text {
      @media (min-width: 768px) {
        width: 30em;
      }
    }
    &-2 &__icon {
      @media (min-width: 768px) {
        top: 100%;
        right: 100%;
        margin: .4em 2.25em 0 0;
      }
    }
    &-2 &__icon .card:before,
    &-2 &__icon .card:after {
      background-image: url(../../assets/images/index/block3/card-2.png);
    }
    &-3 {
      @media (min-width: 768px) {
        top: 50%;
        right: 6.5em;
        margin-top: -6.8em;
      }
    }
    &-3:after {
      width: 6.5em;
      height: 2em;
      top: 115%;
      left: -8%;
      background-image: url(../../assets/images/index/block3/line-3.png);
    }
    &-3 &__text {
      @media (min-width: 768px) {
        width: 18em;
      }
    }
    &-3 &__icon {
      @media (min-width: 768px) {
        top: 0;
        right: 100%;
        margin: 2em 2.8em 0 0;
      }
    }
    &-3 &__icon .card:before,
    &-3 &__icon .card:after {
      background-image: url(../../assets/images/index/block3/card-3.png);
    }
    &-4 {
      @media (min-width: 768px) {
        top: 50%;
        right: 6em;
        margin-top: 6.3em;
      }
    }
    &-4:after {
      width: 7.7em;
      height: 2.3em;
      top: 115%;
      right: 88%;
      background-image: url(../../assets/images/index/block3/line-4.png);
    }
    &-4 &__text {
      @media (min-width: 768px) {
        width: 20em;
      }
    }
    &-4 &__icon {
      @media (min-width: 768px) {
        top: 0;
        right: 100%;
        margin: 1em 6.5em 0 0;
      }
    }
    &-4 &__icon .card:before,
    &-4 &__icon .card:after {
      background-image: url(../../assets/images/index/block3/card-4.png);
    }
    &-5 {
      @media (min-width: 768px) {
        bottom: 2em;
        right: 11.5em;
      }
    }
    &-5:after {
      width: 6em;
      height: 6em;
      top: -22%;
      right: 108%;
      background-image: url(../../assets/images/index/block3/line-5.png);
    }
    &-5 &__text {
      @media (min-width: 768px) {
        width: 28em;
      }
    }
    &-5 &__icon {
      @media (min-width: 768px) {
        right: 100%;
        bottom: 100%;
        margin: 0 6.8em -1em 0;
      }
    }
    &-5 &__icon .card:before,
    &-5 &__icon .card:after {
      background-image: url(../../assets/images/index/block3/card-5.png);
    }
  }
}
</style>
