<template lang="pug">
  section.block2
    .container
      .block2__area
        .block2__information
          .block2__header {{ landing.ito_title[lang] }}
          .block2__description {{ landing.ito_text[lang] }}
          .numbers
            div
              .number
                .number__caption {{ abc.total_supply_title[lang] }}:
                .number__amount {{ prepareNumber2(abc.total_supply) }}
              .number
                .number__caption {{ abc.soft_cap_title[lang] }}:
                .number__amount {{ prepareNumber2(abc.soft_cap) }}
            div
              .number
                .number__caption {{ abc.abc_sold_title[lang] }}:
                .number__amount {{ prepareNumber2(abc.abc_sold) }}
              .number
                .number__caption {{ abc.abc_left_title[lang] }}:
                .number__amount {{ prepareNumber2(abc.abc_left) }}
        .block2__timer
          .block2__header(v-if="timerDef.title") {{ title }}:
          .timer-index-default(v-if="timer.diff <= 0")
            div
              .timer-index-default__text {{ textWhenItEnd }}
          .timer-index(v-if="timer.diff > 0")
            div
              .timer-index__number {{ prepareTime(timer.days) }}
              .timer-index__caption {{ getString('landing.timer.days') }}
            div
              .timer-index__number {{ prepareTime(timer.hours) }}
              .timer-index__caption {{ getString('landing.timer.hours') }}
            div
              .timer-index__number {{ prepareTime(timer.minutes) }}
              .timer-index__caption {{ getString('landing.timer.minutes') }}
            div
              .timer-index__number {{ prepareTime(timer.seconds) }}
              .timer-index__caption {{ getString('landing.timer.seconds') }}
          .block2__description(v-if="timerDef.description")
            | This is the first ICO where combined standard ICO sale and participation in trading pools of our HFT bot. IPRO assets that were purchased during the ICO stage can be traded using the HFT bot via opening TIDs on the Investments page in the Dashboard. After the ICO stage, 20% of the sold IPRO amount will be burned.
          router-link(
            :to="{name: 'Register'}"
            class="block2__button"
          )
            span {{ getString('landing.timer.register') }}
</template>

<script>
export default {
  data() {
    return {
      timer: {
        diff: 0,
        days: 0,
        hours: 0,
        minutes: 0,
        seconds: 0,
      },
    };
  },
  computed: {
    landing() {
      return this.$store.state.landing;
    },
    abc() {
      return this.$store.state.abc;
    },
    timerDef() {
      return this.$store.state.timer;
    },
    title() {
      return this.timer.diff > 0 ?
        this.timerDef.title[this.lang] :
        this.timerDef.title_when_it_end[this.lang];
    },
    textWhenItEnd() {
      return this.timerDef.text_when_it_end[this.lang];
    },
  },
  mounted() {
    this.beginTimer();
  },
};
</script>

<style lang="scss">
.block2 {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 43.48%;
  @media (max-width: 767px) {
    margin-bottom: 5em;
    padding-top: 2em;
  }
  &__area {
    display: flex;
    justify-content: space-between;
    padding: 0 2.3em;
    @media (max-width: 767px) {
      display: block;
      padding: 0 1em;
    }
  }
  &__header {
    position: relative;
    padding-left: 1.5em;
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: .12em;

    &:before {
      content: '';
      width: 1.05em;
      height: 1.05em;
      position: absolute;
      top: 50%;
      left: 0;
      background: url(../../assets/images/index/block2/header-arrow.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transform: translateY(-50%);
    }
  }
  &__description {
    margin-bottom: 3em;
    font-size: 1.1em;
    letter-spacing: .08em;
  }
  &__information,
  &__timer {
    position: relative;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    box-sizing: border-box;
  }
  &__information {
    width: 49.35%;
    padding: 2.8em 2em 0 7.9em;
    background-image: url(../../assets/images/index/block2/left-block-back.png);
    @media (max-width: 767px) {
      width: 100%;
      padding-left: 0;
    }
  }
  &__information &__header {
    margin-bottom: 1.1em;
  }
  &__timer {
    width: 49.6%;
    margin-top: 4.7em;
    padding: 2.4em 4em 0 7.5em;
    background-image:
      url(../../assets/images/index/block2/right-block-back.png);
    @media (max-width: 767px) {
      width: 100%;
      padding-right: 0;
      padding-left: 3em;
    }
  }
  &__timer &__header {
    margin-bottom: .5em;
  }
  &__timer &__description {
    margin-bottom: .7em;
  }
  &__button {
    width: 11.15em;
    height: 3.5em;
    display: inline-block;
    position: relative;
    padding-left: .3em;
    margin: .8em 0 0 -.65em;
    box-sizing: border-box;
    font-family: 'sourcesanspro';
    font-weight: 800;
    font-size: 1.3em;
    line-height: 4.2em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: color .3s;
    span {
      position: relative;
      z-index: 1;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url(../../assets/images/index/block2/button.png);
      background-position: top;
      background-size: 100% 200%;
      background-repeat: no-repeat;
      transition: opacity .3s;
    }
    &:before {
      opacity: 1;
    }
    &:after {
      background-position: bottom;
      opacity: 0;
    }
    &:hover {
      color: #000;
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }
  }
}
.number {
  margin-bottom: 1.7em;
  padding: 0 0 1em 1.5em;
  background: url(../../assets/images/index/block2/number-line.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  &s {
    display: flex;
    justify-content: space-between;

    > div {
      width: 49%;

      &:last-child {
        padding-top: 3.8em;
      }
    }
  }
  &__caption {
    margin-bottom: .2em;
    font-style: italic;
    text-transform: uppercase;
  }
  &__amount {
    padding-left: .3em;
    font-weight: 600;
    font-size: 1.8em;
    letter-spacing: .01em;
    color: #fff19a;
  }
}
.timer-index {
  display: flex;
  margin: 0 0 2.2em 3em;
  > div {
    width: 7.6em;
    position: relative;
    text-align: center;
    &:after {
      content: '';
      width: .75em;
      height: .75em;
      position: absolute;
      top: 28%;
      right: 0;
      background: url(../../assets/images/index/block2/timer-separator.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transform: translateX(50%);
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  &__number {
    font-weight: 600;
    font-size: 4.5em;
    line-height: 88%;
    letter-spacing: .005em;
    color: #faea01;
  }
  &__caption {
    font-size: .85em;
    line-height: 1;
    letter-spacing: .04em;
    text-transform: uppercase;
  }
}

.timer-index-default {
  &__text {
    font-weight: 600;
    font-size: 4.5em;
    line-height: 88%;
    letter-spacing: .005em;
    color: #faea01;
    padding-bottom: 30px;
  }
}
</style>
