<template lang="pug">
  section.block4(v-view="viewHandler")
    .container
      .block4__header {{ getString('landing.about.what_are_our_bot') }}
      .block4__text.block4__text-1(
        :class="{'block4__text-visible': show.text1}"
      )
        mark {{ getString('landing.about.our_bot') }}
        | &nbsp;
        Transmit(
          v-if="show.text1 && translates['landing.about.our_bot_text']"
          :message="getString('landing.about.our_bot_text')"
        )
        .block4__image(
          v-if="image1"
          @click="showImg(image1)"
        )
          .block4__image-img(
            :style="'background-image: url(' + image1 + ')'"
          )
          .block4__image-info Click here to view
            br
            |  trade reports
      .block4__text.block4__text-2(
        :class="{'block4__text-visible': show.text2}"
      )
        mark {{ getString('landing.about.xchange') }}
        | &nbsp;
        Transmit(
          v-if="show.text2"
          :message="xchangeText"
          :br="true"
        )
        .block4__image(
          v-if="image2"
          @click="showImg(image2)"
        )
          .block4__image-img(
            :style="'background-image: url(' + image2 + ')'"
          )
          .block4__image-info Click here to view
            br
            |  trade reports
      .block4__footer(v-if="show.text3")
        Transmit(
          :message="text3"
          :br="true"
        )
        .block4__footer__author(v-if="show.text3mark")
          mark
            Transmit(
              :message="getString('landing.about.xchange_text_5')"
            )
</template>

<script>
import Transmit from '../plugins/transmit';
export default {
  data() {
    return {
      show: {
        text1: false,
        text2: false,
        text3: false,
        text3mark: false,
      },
    };
  },
  computed: {
    image1() {
      const data = this.$store.state.landing;
      return data ? data.statement_image_1 : null;
    },
    image2() {
      const data = this.$store.state.landing;
      return data ? data.statement_image_2 : null;
    },
    xchangeText() {
      return 'is our core product which will be the final act of the entire ecosystem. Decentralized exchange with its own index anonymous untraceable assets with lower fees than on existing exchanges. Along with the DEX part, there will be also available Spot and Futures trades and the NFT market.' + '||' +
          this.getString('landing.about.xchange_text_2');
    },
    text3() {
      return this.getString('landing.about.xchange_text_3') + '|' +
          this.getString('landing.about.xchange_text_4');
    },
  },
  watch: {
    lang() {
      this.show = {
        text1: false,
        text2: false,
        text3: false,
        text3mark: false,
      };
      setTimeout(() => {
        this.showTexts();
      }, 500);
    },
  },
  components: {
    Transmit,
  },
  methods: {
    showTexts() {
      this.show.text1 = true;
      setTimeout(() => {
        this.show.text2 = true;
        setTimeout(() => {
          this.show.text3 = true;
          setTimeout(() => {
            this.show.text3mark = true;
          }, 3500);
        }, 6000);
      }, 6000);
    },
    viewHandler(e) {
      if (e.type == 'enter') {
        this.showTexts();
      }
    },
    showImg(image) {
      const img = '<img src="' + image + '" />';
      this.$store.commit('setModalContent', {
        content: img,
        big: true,
      });
      this.$store.commit('showModal', true);
    },
  },
};
</script>

<style lang="scss">
.block4 {
  position: relative;
  padding-top: 58%;
  color:  #797102;
  @media (max-width: 767px) {
    padding-top: 0;
    background: #faea01;
  }
  mark {
    background: #797102;
    color: #f5e70f;
  }
  .container {
    padding: 6em 9.8em;
    @media (max-width: 767px) {
      padding: 4em 1.5em;
    }
  }
  &__header {
    margin: -.1em 0 .77em 0;
    padding-left: .45em;
    font-size: 2.65em;
    font-weight: 500;
    color: #000;
    letter-spacing: .075em;
    @media (max-width: 767px) {
      margin: 0 0 1em 0;
      padding: 0;
      font-size: 3em;
      line-height: 100%;
    }
  }
  &__text {
    position: relative;
    max-width: 50%;
    margin-bottom: 4em;
    font-family: 'electronichighwaysign';
    font-size: .9em;
    line-height: 180%;
    letter-spacing: .014em;
    visibility: hidden;
    @media (max-width: 767px) {
      max-width: 100%;
      font-size: 1.4em;
    }
    &-visible {
      visibility: visible;
    }
    mark {
      display: inline-block;
      margin-right: .1em;
      padding: .2em 0 .1em .25em;
      font-size: 1.5em;
      letter-spacing: .065em;
      &:first-child {
        margin-left: -.3em;
      }
    }
    p {
      margin-bottom: 2em;
      &:last-child {
        margin: 0;
      }
    }
    &-2 {
      margin: 0 0 0 3em;
      @media (max-width: 767px) {
        margin: 0;
      }
    }
  }
  &__image {
    width: 37.5em;
    height: 17.4em;
    position: absolute;
    top: 0;
    left: 100%;
    margin: -.55em 0 0 .65em;
    opacity: 0;
    transition: opacity 1s;
    cursor: pointer;
    @media (max-width: 767px) {
      width: 100%;
      height: 13em;
      position: relative;
      top: auto;
      left: 0;
      margin: 1em 0 0 0;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      transition: opacity .3s;
    }
    &:before {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(../../assets/images/index/block4/image.png)
        center/contain no-repeat;
      @media (max-width: 767px) {
        display: none;
      }
    }
    &:after,
    &-img,
    &-info {
      top: 11%;
      right: 3%;
      bottom: 10.8%;
      left: 24%;
      @media (max-width: 767px) {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
    &:after,
    &:before,
    &-info {
      opacity: .7;
    }
    &:after {
      bottom: 30%;
      background: url(../../assets/images/global/zoom.svg)
          center no-repeat;
      background-size: 55% 55%;
      @media (max-width: 767px) {
        top: 10%;
      }
    }
    &-img {
      position: absolute;
      background: center/cover no-repeat;
    }
    &-info {
      position: absolute;
      top: auto;
      bottom: 20%;
      font-family: 'tomorrow';
      font-size: 1.4em;
      font-weight: 500;
      line-height: 1;
      color: #fff;
      text-align: center;
      text-transform: none;
      transition: opacity .3s;
    }
    &:hover {
      &:before,
      &:after {
        opacity: 1;
      }
    }
    &:hover &-info {
      opacity: 1;
    }
  }
  &__text-visible &__image {
    opacity: 1;
  }
  &__text-2 &__image {
    margin: -.7em 0 0 1.9em;
    @media (max-width: 767px) {
      margin: 1em 0 0 0;
    }
  }
  &__footer {
    width: 42%;
    position: absolute;
    top: 77%;
    right: 12em;
    font-family: 'electronichighwaysign';
    font-size: .9em;
    line-height: 140%;
    letter-spacing: .03em;
    @media (max-width: 767px) {
      width: 100%;
      position: relative;
      top: 0;
      right: 0;
      font-size: 1.2em;
      margin-top: 2em;
    }
    .text-right {
      padding-top: 1em;
    }
    mark {
      display: inline-block;
      padding: .1em 1em 0 1em;
      text-align: left;
    }
    &__author {
      padding-top: 1em;
      text-align: right;
    }
  }
}
</style>
