<template lang="pug">
  section.block5
    .block5__header {{ getString('landing.news.title') }}
    .news-index(v-for="item in news", :key="item.id")
      .news-index__title {{ item.title[lang] }}
      .news-index__body
        .news-index__image
          .news-index__image__frame
            div(:style="createUrl(item.image)")
        .news-index__info
          .news-index__brief(v-html="item.content[lang]")
          router-link(:to="{name: 'NewsSingle', params: {id: item.id}}")
            | {{ getString('landing.news.read_more') }}
</template>

<script>
export default {
  data() {
    return {
    };
  },
  computed: {
    news() {
      return this.$store.state.newsIndex;
    },
  },
  methods: {
    createUrl(path) {
      return 'background-image:url(' + path + ')';
    },
  },
};
</script>

<style lang="scss">
.block5 {
  padding: 2.95em 6.4em;
  @media (max-width: 767px) {
    padding: 3em 1em;
  }
  &__header {
    margin-bottom: 1.78em;
    font-size: 3.9em;
    font-weight: 500;
    letter-spacing: .09em;
    text-transform: uppercase;
    @media (max-width: 767px) {
      font-size: 3em;
    }
  }
}
.news-index {
  position: relative;
  margin-bottom: 3em;
  padding: 0 0 1.2em 1em;
  &:before {
    content: '';
    width: 1.3em;
    height: 1.3em;
    position: absolute;
    top: .5em;
    left: .2em;
    background-image: url(../../assets/images/index/block5/list-point.png);
    background-position: center;
    background-size: contain;
  }
  &:after {
    content: '';
    height: 2.7em;
    position: absolute;
    right: 4em;
    bottom: 0;
    left: 0;
    background-image: url(../../assets/images/index/block5/news-divider.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &__title {
    margin-bottom: .3em;
    padding-left: 1.25em;
    font-size: 1.9em;
    font-weight: 500;
    letter-spacing: .11em;
  }
  &__body {
    display: flex;
    @media (max-width: 767px) {
      display: block;
    }
  }
  &__image {
    &__frame {
      width: 27.9em;
      position: relative;
      padding-top: 55.75%;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url(../../assets/images/index/block5/news-frame.png);
        background-position: center;
        background-size: contain;
      }
      > div {
        position: absolute;
        top: 13%;
        right: 7%;
        bottom: 13%;
        left: 7%;
        background-position: center;
        background-size: cover;
      }
    }
  }
  &__info {
    flex: auto;
    padding: 1.4em 0 0 .9em;
    box-sizing: border-box;
    @media (max-width: 767px) {
      padding: 0 0 2em 2em;
    }
    > a {
      display: inline-block;
      margin: 1.1em 0 0 -.5em;
      padding: .15em .9em .15em .5em;
      background: #fff19a;
      font-size: 1.1em;
      letter-spacing: .06em;
      color: #000;
      @media (max-width: 767px) {
        font-size: 1.3em;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__brief {
    width: 80%;
    line-height: 150%;
    letter-spacing: .05em;
    @media (max-width: 767px) {
      font-size: 1.3em;
    }
    p {
      margin-bottom: 1.9em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
</style>
