<template lang="pug">
  section.contacts
    .contacts__social
      .contacts__header {{ getString('landing.contacts.social links') }}
      a(
        v-for="item in social"
        :key="item.id"
        :class="'contacts__social-' + item.class"
        :href="item.href"
      ) {{ item.title[lang] }}
    .contacts__links
      .contacts__header {{ getString('landing.contacts.product_links') }}
      a(
        v-for="item in products"
        :key="item.id"
        :href="item.href == '@link' ? '' : item.href"
        @click="clickLink(item.href)"
        :class="{'muted': item.href == '@link'}"
      ) {{ item.title[lang] }}
    .contacts__text(v-html="landing.bottom_text[lang]")
    form.contacts__form(@submit="sendFeedback")
      .contacts__form__header {{ getString('landing.contacts.contact_form') }}
      .contacts__field
        label.contacts__label {{ getString('landing.contacts.name') }}:
        input.contacts__input(type="text", v-model="feedback.name")
        .contacts__error(v-if="errors.name") {{ getErrors(errors.name) }}
      .contacts__field
        label.contacts__label {{ getString('landing.contacts.email') }}:
        input.contacts__input(type="email", v-model="feedback.email")
        .contacts__error(v-if="errors.email") {{ getErrors(errors.email) }}
      .contacts__area
        label.contacts__label {{ getString('landing.contacts.message') }}:
        textarea.contacts__input(v-model="feedback.message")
        .contacts__error.center
          span(v-if="errors.message") {{ getErrors(errors.message) }}
        recaptcha(
          v-model="feedback['g-recaptcha-response']"
          :check-failed="errors['g-recaptcha-response'] && errors['g-recaptcha-response'].length > 0"
          :ready="recaptcha"
          theme="white"
        )
        .contacts__error.center
          span(v-if="false")
            | {{ getErrors(errors['g-recaptcha-response']) }}
      button.contacts__button(:disabled="!recaptcha.ready")
        span {{ getString('landing.contacts.send') }}
</template>

<script>
import recaptcha from '../plugins/recaptcha';
export default {
  data() {
    return {
      feedback: {
        'name': '',
        'email': '',
        'message': '',
        'g-recaptcha-response': '',
      },
      errors: {},
      recaptcha: {
        ready: false,
      },
      sending: false,
    };
  },
  computed: {
    landing() {
      return this.$store.state.landing;
    },
    social() {
      return this.$store.state.social;
    },
    products() {
      return this.$store.state.products;
    },
  },
  components: {
    recaptcha,
  },
  methods: {
    async sendFeedback() {
      event.preventDefault();

      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.errors = {};
        const result = await this.$store.dispatch('sendFeedback', this.feedback);

        if (result !== true) {
          this.errors = result.errors;
        } else {
          this.feedback = {
            'name': '',
            'email': '',
            'message': '',
            'g-recaptcha-response': '',
          };
          this.$store.commit('setModalContent', {
            title: 'Success!',
            content: 'Form submited.',
            small: true,
          });
          this.$store.commit('showModal', true);
        }
      } finally {
        this.sending = false;
      }
    },
    clickLink(href) {
      if (href == '@escrow') {
        event.preventDefault();
      }
    },
  },
};
</script>

<style lang="scss">
.contacts {
  position: relative;
  margin-top: -1em;
  padding-top: 43.92%;
  background-image: url(../../assets/images/index/contacts/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @media (max-width: 767px) {
    padding-top: 0;
    margin-top: 0;
    background: none;
  }
  &__header {
    margin-bottom: .45em;
    font-size: 2.2em;
    font-weight: 700;
    letter-spacing: .075em;
  }
  &__social,
  &__links {
    top: 8.15em;
    @media (max-width: 767px) {
      top: 0;
      padding: 0 2em 2em 2em;
    }
    a {
      position: relative;
      display: block;
      margin-bottom: .285em;
      font-family: 'electronichighwaysign';
      font-size: 1.3em;
      letter-spacing: .1em;
      color: #fff;
      text-decoration: none;
      transition: color .3s;
      &:not(.muted):hover {
        color: #faea01;
      }
      &.muted {
        color: #666 !important;
      }
    }
  }
  &__social {
    position: absolute;
    left: 8.7em;
    @media (max-width: 767px) {
      position: relative;
      left: 0;
    }
    a {
      padding-left: 2em;
      &:before,
      &:after {
        content: '';
        width: 1em;
        height: 1em;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: url(../../assets/images/index/contacts/social.png);
        background-size: 210% 400%;
        background-repeat: no-repeat;
        transition: opacity .3s;
      }
      &:before {
        opacity: 1;
      }
      &:after {
        opacity: 0;
      }
      &:hover {
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
    }
    &-telegram:after {
      background-position: 94% top !important;
    }
    &-twitter:before {
      background-position: left 34% !important;
    }
    &-twitter:after {
      background-position: 94% 34% !important;
    }
    &-youtube:before {
      background-position: left 68% !important;
    }
    &-youtube:after {
      background-position: 94% 68% !important;
    }
    &-forum:before {
      background-position: left 102% !important;
    }
    &-forum:after {
      background-position: 94% 102% !important;
    }
  }
  &__links {
    position: absolute;
    left: 33.75%;
    @media (max-width: 767px) {
      position: relative;
      left: 0;
    }
    a {
      position: relative;
      padding-left: 1.5em;
      &:before {
        content: '';
        width: .5em;
        height: .5em;
        position: absolute;
        top: 50%;
        left: 0;
        background: #fff;
        border-radius: 50%;
        transform: translateY(-50%);
        transition: background .3s;
      }
      &:not(.muted):hover:before {
        background: #faea01;
      }
      &.muted:before {
        background: #666 !important;
      }
    }
  }
  &__text {
    width: 38%;
    position: absolute;
    bottom: 5.8em;
    left: 8.7em;
    font-size: 1.2em;
    font-style: italic;
    line-height: 125%;
    letter-spacing: .08em;
    color: #fff19a;
    p {
      margin-bottom: 1em;
    }
    @media (max-width: 767px) {
      width: auto;
      position: relative;
      bottom: 0;
      left: 0;
      font-size: 1.5em;
      padding: 0 1em 2em 1em;
    }
  }
  &__form {
    width: 30%;
    position: absolute;
    top: 2.65em;
    right: 8em;
    color: #000;
    @media (max-width: 767px) {
      width: auto;
      position: relative;
      top: 0;
      right: 0;
      margin-bottom: 4em;
      padding: 2em 1em;
      background: #faea01;
    }
    &__header {
      margin: 0 0 .9em .2em;
      font-size: 2.2em;
      font-weight: 700;
      letter-spacing: .075em;
      @media (max-width: 767px) {
        margin-left: 1em;
      }
    }
  }
  &__field {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 1.5em;
  }
  &__success,
  &__error,
  &__error span {
    position: absolute;
    bottom: 108%;
    left: 21.5%;
    padding: .1em .5em;
    background: #f00;
    font-size: .95em;
    line-height: 1;
    color: #fff;
  }
  &__success,
  &__error.center,
  &__error.center span {
    top: 100%;
    right: 0;
    bottom: auto;
    left: auto;
  }
  &__error.center span {
    right: 50%;
    transform: translateX(50%);
  }
  &__success {
    background: #47a820;
  }
  &__label {
    width: 22%;
    padding: 0 1em 0 0;
    box-sizing: border-box;
    font-size: 1.1em;
    text-align: right;
  }
  &__area &__label {
    width: 100%;
    display: block;
    padding: .1em 0 .7em .9em;
    font-size: 1.3em;
    text-align: left;
  }
  &__input {
    width: 78%;
    padding: .4em;
    box-sizing: border-box;
    background: none;
    @media (max-width: 767px) {
      background: #fff;
      border: .0625em solid #797102;
    }
  }
  &__area {
    height: 23.2em;
    @media (max-width: 767px) {
      height: auto;
      margin-bottom: 1em;
    }
    img {
      width: 16.5em;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
  .form__recaptcha {
    width: 15em;
    margin: 0 auto;
  }
  &__area &__input {
    width: 97%;
    height: 10em;
    margin-left: 2%;
    resize: none;
    @media (max-width: 767px) {
      width: 100%;
      margin-left: 0;
    }
  }
  &__area &__error {
    height: 2.5em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 0;
    padding: 0;
    background: none;

    &:last-child {
      height: auto;
    }
  }
  &__area &__error span {
    position: relative;
    top: 0;
  }
  &__button {
    width: 9.8em;
    height:2.9em;
    display: inline-block;
    position: relative;
    margin-left: 6em;
    padding-right: .4em;
    background: none;
    font-family: 'tomorrow';
    font-size: 1.4em;
    line-height: 2.9em;
    letter-spacing: .1em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    span {
      position: relative;
      z-index: 1;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url(../../assets/images/index/contacts/button.png);
      background-position: top;
      background-size: 100% 200%;
      background-repeat: no-repeat;
      transition: opacity .3s;
    }
    &:before {
      opacity: 1;
    }
    &:after {
      background-position: bottom;
      opacity: 0;
    }
    &:hover {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }
  }
}
</style>
