<template lang="pug">
  section.media
    .media__caption MEDIA ABOUT US
    .media__list
      .media__item(
        v-for="item, index in list"
        :key="index"
      )
        a.media__item__image(
          :href="item.link", target="_blank"
        )
          div(
            :style="'background-image: url(' + item.img + ')'"
          )
          div(
            :style="'background-image: url(' + item.hover + ')'"
          )
        .media__item__panel
          span {{ item.ticker }}
          a(:href="item.link", target="_blank") Read more >
</template>

<script>
export default {
  data() {
    return {
      list: [
        {
          img: '../../static/coindesk-d.png',
          hover: '../../static/coindesk-h.png',
          ticker: 'March 11, 2022',
          link: 'https://www.coindesk.com/sponsored-content/anonymity-is-the-key-to-everything/',
        },
        {
          img: '../../static/ausbiz-d.png',
          hover: '../../static/ausbiz-h.png',
          ticker: 'February 9, 2022',
          link: 'https://www.ausbiz.com.au/media/the-mechanics-of-insider-protocol-imperium-blockchain-?videoId=19200',
        },
        {
          img: '../../static/cointelegraph-d.png',
          hover: '../../static/cointelegraph-h.png',
          ticker: 'January 15, 2021',
          link: 'https://cointelegraph.com/press-releases/bitcoin-trading-bot-from-insider-protocol-by-the-mechanics-of-the-future',
        },
        {
          img: '../../static/bloomberg-d.png',
          hover: '../../static/bloomberg-h.png',
          ticker: 'January 12, 2021',
          link: 'https://www.bloomberg.com/press-releases/2021-01-12/a-revolution-in-the-trading-realm-with-insider-protocol-s-bitcoin-trading-bot',
        },
        {
          img: '../../static/entrepreneur-d.png',
          hover: '../../static/entrepreneur-h.png',
          ticker: 'June 24, 2021',
          link: 'https://www.entrepreneur.com/article/375557',
        },
        {
          img: '../../static/businessinsider-d.png',
          hover: '../../static/businessinsider-h.png',
          ticker: 'January 14, 2021',
          link: 'https://markets.businessinsider.com/news/stocks/game-changers-of-crypto-trading-on-bitcoin-have-announced' +
              '-the-launch-of-the-algorithm-for-institutional-investors-1029970338',
        },
        {
          img: '../../static/coincheckup-d.png',
          hover: '../../static/coincheckup-h.png',
          ticker: 'January 25, 2021',
          link: 'https://coincheckup.com/blog/bank-banned-trading-method-still-works/',
        },
        {
          img: '../../static/marketwatch-d.png',
          hover: '../../static/marketwatch-h.png',
          ticker: 'January 4, 2021',
          link: 'https://www.marketwatch.com/press-release/bitcoin-trading-bot-from-insider-protocol-cryptocurrency-ecosystem-2021-01-04',
        },
        {
          img: '../../static/yahoo-d.png',
          hover: '../../static/yahoo-h.png',
          ticker: 'January 12, 2021',
          link: 'https://finance.yahoo.com/finance/news/revolution-trading-realm-insider-protocols-191000859.html',
        },
        {
          img: '../../static/coinspeaker-d.png',
          hover: '../../static/coinspeaker-h.png',
          ticker: 'January 19, 2021',
          link: 'https://www.coinspeaker.com/insider-protocol-institutional-funds/',
        },
        {
          img: '../../static/cryptonews-d.png',
          hover: '../../static/cryptonews-h.png',
          ticker: 'December 03, 2020',
          link: 'https://cryptonews.com/news/the-first-crypto-trading-bot-with-true-results-8501.htm',
        },
        {
          img: '../../static/cryptosvet-d.png',
          hover: '../../static/cryptosvet-h.png',
          ticker: 'December 19, 2020',
          link: 'https://cryptosvet.cz/insider-protocol-recenze/',
        },
      ],
    };
  },
  computed: {
  },
  watch: {
  },
  components: {
  },
  methods: {
  },
};
</script>

<style lang="scss">
.media {
  margin: 0 auto;
  &__caption {
    width: 75%;
    margin: 0 auto 1.8em auto;
    padding-bottom: 1.6em;
    background:
      url(../../assets/images/index/media/caption.png)
      bottom/contain no-repeat;
    font-family: 'tomorrow';
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: .15em;
    color: #fff19a;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: 767px) {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      padding-bottom: 0;
      background: none;
      text-align: center;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (max-width: 767px) {
      display: block;
    }
  }
  &__item {
    width: 25%;
    margin-bottom: 5em;
    @media (max-width: 767px) {
      width: 100%;
    }
    &__image {
      max-width: 15em;
      height: 4.9em;
      position: relative;
      display: block;
      margin: 0 auto;
      background: center/contain no-repeat;
      @media (max-width: 767px) {
        max-width: 100%;
        height: 7em;
      }
      > div {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: center/contain no-repeat;
        transition: opacity .2s;
        &:last-child {
          opacity: 0;
        }
      }
      &:hover {
        > div:first-child {
          opacity: 0;
        }
        > div:last-child {
          opacity: 1;
        }
      }
    }
    &__panel {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      white-space: nowrap;
      @media (max-width: 767px) {
        font-size: 1.5em;
      }
      span {
        font-size: .85em;
      }
      a {
        padding: .3em .9em .3em .9em;
        border: 1px solid #fff19a;
        font-size: .9em;
        color: #fff;
        line-height: 1;
        text-decoration: none;
        transition: color .3s;
        &:hover {
          color: #faea01;
        }
      }
    }
  }
}
</style>
