<template lang="pug">
  section.reports
    .reports__caption TRADING STATEMENT OF THE HFT BOT
    .reports__block
      .reports__text.reports__text-1
        p HFT bitcoin bot based on v.2.1 algorithm with layering method passed all stress tests for the past couple of months. The next upcoming algorithm update to v.2.2 will get improved exchanges countermeasures.
      .reports__image.reports__image-1(
        @click="showVideo('https://insiderprotocol.com/storage/videos/November2021/video_statement_1.mp4')"
        :style="image ? 'background-image: url(' + image + ')' : null"
      )
        .reports__image-info Click here to view
          br
          |   trade reports
    .reports__divider
    .reports__block
      .reports__image.reports__image-2(
        @click="showVideo('https://insiderprotocol.com/storage/videos/November2021/video_statement_2.mp4')"
        :style="image ? 'background-image: url(' + image + ')' : null"
      )
        .reports__image-info Click here to view
          br
          |  trade reports
      .reports__text.reports__text-2
        p By combining several trading algorithms at once in the form of variations of high-frequency trading with aggressive trading methods, it was possible to achieve, albeit not fabulous, but quite impressive and stable results.
    .reports__scroll(@click="scrollTo('.media')")
      .reports__scroll__area
        div
        div
        div
</template>

<script>
export default {
  data() {
    return {
      image: '',
    };
  },
  computed: {
  },
  watch: {
  },
  components: {
  },
  methods: {
    showVideo(src) {
      this.$store.commit('showModal', true);
      const video = '<video src="' + src + '" controls autoplay />';
      this.$store.commit('setModalContent', {
        content: video,
        big: true,
      });
    },
  },
};
</script>

<style lang="scss">
.reports {
  width: 90%;
  margin: 0 auto;
  padding: 1.8em 0;
  &__caption {
    margin-bottom: .4em;
    padding: 1.05em 0 0 2.25em;
    background:
      url(../../assets/images/index/reports/caption.png)
      top/contain no-repeat;
    font-family: 'tomorrow';
    font-weight: 500;
    font-size: 1.85em;
    letter-spacing: .129em;
    color: #faea01;
    text-transform: uppercase;
    @media (max-width: 767px) {
      background: none;
      padding: 0;
      text-align: center;
    }
  }
  &__block {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    @media (max-width: 767px) {
      width: 100%;
      display: block;
    }
  }
  &__text {
    font-size: 1.2em;
    line-height: 130%;
    letter-spacing: .058em;
    text-align: center;
    @media (max-width: 767px) {
      font-size: 1.5em;
    }
    &-1 {
      width: 35%;
      padding-bottom: 2.5em;
      @media (max-width: 767px) {
        width: 100%;
        padding-bottom: 1em;
      }
    }
    &-2 {
      width: 42%;
      margin-right: 2em;
      @media (max-width: 767px) {
        width: 100%;
        margin: 0;
        padding-top: 2.5em;
      }
    }
    p {
      margin-bottom: 1.5em;
    }
  }
  &__image {
    width: 64.8em;
    height: 43em;
    @media (max-width: 767px) {
      width: 51.84em;
      height: 34.4em;
    }
    position: relative;
    background: center/cover no-repeat;
    font-size: .55em;
    cursor: pointer;
    &:after {
      content: '';
      background: center/contain no-repeat;
      z-index: 1;
    }
    &-1 {
      @media (max-width: 767px) {
        margin-left: 1em;
      }
      &:after {
        background-image: url(../../assets/images/index/reports/frame-1.png);
      }
    }
    &-2 {
      margin-top: -3.8em;
      margin-left: -5.6em;
      @media (max-width: 767px) {
        margin-left: 1em;
      }
      &:after {
        background-image: url(../../assets/images/index/reports/frame-2.png);
      }
    }
    &:after,
    &-img,
    &-info {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    &-img {
      position: absolute;
      background: center/cover no-repeat;
    }
    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: 'tomorrow';
      font-size: 2.5em;
      font-weight: 500;
      line-height: 1;
      color: #fff;
      text-align: center;
      text-transform: none;
      opacity: .7;
      transition: opacity .3s;
      z-index: 2;
      &:before {
        content: '';
        width: 3.8em;
        height: 3.8em;
        margin-bottom: .5em;
        background: url(../../assets/images/global/zoom.svg)
            center/contain no-repeat;
      }
    }
    &:hover &-info {
      opacity: 1;
    }
  }
  &__divider {
    height: 5.5em;
    margin-top: -1.2em;
    background:
      url(../../assets/images/index/reports/divider.png)
      center/contain no-repeat;
    @media (max-width: 767px) {
      margin-top: 0;
      margin-bottom: 1.5em;
    }
  }
  &__scroll {
    margin-top: 2em;
    padding-top: 2.5em;
    background:
      url(../../assets/images/index/reports/scroll-lines.png)
      top no-repeat;
    background-size: 20%;
    font-size: .75em;
    text-align: center;
    cursor: pointer;
    @media (max-width: 767px) {
      background-size: 50%;
    }
    &__area {
      width: 5.6em;
      height: 7.4em;
      display: inline-block;
      background-image: url(../../assets/images/index/reports/scroll.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      vertical-align: middle;
      div {
        display: block;
        height: 2.65em;
        background-image:
          url(../../assets/images/index/reports/scroll-active.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0;
        animation-name: blink;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        &:first-child {
          margin: .8em 0 -.9em 0;
        }
        &:nth-child(2) {
          animation-delay: .5s;
        }
        &:last-child {
          margin-top: -.9em;
          animation-delay: 1s;
        }
      }
    }
  }
}
</style>
