<template lang="pug">
  form.subscribe(@submit="addSubscribe")
    input.subscribe__input(
      type="email",
      :placeholder="getString('landing.subscribe.placeholder')"
      v-model="email"
    )
    .subscribe__error(v-if="errors.email") {{ getErrors(errors.email) }}
    .subscribe__success(v-if="success")
      | {{ getString('landing.form.subscribe.success') }}
    button.subscribe__button
      span {{ getString('landing.subscribe.subscribe') }}

</template>

<script>
export default {
  data() {
    return {
      email: '',
      errors: {},
      success: false,
      sending: false,
    };
  },
  computed: {
  },
  methods: {
    async addSubscribe() {
      event.preventDefault();

      if (this.sending) {
        return;
      }

      this.sending = true;

      try {
        this.errors = {};
        this.success = false;
        const result = await this.$store.dispatch('addSubscribe', this.email);
        if (result !== true) {
          this.errors = result.errors;
        } else {
          this.email = '';
          this.success = true;
          setTimeout(() => {
            this.success = false;
          }, 4000);
        }
      } finally {
        this.sending = false;
      }
    },
  },
};
</script>

<style lang="scss">
.subscribe {
  height: 16.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 1.11em 0 0 2em;
  padding: 0 1.9em 7.5em 0;
  box-sizing: border-box;
  background: url(../../assets/images/index/subscribe/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-family: 'sourcesanspro';
  z-index: 10;
  @media (max-width: 767px) {
    height: 13em;
    position: relative;
    margin: 0;
    padding: 0 0 6em 0;
    background-size: cover;
    z-index: 100;
  }
  &__input {
    width: 20.2%;
    background: none;
    font-size: 1.3em;
    letter-spacing: -.01em;
    color: #fff;
    @media (max-width: 767px) {
      width: 51%;
    }
  }
  &__error,
  &__success {
    position: absolute;
    top: 42%;
    left: 35%;
    padding: .1em .5em;
    background: #f00;
    font-size: .95em;
    line-height: 1;
    color: #fff;
  }
  &__error {
    background: #f00;
  }
  &__success {
    background: #47a820;
  }
  &__button {
    width: 7.6em;
    height: 2.75em;
    position: relative;
    margin-top: -.3em;
    padding: .5em 0 0 .6em;
    background: none;
    box-sizing: border-box;
    font-size: 1.4em;
    font-weight: 800;
    text-transform: uppercase;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(../../assets/images/index/subscribe/button.png);
      background-size: 100% auto;
      transition: opacity .3s;
    }
    &:before {
      opacity: 1;
    }
    &:after {
      background-position: bottom;
      opacity: 0;
    }
    span {
      position: relative;
      color: #000;
      transition: color .3s;
      z-index: 1;
    }
    &:hover {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
      span {
        color: #fff;
      }
    }
  }
}
</style>
