<template lang="pug">
  nav.breadcrumb
    span(
      v-for="(breadcrumb, index) in breadcrumbs"
      :key="index"
    )
      router-link(
        v-if="breadcrumb.route"
        :to="{name: breadcrumb.route}"
      ) {{ breadcrumb.name }}
      span(v-else) {{ breadcrumb.name }}
</template>

<script>
export default {
  data() {
    return {
    };
  },
  computed: {
    breadcrumbs() {
      return this.$store.state.breadcrumbs;
    },
  },
  methods: {
  },
};
</script>

<style lang="scss">
.breadcrumb {
  display: flex;
  align-items: center;
  margin-left: -1.1em;
  font-size: .7em;
  color: #56baca;
  text-transform: uppercase;
  @media (max-width: 767px) {
    margin-left: 0;
    font-size: 1.1em;
    justify-content: center;
  }
  span,
  a {
    position: relative;
    margin-left: 1.4em;
    &:after {
      content: '';
      width: .9em;
      height: .9em;
      position: absolute;
      top: 50%;
      right: 100%;
      margin-right: .25em;
      background:
        url(../../assets/images/global/breadcrumb.png)
        center/contain
        no-repeat;
      transform: translateY(-50%);
    }
    &:first-child {
      margin: 0;
      &:after {
        display: none;
      }
    }
  }
  a {
    color: #56baca;
    text-decoration: none;
  }
}
</style>
