<template lang="pug">
  section.cookie(v-if="show")
    .cookie__title Privacy POLICY
    .cookie__text This site uses cookies to offer you
      br
      | a better browsing experience
    a(@click="accept")
      span Accept
</template>

<script>
export default {
  data() {
    return {
      show: true,
    };
  },
  computed: {
  },
  methods: {
    accept() {
      localStorage.accepted = true;
      this.show = false;
    },
  },
};
</script>

<style lang="scss">
.cookie {
  width: 41em;
  height: 9em;
  position: fixed;
  bottom: 10%;
  left: 0;
  background:
    url(../../assets/images/global/cookies.png)
    center/contain
    no-repeat;
  font-family: 'tomorrow';
  font-size: .7em;
  z-index: 100;
  &__title {
    position: absolute;
    top: 1.3em;
    left: 14.5em;
    font-size: .87em;
    letter-spacing: .05em;
    text-transform: uppercase;
  }
  &__text {
    position: absolute;
    top: 4.6em;
    left: 11.5em;
    font-size: .8em;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
  }
  a {
    position: absolute;
    top: 2.7em;
    right: 8em;
    letter-spacing: .05em;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
    transition: color .3s;
    &:hover {
      color: #ff0;
    }
  }
}
</style>
