<template lang="pug">
  footer © {{(new Date()).getFullYear() }} Insider Protocol by the Mechanics of the Future
    .footer__up(@click="scrollToTop") Scroll Up
      div
        span
        span
        span
</template>

<script>
export default {
  data() {
    return {
    };
  },
  computed: {
  },
  methods: {
    scrollToTop() {
      window.scroll({
        top: 0,
        behavior: 'smooth',
      });
    },
  },
};
</script>

<style lang="scss">
</style>
