<template lang="pug">
  header.header(v-bind:class="headerCls")
    .header__menu(@click="toggleMenu")
      span
    router-link.header__logo(:to="{name: 'Index'}")
      img(src="@/assets/images/global/header/logo.png", alt="")
    .header__actions(v-if="user")
      a.header__help(
        href="#"
        target="_blank"
        v-if="false"
      )
      .header__status(v-if="user.tid_active")
        div Tid active
      .header__status.inactive(v-else-if="!user.tid_active")
        div Tid inactive
      .header__notifications(@click="notificationsList = !notificationsList")
        div
          img(src="@/assets/images/global/header/notifications.png", alt="")
          span {{ pending }}
      .header__lang
        .header__lang__current(
          @click="langMenu = langMenu"
          :style="'background-image: url(' + currentLang.icon + ')'"
          :title="currentLang.name"
        )
        .header__lang__dropdown(v-show="langMenu")
          div(
            v-for="item in langs"
            :key="item.id"
            @click="setLang(item.short_name)"
            :style="'background-image: url(' + item.icon + ')'"
            :title="item.name"
          )
      transition(name="slide-up")
        .header__dropdown(v-if="notificationsList && notifications.length")
          .header__dropdown__header
            .header__dropdown__pending
              span {{ pending }}
              |  pending notifications
              .header__dropdown__readall(@click="readAll")
            .header__dropdown__clear(@click="clearAll") Clear all
          .header__dropdown__area
            .header__dropdown__scroll
              vue-scroll
                .header__dropdown__item(
                  v-for="item in notifications"
                  :key="item.id"
                  :class="{'read': item.have_read}"
                )
                  .header__dropdown__info
                    .header__dropdown__title {{ item.title }}
                    .header__dropdown__brief {{ item.text }}
                  div
                    .button(
                      @click="openNotification(item)"
                    )
                      span Open
</template>

<script>
export default {
  data() {
    return {
      langMenu: false,
      notificationsList: false,
    };
  },
  computed: {
    headerCls() {
      const cls = {};

      if (this.styles) {
        if (this.styles.enable_custom_header_css) {
          cls[this.styles.header_cls_name] = true;
          document.getElementById('header_styles_custom').innerText = this.styles.header_css;
        } else {
          cls['header_background'] = true;
        }
      } else {
        cls['header_background'] = true;
      }

      return cls;
    },
    styles() {
      return this.$store.state.styles;
    },
    langs() {
      return this.$store.state.langs;
    },
    currentLang() {
      if (!this.lang) {
        return 'en';
      }
      const data = this.langs.filter((item) => item.short_name == this.lang);
      return data[0] ? data[0] : 'en';
    },
    notifications: {
      get() {
        return this.$store.state.notifications;
      },
      set(value) {
        this.$store.commit('setNotifications', value);
      },
    },
    pending() {
      return this.notifications.filter((item) => !item.have_read).length;
    },
  },
  watch: {
    langMenu(flag) {
      const listener = (e) => {
        const specified1 = document
            .getElementsByClassName('header__lang__current')[0];
        const specified2 = document
            .getElementsByClassName('header__lang__dropdown')[0];
        const t = setTimeout(() => {
          this.langMenu = false;
        }, 5000);
        if (
          specified1 && specified2 &&
          !specified1.contains(e.target) &&
          !specified2.contains(e.target)
        ) {
          clearTimeout(t);
          this.langMenu = false;
        }
      };
      if (flag) {
        window.addEventListener('click', listener);
      } else {
        window.removeEventListener('click', listener);
      }
    },
    notificationsList(flag) {
      const listener = (e) => {
        const specified1 = document
            .getElementsByClassName('header__notifications')[0];
        const specified2 = document
            .getElementsByClassName('header__dropdown')[0];
        if (
          specified1 && specified2 &&
          !specified1.contains(e.target) &&
          !specified2.contains(e.target)
        ) {
          this.notificationsList = false;
        }
      };
      if (flag) {
        window.addEventListener('click', listener);
      } else {
        window.removeEventListener('click', listener);
      }
    },
  },
  methods: {
    setLang(lang) {
      this.$store.dispatch('setLang', lang);
      this.langMenu = false;
    },
    openNotification(notification) {
      const content = [];
      content.push('<div class="modal__news__title">' +
        notification.title + '</div>');
      content.push('<div class="modal__news__date">' +
        notification.time + ' &nbsp;&nbsp; ' +
        notification.date + '</div>');
      content.push('<div class="modal__news__text">' +
        notification.text + '</div>');
      this.$store.commit('showModal', true);
      this.$store.commit('setModalContent', {
        title: 'Notification detail',
        content: content.join('\n'),
        readmore: notification.link != null ? notification.link : false,
      });
      if (!notification.have_read) {
        notification.have_read = true;
        this.$store.dispatch('makeNotificationAsRead', notification.id);
      }
    },
    clearAll() {
      this.notifications = [];
      this.$store.dispatch('clearNotifications');
    },
    readAll() {
      this.notifications.map((item) => {
        item.have_read = true;
        this.$store.dispatch('makeNotificationAsRead', item.id);
        return item;
      });
    },
    toggleMenu() {
      document.body.classList.toggle('open-menu');
    },
  },
};
</script>

<style lang="scss">
.header_background {
  background: #151523;
}
.header {
  height: 2.6em;
  flex: 0 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 1.5em .3em .7em;
  box-sizing: border-box;
  @media (max-width: 767px) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.5em;
    z-index: 100;
  }
  &__menu {
    display: none;
  }
  @media (max-width: 767px) {
    &__menu {
      display: flex;
      flex-direction: column;
      margin-left: -.6em;
      cursor: pointer;
      &:before,
      &:after,
      span {
        width: 1.5em;
        height: .2em;
        margin: .2em 0;
        background: #fff;
      }
      &:before,
      &:after {
        content: '';
      }
    }
  }
  &__logo {
    width: 16.4em;
    padding: .3em 0 0 0;
    @media (max-width: 767px) {
      width: 14em;
      padding: .3em 0 0 0;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
  }
  &__help {
    width: 1em;
    height: 1em;
    position: relative;
    margin-top: .15em;
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(../../assets/images/global/header/help.png);
      background-position: top;
      background-size: 100% 200%;
      background-repeat: no-repeat;
      transition: opacity .3s;
    }
    &:before {
      opacity: 1;
    }
    &:after {
      background-position: bottom;
      opacity: 0;
    }
    &:hover {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }
  }
  &__status {
    margin-left: 1.3em;
    @media (max-width: 767px) {
      margin-left: 1em;
    }
    > div {
      margin-top: .3em;
      padding: .25em 1.1em;
      background: #20655d;
      font-size: .75em;
      font-weight: 500;
      line-height: 1;
      letter-spacing: .18em;
      color: #49c3b5;
      text-transform: uppercase;
      @media (max-width: 767px) {
        padding-right: .5em;
        padding-left: .5em;
      }
    }
    &.inactive > div {
      background: #930606;
      color: #ca7a7a;
    }
  }
  &__notifications {
    margin-left: 1.35em;
    @media (max-width: 767px) {
      margin-left: 1em;
    }
    > div {
      position: relative;
      margin-top: .1em;
      cursor: pointer;
    }
    img {
      width: 1em;
      height: auto;
      display: block;
    }
    span {
      position: absolute;
      bottom: 45%;
      left: 85%;
      padding: .09em .2em;
      background: #36364b;
      border: .0625em solid #4a4a67;
      font-size: .7em;
      font-weight: 500;
      line-height: 1;
      color: #ecfabd;
    }
  }
  &__dropdown {
    width: 26em;
    position: absolute;
    top: 100%;
    right: 4.8em;
    margin-top: -.5em;
    background: #151320;
    border: .0625em solid #27243a;
    z-index: 10;
    &__header {
      display: flex;
      justify-content: space-between;
      padding: .95em 2.4em .35em 1em;
      border-bottom: .0625em solid #27243a;
      font-size: .8em;
      letter-spacing: .02em;
      span {
        font-weight: 600;
        color: #ecfabd;
      }
    }
    &__clear {
      color: #ecfabd;
      cursor: pointer;
      text-transform: uppercase;
    }
    &__pending {
      display: flex;
      letter-spacing: .04em;
      span {
        margin-right: .2em;
      }
    }
    &__readall {
      width: 1.5em;
      height: 2em;
      margin: -.1em 0 0 .95em;
      background:
        url(../../assets/images/global/header/read-all.png)
        center/contain no-repeat;
      cursor: pointer;
    }
    &__scroll {
      height: 10em;
      padding: .9em .5em;
    }
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      margin: 1.05em .7em 0 0;
      padding: 1.05em 1.5em 0 2em;
      font-size: .75em;
      border-top: .0625em solid #27243a;
      &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }
      .button {
        min-width: 8em;
        font-size: .8em;
      }
      &:before {
        content: '';
        width: .5em;
        height: .5em;
        position: absolute;
        top: 50%;
        left: .5em;
        background: #ecfabd;
        border-radius: 50%;
        transform: translateY(-50%);
      }
      &.read:before {
        display: none;
      }
    }
    &__info {
      width: 20em;
    }
    &__title {
      font-weight: 600;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    &__brief {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  &__lang {
    position: relative;
    margin-left: 3.6em;
    cursor: pointer;
    @media (max-width: 767px) {
      margin-left: 2em;
    }
    &__current,
    &__dropdown > div {
      width: 1.76em;
      height: 1em;
      position: relative;
      background: center/cover;
      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background:
            url(../../assets/images/global/header/language-frame.png)
            center/contain no-repeat;
      }
      &:hover {
        img {
          opacity: 1;
        }
      }
    }
    &__dropdown {
      position: absolute;
      top: 100%;
      left: -.6em;
      padding: .6em;
      background: #151523;
      z-index: 4;
      div {
        margin-bottom: .5em;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
</style>
