<template lang="pug">
  aside.sidebar(v-bind:class="sidebarCls")
    .sidebar__scroll
      .sidebar__toggle(@click="toggle = !toggle", :class="{'hide': !toggle}")
      transition(name="slide-up")
        .sidebar__user(v-if="user", v-show="toggle")
          .sidebar__user__img
            img(:src="userPic", alt="")
            .sidebar__user__img__star(v-if="user.tids_allowable") &#x2B50;
          .sidebar__user__name {{ user.username }}
          .sidebar__user__location
            div {{ user.location || 'Location' }}
          .sidebar__user__data
            div {{ prepareNumber(user.abc_total) }}
              span IPRO
            div {{ prepareNumber(user.usdt_total) }}
              span USDT
      h5 Main menu
      nav.sidebar__menu
        router-link(:to="{name: 'Dashboard'}")
          .sidebar__menu__icon.icon-1
            span
          | Dashboard
        router-link(:to="{name: 'News'}")
          .sidebar__menu__icon.icon-2
            span
          | News
        router-link(:to="{name: 'Investments'}")
          .sidebar__menu__icon.icon-3
            span
          | Investments
        router-link(:to="{name: 'Transactions'}")
          .sidebar__menu__icon.icon-4
            span
          | Transactions
        router-link(:to="{name: 'Deposit'}")
          .sidebar__menu__icon.icon-5
            span
          | Deposit
        router-link(:to="{name: 'Withdraw'}")
          .sidebar__menu__icon.icon-6
            span
          | Withdraw
        span(
          @click="showModal('Temporarily unavailable', sidebar.dexchange)"
        )
          .sidebar__menu__icon.icon-7
            span
          | Escrow
        span.parent(
          v-if="false"
          @click="menu = !menu"
          :class="{'active': menu}"
        )
          .sidebar__menu__icon.icon-8
            span
          | DeXchange
        transition(
          v-if="false"
          name="slide-up"
        )
          .sidebar__menu__dropdown(v-if="menu")
            router-link(:to="{name: 'Deposit'}") Overview
            router-link(:to="{name: 'Deposit'}") Trading
            router-link(:to="{name: 'Deposit'}") Market Cap
        a(v-else, href="https://app.atlasdexswap.com/", target="_blank")
          .sidebar__menu__icon.icon-8
            span
          | DEX SWAP
        router-link(:to="{name: 'Messages'}")
          .sidebar__menu__icon.icon-9
            span
          | Messages
          .sidebar__menu__counts {{ newMessages }}
        router-link(:to="{name: 'Team'}")
          .sidebar__menu__icon.icon-10
            span
          | Team
        router-link(:to="{name: 'AccountInformation'}")
          .sidebar__menu__icon.icon-11
            span
          | Profile
        span(@click="logout")
          .sidebar__menu__icon.icon-12
            span
          | Logout
</template>

<script>
import {mapState} from 'vuex';
export default {
  data() {
    return {
      toggle: true,
      menu: false,
      sidebar: {
        dexchange: 'This page is under development and temporarily' +
            ' unavailable. <br>The platform will fully operate soon.',
      },
    };
  },
  computed: {
    sidebarCls() {
      const cls = {};

      if (this.styles) {
        if (this.styles.enable_custom_sidebar_css) {
          cls[this.styles.sidebar_cls_name] = true;
          document.getElementById('sidebar_styles_custom').innerText = this.styles.sidebar_css;
        } else {
          cls['sidebar_background'] = true;
        }
      } else {
        cls['sidebar_background'] = true;
      }

      return cls;
    },
    styles() {
      return this.$store.state.styles;
    },
    userPic() {
      return this.user.avatar ?
          this.user.avatar :
          '@/assets/images/global/sidebar/userpic.png';
    },
    ...mapState(['newMessages']),
  },
  methods: {
    logout() {
      this.$store.dispatch('logout');
    },
  },
};
</script>

<style lang="scss">
.sidebar_background {
  background: #241829;
}
.sidebar {
  width: 15em;
  position: relative;
  padding: .5em 0;
  overflow: hidden;
  @media (min-width: 768px) {
    &-back {
      display: none;
    }
  }
  @media (max-width: 767px) {
    width: 15em;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    font-size: 1.8em;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
    .open-menu & {
      transform: translateX(0%);
    }
    &-back {
      @media (max-width: 767px) {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        padding-right: 1em;
        text-align: right;
        z-index: -1;
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: #000;
          opacity: .5;
        }
        &:after {
          content: '×';
          position: relative;
          font-family: 'staatliches';
          font-size: 5em;
          line-height: 1;
          color: #fff;
          cursor: pointer;
        }
        .open-menu & {
          opacity: 1;
          z-index: 999;
        }
      }
    }
  }
  &__scroll {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 10px !important;
    }
    &::-webkit-scrollbar-track {
      background: transparent !important;
    }
    &::-webkit-scrollbar-thumb {
      background: #241829 !important;
      border-radius: 5px !important;
      transition: background-color .3s;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #2e2333 !important;
    }
    scrollbar-color: #abb4d2 #241829;
    scrollbar-width: thin;
  }
  &__toggle {
    width: .8em;
    height: .8em;
    position: absolute;
    top: .75em;
    right: .95em;
    border: .0625em solid #948e96;
    border-radius: 50%;
    transition: top .3s, border-color .3s;
    cursor: pointer;
    &:after {
      content: '';
      width: 50%;
      height: 50%;
      position: absolute;
      top: 25%;
      left: 25%;
      background:
        url(../../assets/images/global/arrow.png)
        center/contain
        no-repeat;
    }
    &.hide {
      top: .4em;
      border-color: #3e6a7a;
      &:after {
        background-image: url(../../assets/images/global/arrow-show.png);
      }
    }
  }
  &__user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 1em;
    &__img {
      position: relative;

      img {
        width: 3.1em;
        height: auto;
        display: block;
      }

      &__star {
        position: absolute;
        top: 0;
        line-height: 0;
        right: -.5em;
        font-size: 1.1em;
      }
    }
    &__name {
      margin: .5em 0 .31em 0;
      line-height: 1;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      text-transform: uppercase;
    }
    &__location {
      min-width: 10.1em;
      position: relative;
      margin: 0 0 3.3em 1.8em;
      padding: .25em .2em;
      box-sizing: border-box;
      background: #2e2333;
      font-size: .65em;
      font-weight: 500;
      line-height: 1;
      letter-spacing: .15em;
      color: #5d858d;
      text-transform: uppercase;
      > div {
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      &:before {
        width: 1.7em;
        height: 2.5em;
        content: '';
        position: absolute;
        top: -0.5em;
        right: 110%;
        background:
            url(../../assets/images/global/sidebar/location_icon.png)
            center/contain no-repeat;
      }
    }
    &__data {
      width: 100%;
      display: flex;
      margin-bottom: 1em;
      border: .0625em solid #322339;
      > div {
        width: 50%;
        padding: .65em 0;
        text-align: center;
        font-size: .8em;
        letter-spacing: .05em;
        &:last-child {
          border-left: .0625em solid #322339;
        }
      }
      span {
        display: block;
        font-size: .85em;
        color: #56baca;
      }
    }
  }
  h5 {
    margin-left: 1.5em;
  }
  &__menu {
    > span,
    > a {
      display: block;
      position: relative;
      padding: 1.27em 1em 1.27em 4.5em;
      border-left: .2em solid transparent;
      font-size: .7em;
      letter-spacing: .04em;
      color: #56baca;
      text-decoration: none;
      text-transform: uppercase;
      transition: color .3s, border-color .3s;
      &:hover {
        color: #fff;
        .sidebar__menu__icon {
          &:before {
            opacity: 0;
          }
          &:after {
            opacity: 1;
          }
        }
      }
      &.router-link-active {
        border-color: #ecfabd;
        color: #ecfabd;
        background: #2a2230;
      }
      &.parent {
        &:after {
          content: '';
          width: .85em;
          height: .85em;
          position: absolute;
          top: 50%;
          right: 1.6em;
          background:
            url(../../assets/images/global/arrow-show.png)
            center/contain
            no-repeat;
          transform: translateY(-50%) rotate(-90deg);
          transition: transform .2s;
        }
        &.active {
          color: #fff;
          &:after {
            background-image: url(../../assets/images/global/arrow.png);
            transform: translateY(-50%) rotate(-180deg);
          }
        }
      }
    }
    span {
      cursor: pointer;
    }
    &__dropdown {
      margin-left: 2em;
      padding: .75em .7em;
      a {
        display: block;
        position: relative;
        margin-bottom: 1.3em;
        font-size: .75em;
        letter-spacing: .04em;
        color: #56baca;
        text-decoration: none;
        transition: color .3s;
        &.router-link-active {
          color: #ecfabd;
        }
        &:hover {
          color: #fff;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          content: '';
          width: .3em;
          height: .3em;
          position: absolute;
          top: 50%;
          right: 100%;
          margin-right: 1.5em;
          background: #56baca;
          border-radius: 50%;
          transform: translateY(-50%);
        }
      }
    }
    &__counts {
      display: inline-block;
      margin-left: 1em;
      padding: .09em .2em;
      background: #36364b;
      border: .0625em solid #4a4a67;
      font-size: .8em;
      font-weight: 500;
      line-height: 1;
      color: #ecfabd;
    }
    &__icon {
      width: 2.1em;
      height: 2.1em;
      position: absolute;
      top: 50%;
      left: 2em;
      font-size: .75em;
      transform: translateY(-50%);
      &:before,
      &:after {
        content: '';
      }
      &:before,
      &:after,
      span {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #241829 center/contain no-repeat;
        transition: opacity .3s;
      }
      &:before {
        opacity: 1;
      }
      &:after {
        opacity: 0;
      }
      span {
        opacity: 0;
      }
    }
    .icon-1:before {
      background-image: url(../../assets/images/global/sidebar/dashboard.svg);
    }
    .icon-1:after {
      background-image: url(../../assets/images/global/sidebar/dashboard-hover.svg);
    }
    .icon-1 span {
      background-image: url(../../assets/images/global/sidebar/dashboard-active.svg);
    }
    .icon-2:before {
      background-image: url(../../assets/images/global/sidebar/news.svg);
    }
    .icon-2:after {
      background-image: url(../../assets/images/global/sidebar/news-hover.svg);
    }
    .icon-2 span {
      background-image: url(../../assets/images/global/sidebar/news-active.svg);
    }
    .icon-3:before {
      background-image: url(../../assets/images/global/sidebar/investments.svg);
    }
    .icon-3:after {
      background-image: url(../../assets/images/global/sidebar/investments-hover.svg);
    }
    .icon-3 span {
      background-image: url(../../assets/images/global/sidebar/investments-active.svg);
    }
    .icon-4:before {
      background-image: url(../../assets/images/global/sidebar/transactions.svg);
    }
    .icon-4:after {
      background-image: url(../../assets/images/global/sidebar/transactions-hover.svg);
    }
    .icon-4 span {
      background-image: url(../../assets/images/global/sidebar/transactions-active.svg);
    }
    .icon-5:before {
      background-image: url(../../assets/images/global/sidebar/deposit.svg);
    }
    .icon-5:after {
      background-image: url(../../assets/images/global/sidebar/deposit-hover.svg);
    }
    .icon-5 span {
      background-image: url(../../assets/images/global/sidebar/deposit-active.svg);
    }
    .icon-6:before {
      background-image: url(../../assets/images/global/sidebar/withdraw.svg);
    }
    .icon-6:after {
      background-image: url(../../assets/images/global/sidebar/withdraw-hover.svg);
    }
    .icon-6 span {
      background-image: url(../../assets/images/global/sidebar/withdraw-active.svg);
    }
    .icon-7:before {
      background-image: url(../../assets/images/global/sidebar/escrow.svg);
    }
    .icon-7:after {
      background-image: url(../../assets/images/global/sidebar/escrow-hover.svg);
    }
    .icon-7 span {
      background-image: url(../../assets/images/global/sidebar/escrow-active.svg);
    }
    .icon-8:before {
      background-image: url(../../assets/images/global/sidebar/dexchange.svg);
    }
    .icon-8:after {
      background-image: url(../../assets/images/global/sidebar/dexchange-hover.svg);
    }
    .icon-8 span {
      background-image: url(../../assets/images/global/sidebar/dexchange-active.svg);
    }
    .icon-9:before {
      background-image: url(../../assets/images/global/sidebar/messages.svg);
    }
    .icon-9:after {
      background-image: url(../../assets/images/global/sidebar/messages-hover.svg);
    }
    .icon-9 span {
      background-image: url(../../assets/images/global/sidebar/messages-active.svg);
    }
    .icon-10:before {
      background-image: url(../../assets/images/global/sidebar/team.svg);
    }
    .icon-10:after {
      background-image: url(../../assets/images/global/sidebar/team-hover.svg);
    }
    .icon-10 span {
      background-image: url(../../assets/images/global/sidebar/team-active.svg);
    }
    .icon-11:before {
      background-image: url(../../assets/images/global/sidebar/profile.svg);
    }
    .icon-11:after {
      background-image: url(../../assets/images/global/sidebar/profile-hover.svg);
    }
    .icon-11 span {
      background-image: url(../../assets/images/global/sidebar/profile-active.svg);
    }
    .icon-12:before {
      background-image: url(../../assets/images/global/sidebar/logout.svg);
    }
    .icon-12:after {
      background-image: url(../../assets/images/global/sidebar/logout-hover.svg);
    }
    .icon-12 span {
      background-image: url(../../assets/images/global/sidebar/logout-active.svg);
    }
    .router-link-active {
      .sidebar__menu__icon {
        &:before,
        &:after {
          opacity: 0;
        }
      }
      span {
        background-color: #2a2230;
        opacity: 1;
        z-index: 1;
      }
    }
    .active {
      .sidebar__menu__icon {
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      }
      span {
        opacity: 0;
      }
    }
  }
}
</style>
